Repository keymanapp/keyboards, pull requests merged in 2018-04, with the labels that each got.

#204 [sil_el_ethiopian_latin] sil-el-1-3-1 Added ǵ and Ǵ
  release/sil/sil_el_ethiopian_latin/HISTORY.md
  release/sil/sil_el_ethiopian_latin/README.md
  release/sil/sil_el_ethiopian_latin/sil_el_ethiopian_latin.kpj
  release/sil/sil_el_ethiopian_latin/source/SIL-EL-Ethiopian-LatinKeyboardMap.odt
  release/sil/sil_el_ethiopian_latin/source/SIL-EL-Ethiopian-LatinKeyboardMap.pdf
  release/sil/sil_el_ethiopian_latin/source/sil_el_ethiopian_latin.kmn
  release/sil/sil_el_ethiopian_latin/source/sil_el_ethiopian_latin.kps
  release/sil/sil_el_ethiopian_latin/source/welcome.htm
Labels: enhancement, keyboard

#203 [rac_kalasha] Lorna rac kalash version 1.1
  release/rac/rac_kalasha/HISTORY.md
  release/rac/rac_kalasha/README.md
  release/rac/rac_kalasha/rac_kalasha.keyboard_info
  release/rac/rac_kalasha/rac_kalasha.kpj
  release/rac/rac_kalasha/source/rac_kalasha.kmn
  release/rac/rac_kalasha/source/rac_kalasha.kps
  release/rac/rac_kalasha/source/welcome/keyboard_layout.png
  release/rac/rac_kalasha/source/welcome/welcome.htm
Labels: enhancement, keyboard

#218 [osage_nation] added keyboard font so it will work in mobile app
  release/o/osage_nation/HISTORY.md
  release/o/osage_nation/README.md
  release/o/osage_nation/osage_nation.kpj
  release/o/osage_nation/source/help/osage_nation.php
  release/o/osage_nation/source/osage_nation.kmn
  release/o/osage_nation/source/osage_nation.kps
  release/o/osage_nation/source/welcome/welcome.htm
Labels: enhancement, keyboard

#147 [hausa_kano] Hausa Kano keyboard (My first keyboard submission)
  release/h/hausa_kano/HISTORY.md
  release/h/hausa_kano/LICENSE.md
  release/h/hausa_kano/README.md
  release/h/hausa_kano/hausa_kano.keyboard_info
  release/h/hausa_kano/hausa_kano.kpj
  release/h/hausa_kano/source/Arewa.jpg
  release/h/hausa_kano/source/documentation.html
  release/h/hausa_kano/source/hausa_kano-1.0.js
  release/h/hausa_kano/source/hausa_kano-1.0.json
  release/h/hausa_kano/source/hausa_kano-1.0_load.js
  release/h/hausa_kano/source/hausa_kano-layout.js
  release/h/hausa_kano/source/hausa_kano.ico
  release/h/hausa_kano/source/hausa_kano.kmn
  release/h/hausa_kano/source/hausa_kano.kps
  release/h/hausa_kano/source/hausa_kano.kvks
  release/h/hausa_kano/source/readme.html
  release/h/hausa_kano/source/welcome.htm
Labels: keyboard, new, ready-to-merge

#245 [hausa_kano] Added help file and deleted old files
  release/h/hausa_kano/source/hausa_kano-1.0.js
  release/h/hausa_kano/source/hausa_kano-1.0.json
  release/h/hausa_kano/source/hausa_kano-1.0_load.js
  release/h/hausa_kano/source/help/hausa_kano.php
Labels: enhancement

#244 [indic-korea_morse] Add help from welcome.htm content
  legacy/i/indic roman transliteration/source/help/indic roman transliteration.php
  legacy/i/inuktitut_4/source/help/inuktitut_4.php
  legacy/k/khowar/source/help/khowar.php
  legacy/k/khowar/source/help/style.css
  legacy/k/km_cree/source/help/km_cree.php
  legacy/k/km_ojibwasyllabics/source/help/km_ojibwasyllabics.php
  legacy/k/km_ojicreesyllabics/source/help/km_ojicreesyllabics.php
  legacy/k/kmhmu/source/help/key-altl.png
  legacy/k/kmhmu/source/help/key-altr.png
  legacy/k/kmhmu/source/help/key-backspace.png
  legacy/k/kmhmu/source/help/key-bkslash.png
  legacy/k/kmhmu/source/help/key-capslock.png
  legacy/k/kmhmu/source/help/key-ctrll.png
  legacy/k/kmhmu/source/help/key-ctrlr.png
  legacy/k/kmhmu/source/help/key-enter.png
  legacy/k/kmhmu/source/help/key-plain.png
  legacy/k/kmhmu/source/help/key-shift102.png
  legacy/k/kmhmu/source/help/key-shiftl.png
  legacy/k/kmhmu/source/help/key-shiftr.png
  legacy/k/kmhmu/source/help/key-space.png
  legacy/k/kmhmu/source/help/key-tab.png
  legacy/k/kmhmu/source/help/keydocs.css
  legacy/k/kmhmu/source/help/kmhmu.php
  legacy/k/korda/source/help/About KORDA.pdf
  legacy/k/korda/source/help/korda.php
  legacy/k/korda/source/help/style.css
  legacy/k/korean_morse/source/help/korean_morse.php
  legacy/k/korean_morse/source/help/style.css
Labels: enhancement
