Repository keymanapp/keyboards, pull requests merged in 2018-06, with the labels that each got.

#317 [sil_vai] Source migration to github
  legacy/s/silvaiunicodekmn/DEPRECATED.md
  release/sil/sil_vai/HISTORY.md
  release/sil/sil_vai/LICENSE.md
  release/sil/sil_vai/README.md
  release/sil/sil_vai/sil_vai.keyboard_info
  release/sil/sil_vai/sil_vai.kpj
  release/sil/sil_vai/source/help/sil_vai.php
  release/sil/sil_vai/source/readme.htm
  release/sil/sil_vai/source/sil_vai.ico
  release/sil/sil_vai/source/sil_vai.kmn
  release/sil/sil_vai/source/sil_vai.kps
  release/sil/sil_vai/source/welcome/welcome.htm
Labels: keyboard, new

#314 [sil_lepcha] port source to github
  release/sil/sil_lepcha/HISTORY.md
  release/sil/sil_lepcha/LICENSE.md
  release/sil/sil_lepcha/README.md
  release/sil/sil_lepcha/sil_lepcha.keyboard_info
  release/sil/sil_lepcha/sil_lepcha.kpj
  release/sil/sil_lepcha/source/help/sil_lepcha.php
  release/sil/sil_lepcha/source/readme.htm
  release/sil/sil_lepcha/source/sil_lepcha.ico
  release/sil/sil_lepcha/source/sil_lepcha.kmn
  release/sil/sil_lepcha/source/sil_lepcha.kps
  release/sil/sil_lepcha/source/welcome/welcome.htm
Labels: keyboard, new

#306 Broken links
  legacy/d/dzongkha/source/help/dzongkha.php
  legacy/g/galaxiebiblescriptmnemonic/source/help/welcome-greek.htm
  legacy/g/galaxiebiblescriptmnemonic/source/help/welcome-hebrew.htm
  legacy/g/galaxiegreekandhebrew/source/help/galaxiegreekandhebrew.php
  legacy/g/galaxiegreekkm6/source/help/galaxiegreekkm6.php
  legacy/g/greekclassical/source/help/greekclassical.php
  legacy/g/grkpoly2/source/help/grkpoly2.php
  legacy/gff/gff_awn_7/source/help/gff_awn_7.php
  legacy/gff/gff_bcq_7/source/help/gff_bcq_7.php
  legacy/gff/gff_byn_7/source/help/gff_byn_7.php
  legacy/gff/gff_gez_7/source/help/gff_gez_7.php
  legacy/gff/gff_mym_7/source/help/gff_mym_7.php
  legacy/gff/gff_sgw_7/source/help/gff_sgw_7.php
  legacy/gff/gff_tir_er_7/source/help/gff_tir_er_7.php
  legacy/gff/gff_tir_et_7/source/help/gff_tir_et_7.php
  legacy/h/hararab/source/help/hararab.php
  legacy/h/hararabalt/source/help/hararabalt.php
  legacy/h/harethi/source/help/harethi.php
  legacy/h/harethi11/source/help/harethi11.php
  legacy/h/harethialt/source/help/harethialt.php
  legacy/h/harlatn/source/help/harlatn.php
  legacy/h/hieroglyphic/source/help/hieroglyphic.php
  legacy/isis/isis_tamil/source/help/isis_tamil.php
  legacy/k/korean_rr/source/help/korean_rr.php
  legacy/n/nko/source/help/nko.php
  legacy/o/orviet10/source/help/orviet10.php
  legacy/o/orvietviqr10/source/help/orvietviqr10.php
  legacy/r/rawangu/source/help/rawangu.php
  legacy/t/tibetan_unicode_direct_input/source/help/tibetan_unicode_direct_input.php
  legacy/t/tibetan_unicode_ewts/source/help/tibetan_unicode_ewts.php
  legacy/t/tir_er_uni_ez/source/help/tir_er_uni_ez.php
  legacy/t/tir_et_uni_ez/source/help/tir_et_uni_ez.php
  legacy/y/yoruba8/source/help/yoruba8.php
  legacy/y/yorubabar/source/help/yorubabar.php
  legacy/y/yorubadot/source/help/yorubadot.php
  legacy/y/yorubaok/source/readme.txt
  release/fv/fv_diitiidatx/source/help/fv_diitiidatx.php
  release/fv/fv_diitiidatx_kmw/source/help/fv_diitiidatx_kmw.php
  release/fv/fv_kwakwala/source/help/fv_kwakwala.php
  release/fv/fv_kwakwala_kmw/source/help/fv_kwakwala_kmw.php
  release/fv/fv_xaislakala/source/welcome/welcome.htm
  release/gff/gff_amh_7/source/help/gff_amh_7.php
  release/j/jorai/source/help/jorai.php
Labels: enhancement

#313 [sabdalipi_assamese] port source to github
  legacy/s/sabdalipi assamese/DEPRECATED.md
  legacy/s/sabdalipiunicode/DEPRECATED.md
  release/s/sabdalipi_assamese/HISTORY.md
  release/s/sabdalipi_assamese/LICENSE.md
  release/s/sabdalipi_assamese/README.md
  release/s/sabdalipi_assamese/sabdalipi_assamese.keyboard_info
  release/s/sabdalipi_assamese/sabdalipi_assamese.kpj
  release/s/sabdalipi_assamese/source/help/Kaarjogs.jpg
  release/s/sabdalipi_assamese/source/help/kbdlayout.jpg
  release/s/sabdalipi_assamese/source/help/sabdalipi_assamese.php
  release/s/sabdalipi_assamese/source/help/sabdalipi_assameseU_.png
  release/s/sabdalipi_assamese/source/help/sabdalipi_assameseU_S.png
  release/s/sabdalipi_assamese/source/readme.htm
  release/s/sabdalipi_assamese/source/sabdalipi_assamese.ico
  release/s/sabdalipi_assamese/source/sabdalipi_assamese.kmn
  release/s/sabdalipi_assamese/source/sabdalipi_assamese.kps
  release/s/sabdalipi_assamese/source/sabdalipi_assamese.kvks
  release/s/sabdalipi_assamese/source/welcome/Kaarjogs.jpg
  release/s/sabdalipi_assamese/source/welcome/kbdlayout.jpg
  release/s/sabdalipi_assamese/source/welcome/sabdalipi_assameseU_.png
  release/s/sabdalipi_assamese/source/welcome/sabdalipi_assameseU_S.png
  release/s/sabdalipi_assamese/source/welcome/welcome.htm
Labels: keyboard, new

#248 [arabic_izza] Incorporate MaleBou's revisions
  release/a/arabic_izza/HISTORY.md
  release/a/arabic_izza/LICENSE.md
  release/a/arabic_izza/README.md
  release/a/arabic_izza/arabic_izza.keyboard_info
  release/a/arabic_izza/arabic_izza.kpj
  release/a/arabic_izza/source/arabic_izza-layout.js
  release/a/arabic_izza/source/arabic_izza.kmn
  release/a/arabic_izza/source/arabic_izza.kps
  release/a/arabic_izza/source/arabic_izza.kvk
  release/a/arabic_izza/source/arabic_izza.kvks
  release/a/arabic_izza/source/help/arabic_izza.php
  release/a/arabic_izza/source/welcome.htm
Labels: enhancement, keyboard

#318 [sil_boonkit] update version, BCP 47 code, change to .kvks
  release/sil/sil_boonkit/HISTORY.md
  release/sil/sil_boonkit/README.md
  release/sil/sil_boonkit/sil_boonkit.kpj
  release/sil/sil_boonkit/source/help/sil_boonkit.php
  release/sil/sil_boonkit/source/sil_boonkit.kmn
  release/sil/sil_boonkit/source/sil_boonkit.kps
  release/sil/sil_boonkit/source/sil_boonkit.kvk
  release/sil/sil_boonkit/source/sil_boonkit.kvks
  release/sil/sil_boonkit/source/welcome/welcome.htm
Labels: enhancement, keyboard

#302 [gff_amharic] Update to v1.5
  .gitignore
  release/gff/gff_amh_7/DEPRECATED.md
  release/gff/gff_amharic/HISTORY.md
  release/gff/gff_amharic/LICENSE.md
  release/gff/gff_amharic/README.md
  release/gff/gff_amharic/gff_amharic.keyboard_info
  release/gff/gff_amharic/gff_amharic.kpj
  release/gff/gff_amharic/source/AmharicTyping-Amharic.docx
  release/gff/gff_amharic/source/AmharicTyping-Amharic.pdf
  release/gff/gff_amharic/source/AmharicTyping-English.docx
  release/gff/gff_amharic/source/AmharicTyping-English.pdf
  release/gff/gff_amharic/source/AmharicTypingPractice.docx
  release/gff/gff_amharic/source/gff_amharic.ico
  release/gff/gff_amharic/source/gff_amharic.kmn
  release/gff/gff_amharic/source/gff_amharic.kps
  release/gff/gff_amharic/source/gff_amharic.kvks
  release/gff/gff_amharic/source/gff_amharic_layout.js
  release/gff/gff_amharic/source/help/gff_amharic.php
  release/gff/gff_amharic/source/readme.htm
  release/gff/gff_amharic/source/sideimage.bmp
  release/gff/gff_amharic/source/welcome.htm
  release/gff/gff_tigrinya_eritrea/gff_tigrinya_eritrea.kpj
Labels: enhancement, keyboard

#311 [mozhi malayalam] migration to release
  legacy/m/mozhi/DEPRECATED.md
  legacy/m/mozhi51/DEPRECATED.md
  legacy/m/mozhi_1_1_0/DEPRECATED.md
  legacy/m/mozhi_5_1/DEPRECATED.md
  release/m/mozhi_malayalam/HISTORY.md
  release/m/mozhi_malayalam/LICENSE.md
  release/m/mozhi_malayalam/README.md
  release/m/mozhi_malayalam/assets/AnjaliOldLipi-Regular.ttf
  release/m/mozhi_malayalam/assets/AnjaliOldLipi-Regular_LICENSE.txt
  release/m/mozhi_malayalam/mozhi_malayalam.keyboard_info
  release/m/mozhi_malayalam/mozhi_malayalam.kpj
  release/m/mozhi_malayalam/source/help/mozhi_malayalam.php
  release/m/mozhi_malayalam/source/help/mozhi_malayalamU_.png
  release/m/mozhi_malayalam/source/help/mozhi_malayalamU_S.png
  release/m/mozhi_malayalam/source/mozhi_malayalam.ico
  release/m/mozhi_malayalam/source/mozhi_malayalam.kmn
  release/m/mozhi_malayalam/source/mozhi_malayalam.kps
  release/m/mozhi_malayalam/source/mozhi_malayalam.kvks
  release/m/mozhi_malayalam/source/readme.htm
  release/m/mozhi_malayalam/source/welcome/keyboardchart.htm
  release/m/mozhi_malayalam/source/welcome/mozhi_malayalamU_.png
  release/m/mozhi_malayalam/source/welcome/mozhi_malayalamU_S.png
  release/m/mozhi_malayalam/source/welcome/welcome.htm
Labels: keyboard, new

#266 [balochi_urdu] New Balochi keyboard based on the Urdu layout.
  release/b/balochi_urdu/HISTORY.md
  release/b/balochi_urdu/LICENSE.md
  release/b/balochi_urdu/README.md
  release/b/balochi_urdu/balochi_urdu.keyboard_info
  release/b/balochi_urdu/balochi_urdu.kpj
  release/b/balochi_urdu/extras/zwnj.bmp
  release/b/balochi_urdu/source/balochi_urdu-layout.js
  release/b/balochi_urdu/source/balochi_urdu.ico
  release/b/balochi_urdu/source/balochi_urdu.kmn
  release/b/balochi_urdu/source/balochi_urdu.kps
  release/b/balochi_urdu/source/balochi_urdu.kvk
  release/b/balochi_urdu/source/help/balochi_urdu.php
  release/b/balochi_urdu/source/readme.htm
  release/b/balochi_urdu/source/welcome/keyboard_layout2U_.png
  release/b/balochi_urdu/source/welcome/keyboard_layout2U_S.png
  release/b/balochi_urdu/source/welcome/keyboard_layout2U_SC.png
  release/b/balochi_urdu/source/welcome/welcome.htm
Labels: keyboard, new

#339 [sil_boonkit] correct case in filename references
  release/sil/sil_boonkit/HISTORY.md
  release/sil/sil_boonkit/README.md
  release/sil/sil_boonkit/sil_boonkit.kpj
  release/sil/sil_boonkit/source/help/sil_boonkit.php
  release/sil/sil_boonkit/source/sil_boonkit.kmn
  release/sil/sil_boonkit/source/sil_boonkit.kps
  release/sil/sil_boonkit/source/welcome/welcome.htm
Labels: enhancement, keyboard

#331 [sil_bwe_karen] initial creation of Bwe Karen Keyboard
  release/sil/sil_bwe_karen/HISTORY.md
  release/sil/sil_bwe_karen/LICENSE.md
  release/sil/sil_bwe_karen/README.md
  release/sil/sil_bwe_karen/sil_bwe_karen.keyboard_info
  release/sil/sil_bwe_karen/sil_bwe_karen.kpj
  release/sil/sil_bwe_karen/source/CharisSILCompact-R.ttf
  release/sil/sil_bwe_karen/source/help/sil_bwe_karen.php
  release/sil/sil_bwe_karen/source/sil_bwe_karen.ico
  release/sil/sil_bwe_karen/source/sil_bwe_karen.keyman-touch-layout
  release/sil/sil_bwe_karen/source/sil_bwe_karen.kmn
  release/sil/sil_bwe_karen/source/sil_bwe_karen.kps
  release/sil/sil_bwe_karen/source/sil_bwe_karen.kvks
  release/sil/sil_bwe_karen/source/welcome/bwekarenshiftedlayout.jpg
  release/sil/sil_bwe_karen/source/welcome/bwekarenunshiftedlayout.jpg
  release/sil/sil_bwe_karen/source/welcome/welcome.htm
Labels: keyboard, new

#328 [sil_cameroon_qwerty] deprecate older version of keyboard
  legacy/c/cameroonqwertyunicode50/DEPRECATED.md
  release/sil/sil_cameroon_qwerty/sil_cameroon_qwerty.keyboard_info
Labels: enhancement, keyboard

#344 [sil_lisu_basic] port to github repo
  release/el/el_nuer/el_nuer.kpj
  release/sil/sil_greek_polytonic/sil_greek_polytonic.kpj
  release/sil/sil_lisu_basic/HISTORY.md
  release/sil/sil_lisu_basic/LICENSE.md
  release/sil/sil_lisu_basic/README.md
  release/sil/sil_lisu_basic/assets/lisutzimu-bold.ttf
  release/sil/sil_lisu_basic/assets/lisutzimu-bolditalic.ttf
  release/sil/sil_lisu_basic/assets/lisutzimu-italic.ttf
  release/sil/sil_lisu_basic/assets/lisutzimu.ttf
  release/sil/sil_lisu_basic/assets/ofl.txt
  release/sil/sil_lisu_basic/sil_lisu_basic.keyboard_info
  release/sil/sil_lisu_basic/sil_lisu_basic.kpj
  release/sil/sil_lisu_basic/source/help/sil_lisu_basic.php
  release/sil/sil_lisu_basic/source/help/sil_lisu_basicU_.png
  release/sil/sil_lisu_basic/source/help/sil_lisu_basicU_S.png
  release/sil/sil_lisu_basic/source/readme.htm
  release/sil/sil_lisu_basic/source/sil_lisu_basic.ico
  release/sil/sil_lisu_basic/source/sil_lisu_basic.kmn
  release/sil/sil_lisu_basic/source/sil_lisu_basic.kps
  release/sil/sil_lisu_basic/source/sil_lisu_basic.kvks
  release/sil/sil_lisu_basic/source/welcome/sil_lisu_basicU_.png
  release/sil/sil_lisu_basic/source/welcome/sil_lisu_basicU_S.png
  release/sil/sil_lisu_basic/source/welcome/welcome.htm
Labels: keyboard, new

#345 [sil_lisu_standard] Port source to github repo
  release/sil/sil_lisu_standard/HISTORY.md
  release/sil/sil_lisu_standard/LICENSE.md
  release/sil/sil_lisu_standard/README.md
  release/sil/sil_lisu_standard/assets/lisutzimu-bold.ttf
  release/sil/sil_lisu_standard/assets/lisutzimu-bolditalic.ttf
  release/sil/sil_lisu_standard/assets/lisutzimu-italic.ttf
  release/sil/sil_lisu_standard/assets/lisutzimu.ttf
  release/sil/sil_lisu_standard/assets/ofl.txt
  release/sil/sil_lisu_standard/sil_lisu_standard.keyboard_info
  release/sil/sil_lisu_standard/sil_lisu_standard.kpj
  release/sil/sil_lisu_standard/source/help/sil_lisu_standard.php
  release/sil/sil_lisu_standard/source/help/sil_lisu_standardU_.png
  release/sil/sil_lisu_standard/source/help/sil_lisu_standardU_S.png
  release/sil/sil_lisu_standard/source/readme.htm
  release/sil/sil_lisu_standard/source/sil_lisu_standard.ico
  release/sil/sil_lisu_standard/source/sil_lisu_standard.kmn
  release/sil/sil_lisu_standard/source/sil_lisu_standard.kps
  release/sil/sil_lisu_standard/source/sil_lisu_standard.kvks
  release/sil/sil_lisu_standard/source/welcome/sil_lisu_standardU_.png
  release/sil/sil_lisu_standard/source/welcome/sil_lisu_standardU_S.png
  release/sil/sil_lisu_standard/source/welcome/welcome.htm
Labels: keyboard, new

#343 [el_nuer] refactored and updated layout, including cross platform support
  release/el/el_nuer/HISTORY.md
  release/el/el_nuer/LICENSE.md
  release/el/el_nuer/README.md
  release/el/el_nuer/el_nuer.keyboard_info
  release/el/el_nuer/source/el_nuer.ico
  release/el/el_nuer/source/el_nuer.keyman-touch-layout
  release/el/el_nuer/source/el_nuer.kmn
  release/el/el_nuer/source/el_nuer.kps
  release/el/el_nuer/source/el_nuer.kvk
  release/el/el_nuer/source/el_nuer.kvks
  release/el/el_nuer/source/help/el_nuer.php
  release/el/el_nuer/source/help/el_nuerU_.png
  release/el/el_nuer/source/help/el_nuerU_RA.png
  release/el/el_nuer/source/help/el_nuerU_S.png
  release/el/el_nuer/source/help/el_nuerU_SRA.png
  release/el/el_nuer/source/keyboard_layout.png
  release/el/el_nuer/source/readme.htm
  release/el/el_nuer/source/welcome.htm
  release/el/el_nuer/source/welcome/el_nuerU_.png
  release/el/el_nuer/source/welcome/el_nuerU_RA.png
  release/el/el_nuer/source/welcome/el_nuerU_S.png
  release/el/el_nuer/source/welcome/el_nuerU_SRA.png
  release/el/el_nuer/source/welcome/welcome.htm
Labels: enhancement, keyboard

#352 [sil_bwe_karen] correct font name in help file
  release/sil/sil_bwe_karen/source/help/sil_bwe_karen.php
Labels: enhancement, keyboard

#348 [sil_cheyenne] new keyboard to replace old ones
  legacy/c/chey-unicode/DEPRECATED.md
  legacy/c/cheyenne/cheyenne.keyboard_info
  release/sil/sil_cheyenne/HISTORY.md
  release/sil/sil_cheyenne/LICENSE.md
  release/sil/sil_cheyenne/README.md
  release/sil/sil_cheyenne/sil_cheyenne.keyboard_info
  release/sil/sil_cheyenne/sil_cheyenne.kpj
  release/sil/sil_cheyenne/source/help/key-altl.gif
  release/sil/sil_cheyenne/source/help/key-altr.gif
  release/sil/sil_cheyenne/source/help/key-backspace.gif
  release/sil/sil_cheyenne/source/help/key-bkslash.gif
  release/sil/sil_cheyenne/source/help/key-capslock.gif
  release/sil/sil_cheyenne/source/help/key-ctrll.gif
  release/sil/sil_cheyenne/source/help/key-ctrlr.gif
  release/sil/sil_cheyenne/source/help/key-enter.gif
  release/sil/sil_cheyenne/source/help/key-plain.gif
  release/sil/sil_cheyenne/source/help/key-shift102.gif
  release/sil/sil_cheyenne/source/help/key-shiftl.gif
  release/sil/sil_cheyenne/source/help/key-shiftr.gif
  release/sil/sil_cheyenne/source/help/key-space.gif
  release/sil/sil_cheyenne/source/help/key-tab.gif
  release/sil/sil_cheyenne/source/help/sil_cheyenne.php
  release/sil/sil_cheyenne/source/readme.htm
  release/sil/sil_cheyenne/source/sil_cheyenne.ico
  release/sil/sil_cheyenne/source/sil_cheyenne.keyman-touch-layout
  release/sil/sil_cheyenne/source/sil_cheyenne.kmn
  release/sil/sil_cheyenne/source/sil_cheyenne.kps
  release/sil/sil_cheyenne/source/sil_cheyenne.kvks
  release/sil/sil_cheyenne/source/welcome/key-altl.gif
  release/sil/sil_cheyenne/source/welcome/key-altr.gif
  release/sil/sil_cheyenne/source/welcome/key-backspace.gif
  release/sil/sil_cheyenne/source/welcome/key-bkslash.gif
  release/sil/sil_cheyenne/source/welcome/key-capslock.gif
  release/sil/sil_cheyenne/source/welcome/key-ctrll.gif
  release/sil/sil_cheyenne/source/welcome/key-ctrlr.gif
  release/sil/sil_cheyenne/source/welcome/key-enter.gif
  release/sil/sil_cheyenne/source/welcome/key-plain.gif
  release/sil/sil_cheyenne/source/welcome/key-shift102.gif
  release/sil/sil_cheyenne/source/welcome/key-shiftl.gif
  release/sil/sil_cheyenne/source/welcome/key-shiftr.gif
  release/sil/sil_cheyenne/source/welcome/key-space.gif
  release/sil/sil_cheyenne/source/welcome/key-tab.gif
  release/sil/sil_cheyenne/source/welcome/welcome.htm
Labels: keyboard, new

#323 [rac_balti] Initial version of rac_balti keyboard
  release/rac/rac_balti/HISTORY.md
  release/rac/rac_balti/LICENSE.md
  release/rac/rac_balti/README.md
  release/rac/rac_balti/rac_balti.keyboard_info
  release/rac/rac_balti/rac_balti.kpj
  release/rac/rac_balti/source/rac_balti-layout.js
  release/rac/rac_balti/source/rac_balti.ico
  release/rac/rac_balti/source/rac_balti.kmn
  release/rac/rac_balti/source/rac_balti.kps
  release/rac/rac_balti/source/rac_balti.kvks
  release/rac/rac_balti/source/readme.htm
  release/rac/rac_balti/source/welcome/Base.png
  release/rac/rac_balti/source/welcome/CtrlAlt.png
  release/rac/rac_balti/source/welcome/Shift.png
  release/rac/rac_balti/source/welcome/welcome.htm
Labels: keyboard, new

#355 [rac_brahui] Initial version of rac_brahui language keyboard
  release/rac/rac_brahui/HISTORY.md
  release/rac/rac_brahui/LICENSE.md
  release/rac/rac_brahui/README.md
  release/rac/rac_brahui/rac_brahui.keyboard_info
  release/rac/rac_brahui/rac_brahui.kpj
  release/rac/rac_brahui/source/Readme.htm
  release/rac/rac_brahui/source/help/RAC.jpg
  release/rac/rac_brahui/source/help/rac_brahui.php
  release/rac/rac_brahui/source/rac_brahui-layout.js
  release/rac/rac_brahui/source/rac_brahui.ico
  release/rac/rac_brahui/source/rac_brahui.kmn
  release/rac/rac_brahui/source/rac_brahui.kps
  release/rac/rac_brahui/source/rac_brahui.kvk
  release/rac/rac_brahui/source/welcome/keyboard_layout.png
  release/rac/rac_brahui/source/welcome/touch_layout_default.PNG
  release/rac/rac_brahui/source/welcome/touch_layout_shift.PNG
  release/rac/rac_brahui/source/welcome/welcome.htm
Labels: keyboard

#354 [rac_dameli] Initial version of rac_dameli keyboard
  release/rac/rac_dameli/HISTORY.md
  release/rac/rac_dameli/LICENSE.md
  release/rac/rac_dameli/README.md
  release/rac/rac_dameli/rac_dameli.keyboard_info
  release/rac/rac_dameli/rac_dameli.kpj
  release/rac/rac_dameli/source/help/RAC.jpg
  release/rac/rac_dameli/source/help/rac_dameli base.png
  release/rac/rac_dameli/source/help/rac_dameli shift.png
  release/rac/rac_dameli/source/help/rac_dameli.php
  release/rac/rac_dameli/source/rac_dameli-1.0.js
  release/rac/rac_dameli/source/rac_dameli-1.0.json
  release/rac/rac_dameli/source/rac_dameli-layout.js
  release/rac/rac_dameli/source/rac_dameli.ico
  release/rac/rac_dameli/source/rac_dameli.kmn
  release/rac/rac_dameli/source/rac_dameli.kps
  release/rac/rac_dameli/source/rac_dameli.kvks
  release/rac/rac_dameli/source/readme.htm
  release/rac/rac_dameli/source/welcome/rac_dameli base.png
  release/rac/rac_dameli/source/welcome/rac_dameli shift.png
  release/rac/rac_dameli/source/welcome/welcome.htm
Labels: keyboard

#372 Charis SIL compact added to shared folder
  release/shared/fonts/sil/charis_sil_compact/CharisSILCompact-B.ttf
  release/shared/fonts/sil/charis_sil_compact/CharisSILCompact-BI.ttf
  release/shared/fonts/sil/charis_sil_compact/CharisSILCompact-I.ttf
  release/shared/fonts/sil/charis_sil_compact/CharisSILCompact-R.ttf
  release/shared/fonts/sil/charis_sil_compact/Charis_SIL_Compact_README.txt
  release/shared/fonts/sil/charis_sil_compact/FONTLOG.txt
  release/shared/fonts/sil/charis_sil_compact/OFL-FAQ.txt
  release/shared/fonts/sil/charis_sil_compact/OFL.txt
Labels: infrastructure

#364 [sil_kayah_latn] Migration of source
  release/sil/sil_kayah_latn/HISTORY.md
  release/sil/sil_kayah_latn/LICENSE.md
  release/sil/sil_kayah_latn/README.md
  release/sil/sil_kayah_latn/sil_kayah_latn.keyboard_info
  release/sil/sil_kayah_latn/sil_kayah_latn.kpj
  release/sil/sil_kayah_latn/source/help/sil_kayah_latn.php
  release/sil/sil_kayah_latn/source/help/sil_kayah_latnU_.png
  release/sil/sil_kayah_latn/source/help/sil_kayah_latnU_S.png
  release/sil/sil_kayah_latn/source/readme.htm
  release/sil/sil_kayah_latn/source/sil_kayah_latn.ico
  release/sil/sil_kayah_latn/source/sil_kayah_latn.kmn
  release/sil/sil_kayah_latn/source/sil_kayah_latn.kps
  release/sil/sil_kayah_latn/source/sil_kayah_latn.kvks
  release/sil/sil_kayah_latn/source/welcome/sil_kayah_latnU_.png
  release/sil/sil_kayah_latn/source/welcome/sil_kayah_latnU_S.png
  release/sil/sil_kayah_latn/source/welcome/welcome.htm
Labels: keyboard, new
