Repository keymanapp/keyboards, pull requests merged in 2018-08, with the labels that each got.

#412 [osage_nation] add font information to keyboard_info
  release/o/osage_nation/osage_nation.keyboard_info
Labels: enhancement, keyboard

#408 [syriac_arabic] Keyboard moved from legacy to release
  release/s/syriac_arabic/HISTORY.md
  release/s/syriac_arabic/LICENSE.md
  release/s/syriac_arabic/README.md
  release/s/syriac_arabic/source/help/font-license.txt
  release/s/syriac_arabic/source/help/key-altl.gif
  release/s/syriac_arabic/source/help/key-altr.gif
  release/s/syriac_arabic/source/help/key-backspace.gif
  release/s/syriac_arabic/source/help/key-bkslash.gif
  release/s/syriac_arabic/source/help/key-capslock.gif
  release/s/syriac_arabic/source/help/key-ctrll.gif
  release/s/syriac_arabic/source/help/key-ctrlr.gif
  release/s/syriac_arabic/source/help/key-enter.gif
  release/s/syriac_arabic/source/help/key-plain.gif
  release/s/syriac_arabic/source/help/key-shift102.gif
  release/s/syriac_arabic/source/help/key-shiftl.gif
  release/s/syriac_arabic/source/help/key-shiftr.gif
  release/s/syriac_arabic/source/help/key-space.gif
  release/s/syriac_arabic/source/help/key-tab.gif
  release/s/syriac_arabic/source/help/melthoguide.pdf
  release/s/syriac_arabic/source/help/syriac_arabic.php
  release/s/syriac_arabic/source/readme.htm
  release/s/syriac_arabic/source/syriac_arabic.ico
  release/s/syriac_arabic/source/syriac_arabic.kmn
  release/s/syriac_arabic/source/syriac_arabic.kps
  release/s/syriac_arabic/source/syriac_arabic.kvks
  release/s/syriac_arabic/source/welcome/key-altl.gif
  release/s/syriac_arabic/source/welcome/key-altr.gif
  release/s/syriac_arabic/source/welcome/key-backspace.gif
  release/s/syriac_arabic/source/welcome/key-bkslash.gif
  release/s/syriac_arabic/source/welcome/key-capslock.gif
  release/s/syriac_arabic/source/welcome/key-ctrll.gif
  release/s/syriac_arabic/source/welcome/key-ctrlr.gif
  release/s/syriac_arabic/source/welcome/key-enter.gif
  release/s/syriac_arabic/source/welcome/key-plain.gif
  release/s/syriac_arabic/source/welcome/key-shift102.gif
  release/s/syriac_arabic/source/welcome/key-shiftl.gif
  release/s/syriac_arabic/source/welcome/key-shiftr.gif
  release/s/syriac_arabic/source/welcome/key-space.gif
  release/s/syriac_arabic/source/welcome/key-tab.gif
  release/s/syriac_arabic/source/welcome/welcome.htm
  release/s/syriac_arabic/syriac_arabic.keyboard_info
  release/s/syriac_arabic/syriac_arabic.kpj
Labels: keyboard, new

#409 [syriac_phonetic] Move keyboard from legacy to release
  release/s/syriac_phonetic/HISTORY.md
  release/s/syriac_phonetic/LICENSE.md
  release/s/syriac_phonetic/README.md
  release/s/syriac_phonetic/source/help/font-license.txt
  release/s/syriac_phonetic/source/help/key-altl.gif
  release/s/syriac_phonetic/source/help/key-altr.gif
  release/s/syriac_phonetic/source/help/key-backspace.gif
  release/s/syriac_phonetic/source/help/key-bkslash.gif
  release/s/syriac_phonetic/source/help/key-capslock.gif
  release/s/syriac_phonetic/source/help/key-ctrll.gif
  release/s/syriac_phonetic/source/help/key-ctrlr.gif
  release/s/syriac_phonetic/source/help/key-enter.gif
  release/s/syriac_phonetic/source/help/key-plain.gif
  release/s/syriac_phonetic/source/help/key-shift102.gif
  release/s/syriac_phonetic/source/help/key-shiftl.gif
  release/s/syriac_phonetic/source/help/key-shiftr.gif
  release/s/syriac_phonetic/source/help/key-space.gif
  release/s/syriac_phonetic/source/help/key-tab.gif
  release/s/syriac_phonetic/source/help/melthoguide.pdf
  release/s/syriac_phonetic/source/help/syriac_phonetic.php
  release/s/syriac_phonetic/source/readme.htm
  release/s/syriac_phonetic/source/syriac_phonetic.ico
  release/s/syriac_phonetic/source/syriac_phonetic.kmn
  release/s/syriac_phonetic/source/syriac_phonetic.kps
  release/s/syriac_phonetic/source/syriac_phonetic.kvks
  release/s/syriac_phonetic/source/welcome/key-altl.gif
  release/s/syriac_phonetic/source/welcome/key-altr.gif
  release/s/syriac_phonetic/source/welcome/key-backspace.gif
  release/s/syriac_phonetic/source/welcome/key-bkslash.gif
  release/s/syriac_phonetic/source/welcome/key-capslock.gif
  release/s/syriac_phonetic/source/welcome/key-ctrll.gif
  release/s/syriac_phonetic/source/welcome/key-ctrlr.gif
  release/s/syriac_phonetic/source/welcome/key-enter.gif
  release/s/syriac_phonetic/source/welcome/key-plain.gif
  release/s/syriac_phonetic/source/welcome/key-shift102.gif
  release/s/syriac_phonetic/source/welcome/key-shiftl.gif
  release/s/syriac_phonetic/source/welcome/key-shiftr.gif
  release/s/syriac_phonetic/source/welcome/key-space.gif
  release/s/syriac_phonetic/source/welcome/key-tab.gif
  release/s/syriac_phonetic/source/welcome/welcome.htm
  release/s/syriac_phonetic/syriac_phonetic.keyboard_info
  release/s/syriac_phonetic/syriac_phonetic.kpj
Labels: keyboard, new

#396 [sil_myanmar_my3] migration of Myanmar3 source to GitHub
  release/sil/sil_myanmar_my3/HISTORY.md
  release/sil/sil_myanmar_my3/LICENSE.md
  release/sil/sil_myanmar_my3/README.md
  release/sil/sil_myanmar_my3/sil_myanmar_my3.keyboard_info
  release/sil/sil_myanmar_my3/sil_myanmar_my3.kpj
  release/sil/sil_myanmar_my3/source/help/80x15.png
  release/sil/sil_myanmar_my3/source/help/sil_myanmar_my3.php
  release/sil/sil_myanmar_my3/source/help/sil_myanmar_my3U_.png
  release/sil/sil_myanmar_my3/source/help/sil_myanmar_my3U_S.png
  release/sil/sil_myanmar_my3/source/readme.htm
  release/sil/sil_myanmar_my3/source/sil_myanmar_my3.ico
  release/sil/sil_myanmar_my3/source/sil_myanmar_my3.kmn
  release/sil/sil_myanmar_my3/source/sil_myanmar_my3.kps
  release/sil/sil_myanmar_my3/source/sil_myanmar_my3.kvks
  release/sil/sil_myanmar_my3/source/welcome/80x15.png
  release/sil/sil_myanmar_my3/source/welcome/sil_myanmar_my3U_.png
  release/sil/sil_myanmar_my3/source/welcome/sil_myanmar_my3U_S.png
  release/sil/sil_myanmar_my3/source/welcome/welcome.html
Labels: keyboard, new, work-in-progress

#394 [sil_myanmar_mywinext] Migration of source to GitHub
  legacy/m/myanmar/DEPRECATED.md
  release/sil/sil_myanmar_mywinext/HISTORY.md
  release/sil/sil_myanmar_mywinext/LICENSE.md
  release/sil/sil_myanmar_mywinext/README.md
  release/sil/sil_myanmar_mywinext/sil_myanmar_mywinext.keyboard_info
  release/sil/sil_myanmar_mywinext/sil_myanmar_mywinext.kpj
  release/sil/sil_myanmar_mywinext/source/help/sil_myanmar_mywinext.php
  release/sil/sil_myanmar_mywinext/source/help/sil_myanmar_mywinextU_.png
  release/sil/sil_myanmar_mywinext/source/help/sil_myanmar_mywinextU_S.png
  release/sil/sil_myanmar_mywinext/source/readme.htm
  release/sil/sil_myanmar_mywinext/source/sil_myanmar_mywinext.bmp
  release/sil/sil_myanmar_mywinext/source/sil_myanmar_mywinext.kmn
  release/sil/sil_myanmar_mywinext/source/sil_myanmar_mywinext.kps
  release/sil/sil_myanmar_mywinext/source/sil_myanmar_mywinext.kvks
  release/sil/sil_myanmar_mywinext/source/welcome/sil_myanmar_mywinextU_.png
  release/sil/sil_myanmar_mywinext/source/welcome/sil_myanmar_mywinextU_S.png
  release/sil/sil_myanmar_mywinext/source/welcome/welcome.htm
Labels: keyboard, new, work-in-progress

#417 [easy_chakma] Include the RibengUni font in help.php
  release/e/easy_chakma/source/help/RibengUni-Regular.ttf
  release/e/easy_chakma/source/help/easy_chakma.php
Labels: enhancement, keyboard

#418 [Khmer Angkor] Make the Help Page More Informative
  release/k/khmer_angkor/source/help/keyboard_layout.png
  release/k/khmer_angkor/source/help/khmer_angkor.php
  release/k/khmer_angkor/source/help/khmer_angkor/colorschememapping.xml
  release/k/khmer_angkor/source/help/khmer_angkor/editdata.mso
  release/k/khmer_angkor/source/help/khmer_angkor/filelist.xml
  release/k/khmer_angkor/source/help/khmer_angkor/image001.png
  release/k/khmer_angkor/source/help/khmer_angkor/image002.png
  release/k/khmer_angkor/source/help/khmer_angkor/image003.jpg
  release/k/khmer_angkor/source/help/khmer_angkor/image004.jpg
  release/k/khmer_angkor/source/help/khmer_angkor/image005.jpg
  release/k/khmer_angkor/source/help/khmer_angkor/themedata.thmx
Labels: enhancement, keyboard

#393 [sil_euro_latin] Migration of source to GitHub
  legacy/e/european/DEPRECATED.md
  legacy/e/european2/DEPRECATED.md
  release/sil/sil_euro_latin/HISTORY.md
  release/sil/sil_euro_latin/LICENSE.md
  release/sil/sil_euro_latin/README.md
  release/sil/sil_euro_latin/sil_euro_latin.keyboard_info
  release/sil/sil_euro_latin/sil_euro_latin.kpj
  release/sil/sil_euro_latin/source/help/currency.png
  release/sil/sil_euro_latin/source/help/digraphs.png
  release/sil/sil_euro_latin/source/help/lowercase.png
  release/sil/sil_euro_latin/source/help/numbers.png
  release/sil/sil_euro_latin/source/help/prefix.png
  release/sil/sil_euro_latin/source/help/sil_euro_latin.php
  release/sil/sil_euro_latin/source/help/symbols.png
  release/sil/sil_euro_latin/source/help/uppercase.png
  release/sil/sil_euro_latin/source/options.htm
  release/sil/sil_euro_latin/source/readme.htm
  release/sil/sil_euro_latin/source/sil_euro_latin-layout.keyman-touch-layout
  release/sil/sil_euro_latin/source/sil_euro_latin.html
  release/sil/sil_euro_latin/source/sil_euro_latin.ico
  release/sil/sil_euro_latin/source/sil_euro_latin.keyman-touch-layout
  release/sil/sil_euro_latin/source/sil_euro_latin.kmn
  release/sil/sil_euro_latin/source/sil_euro_latin.kps
  release/sil/sil_euro_latin/source/sil_euro_latin_js.txt
  release/sil/sil_euro_latin/source/usage.htm
  release/sil/sil_euro_latin/source/welcome/currency.png
  release/sil/sil_euro_latin/source/welcome/digraphs.png
  release/sil/sil_euro_latin/source/welcome/lowercase.png
  release/sil/sil_euro_latin/source/welcome/numbers.png
  release/sil/sil_euro_latin/source/welcome/prefix.png
  release/sil/sil_euro_latin/source/welcome/symbols.png
  release/sil/sil_euro_latin/source/welcome/uppercase.png
  release/sil/sil_euro_latin/source/welcome/welcome.htm
Labels: keyboard, new, work-in-progress

#414 [syriac_aramaic] New package based on 3 new versions of the keybpards…
  legacy/a/aramaic/DEPRECATED.md
  release/packages/syriac_aramaic/HISTORY.md
  release/packages/syriac_aramaic/LICENSE.md
  release/packages/syriac_aramaic/README.md
  release/packages/syriac_aramaic/source/readme.htm
  release/packages/syriac_aramaic/source/syriac_aramaic.kps
  release/packages/syriac_aramaic/source/welcome/aramaic_hebrew-welcome.htm
  release/packages/syriac_aramaic/source/welcome/key-altl.gif
  release/packages/syriac_aramaic/source/welcome/key-altr.gif
  release/packages/syriac_aramaic/source/welcome/key-backspace.gif
  release/packages/syriac_aramaic/source/welcome/key-bkslash.gif
  release/packages/syriac_aramaic/source/welcome/key-capslock.gif
  release/packages/syriac_aramaic/source/welcome/key-ctrll.gif
  release/packages/syriac_aramaic/source/welcome/key-ctrlr.gif
  release/packages/syriac_aramaic/source/welcome/key-enter.gif
  release/packages/syriac_aramaic/source/welcome/key-plain.gif
  release/packages/syriac_aramaic/source/welcome/key-shift102.gif
  release/packages/syriac_aramaic/source/welcome/key-shiftl.gif
  release/packages/syriac_aramaic/source/welcome/key-shiftr.gif
  release/packages/syriac_aramaic/source/welcome/key-space.gif
  release/packages/syriac_aramaic/source/welcome/key-tab.gif
  release/packages/syriac_aramaic/source/welcome/syriac_arabic-welcome.htm
  release/packages/syriac_aramaic/source/welcome/syriac_phonetic-welcome.htm
  release/packages/syriac_aramaic/source/welcome/welcome.htm
  release/packages/syriac_aramaic/syriac_aramaic.keyboard_info
  release/packages/syriac_aramaic/syriac_aramaic.kpj
Labels: keyboard

#425 [syriac_aramaic-help] Added minimal help file with links to layouts
  release/packages/syriac_aramaic/source/help/syriac_aramaic.php
Labels: enhancement, keyboard

#421 [sil_tai_dam_latin] New keyboard
  release/sil/sil_tai_dam_latin/HISTORY.md
  release/sil/sil_tai_dam_latin/LICENSE.md
  release/sil/sil_tai_dam_latin/README.md
  release/sil/sil_tai_dam_latin/sil_tai_dam_latin.keyboard_info
  release/sil/sil_tai_dam_latin/sil_tai_dam_latin.kpj
  release/sil/sil_tai_dam_latin/source/help/key-altl.gif
  release/sil/sil_tai_dam_latin/source/help/key-altr.gif
  release/sil/sil_tai_dam_latin/source/help/key-backspace.gif
  release/sil/sil_tai_dam_latin/source/help/key-bkslash.gif
  release/sil/sil_tai_dam_latin/source/help/key-capslock.gif
  release/sil/sil_tai_dam_latin/source/help/key-ctrll.gif
  release/sil/sil_tai_dam_latin/source/help/key-ctrlr.gif
  release/sil/sil_tai_dam_latin/source/help/key-enter.gif
  release/sil/sil_tai_dam_latin/source/help/key-plain.gif
  release/sil/sil_tai_dam_latin/source/help/key-red.gif
  release/sil/sil_tai_dam_latin/source/help/key-shift102.gif
  release/sil/sil_tai_dam_latin/source/help/key-shiftl.gif
  release/sil/sil_tai_dam_latin/source/help/key-shiftr.gif
  release/sil/sil_tai_dam_latin/source/help/key-space.gif
  release/sil/sil_tai_dam_latin/source/help/key-tab.gif
  release/sil/sil_tai_dam_latin/source/help/sil_tai_dam_latin.php
  release/sil/sil_tai_dam_latin/source/readme.htm
  release/sil/sil_tai_dam_latin/source/sil_tai_dam_latin.ico
  release/sil/sil_tai_dam_latin/source/sil_tai_dam_latin.kmn
  release/sil/sil_tai_dam_latin/source/sil_tai_dam_latin.kps
  release/sil/sil_tai_dam_latin/source/sil_tai_dam_latin.kvks
  release/sil/sil_tai_dam_latin/source/welcome/key-altl.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-altr.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-backspace.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-bkslash.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-capslock.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-ctrll.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-ctrlr.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-enter.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-plain.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-red.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-shift102.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-shiftl.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-shiftr.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-space.gif
  release/sil/sil_tai_dam_latin/source/welcome/key-tab.gif
  release/sil/sil_tai_dam_latin/source/welcome/welcome.htm
Labels: keyboard, new

#424 [sil_philippines] New keyboard for Philippines
  release/sil/sil_philippines/HISTORY.md
  release/sil/sil_philippines/LICENSE.md
  release/sil/sil_philippines/README.md
  release/sil/sil_philippines/sil_philippines.keyboard_info
  release/sil/sil_philippines/sil_philippines.kpj
  release/sil/sil_philippines/source/help/sil_philippines.php
  release/sil/sil_philippines/source/readme.htm
  release/sil/sil_philippines/source/sil_philippines.ico
  release/sil/sil_philippines/source/sil_philippines.kmn
  release/sil/sil_philippines/source/sil_philippines.kps
  release/sil/sil_philippines/source/sil_philippines.kvks
  release/sil/sil_philippines/source/welcome/welcome.htm
Labels: keyboard, new

#272 [rac_palula] Initial Palula keyboard
  release/rac/rac_palula/HISTORY.md
  release/rac/rac_palula/LICENSE.md
  release/rac/rac_palula/README.md
  release/rac/rac_palula/rac_palula.keyboard_info
  release/rac/rac_palula/rac_palula.kpj
  release/rac/rac_palula/source/help/rac_palula base.png
  release/rac/rac_palula/source/help/rac_palula shift.png
  release/rac/rac_palula/source/help/rac_palula.php
  release/rac/rac_palula/source/rac_palula-layout.js
  release/rac/rac_palula/source/rac_palula.ico
  release/rac/rac_palula/source/rac_palula.kmn
  release/rac/rac_palula/source/rac_palula.kps
  release/rac/rac_palula/source/rac_palula.kvks
  release/rac/rac_palula/source/readme.htm
  release/rac/rac_palula/source/welcome/RAC.jpg
  release/rac/rac_palula/source/welcome/rac_palula_layout.png
  release/rac/rac_palula/source/welcome/welcome.htm
Labels: keyboard, new

#429 [sil_philippines] Remove statement about US keyboard
  release/sil/sil_philippines/HISTORY.md
  release/sil/sil_philippines/README.md
  release/sil/sil_philippines/sil_philippines.keyboard_info
  release/sil/sil_philippines/source/help/sil_philippines.php
  release/sil/sil_philippines/source/readme.htm
  release/sil/sil_philippines/source/sil_philippines.kmn
  release/sil/sil_philippines/source/welcome/welcome.htm
Labels: enhancement, keyboard

#428 [sil_tchad] Updated mobile layout
  release/sil/sil_tchad/HISTORY.md
  release/sil/sil_tchad/README.md
  release/sil/sil_tchad/sil_tchad.kpj
  release/sil/sil_tchad/source/sil_tchad.keyman-touch-layout
  release/sil/sil_tchad/source/sil_tchad.kmn
Labels: enhancement, keyboard

#420 [galaxie_greek_positional] Migrate source ot github
  legacy/g/galaxiegreekkm6/DEPRECATED.md
  release/g/galaxie_greek_positional/HISTORY.md
  release/g/galaxie_greek_positional/LICENSE.md
  release/g/galaxie_greek_positional/README.md
  release/g/galaxie_greek_positional/galaxie_greek_positional.keyboard_info
  release/g/galaxie_greek_positional/galaxie_greek_positional.kpj
  release/g/galaxie_greek_positional/source/galaxie_greek_positional-layout.js
  release/g/galaxie_greek_positional/source/galaxie_greek_positional.bmp
  release/g/galaxie_greek_positional/source/galaxie_greek_positional.kmn
  release/g/galaxie_greek_positional/source/galaxie_greek_positional.kps
  release/g/galaxie_greek_positional/source/galaxie_greek_positional.kvks
  release/g/galaxie_greek_positional/source/help/galaxie_greek_positional.php
  release/g/galaxie_greek_positional/source/readme.htm
  release/g/galaxie_greek_positional/source/welcome/keyboardchart.htm
  release/g/galaxie_greek_positional/source/welcome/style.css
  release/g/galaxie_greek_positional/source/welcome/welcome.htm
Labels: keyboard, new

#419 [galaxie_greek_mnemonic] Migration to github
  release/g/galaxie_greek_mnemonic/HISTORY.md
  release/g/galaxie_greek_mnemonic/LICENSE.md
  release/g/galaxie_greek_mnemonic/README.md
  release/g/galaxie_greek_mnemonic/galaxie_greek_mnemonic.keyboard_info
  release/g/galaxie_greek_mnemonic/galaxie_greek_mnemonic.kpj
  release/g/galaxie_greek_mnemonic/source/galaxie_greek_mnemonic.ico
  release/g/galaxie_greek_mnemonic/source/galaxie_greek_mnemonic.kmn
  release/g/galaxie_greek_mnemonic/source/galaxie_greek_mnemonic.kps
  release/g/galaxie_greek_mnemonic/source/galaxie_greek_mnemonic.kvks
  release/g/galaxie_greek_mnemonic/source/help/galaxie_greek_mnemonic.php
  release/g/galaxie_greek_mnemonic/source/readme.htm
  release/g/galaxie_greek_mnemonic/source/welcome/keyboardchart.htm
  release/g/galaxie_greek_mnemonic/source/welcome/style.css
  release/g/galaxie_greek_mnemonic/source/welcome/welcome.htm
Labels: keyboard, new

#431 [galaxie_hebrew_positional] Migrate source to GitHub
  legacy/g/galaxiegreekandhebrew/DEPRECATED.md
  legacy/g/galaxiehebrewkm6/DEPRECATED.md
  release/g/galaxie_hebrew_positional/HISTORY.md
  release/g/galaxie_hebrew_positional/LICENSE.md
  release/g/galaxie_hebrew_positional/README.md
  release/g/galaxie_hebrew_positional/galaxie_hebrew_positional.keyboard_info
  release/g/galaxie_hebrew_positional/galaxie_hebrew_positional.kpj
  release/g/galaxie_hebrew_positional/source/galaxie_hebrew_positional.bmp
  release/g/galaxie_hebrew_positional/source/galaxie_hebrew_positional.kmn
  release/g/galaxie_hebrew_positional/source/galaxie_hebrew_positional.kps
  release/g/galaxie_hebrew_positional/source/galaxie_hebrew_positional.kvks
  release/g/galaxie_hebrew_positional/source/help/galaxie_hebrew_positional.php
  release/g/galaxie_hebrew_positional/source/readme.htm
  release/g/galaxie_hebrew_positional/source/welcome/style.css
  release/g/galaxie_hebrew_positional/source/welcome/welcome.htm
Labels: keyboard, new

#430 [galaxie_hebrew_mnemonic] Migrate source to GitHub
  legacy/g/galaxiebiblescriptmnemonic/DEPRECATED.md
  release/g/galaxie_hebrew_mnemonic/HISTORY.md
  release/g/galaxie_hebrew_mnemonic/LICENSE.md
  release/g/galaxie_hebrew_mnemonic/README.md
  release/g/galaxie_hebrew_mnemonic/galaxie_hebrew_mnemonic.keyboard_info
  release/g/galaxie_hebrew_mnemonic/galaxie_hebrew_mnemonic.kpj
  release/g/galaxie_hebrew_mnemonic/source/galaxie_hebrew_mnemonic.ico
  release/g/galaxie_hebrew_mnemonic/source/galaxie_hebrew_mnemonic.kmn
  release/g/galaxie_hebrew_mnemonic/source/galaxie_hebrew_mnemonic.kps
  release/g/galaxie_hebrew_mnemonic/source/galaxie_hebrew_mnemonic.kvks
  release/g/galaxie_hebrew_mnemonic/source/help/galaxie_hebrew_mnemonic.php
  release/g/galaxie_hebrew_mnemonic/source/readme.htm
  release/g/galaxie_hebrew_mnemonic/source/welcome/style.css
  release/g/galaxie_hebrew_mnemonic/source/welcome/welcome.htm
Labels: keyboard, new
