Repository keymanapp/keyboards, pull requests merged in 2018-03, with the labels that each got.

#185 [rac_gawar_bati] add example to rac_gawar_bati.keyboard_info
  release/rac/rac_gawar_bati/rac_gawar_bati.keyboard_info
Labels: enhancement, keyboard, ready-to-merge

#186 [sil_areare] Updated mobile layout to support g and G keys
  release/sil/sil_areare/source/sil_areare-layout.js
Labels: enhancement, keyboard, ready-to-merge

#154 template: update two files per David's proposal
  release/template/README.md
  release/template/template.keyboard_info
Labels: enhancement, ready-to-merge

#163 [sil_el_ethiopian_latin] adding diacritics for barred-i and barred-u
  release/sil/sil_el_ethiopian_latin/HISTORY.md
  release/sil/sil_el_ethiopian_latin/LICENSE.md
  release/sil/sil_el_ethiopian_latin/README.md
  release/sil/sil_el_ethiopian_latin/sil_el_ethiopian_latin.kpj
  release/sil/sil_el_ethiopian_latin/source/SIL-EL-Ethiopian-LatinKeyboardMap.odt
  release/sil/sil_el_ethiopian_latin/source/SIL-EL-Ethiopian-LatinKeyboardMap.pdf
  release/sil/sil_el_ethiopian_latin/source/readme.htm
  release/sil/sil_el_ethiopian_latin/source/sil_el_ethiopian_latin.kmn
  release/sil/sil_el_ethiopian_latin/source/sil_el_ethiopian_latin.kps
  release/sil/sil_el_ethiopian_latin/source/welcome.htm
Labels: enhancement, keyboard, ready-to-merge

#178 [kayan] correct .keyboard_info and add version 1.4 files
  release/k/kayan/HISTORY.md
  release/k/kayan/README.md
  release/k/kayan/kayan.keyboard_info
  release/k/kayan/kayan.kpj
  release/k/kayan/source/kayan-layout.js
  release/k/kayan/source/kayan.kmn
  release/k/kayan/source/kayan.kps
  release/k/kayan/source/kayan.kvk
  release/k/kayan/source/readme.htm
  release/k/kayan/source/welcome/keyboard_layout.png
Labels: enhancement, keyboard, ready-to-merge

#179 [lazuri] Add -Latn to BCP 47 code in README.md and .keyboard_info files
  release/l/lazuri/README.md
  release/l/lazuri/lazuri.keyboard_info
  release/l/lazuri/source/welcome/welcome.htm
Labels: enhancement, keyboard, ready-to-merge

#180 [balochi_scientific] update language tags in .keyboard_info file
  release/b/balochi_scientific/balochi_scientific.keyboard_info
  release/b/balochi_scientific/source/welcome/welcome.htm
Labels: enhancement, keyboard, ready-to-merge

#166 [ntl_onekey] initial release of NTL OneKey (smartphone + desktop)
  experimental/n/ntl_onekey/HISTORY.md
  experimental/n/ntl_onekey/LICENSE.md
  experimental/n/ntl_onekey/README.md
  experimental/n/ntl_onekey/ntl_onekey.keyboard_info
  experimental/n/ntl_onekey/ntl_onekey.kpj
  experimental/n/ntl_onekey/source/ntl_onekey-layout.js
  experimental/n/ntl_onekey/source/ntl_onekey.bmp
  experimental/n/ntl_onekey/source/ntl_onekey.ico
  experimental/n/ntl_onekey/source/ntl_onekey.kmn
  experimental/n/ntl_onekey/source/ntl_onekey.kps
  experimental/n/ntl_onekey/source/ntl_onekey.odt
  experimental/n/ntl_onekey/source/ntl_onekey.pdf
Labels: keyboard, ready-to-merge

#176 [gff_tigrinya_eritrea] add region to BCP47 tag in .keyboard_info
  release/gff/gff_tigrinya_eritrea/gff_tigrinya_eritrea.keyboard_info
Labels: enhancement, keyboard, ready-to-merge

#183 [sil_el_ethiopian_latin] update description
  release/sil/sil_el_ethiopian_latin/sil_el_ethiopian_latin.keyboard_info
Labels: enhancement, keyboard, ready-to-merge

#196 [rac_khowar][rac_kalasha] move help files to new location
  release/rac/rac_kalasha/source/help/KalashaAltGr.jpg
  release/rac/rac_kalasha/source/help/KalashaBase.jpg
  release/rac/rac_kalasha/source/help/KalashaShift.jpg
  release/rac/rac_kalasha/source/help/rac_kalasha.php
  release/rac/rac_khowar/source/help/rac_khowar.php
  release/rac/rac_khowar/source/help/rac_khowar.png
Labels: bug

#194 [jorai] Jorai keyboard
  release/j/jorai/HISTORY.md
  release/j/jorai/LICENSE.md
  release/j/jorai/README.md
  release/j/jorai/jorai.keyboard_info
  release/j/jorai/jorai.kpj
  release/j/jorai/source/jorai-layout.js
  release/j/jorai/source/jorai.ico
  release/j/jorai/source/jorai.kmn
  release/j/jorai/source/jorai.kps
  release/j/jorai/source/jorai.kvks
  release/j/jorai/source/readme.htm
  release/j/jorai/source/welcome/Default.jpg
  release/j/jorai/source/welcome/RAlt.jpg
  release/j/jorai/source/welcome/RAltShift.jpg
  release/j/jorai/source/welcome/Shift.jpg
  release/j/jorai/source/welcome/welcome.htm
Labels: keyboard, new, ready-to-merge

#187 [osage_nation] new keyboard for Osage
  release/o/osage_nation/HISTORY.md
  release/o/osage_nation/LICENSE.md
  release/o/osage_nation/README.md
  release/o/osage_nation/osage_nation.keyboard_info
  release/o/osage_nation/osage_nation.kpj
  release/o/osage_nation/source/Pawhuska.ttf
  release/o/osage_nation/source/osage_nation-layout.js
  release/o/osage_nation/source/osage_nation.ico
  release/o/osage_nation/source/osage_nation.kmn
  release/o/osage_nation/source/osage_nation.kps
  release/o/osage_nation/source/osage_nation.kvk
  release/o/osage_nation/source/readme.htm
  release/o/osage_nation/source/welcome/CtrlAlt.jpg
  release/o/osage_nation/source/welcome/CtrlAltShift.jpg
  release/o/osage_nation/source/welcome/Shift.jpg
  release/o/osage_nation/source/welcome/Unshift.jpg
  release/o/osage_nation/source/welcome/welcome.htm
Labels: keyboard, new, ready-to-merge

#181 [boonkit] Initial upload of SIL Boonkit keyboard
  release/sil/sil_boonkit/HISTORY.md
  release/sil/sil_boonkit/LICENSE.md
  release/sil/sil_boonkit/README.md
  release/sil/sil_boonkit/sil_boonkit.keyboard_info
  release/sil/sil_boonkit/sil_boonkit.kpj
  release/sil/sil_boonkit/source/BoonKitOFL.ttf
  release/sil/sil_boonkit/source/BoonKitOFL.txt
  release/sil/sil_boonkit/source/Cr-Udom.ttf
  release/sil/sil_boonkit/source/Cr-Udomofl.txt
  release/sil/sil_boonkit/source/sil_boonkit.ico
  release/sil/sil_boonkit/source/sil_boonkit.kmn
  release/sil/sil_boonkit/source/sil_boonkit.kps
  release/sil/sil_boonkit/source/sil_boonkit.kvk
  release/sil/sil_boonkit/source/welcome/BoonkitUnshifted.PNG
  release/sil/sil_boonkit/source/welcome/Boonkitshifted.PNG
  release/sil/sil_boonkit/source/welcome/welcome.htm
Labels: keyboard, new, ready-to-merge

#135 [libtralo] LIBTRALO keyboard
  release/l/libtralo/HISTORY.md
  release/l/libtralo/LICENSE.md
  release/l/libtralo/README.md
  release/l/libtralo/extras/libtralo.docx
  release/l/libtralo/libtralo.keyboard_info
  release/l/libtralo/libtralo.kpj
  release/l/libtralo/source/CharisSIL-B.ttf
  release/l/libtralo/source/CharisSIL-BI.ttf
  release/l/libtralo/source/CharisSIL-I.ttf
  release/l/libtralo/source/CharisSIL-R.ttf
  release/l/libtralo/source/FONTLOG.txt
  release/l/libtralo/source/OFL-FAQ.txt
  release/l/libtralo/source/OFL.txt
  release/l/libtralo/source/README.txt
  release/l/libtralo/source/libtralo-1.5.json
  release/l/libtralo/source/libtralo-layout.js
  release/l/libtralo/source/libtralo.ico
  release/l/libtralo/source/libtralo.kmn
  release/l/libtralo/source/libtralo.kps
  release/l/libtralo/source/libtralo.pdf
  release/l/libtralo/source/readme.htm
Labels: keyboard, new, ready-to-merge

#141 [sil_ipa] SIL IPA keyboard
  legacy/i/ipauni111/DEPRECATED.md
  release/sil/sil_ipa/HISTORY.md
  release/sil/sil_ipa/LICENSE.md
  release/sil/sil_ipa/README.md
  release/sil/sil_ipa/extras/SILIPAKeyboardLayout.doc
  release/sil/sil_ipa/sil_ipa.keyboard_info
  release/sil/sil_ipa/sil_ipa.kpj
  release/sil/sil_ipa/source/CharisSIL-B.ttf
  release/sil/sil_ipa/source/CharisSIL-BI.ttf
  release/sil/sil_ipa/source/CharisSIL-I.ttf
  release/sil/sil_ipa/source/CharisSIL-R.ttf
  release/sil/sil_ipa/source/FONTLOG.txt
  release/sil/sil_ipa/source/OFL-FAQ.txt
  release/sil/sil_ipa/source/OFL.txt
  release/sil/sil_ipa/source/README.txt
  release/sil/sil_ipa/source/SILIPAKeyboardLayout.pdf
  release/sil/sil_ipa/source/readme.htm
  release/sil/sil_ipa/source/sil_ipa.ico
  release/sil/sil_ipa/source/sil_ipa.kmn
  release/sil/sil_ipa/source/sil_ipa.kps
Labels: keyboard, new, ready-to-merge

#206 [khmer_ankor] Add touch keyboard to keyboard package
  release/k/khmer_angkor/HISTORY.md
  release/k/khmer_angkor/khmer_angkor.kpj
  release/k/khmer_angkor/source/khmer_angkor.kmn
  release/k/khmer_angkor/source/khmer_angkor.kps
Labels: enhancement, keyboard

#177 [sil_torwali] Torwali: fixed 08FF keystrokes, updated copyright dates
  release/sil/sil_torwali/HISTORY.md
  release/sil/sil_torwali/LICENSE.md
  release/sil/sil_torwali/README.md
  release/sil/sil_torwali/sil_torwali.keyboard_info
  release/sil/sil_torwali/sil_torwali.kpj
  release/sil/sil_torwali/source/readme.htm
  release/sil/sil_torwali/source/sil_torwali-layout.js
  release/sil/sil_torwali/source/sil_torwali.kmn
  release/sil/sil_torwali/source/sil_torwali.kps
  release/sil/sil_torwali/source/sil_torwali.kvk
  release/sil/sil_torwali/source/welcome/welcome.htm
Labels: enhancement, keyboard, ready-to-merge

#208 [jorai] added php help file
  release/j/jorai/source/help/Default.jpg
  release/j/jorai/source/help/RAlt.jpg
  release/j/jorai/source/help/RAltShift.jpg
  release/j/jorai/source/help/Shift.jpg
  release/j/jorai/source/help/jorai.php
Labels: enhancement, keyboard

#209 [osage_nation] added php help file
  release/o/osage_nation/source/help/CtrlAlt.jpg
  release/o/osage_nation/source/help/CtrlAltShift.jpg
  release/o/osage_nation/source/help/Shift.jpg
  release/o/osage_nation/source/help/Unshift.jpg
  release/o/osage_nation/source/help/osage_nation.php
Labels: enhancement, keyboard

#211 [libtralo] added php help file
  release/l/libtralo/source/help/libtralo.php
  release/l/libtralo/source/help/libtralo.png
Labels: enhancement, keyboard

#214 [hieroglyphic] Fix missing semicolon in help php leading to error on help.keyman.com
  legacy/h/hieroglyphic/source/help/hieroglyphic.php
Labels: bug, keyboard

#216 [khmer_angkor] Tweaked author name and package name
  release/k/khmer_angkor/HISTORY.md
  release/k/khmer_angkor/README.md
  release/k/khmer_angkor/khmer_angkor.keyboard_info
  release/k/khmer_angkor/khmer_angkor.kpj
  release/k/khmer_angkor/source/khmer_angkor.kmn
  release/k/khmer_angkor/source/khmer_angkor.kps
Labels: enhancement
