Repository keymanapp/keyboards, pull requests merged in 2018-10, with the labels that each got.

#467 [sil_mali_qwertz] Change to be Keyman 10 for RALT support
  release/sil/sil_mali_qwertz/HISTORY.md
  release/sil/sil_mali_qwertz/README.md
  release/sil/sil_mali_qwertz/source/sil_mali_qwertz.kmn
Labels: enhancement, keyboard

#468 [canadian_aboriginal] Update to latest version of fonts
  release/shared/fonts/canadian_aboriginal/AboriginalSansBOLD.ttf
  release/shared/fonts/canadian_aboriginal/AboriginalSansBOLDITALIC.ttf
  release/shared/fonts/canadian_aboriginal/AboriginalSansITALIC.ttf
  release/shared/fonts/canadian_aboriginal/AboriginalSansREGULAR.ttf
  release/shared/fonts/canadian_aboriginal/AboriginalSerifBOLD.ttf
  release/shared/fonts/canadian_aboriginal/AboriginalSerifBOLDITALIC.ttf
  release/shared/fonts/canadian_aboriginal/AboriginalSerifITALIC.ttf
  release/shared/fonts/canadian_aboriginal/AboriginalSerifREGULAR.ttf
Labels: enhancement, keyboard

#466 [sil_tawallammat] Add new keyboard to repo
  release/sil/sil_tawallammat/HISTORY.md
  release/sil/sil_tawallammat/LICENSE.md
  release/sil/sil_tawallammat/README.md
  release/sil/sil_tawallammat/sil_tawallammat.keyboard_info
  release/sil/sil_tawallammat/sil_tawallammat.kpj
  release/sil/sil_tawallammat/source/help/2d54.png
  release/sil/sil_tawallammat/source/help/2d54_2d5c.png
  release/sil/sil_tawallammat/source/help/2d5c.png
  release/sil/sil_tawallammat/source/help/2d7f.png
  release/sil/sil_tawallammat/source/help/sil_tawallammat.php
  release/sil/sil_tawallammat/source/help/sil_tawallammatU_.png
  release/sil/sil_tawallammat/source/help/sil_tawallammatU_RA.png
  release/sil/sil_tawallammat/source/help/sil_tawallammatU_S.png
  release/sil/sil_tawallammat/source/readme.htm
  release/sil/sil_tawallammat/source/sil_tawallammat.ico
  release/sil/sil_tawallammat/source/sil_tawallammat.keyman-touch-layout
  release/sil/sil_tawallammat/source/sil_tawallammat.kmn
  release/sil/sil_tawallammat/source/sil_tawallammat.kps
  release/sil/sil_tawallammat/source/sil_tawallammat.kvks
  release/sil/sil_tawallammat/source/welcome/2d54.png
  release/sil/sil_tawallammat/source/welcome/2d54_2d5c.png
  release/sil/sil_tawallammat/source/welcome/2d5c.png
  release/sil/sil_tawallammat/source/welcome/2d7f.png
  release/sil/sil_tawallammat/source/welcome/sil_tawallammatU_.png
  release/sil/sil_tawallammat/source/welcome/sil_tawallammatU_RA.png
  release/sil/sil_tawallammat/source/welcome/sil_tawallammatU_S.png
  release/sil/sil_tawallammat/source/welcome/welcome.htm
Labels: keyboard, new

#472 [fv_statimcets] Merge desktop and web keyboards, delete kmw
  legacy/s/statimc_u/DEPRECATED.md
  legacy/s/statimcets/DEPRECATED.md
  release/fv/fv_statimcets/HISTORY.md
  release/fv/fv_statimcets/LICENSE.md
  release/fv/fv_statimcets/README.md
  release/fv/fv_statimcets/fv_statimcets.keyboard_info
  release/fv/fv_statimcets/fv_statimcets.kpj
  release/fv/fv_statimcets/source/fv_statimcets.bmp
  release/fv/fv_statimcets/source/fv_statimcets.ico
  release/fv/fv_statimcets/source/fv_statimcets.keyman-touch-layout
  release/fv/fv_statimcets/source/fv_statimcets.kmn
  release/fv/fv_statimcets/source/fv_statimcets.kps
  release/fv/fv_statimcets/source/fv_statimcets.kvks
  release/fv/fv_statimcets/source/help/FVLogo.gif
  release/fv/fv_statimcets/source/help/Tavultesoft_272x40.png
  release/fv/fv_statimcets/source/help/fv_statimcets.php
  release/fv/fv_statimcets/source/help/lgBlue162x31.png
  release/fv/fv_statimcets/source/readme.htm
  release/fv/fv_statimcets/source/welcome/Tavultesoft_272x40.png
  release/fv/fv_statimcets/source/welcome/keyman.png
  release/fv/fv_statimcets/source/welcome/welcome.htm
  release/fv/fv_statimcets_kmw/HISTORY.md
  release/fv/fv_statimcets_kmw/LICENSE.md
  release/fv/fv_statimcets_kmw/README.md
  release/fv/fv_statimcets_kmw/fv_statimcets_kmw.keyboard_info
  release/fv/fv_statimcets_kmw/fv_statimcets_kmw.kpj
  release/fv/fv_statimcets_kmw/source/fv_statimcets_kmw.kmn
  release/fv/fv_statimcets_kmw/source/fv_statimcets_kmw.kvk
  release/fv/fv_statimcets_kmw/source/fv_statimcets_kmw_help.htm
  release/fv/fv_statimcets_kmw/source/help/FVLogo.gif
  release/fv/fv_statimcets_kmw/source/help/Statimcets.png
  release/fv/fv_statimcets_kmw/source/help/Tavultesoft_272x40.png
  release/fv/fv_statimcets_kmw/source/help/fv_statimcets_kmw.php
  release/fv/fv_statimcets_kmw/source/help/lgBlue162x31.png
Labels: enhancement, keyboard

#477 [fv_nuucaanul] merge desktop and web and delete kmw
  legacy/n/nuuchahnulth_u/DEPRECATED.md
  release/fv/fv_nuucaanul/HISTORY.md
  release/fv/fv_nuucaanul/LICENSE.md
  release/fv/fv_nuucaanul/README.md
  release/fv/fv_nuucaanul/fv_nuucaanul.keyboard_info
  release/fv/fv_nuucaanul/fv_nuucaanul.kpj
  release/fv/fv_nuucaanul/source/fv_nuucaanul.bmp
  release/fv/fv_nuucaanul/source/fv_nuucaanul.ico
  release/fv/fv_nuucaanul/source/fv_nuucaanul.keyman-touch-layout
  release/fv/fv_nuucaanul/source/fv_nuucaanul.kmn
  release/fv/fv_nuucaanul/source/fv_nuucaanul.kps
  release/fv/fv_nuucaanul/source/fv_nuucaanul.kvks
  release/fv/fv_nuucaanul/source/fv_nuucaanul_kmw_help.htm
  release/fv/fv_nuucaanul/source/help/FVLogo.gif
  release/fv/fv_nuucaanul/source/help/Tavultesoft_272x40.png
  release/fv/fv_nuucaanul/source/help/fv_nuucaanul.php
  release/fv/fv_nuucaanul/source/help/lgBlue162x31.png
  release/fv/fv_nuucaanul/source/readme.htm
  release/fv/fv_nuucaanul/source/welcome/Tavultesoft_272x40.png
  release/fv/fv_nuucaanul/source/welcome/keyman.png
  release/fv/fv_nuucaanul/source/welcome/welcome.htm
  release/fv/fv_nuucaanul_kmw/HISTORY.md
  release/fv/fv_nuucaanul_kmw/LICENSE.md
  release/fv/fv_nuucaanul_kmw/README.md
  release/fv/fv_nuucaanul_kmw/fv_nuucaanul_kmw.keyboard_info
  release/fv/fv_nuucaanul_kmw/fv_nuucaanul_kmw.kpj
  release/fv/fv_nuucaanul_kmw/source/fv_nuucaanul_kmw.kmn
  release/fv/fv_nuucaanul_kmw/source/fv_nuucaanul_kmw.kvk
  release/fv/fv_nuucaanul_kmw/source/help/FVLogo.gif
  release/fv/fv_nuucaanul_kmw/source/help/Nuucaanul.png
  release/fv/fv_nuucaanul_kmw/source/help/Tavultesoft_272x40.png
  release/fv/fv_nuucaanul_kmw/source/help/fv_nuucaanul_kmw.php
  release/fv/fv_nuucaanul_kmw/source/help/lgBlue162x31.png
Labels: enhancement, keyboard

#482 [fv_gwichin] merge keyboard and delete kmw
  release/fv/fv_gwichin/HISTORY.md
  release/fv/fv_gwichin/LICENSE.md
  release/fv/fv_gwichin/README.md
  release/fv/fv_gwichin/fv_gwichin.keyboard_info
  release/fv/fv_gwichin/fv_gwichin.kpj
  release/fv/fv_gwichin/source/fv_gwichin.bmp
  release/fv/fv_gwichin/source/fv_gwichin.ico
  release/fv/fv_gwichin/source/fv_gwichin.keyman-touch-layout
  release/fv/fv_gwichin/source/fv_gwichin.kmn
  release/fv/fv_gwichin/source/fv_gwichin.kps
  release/fv/fv_gwichin/source/fv_gwichin.kvk
  release/fv/fv_gwichin/source/fv_gwichin.kvks
  release/fv/fv_gwichin/source/help.html
  release/fv/fv_gwichin/source/help/fv_gwichin.php
  release/fv/fv_gwichin/source/readme.htm
  release/fv/fv_gwichin/source/welcome/fv_gwichinU_.png
  release/fv/fv_gwichin/source/welcome/fv_gwichinU_S.png
  release/fv/fv_gwichin/source/welcome/welcome.htm
  release/fv/fv_gwichin_kmw/HISTORY.md
  release/fv/fv_gwichin_kmw/LICENSE.md
  release/fv/fv_gwichin_kmw/README.md
  release/fv/fv_gwichin_kmw/fv_gwichin_kmw.keyboard_info
  release/fv/fv_gwichin_kmw/fv_gwichin_kmw.kpj
  release/fv/fv_gwichin_kmw/source/fv_gwichin_kmw-layout.js
  release/fv/fv_gwichin_kmw/source/fv_gwichin_kmw.kmn
  release/fv/fv_gwichin_kmw/source/fv_gwichin_kmw.kvk
Labels: enhancement, keyboard

#487 [fv_ktunaxa] merge keyboard and delete kmw
  legacy/k/ktunaxa/DEPRECATED.md
  legacy/k/kutenai/DEPRECATED.md
  release/fv/fv_ktunaxa/HISTORY.md
  release/fv/fv_ktunaxa/LICENSE.md
  release/fv/fv_ktunaxa/README.md
  release/fv/fv_ktunaxa/fv_ktunaxa.keyboard_info
  release/fv/fv_ktunaxa/fv_ktunaxa.kpj
  release/fv/fv_ktunaxa/source/fv_ktunaxa.bmp
  release/fv/fv_ktunaxa/source/fv_ktunaxa.ico
  release/fv/fv_ktunaxa/source/fv_ktunaxa.keyman-touch-layout
  release/fv/fv_ktunaxa/source/fv_ktunaxa.kmn
  release/fv/fv_ktunaxa/source/fv_ktunaxa.kps
  release/fv/fv_ktunaxa/source/fv_ktunaxa.kvks
  release/fv/fv_ktunaxa/source/help/FVLogo.gif
  release/fv/fv_ktunaxa/source/help/Tavultesoft_272x40.png
  release/fv/fv_ktunaxa/source/help/fv_ktunaxa.php
  release/fv/fv_ktunaxa/source/help/lgBlue162x31.png
  release/fv/fv_ktunaxa/source/readme.htm
  release/fv/fv_ktunaxa/source/welcome/Tavultesoft_272x40.png
  release/fv/fv_ktunaxa/source/welcome/keyman.png
  release/fv/fv_ktunaxa/source/welcome/welcome.htm
  release/fv/fv_ktunaxa_kmw/HISTORY.md
  release/fv/fv_ktunaxa_kmw/LICENSE.md
  release/fv/fv_ktunaxa_kmw/README.md
  release/fv/fv_ktunaxa_kmw/fv_ktunaxa_kmw.keyboard_info
  release/fv/fv_ktunaxa_kmw/fv_ktunaxa_kmw.kpj
  release/fv/fv_ktunaxa_kmw/source/fv_ktunaxa_kmw.kmn
  release/fv/fv_ktunaxa_kmw/source/fv_ktunaxa_kmw.kvk
  release/fv/fv_ktunaxa_kmw/source/help/FVLogo.gif
  release/fv/fv_ktunaxa_kmw/source/help/Tavultesoft_272x40.png
  release/fv/fv_ktunaxa_kmw/source/help/fv_ktunaxa_kmw.php
  release/fv/fv_ktunaxa_kmw/source/help/ktunaxa.png
  release/fv/fv_ktunaxa_kmw/source/help/lgBlue162x31.png
Labels: enhancement, keyboard

#489 [fv_han] merge keyboard and delete kmw
  release/fv/fv_han/HISTORY.md
  release/fv/fv_han/LICENSE.md
  release/fv/fv_han/README.md
  release/fv/fv_han/fv_han.keyboard_info
  release/fv/fv_han/fv_han.kpj
  release/fv/fv_han/source/fv_han.bmp
  release/fv/fv_han/source/fv_han.ico
  release/fv/fv_han/source/fv_han.keyman-touch-layout
  release/fv/fv_han/source/fv_han.kmn
  release/fv/fv_han/source/fv_han.kps
  release/fv/fv_han/source/fv_han.kvk
  release/fv/fv_han/source/fv_han.kvks
  release/fv/fv_han/source/help.html
  release/fv/fv_han/source/help/fv_han.php
  release/fv/fv_han/source/readme.htm
  release/fv/fv_han/source/welcome/fv_hanU_.png
  release/fv/fv_han/source/welcome/fv_hanU_A.png
  release/fv/fv_han/source/welcome/fv_hanU_S.png
  release/fv/fv_han/source/welcome/welcome.htm
  release/fv/fv_han_kmw/HISTORY.md
  release/fv/fv_han_kmw/LICENSE.md
  release/fv/fv_han_kmw/README.md
  release/fv/fv_han_kmw/fv_han_kmw.keyboard_info
  release/fv/fv_han_kmw/fv_han_kmw.kpj
  release/fv/fv_han_kmw/source/fv_han_kmw.kmn
  release/fv/fv_han_kmw/source/fv_han_kmw.kvk
Labels: enhancement, keyboard

#492 [fv_todo] Added canonical order todo item
  release/fv/fv_diitiidatx/README.md
  release/fv/fv_gwichin/README.md
  release/fv/fv_nuucaanul/README.md
  release/fv/fv_stlatlimxec/README.md
  release/fv/fv_uwikala/README.md
Labels: enhancement, keyboard

#498 [fv_northern_tutchone] merge keyboard and delete kmw
  release/fv/fv_northern_tutchone/HISTORY.md
  release/fv/fv_northern_tutchone/LICENSE.md
  release/fv/fv_northern_tutchone/README.md
  release/fv/fv_northern_tutchone/fv_northern_tutchone.keyboard_info
  release/fv/fv_northern_tutchone/fv_northern_tutchone.kpj
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.bmp
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.ico
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.keyman-touch-layout
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.kmn
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.kps
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.kvk
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.kvks
  release/fv/fv_northern_tutchone/source/help.html
  release/fv/fv_northern_tutchone/source/help/fv_northern_tutchone.php
  release/fv/fv_northern_tutchone/source/readme.htm
  release/fv/fv_northern_tutchone/source/welcome/fv_northern_tutchoneU_.png
  release/fv/fv_northern_tutchone/source/welcome/fv_northern_tutchoneU_A.png
  release/fv/fv_northern_tutchone/source/welcome/fv_northern_tutchoneU_S.png
  release/fv/fv_northern_tutchone/source/welcome/welcome.htm
  release/fv/fv_northern_tutchone_kmw/HISTORY.md
  release/fv/fv_northern_tutchone_kmw/LICENSE.md
  release/fv/fv_northern_tutchone_kmw/README.md
  release/fv/fv_northern_tutchone_kmw/fv_northern_tutchone_kmw.keyboard_info
  release/fv/fv_northern_tutchone_kmw/fv_northern_tutchone_kmw.kpj
  release/fv/fv_northern_tutchone_kmw/source/fv_northern_tutchone_kmw.kmn
  release/fv/fv_northern_tutchone_kmw/source/fv_northern_tutchone_kmw.kvk
  release/fv/fv_northern_tutchone_kmw/source/help/fv_northern_tutchone_kmw.php
Labels: enhancement, keyboard

#501 [fv_tagizi_dene] merge keyboard and delete kmw
  release/fv/fv_tagizi_dene/HISTORY.md
  release/fv/fv_tagizi_dene/LICENSE.md
  release/fv/fv_tagizi_dene/README.md
  release/fv/fv_tagizi_dene/fv_tagizi_dene.keyboard_info
  release/fv/fv_tagizi_dene/fv_tagizi_dene.kpj
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.bmp
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.ico
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.keyman-touch-layout
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.kmn
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.kps
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.kvk
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.kvks
  release/fv/fv_tagizi_dene/source/help.html
  release/fv/fv_tagizi_dene/source/help/fv_tagizi_dene.php
  release/fv/fv_tagizi_dene/source/readme.htm
  release/fv/fv_tagizi_dene/source/welcome/fv_tagizi_deneU_.png
  release/fv/fv_tagizi_dene/source/welcome/fv_tagizi_deneU_A.png
  release/fv/fv_tagizi_dene/source/welcome/fv_tagizi_deneU_S.png
  release/fv/fv_tagizi_dene/source/welcome/welcome.htm
  release/fv/fv_tagizi_dene_kmw/HISTORY.md
  release/fv/fv_tagizi_dene_kmw/LICENSE.md
  release/fv/fv_tagizi_dene_kmw/README.md
  release/fv/fv_tagizi_dene_kmw/fv_tagizi_dene_kmw.keyboard_info
  release/fv/fv_tagizi_dene_kmw/fv_tagizi_dene_kmw.kpj
  release/fv/fv_tagizi_dene_kmw/source/fv_tagizi_dene_kmw.kmn
  release/fv/fv_tagizi_dene_kmw/source/fv_tagizi_dene_kmw.kvk
  release/fv/fv_tagizi_dene_kmw/source/help/fv_tagizi_dene_kmw.php
Labels: enhancement, keyboard

#502 [osage_nation] Changed kvks to kvk in kps file since osk was not disp…
  release/o/osage_nation/HISTORY.md
  release/o/osage_nation/README.md
  release/o/osage_nation/osage_nation.kpj
  release/o/osage_nation/source/osage_nation.keyman-touch-layout
  release/o/osage_nation/source/osage_nation.kmn
  release/o/osage_nation/source/osage_nation.kps
Labels: enhancement, keyboard

#503 [iptotal and lingfilsemitica] Add help from tavultesoft.com
  legacy/i/ipatotal/ipatotal.keyboard_info
  legacy/i/ipatotal/source/help/ipatotal-en.pdf
  legacy/i/ipatotal/source/help/ipatotal-pt.pdf
  legacy/i/ipatotal/source/help/ipatotal.php
  legacy/i/ipatotal/source/ipatotal(pt).pdf
  legacy/l/lingfilsemitica/source/help/lingfilsemitica.php
Labels: enhancement

#504 [sil_yi and rac_yidgha] modified per request
  release/rac/rac_yidgha/rac_yidgha.keyboard_info
  release/sil/sil_yi/README.md
Labels: enhancement

#508 [rac_yidgha] Change yeh to 06cc and change sample text
  release/rac/rac_yidgha/HISTORY.md
  release/rac/rac_yidgha/README.md
  release/rac/rac_yidgha/rac_yidgha.keyboard_info
  release/rac/rac_yidgha/rac_yidgha.kpj
  release/rac/rac_yidgha/source/help/rac_yidgha.php
  release/rac/rac_yidgha/source/rac_yidgha.keyman-touch-layout
  release/rac/rac_yidgha/source/rac_yidgha.kmn
  release/rac/rac_yidgha/source/rac_yidgha.kps
  release/rac/rac_yidgha/source/welcome/welcome.htm
Labels: enhancement, keyboard

#511 [fv_normalize] add message about need for normalizing
  release/fv/fv_denesuline_epsilon/README.md
  release/fv/fv_gwichin/README.md
Labels: enhancement, keyboard
