Repository keymanapp/keyboards, pull requests merged in 2018-12, with the labels that each got.

#548 [gondi_tel] Initial release of Gondi (Telugu Script) keyboard
  release/g/gondi_tel/HISTORY.md
  release/g/gondi_tel/LICENSE.md
  release/g/gondi_tel/README.md
  release/g/gondi_tel/fonts/Suranna UI.ttf
  release/g/gondi_tel/gondi_tel.keyboard_info
  release/g/gondi_tel/gondi_tel.kpj
  release/g/gondi_tel/source/gondi_tel.ico
  release/g/gondi_tel/source/gondi_tel.keyman-touch-layout
  release/g/gondi_tel/source/gondi_tel.kmn
  release/g/gondi_tel/source/gondi_tel.kps
  release/g/gondi_tel/source/gondi_tel.kvks
  release/g/gondi_tel/source/gondi_tel_welcome_image_v2.png
  release/g/gondi_tel/source/help/gondi_tel.keyboard_layoutU_.png
  release/g/gondi_tel/source/help/gondi_tel.keyboard_layoutU_S.png
  release/g/gondi_tel/source/help/gondi_tel.php
  release/g/gondi_tel/source/help/gondi_tel.touch_keyboard_layout_default.png
  release/g/gondi_tel/source/help/gondi_tel.touch_keyboard_layout_g_longpress_crop.png
  release/g/gondi_tel/source/help/gondi_tel.touch_keyboard_layout_i_longpress_crop.png
  release/g/gondi_tel/source/help/gondi_tel.touch_keyboard_layout_itteke.png
  release/g/gondi_tel/source/help/gondi_tel.touch_keyboard_layout_numeric.png
  release/g/gondi_tel/source/help/gondi_tel.touch_keyboard_layout_question_words_longpress_crop.png
  release/g/gondi_tel/source/help/gondi_tel.touch_keyboard_layout_shift.png
  release/g/gondi_tel/source/help/gondi_tel.touch_keyboard_layout_t_longpress_crop.png
  release/g/gondi_tel/source/help/itteke_example.png
  release/g/gondi_tel/source/readme.htm
  release/g/gondi_tel/source/welcome/gondi_tel.keyboard_layoutU_.png
  release/g/gondi_tel/source/welcome/gondi_tel.keyboard_layoutU_S.png
  release/g/gondi_tel/source/welcome/gondi_tel.touch_keyboard_layout_default.png
  release/g/gondi_tel/source/welcome/gondi_tel.touch_keyboard_layout_g_longpress_crop.png
  release/g/gondi_tel/source/welcome/gondi_tel.touch_keyboard_layout_i_longpress_crop.png
  release/g/gondi_tel/source/welcome/gondi_tel.touch_keyboard_layout_itteke.png
  release/g/gondi_tel/source/welcome/gondi_tel.touch_keyboard_layout_numeric.png
  release/g/gondi_tel/source/welcome/gondi_tel.touch_keyboard_layout_question_words_longpress_crop.png
  release/g/gondi_tel/source/welcome/gondi_tel.touch_keyboard_layout_shift.png
  release/g/gondi_tel/source/welcome/gondi_tel.touch_keyboard_layout_t_longpress_crop.png
  release/g/gondi_tel/source/welcome/itteke_example.png
  release/g/gondi_tel/source/welcome/welcome.htm
Labels: keyboard, new

#559 [rac_aer] update version and font info and fix up various layout issues
  release/rac/rac_aer/HISTORY.md
  release/rac/rac_aer/README.md
  release/rac/rac_aer/rac_aer.keyboard_info
  release/rac/rac_aer/rac_aer.kpj
  release/rac/rac_aer/source/help/rac_aer.php
  release/rac/rac_aer/source/rac_aer.keyman-touch-layout
  release/rac/rac_aer/source/rac_aer.kmn
  release/rac/rac_aer/source/rac_aer.kps
Labels: enhancement, keyboard

#560 [rac_wakhi] based on previous PR and feedback
  release/rac/rac_wakhi/HISTORY.md
  release/rac/rac_wakhi/LICENSE.md
  release/rac/rac_wakhi/README.md
  release/rac/rac_wakhi/rac_wakhi.keyboard_info
  release/rac/rac_wakhi/rac_wakhi.kpj
  release/rac/rac_wakhi/source/help/rac_wakhi.php
  release/rac/rac_wakhi/source/help/rac_wakhi_layout_for_help.png
  release/rac/rac_wakhi/source/rac_wakhi.ico
  release/rac/rac_wakhi/source/rac_wakhi.keyman-touch-layout
  release/rac/rac_wakhi/source/rac_wakhi.kmn
  release/rac/rac_wakhi/source/rac_wakhi.kps
  release/rac/rac_wakhi/source/rac_wakhi.kvks
  release/rac/rac_wakhi/source/readme.htm
  release/rac/rac_wakhi/source/welcome/RAC.jpg
  release/rac/rac_wakhi/source/welcome/rac_wakhi base.png
  release/rac/rac_wakhi/source/welcome/rac_wakhi shift.png
  release/rac/rac_wakhi/source/welcome/welcome.htm
Labels: keyboard, new

#563 [rac_hindko] New PR based on old PR
  release/rac/rac_hindko/HISTORY.md
  release/rac/rac_hindko/LICENSE.md
  release/rac/rac_hindko/README.md
  release/rac/rac_hindko/rac_hindko.kpj
  release/rac/rac_hindko/source/help/RAC.jpg
  release/rac/rac_hindko/source/help/rac_hindko.php
  release/rac/rac_hindko/source/help/rac_hindko_layout.png
  release/rac/rac_hindko/source/rac_hindko.ico
  release/rac/rac_hindko/source/rac_hindko.keyman-touch-layout
  release/rac/rac_hindko/source/rac_hindko.kmn
  release/rac/rac_hindko/source/rac_hindko.kps
  release/rac/rac_hindko/source/rac_hindko.kvks
  release/rac/rac_hindko/source/readme.htm
  release/rac/rac_hindko/source/welcome/rac_hindko_layout.png
  release/rac/rac_hindko/source/welcome/welcome.htm
Labels: keyboard, new

#564 [rac_indus_kohistani] New PR based on old PR
  release/rac/rac_indus_kohistani/HISTORY.md
  release/rac/rac_indus_kohistani/LICENSE.md
  release/rac/rac_indus_kohistani/README.md
  release/rac/rac_indus_kohistani/rac_indus_kohistani.keyboard_info
  release/rac/rac_indus_kohistani/rac_indus_kohistani.kpj
  release/rac/rac_indus_kohistani/source/help/rac_indus_kohistani base.png
  release/rac/rac_indus_kohistani/source/help/rac_indus_kohistani shift.png
  release/rac/rac_indus_kohistani/source/help/rac_indus_kohistani.php
  release/rac/rac_indus_kohistani/source/rac_indus_kohistani.ico
  release/rac/rac_indus_kohistani/source/rac_indus_kohistani.keyman-touch-layout
  release/rac/rac_indus_kohistani/source/rac_indus_kohistani.kmn
  release/rac/rac_indus_kohistani/source/rac_indus_kohistani.kps
  release/rac/rac_indus_kohistani/source/rac_indus_kohistani.kvks
  release/rac/rac_indus_kohistani/source/readme.htm
  release/rac/rac_indus_kohistani/source/welcome/RAC.jpg
  release/rac/rac_indus_kohistani/source/welcome/rac_indus_kohistani base.png
  release/rac/rac_indus_kohistani/source/welcome/rac_indus_kohistani shift.png
  release/rac/rac_indus_kohistani/source/welcome/welcome.htm
Labels: keyboard, new

#566 [rac_hindko] Revert rac_hindko.keyboard_info file
  release/rac/rac_hindko/rac_hindko.keyboard_info
Labels: infrastructure

#561 [rac_western_punjabi] New PR based on old PR
  release/rac/rac_western_punjabi/HISTORY.md
  release/rac/rac_western_punjabi/LICENSE.md
  release/rac/rac_western_punjabi/README.md
  release/rac/rac_western_punjabi/rac_western_punjabi.keyboard_info
  release/rac/rac_western_punjabi/rac_western_punjabi.kpj
  release/rac/rac_western_punjabi/source/help/RAC.jpg
  release/rac/rac_western_punjabi/source/help/keyboard_layout.png
  release/rac/rac_western_punjabi/source/help/rac_western-punjabi.php
  release/rac/rac_western_punjabi/source/rac_western_punjabi.ico
  release/rac/rac_western_punjabi/source/rac_western_punjabi.keyman-touch-layout
  release/rac/rac_western_punjabi/source/rac_western_punjabi.kmn
  release/rac/rac_western_punjabi/source/rac_western_punjabi.kps
  release/rac/rac_western_punjabi/source/rac_western_punjabi.kvks
  release/rac/rac_western_punjabi/source/readme.htm
  release/rac/rac_western_punjabi/source/welcome/keyboard_layout.png
  release/rac/rac_western_punjabi/source/welcome/welcome.htm
Labels: keyboard, new

#567 [sil_euro_latin] Switch abc and currency keys on touch layer
  release/sil/sil_euro_latin/HISTORY.md
  release/sil/sil_euro_latin/sil_euro_latin.kpj
  release/sil/sil_euro_latin/source/help/sil_euro_latin.php
  release/sil/sil_euro_latin/source/readme.htm
  release/sil/sil_euro_latin/source/sil_euro_latin.html
  release/sil/sil_euro_latin/source/sil_euro_latin.keyman-touch-layout
  release/sil/sil_euro_latin/source/sil_euro_latin.kmn
  release/sil/sil_euro_latin/source/sil_euro_latin.kps
  release/sil/sil_euro_latin/source/welcome/touch-currency.png
  release/sil/sil_euro_latin/source/welcome/touch-default.png
  release/sil/sil_euro_latin/source/welcome/touch-numeric.png
  release/sil/sil_euro_latin/source/welcome/touch-shift.png
  release/sil/sil_euro_latin/source/welcome/touch-symbol.png
  release/sil/sil_euro_latin/source/welcome/welcome.htm
Labels: keyboard

#540 [basic_kbdarmph] MS Armenian Phonetic Basic keyboard to Keyman using …
  release/basic/basic_kbdarmph/HISTORY.md
  release/basic/basic_kbdarmph/LICENSE.md
  release/basic/basic_kbdarmph/README.md
  release/basic/basic_kbdarmph/basic_kbdarmph.keyboard_info
  release/basic/basic_kbdarmph/basic_kbdarmph.kpj
  release/basic/basic_kbdarmph/source/basic_kbdarmph.ico
  release/basic/basic_kbdarmph/source/basic_kbdarmph.keyman-touch-layout
  release/basic/basic_kbdarmph/source/basic_kbdarmph.kmn
  release/basic/basic_kbdarmph/source/basic_kbdarmph.kps
  release/basic/basic_kbdarmph/source/basic_kbdarmph.kvks
  release/basic/basic_kbdarmph/source/help/basic_kbdarmph.php
  release/basic/basic_kbdarmph/source/readme.htm
  release/basic/basic_kbdarmph/source/welcome/LayoutU_.png
  release/basic/basic_kbdarmph/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdarmph/source/welcome/LayoutU_S.png
  release/basic/basic_kbdarmph/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdarmph/source/welcome/welcome.htm
Labels: keyboard, new

#530 [basic_kbdfthrk] MS Futhark Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdfthrk/HISTORY.md
  release/basic/basic_kbdfthrk/LICENSE.md
  release/basic/basic_kbdfthrk/README.md
  release/basic/basic_kbdfthrk/basic_kbdfthrk.keyboard_info
  release/basic/basic_kbdfthrk/basic_kbdfthrk.kpj
  release/basic/basic_kbdfthrk/source/basic_kbdfthrk.ico
  release/basic/basic_kbdfthrk/source/basic_kbdfthrk.keyman-touch-layout
  release/basic/basic_kbdfthrk/source/basic_kbdfthrk.kmn
  release/basic/basic_kbdfthrk/source/basic_kbdfthrk.kps
  release/basic/basic_kbdfthrk/source/basic_kbdfthrk.kvks
  release/basic/basic_kbdfthrk/source/help/basic_kbdfthrk.php
  release/basic/basic_kbdfthrk/source/readme.htm
  release/basic/basic_kbdfthrk/source/welcome/LayoutU_.png
  release/basic/basic_kbdfthrk/source/welcome/LayoutU_S.png
  release/basic/basic_kbdfthrk/source/welcome/welcome.htm
Labels: keyboard, new

#541 [basic_kbdarmty] MS Armenian Typewriter Basic keyboard to Keyman usin…
  release/basic/basic_kbdarmty/HISTORY.md
  release/basic/basic_kbdarmty/LICENSE.md
  release/basic/basic_kbdarmty/README.md
  release/basic/basic_kbdarmty/basic_kbdarmty.keyboard_info
  release/basic/basic_kbdarmty/basic_kbdarmty.kpj
  release/basic/basic_kbdarmty/source/basic_kbdarmty.ico
  release/basic/basic_kbdarmty/source/basic_kbdarmty.keyman-touch-layout
  release/basic/basic_kbdarmty/source/basic_kbdarmty.kmn
  release/basic/basic_kbdarmty/source/basic_kbdarmty.kps
  release/basic/basic_kbdarmty/source/basic_kbdarmty.kvks
  release/basic/basic_kbdarmty/source/help/basic_kbdarmty.php
  release/basic/basic_kbdarmty/source/readme.htm
  release/basic/basic_kbdarmty/source/welcome/LayoutU_.png
  release/basic/basic_kbdarmty/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdarmty/source/welcome/LayoutU_S.png
  release/basic/basic_kbdarmty/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdarmty/source/welcome/welcome.htm
Labels: keyboard, new

#569 [rac_western_punjabi] renamed help file
  release/rac/rac_western_punjabi/source/help/rac_western_punjabi.php
Labels: enhancement, keyboard

#542 [basic_kbdtaile] MS Tai Le Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdtaile/HISTORY.md
  release/basic/basic_kbdtaile/LICENSE.md
  release/basic/basic_kbdtaile/README.md
  release/basic/basic_kbdtaile/basic_kbdtaile.keyboard_info
  release/basic/basic_kbdtaile/basic_kbdtaile.kpj
  release/basic/basic_kbdtaile/source/basic_kbdtaile.ico
  release/basic/basic_kbdtaile/source/basic_kbdtaile.keyman-touch-layout
  release/basic/basic_kbdtaile/source/basic_kbdtaile.kmn
  release/basic/basic_kbdtaile/source/basic_kbdtaile.kps
  release/basic/basic_kbdtaile/source/basic_kbdtaile.kvks
  release/basic/basic_kbdtaile/source/help/basic_kbdtaile.php
  release/basic/basic_kbdtaile/source/readme.htm
  release/basic/basic_kbdtaile/source/welcome/LayoutU_.png
  release/basic/basic_kbdtaile/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdtaile/source/welcome/LayoutU_S.png
  release/basic/basic_kbdtaile/source/welcome/welcome.htm
Labels: keyboard, new

#531 [basic_kbdinen] MS India Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdinen/HISTORY.md
  release/basic/basic_kbdinen/LICENSE.md
  release/basic/basic_kbdinen/README.md
  release/basic/basic_kbdinen/basic_kbdinen.keyboard_info
  release/basic/basic_kbdinen/basic_kbdinen.kpj
  release/basic/basic_kbdinen/source/basic_kbdinen.ico
  release/basic/basic_kbdinen/source/basic_kbdinen.keyman-touch-layout
  release/basic/basic_kbdinen/source/basic_kbdinen.kmn
  release/basic/basic_kbdinen/source/basic_kbdinen.kps
  release/basic/basic_kbdinen/source/basic_kbdinen.kvks
  release/basic/basic_kbdinen/source/help/basic_kbdinen.php
  release/basic/basic_kbdinen/source/readme.htm
  release/basic/basic_kbdinen/source/welcome/LayoutU_.png
  release/basic/basic_kbdinen/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinen/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinen/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinen/source/welcome/welcome.htm
Labels: keyboard, new

#565 [rac_saraiki] new PR based on old PR
  release/rac/rac_saraiki/HISTORY.md
  release/rac/rac_saraiki/LICENSE.md
  release/rac/rac_saraiki/README.md
  release/rac/rac_saraiki/rac_saraiki.keyboard_info
  release/rac/rac_saraiki/rac_saraiki.kpj
  release/rac/rac_saraiki/source/help/RAC.jpg
  release/rac/rac_saraiki/source/help/rac_saraiki.php
  release/rac/rac_saraiki/source/rac_saraiki.ico
  release/rac/rac_saraiki/source/rac_saraiki.keyman-touch-layout
  release/rac/rac_saraiki/source/rac_saraiki.kmn
  release/rac/rac_saraiki/source/rac_saraiki.kps
  release/rac/rac_saraiki/source/rac_saraiki.kvks
  release/rac/rac_saraiki/source/readme.htm
  release/rac/rac_saraiki/source/welcome/LayoutU_.png
  release/rac/rac_saraiki/source/welcome/LayoutU_S.png
  release/rac/rac_saraiki/source/welcome/welcome.htm
Labels: keyboard, new
