Repository keymanapp/keyboards, pull requests merged in 2018-11, with the labels that each got.

#507 [sil_cameroon_qwerty] Update, Complete rewrite, added Touch KB.
  release/sil/sil_cameroon_qwerty/HISTORY.md
  release/sil/sil_cameroon_qwerty/LICENSE.md
  release/sil/sil_cameroon_qwerty/README.md
  release/sil/sil_cameroon_qwerty/sil_cameroon_qwerty.keyboard_info
  release/sil/sil_cameroon_qwerty/sil_cameroon_qwerty.kpj
  release/sil/sil_cameroon_qwerty/source/Cameroon.ico
  release/sil/sil_cameroon_qwerty/source/fonts/ANDIKAAFR-R.TTF
  release/sil/sil_cameroon_qwerty/source/fonts/AndikaAfr-R.woff
  release/sil/sil_cameroon_qwerty/source/help/Cameroon.ico
  release/sil/sil_cameroon_qwerty/source/help/QwertyColor.png
  release/sil/sil_cameroon_qwerty/source/help/e_chart.png
  release/sil/sil_cameroon_qwerty/source/help/e_tableau.png
  release/sil/sil_cameroon_qwerty/source/help/helpIcon.png
  release/sil/sil_cameroon_qwerty/source/help/ic_launcher.png
  release/sil/sil_cameroon_qwerty/source/help/icon.png
  release/sil/sil_cameroon_qwerty/source/help/kb.css
  release/sil/sil_cameroon_qwerty/source/help/keyinfo.png
  release/sil/sil_cameroon_qwerty/source/help/keylayout.png
  release/sil/sil_cameroon_qwerty/source/help/keys.png
  release/sil/sil_cameroon_qwerty/source/help/modkeys-fr.png
  release/sil/sil_cameroon_qwerty/source/help/modkeys.png
  release/sil/sil_cameroon_qwerty/source/help/sil-logo-blue.png
  release/sil/sil_cameroon_qwerty/source/help/sil_cameroon_qwerty.php
  release/sil/sil_cameroon_qwerty/source/readme.htm
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.css
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.ico
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.keyman-touch-layout
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.kmn
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.kps
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.kvks
  release/sil/sil_cameroon_qwerty/source/splash.bmp
  release/sil/sil_cameroon_qwerty/source/welcome/Cameroon.ico
  release/sil/sil_cameroon_qwerty/source/welcome/QwertyColor.png
  release/sil/sil_cameroon_qwerty/source/welcome/e_chart.png
  release/sil/sil_cameroon_qwerty/source/welcome/e_tableau.png
  release/sil/sil_cameroon_qwerty/source/welcome/globe.png
  release/sil/sil_cameroon_qwerty/source/welcome/helpIcon.png
  release/sil/sil_cameroon_qwerty/source/welcome/ic_launcher.png
  release/sil/sil_cameroon_qwerty/source/welcome/icon.png
  release/sil/sil_cameroon_qwerty/source/welcome/kb.css
  release/sil/sil_cameroon_qwerty/source/welcome/keyinfo.png
  release/sil/sil_cameroon_qwerty/source/welcome/keylayout.png
  release/sil/sil_cameroon_qwerty/source/welcome/keys.png
  release/sil/sil_cameroon_qwerty/source/welcome/modkeys-fr.png
  release/sil/sil_cameroon_qwerty/source/welcome/modkeys.png
  release/sil/sil_cameroon_qwerty/source/welcome/sil-logo-blue.png
  release/sil/sil_cameroon_qwerty/source/welcome/welcome.htm
Labels: keyboard

#514 [basic_kbdlisub] MS Lisu Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdlisub/HISTORY.md
  release/basic/basic_kbdlisub/LICENSE.md
  release/basic/basic_kbdlisub/README.md
  release/basic/basic_kbdlisub/basic_kbdlisub.keyboard_info
  release/basic/basic_kbdlisub/basic_kbdlisub.kpj
  release/basic/basic_kbdlisub/source/basic_kbdlisub.ico
  release/basic/basic_kbdlisub/source/basic_kbdlisub.keyman-touch-layout
  release/basic/basic_kbdlisub/source/basic_kbdlisub.kmn
  release/basic/basic_kbdlisub/source/basic_kbdlisub.kps
  release/basic/basic_kbdlisub/source/basic_kbdlisub.kvks
  release/basic/basic_kbdlisub/source/help/basic_kbdlisub.php
  release/basic/basic_kbdlisub/source/readme.htm
  release/basic/basic_kbdlisub/source/welcome/LayoutU_.png
  release/basic/basic_kbdlisub/source/welcome/LayoutU_S.png
  release/basic/basic_kbdlisub/source/welcome/welcome.htm
Labels: keyboard, new

#516 [basic_kbdlisus] MS Lisu Standard Basic keyboard to Keyman using kmco…
  release/basic/basic_kbdlisus/HISTORY.md
  release/basic/basic_kbdlisus/LICENSE.md
  release/basic/basic_kbdlisus/README.md
  release/basic/basic_kbdlisus/basic_kbdlisus.keyboard_info
  release/basic/basic_kbdlisus/basic_kbdlisus.kpj
  release/basic/basic_kbdlisus/source/basic_kbdlisus.ico
  release/basic/basic_kbdlisus/source/basic_kbdlisus.keyman-touch-layout
  release/basic/basic_kbdlisus/source/basic_kbdlisus.kmn
  release/basic/basic_kbdlisus/source/basic_kbdlisus.kps
  release/basic/basic_kbdlisus/source/basic_kbdlisus.kvks
  release/basic/basic_kbdlisus/source/help/basic_kbdlisus.php
  release/basic/basic_kbdlisus/source/readme.htm
  release/basic/basic_kbdlisus/source/welcome/LayoutU_.png
  release/basic/basic_kbdlisus/source/welcome/LayoutU_S.png
  release/basic/basic_kbdlisus/source/welcome/welcome.htm
Labels: keyboard, new

#381 [tohono_oodham] Initial mobile keyboard for Tohono O'odham
  release/t/tohono_oodham/HISTORY.md
  release/t/tohono_oodham/LICENSE.md
  release/t/tohono_oodham/README.md
  release/t/tohono_oodham/source/help/tohono_oodham.php
  release/t/tohono_oodham/source/tohono_oodham-layout.js
  release/t/tohono_oodham/source/tohono_oodham.kmn
  release/t/tohono_oodham/source/tohono_oodham.kps
  release/t/tohono_oodham/source/welcome/readme.htm
  release/t/tohono_oodham/source/welcome/welcome.htm
  release/t/tohono_oodham/tohono_oodham.keyboard_info
  release/t/tohono_oodham/tohono_oodham.kpj
Labels: keyboard, new, ready-to-merge

#525 [basic_kbdtzm] MS Tamazight Latin Basic keyboard to Keyman using kmco…
  release/basic/basic_kbdtzm/HISTORY.md
  release/basic/basic_kbdtzm/LICENSE.md
  release/basic/basic_kbdtzm/README.md
  release/basic/basic_kbdtzm/basic_kbdtzm.keyboard_info
  release/basic/basic_kbdtzm/basic_kbdtzm.kpj
  release/basic/basic_kbdtzm/source/basic_kbdtzm.ico
  release/basic/basic_kbdtzm/source/basic_kbdtzm.keyman-touch-layout
  release/basic/basic_kbdtzm/source/basic_kbdtzm.kmn
  release/basic/basic_kbdtzm/source/basic_kbdtzm.kps
  release/basic/basic_kbdtzm/source/basic_kbdtzm.kvks
  release/basic/basic_kbdtzm/source/help/basic_kbdtzm.php
  release/basic/basic_kbdtzm/source/readme.htm
  release/basic/basic_kbdtzm/source/welcome/LayoutU_.png
  release/basic/basic_kbdtzm/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdtzm/source/welcome/LayoutU_S.png
  release/basic/basic_kbdtzm/source/welcome/welcome.htm
Labels: keyboard, new

#526 [basic_kbdughr] MS Uyghur Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdughr/HISTORY.md
  release/basic/basic_kbdughr/LICENSE.md
  release/basic/basic_kbdughr/README.md
  release/basic/basic_kbdughr/basic_kbdughr.keyboard_info
  release/basic/basic_kbdughr/basic_kbdughr.kpj
  release/basic/basic_kbdughr/source/basic_kbdughr.ico
  release/basic/basic_kbdughr/source/basic_kbdughr.keyman-touch-layout
  release/basic/basic_kbdughr/source/basic_kbdughr.kmn
  release/basic/basic_kbdughr/source/basic_kbdughr.kps
  release/basic/basic_kbdughr/source/basic_kbdughr.kvks
  release/basic/basic_kbdughr/source/help/basic_kbdughr.php
  release/basic/basic_kbdughr/source/readme.htm
  release/basic/basic_kbdughr/source/welcome/LayoutU_.png
  release/basic/basic_kbdughr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdughr/source/welcome/welcome.htm
Labels: keyboard, new

#521 [basic_kbdntl] MS New Tai Lue Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdntl/HISTORY.md
  release/basic/basic_kbdntl/LICENSE.md
  release/basic/basic_kbdntl/README.md
  release/basic/basic_kbdntl/basic_kbdntl.keyboard_info
  release/basic/basic_kbdntl/basic_kbdntl.kpj
  release/basic/basic_kbdntl/source/basic_kbdntl.ico
  release/basic/basic_kbdntl/source/basic_kbdntl.keyman-touch-layout
  release/basic/basic_kbdntl/source/basic_kbdntl.kmn
  release/basic/basic_kbdntl/source/basic_kbdntl.kps
  release/basic/basic_kbdntl/source/basic_kbdntl.kvks
  release/basic/basic_kbdntl/source/help/basic_kbdntl.php
  release/basic/basic_kbdntl/source/readme.htm
  release/basic/basic_kbdntl/source/welcome/LayoutU_.png
  release/basic/basic_kbdntl/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdntl/source/welcome/LayoutU_S.png
  release/basic/basic_kbdntl/source/welcome/welcome.htm
Labels: keyboard, new

#522 [basic_kbdsora] MS Sora Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdsora/HISTORY.md
  release/basic/basic_kbdsora/LICENSE.md
  release/basic/basic_kbdsora/README.md
  release/basic/basic_kbdsora/basic_kbdsora.keyboard_info
  release/basic/basic_kbdsora/basic_kbdsora.kpj
  release/basic/basic_kbdsora/source/basic_kbdsora.ico
  release/basic/basic_kbdsora/source/basic_kbdsora.keyman-touch-layout
  release/basic/basic_kbdsora/source/basic_kbdsora.kmn
  release/basic/basic_kbdsora/source/basic_kbdsora.kps
  release/basic/basic_kbdsora/source/basic_kbdsora.kvks
  release/basic/basic_kbdsora/source/help/basic_kbdsora.php
  release/basic/basic_kbdsora/source/readme.htm
  release/basic/basic_kbdsora/source/welcome/LayoutU_.png
  release/basic/basic_kbdsora/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsora/source/welcome/LayoutU_SC.png
  release/basic/basic_kbdsora/source/welcome/welcome.htm
Labels: keyboard, new

#520 [basic_kbdnko] MS NKo Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdnko/HISTORY.md
  release/basic/basic_kbdnko/LICENSE.md
  release/basic/basic_kbdnko/README.md
  release/basic/basic_kbdnko/basic_kbdnko.keyboard_info
  release/basic/basic_kbdnko/basic_kbdnko.kpj
  release/basic/basic_kbdnko/source/basic_kbdnko.ico
  release/basic/basic_kbdnko/source/basic_kbdnko.keyman-touch-layout
  release/basic/basic_kbdnko/source/basic_kbdnko.kmn
  release/basic/basic_kbdnko/source/basic_kbdnko.kps
  release/basic/basic_kbdnko/source/basic_kbdnko.kvks
  release/basic/basic_kbdnko/source/help/basic_kbdnko.php
  release/basic/basic_kbdnko/source/readme.htm
  release/basic/basic_kbdnko/source/welcome/LayoutU_.png
  release/basic/basic_kbdnko/source/welcome/LayoutU_S.png
  release/basic/basic_kbdnko/source/welcome/welcome.htm
Labels: keyboard, new

#517 [basic_kbdbug] MS Bugis Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdbug/HISTORY.md
  release/basic/basic_kbdbug/LICENSE.md
  release/basic/basic_kbdbug/README.md
  release/basic/basic_kbdbug/basic_kbdbug.keyboard_info
  release/basic/basic_kbdbug/basic_kbdbug.kpj
  release/basic/basic_kbdbug/source/basic_kbdbug.ico
  release/basic/basic_kbdbug/source/basic_kbdbug.keyman-touch-layout
  release/basic/basic_kbdbug/source/basic_kbdbug.kmn
  release/basic/basic_kbdbug/source/basic_kbdbug.kps
  release/basic/basic_kbdbug/source/basic_kbdbug.kvks
  release/basic/basic_kbdbug/source/help/basic_kbdbug.php
  release/basic/basic_kbdbug/source/readme.htm
  release/basic/basic_kbdbug/source/welcome/LayoutU_.png
  release/basic/basic_kbdbug/source/welcome/LayoutU_S.png
  release/basic/basic_kbdbug/source/welcome/welcome.htm
Labels: keyboard, new

#519 [basic_kbdmonst] MS Mongolian Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdmonst/HISTORY.md
  release/basic/basic_kbdmonst/LICENSE.md
  release/basic/basic_kbdmonst/README.md
  release/basic/basic_kbdmonst/basic_kbdmonst.keyboard_info
  release/basic/basic_kbdmonst/basic_kbdmonst.kpj
  release/basic/basic_kbdmonst/source/basic_kbdmonst.ico
  release/basic/basic_kbdmonst/source/basic_kbdmonst.keyman-touch-layout
  release/basic/basic_kbdmonst/source/basic_kbdmonst.kmn
  release/basic/basic_kbdmonst/source/basic_kbdmonst.kps
  release/basic/basic_kbdmonst/source/basic_kbdmonst.kvks
  release/basic/basic_kbdmonst/source/help/basic_kbdmonst.php
  release/basic/basic_kbdmonst/source/readme.htm
  release/basic/basic_kbdmonst/source/welcome/LayoutU_.png
  release/basic/basic_kbdmonst/source/welcome/LayoutU_S.png
  release/basic/basic_kbdmonst/source/welcome/welcome.htm
Labels: keyboard, new

#524 [basic_kbdtifi2] MS Tifinagh Full Basic keyboard to Keyman using kmco…
  release/basic/basic_kbdtifi2/HISTORY.md
  release/basic/basic_kbdtifi2/LICENSE.md
  release/basic/basic_kbdtifi2/README.md
  release/basic/basic_kbdtifi2/basic_kbdtifi2.keyboard_info
  release/basic/basic_kbdtifi2/basic_kbdtifi2.kpj
  release/basic/basic_kbdtifi2/source/basic_kbdtifi2.ico
  release/basic/basic_kbdtifi2/source/basic_kbdtifi2.keyman-touch-layout
  release/basic/basic_kbdtifi2/source/basic_kbdtifi2.kmn
  release/basic/basic_kbdtifi2/source/basic_kbdtifi2.kps
  release/basic/basic_kbdtifi2/source/basic_kbdtifi2.kvks
  release/basic/basic_kbdtifi2/source/help/basic_kbdtifi2.php
  release/basic/basic_kbdtifi2/source/readme.htm
  release/basic/basic_kbdtifi2/source/welcome/LayoutU_.png
  release/basic/basic_kbdtifi2/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdtifi2/source/welcome/LayoutU_S.png
  release/basic/basic_kbdtifi2/source/welcome/welcome.htm
Labels: keyboard, new

#527 [basic_kbdwol] MS Wolof Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdwol/HISTORY.md
  release/basic/basic_kbdwol/LICENSE.md
  release/basic/basic_kbdwol/README.md
  release/basic/basic_kbdwol/basic_kbdwol.keyboard_info
  release/basic/basic_kbdwol/basic_kbdwol.kpj
  release/basic/basic_kbdwol/source/basic_kbdwol.ico
  release/basic/basic_kbdwol/source/basic_kbdwol.keyman-touch-layout
  release/basic/basic_kbdwol/source/basic_kbdwol.kmn
  release/basic/basic_kbdwol/source/basic_kbdwol.kps
  release/basic/basic_kbdwol/source/basic_kbdwol.kvks
  release/basic/basic_kbdwol/source/help/basic_kbdwol.php
  release/basic/basic_kbdwol/source/readme.htm
  release/basic/basic_kbdwol/source/welcome/LayoutU_.png
  release/basic/basic_kbdwol/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdwol/source/welcome/LayoutU_S.png
  release/basic/basic_kbdwol/source/welcome/welcome.htm
Labels: keyboard, new

#528 [basic_kbdyak] MS Sakha Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdyak/HISTORY.md
  release/basic/basic_kbdyak/LICENSE.md
  release/basic/basic_kbdyak/README.md
  release/basic/basic_kbdyak/basic_kbdyak.keyboard_info
  release/basic/basic_kbdyak/basic_kbdyak.kpj
  release/basic/basic_kbdyak/source/basic_kbdyak.ico
  release/basic/basic_kbdyak/source/basic_kbdyak.keyman-touch-layout
  release/basic/basic_kbdyak/source/basic_kbdyak.kmn
  release/basic/basic_kbdyak/source/basic_kbdyak.kps
  release/basic/basic_kbdyak/source/basic_kbdyak.kvks
  release/basic/basic_kbdyak/source/help/basic_kbdyak.php
  release/basic/basic_kbdyak/source/readme.htm
  release/basic/basic_kbdyak/source/welcome/LayoutU_.png
  release/basic/basic_kbdyak/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdyak/source/welcome/LayoutU_S.png
  release/basic/basic_kbdyak/source/welcome/welcome.htm
Labels: keyboard, new

#529 [basic_kbdyba] MS Yoruba Basic keyboard to Keyman using kmconvert
  release/basic/basic_kbdyba/HISTORY.md
  release/basic/basic_kbdyba/LICENSE.md
  release/basic/basic_kbdyba/README.md
  release/basic/basic_kbdyba/basic_kbdyba.keyboard_info
  release/basic/basic_kbdyba/basic_kbdyba.kpj
  release/basic/basic_kbdyba/source/basic_kbdyba.ico
  release/basic/basic_kbdyba/source/basic_kbdyba.keyman-touch-layout
  release/basic/basic_kbdyba/source/basic_kbdyba.kmn
  release/basic/basic_kbdyba/source/basic_kbdyba.kps
  release/basic/basic_kbdyba/source/basic_kbdyba.kvks
  release/basic/basic_kbdyba/source/help/basic_kbdyba.php
  release/basic/basic_kbdyba/source/readme.htm
  release/basic/basic_kbdyba/source/welcome/LayoutU_.png
  release/basic/basic_kbdyba/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdyba/source/welcome/LayoutU_S.png
  release/basic/basic_kbdyba/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdyba/source/welcome/welcome.htm
Labels: keyboard, new

#533 [lao_phonetic] Version 1.1 - converted from Lao Script with John Durdin
  release/l/lao_phonetic/HISTORY.md
  release/l/lao_phonetic/LICENSE.md
  release/l/lao_phonetic/README.md
  release/l/lao_phonetic/lao_phonetic.keyboard_info
  release/l/lao_phonetic/lao_phonetic.kpj
  release/l/lao_phonetic/source/lao_keyboards.png
  release/l/lao_phonetic/source/lao_phonetic.ico
  release/l/lao_phonetic/source/lao_phonetic.kmn
  release/l/lao_phonetic/source/lao_phonetic.kps
  release/l/lao_phonetic/source/lao_phonetic.kvks
  release/l/lao_phonetic/source/readme.htm
  release/l/lao_phonetic/source/welcome.htm
  release/shared/fonts/laoo/saysettha/OFL-FAQ.txt
  release/shared/fonts/laoo/saysettha/OFL.txt
  release/shared/fonts/laoo/saysettha/Saysettha OT.ttf
  release/shared/fonts/laoo/saysettha/Saysettha_README.txt
Labels: keyboard, new

#283 [rac_shina] Initial Shina Keyboard
  release/rac/rac_shina/HISTORY.md
  release/rac/rac_shina/LICENSE.md
  release/rac/rac_shina/README.md
  release/rac/rac_shina/rac_shina.keyboard_info
  release/rac/rac_shina/rac_shina.kpj
  release/rac/rac_shina/source/help/rac_shina.php
  release/rac/rac_shina/source/help/rac_shina_layout.png
  release/rac/rac_shina/source/rac_shina-layout.js
  release/rac/rac_shina/source/rac_shina.ico
  release/rac/rac_shina/source/rac_shina.kmn
  release/rac/rac_shina/source/rac_shina.kps
  release/rac/rac_shina/source/rac_shina.kvks
  release/rac/rac_shina/source/readme.htm
  release/rac/rac_shina/source/welcome/RAC.jpg
  release/rac/rac_shina/source/welcome/rac_shina_layout.png
  release/rac/rac_shina/source/welcome/welcome.htm
Labels: keyboard, work-in-progress

#549 [rac_dameli] Changes per request in PR #380
  release/rac/rac_dameli/HISTORY.md
  release/rac/rac_dameli/README.md
  release/rac/rac_dameli/rac_dameli.keyboard_info
  release/rac/rac_dameli/rac_dameli.kpj
  release/rac/rac_dameli/source/help/rac_dameli.php
  release/rac/rac_dameli/source/rac_dameli-1.0.js
  release/rac/rac_dameli/source/rac_dameli-1.0.json
  release/rac/rac_dameli/source/rac_dameli.keyman-touch-layout
  release/rac/rac_dameli/source/rac_dameli.kmn
  release/rac/rac_dameli/source/rac_dameli.kps
  release/rac/rac_dameli/source/rac_dameli.kvks
  release/rac/rac_dameli/source/welcome/welcome.htm
Labels: enhancement, keyboard

#551 [sil_yi] Update version in .kmn
  release/sil/sil_yi/source/sil_yi.bmp
  release/sil/sil_yi/source/sil_yi.kmn
Labels: enhancement, keyboard

#550 [rac_urdu] Moved files from PR370 to new PR and changed font info to …
  release/rac/rac_urdu/HISTORY.md
  release/rac/rac_urdu/LICENSE.md
  release/rac/rac_urdu/README.md
  release/rac/rac_urdu/rac_urdu.keyboard_info
  release/rac/rac_urdu/rac_urdu.kpj
  release/rac/rac_urdu/source/help/rac_urdu base.png
  release/rac/rac_urdu/source/help/rac_urdu shift.png
  release/rac/rac_urdu/source/help/rac_urdu.php
  release/rac/rac_urdu/source/rac_urdu.ico
  release/rac/rac_urdu/source/rac_urdu.keyman-touch-layout
  release/rac/rac_urdu/source/rac_urdu.kmn
  release/rac/rac_urdu/source/rac_urdu.kps
  release/rac/rac_urdu/source/rac_urdu.kvks
  release/rac/rac_urdu/source/readme.htm
  release/rac/rac_urdu/source/welcome/RAC.jpg
  release/rac/rac_urdu/source/welcome/rac_urdu_layout.png
  release/rac/rac_urdu/source/welcome/welcome.htm
Labels: keyboard, new

#535 [rac_pahari] Adding new keyboard on behalf of author
  release/rac/rac_pahari/HISTORY.md
  release/rac/rac_pahari/LICENSE.md
  release/rac/rac_pahari/README.md
  release/rac/rac_pahari/rac_pahari.keyboard_info
  release/rac/rac_pahari/rac_pahari.kpj
  release/rac/rac_pahari/source/RAC.jpg
  release/rac/rac_pahari/source/help/rac_pahari.php
  release/rac/rac_pahari/source/rac_pahari.ico
  release/rac/rac_pahari/source/rac_pahari.keyman-touch-layout
  release/rac/rac_pahari/source/rac_pahari.kmn
  release/rac/rac_pahari/source/rac_pahari.kps
  release/rac/rac_pahari/source/rac_pahari.kvks
  release/rac/rac_pahari/source/readme.htm
  release/rac/rac_pahari/source/welcome/LayoutU_.png
  release/rac/rac_pahari/source/welcome/LayoutU_RA.png
  release/rac/rac_pahari/source/welcome/LayoutU_S.png
  release/rac/rac_pahari/source/welcome/welcome.htm
Labels: keyboard, new

#544 [sil_cameroon_azerty] Major Rewrite
  release/sil/sil_cameroon_azerty/HISTORY.md
  release/sil/sil_cameroon_azerty/LICENSE.md
  release/sil/sil_cameroon_azerty/README.md
  release/sil/sil_cameroon_azerty/sil_cameroon_azerty.keyboard_info
  release/sil/sil_cameroon_azerty/sil_cameroon_azerty.kpj
  release/sil/sil_cameroon_azerty/source/Cameroon.ico
  release/sil/sil_cameroon_azerty/source/fonts/AndikaAfr-R.ttf
  release/sil/sil_cameroon_azerty/source/fonts/AndikaAfr-R.woff
  release/sil/sil_cameroon_azerty/source/help/AzertyColor.png
  release/sil/sil_cameroon_azerty/source/help/Cameroon.ico
  release/sil/sil_cameroon_azerty/source/help/e_chart.png
  release/sil/sil_cameroon_azerty/source/help/e_tableau.png
  release/sil/sil_cameroon_azerty/source/help/globe.png
  release/sil/sil_cameroon_azerty/source/help/helpIcon.png
  release/sil/sil_cameroon_azerty/source/help/ic_launcher.png
  release/sil/sil_cameroon_azerty/source/help/icon.png
  release/sil/sil_cameroon_azerty/source/help/kb.css
  release/sil/sil_cameroon_azerty/source/help/keys.png
  release/sil/sil_cameroon_azerty/source/help/modkeys-fr.png
  release/sil/sil_cameroon_azerty/source/help/modkeys.png
  release/sil/sil_cameroon_azerty/source/help/sil-logo-blue.png
  release/sil/sil_cameroon_azerty/source/help/sil_cameroon_azerty.php
  release/sil/sil_cameroon_azerty/source/help/sil_cameroon_azertyU_.png
  release/sil/sil_cameroon_azerty/source/help/sil_cameroon_azertyU_RA.png
  release/sil/sil_cameroon_azerty/source/help/sil_cameroon_azertyU_S.png
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.css
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.ico
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.keyman-touch-layout
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kmn
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kps
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kvks
  release/sil/sil_cameroon_azerty/source/splash.bmp
  release/sil/sil_cameroon_azerty/source/welcome/AzertyColor.png
  release/sil/sil_cameroon_azerty/source/welcome/Cameroon.ico
  release/sil/sil_cameroon_azerty/source/welcome/e_chart.png
  release/sil/sil_cameroon_azerty/source/welcome/e_tableau.png
  release/sil/sil_cameroon_azerty/source/welcome/globe.png
  release/sil/sil_cameroon_azerty/source/welcome/helpIcon.png
  release/sil/sil_cameroon_azerty/source/welcome/ic_launcher.png
  release/sil/sil_cameroon_azerty/source/welcome/icon.png
  release/sil/sil_cameroon_azerty/source/welcome/kb.css
  release/sil/sil_cameroon_azerty/source/welcome/keyinfo.png
  release/sil/sil_cameroon_azerty/source/welcome/keylayout.png
  release/sil/sil_cameroon_azerty/source/welcome/keys.png
  release/sil/sil_cameroon_azerty/source/welcome/modkeys-fr.png
  release/sil/sil_cameroon_azerty/source/welcome/modkeys.png
  release/sil/sil_cameroon_azerty/source/welcome/sil-logo-blue.png
  release/sil/sil_cameroon_azerty/source/welcome/sil_cameroon_azertyU_.png
  release/sil/sil_cameroon_azerty/source/welcome/sil_cameroon_azertyU_RA.png
  release/sil/sil_cameroon_azerty/source/welcome/sil_cameroon_azertyU_S.png
  release/sil/sil_cameroon_azerty/source/welcome/welcome.htm
Labels: enhancement, keyboard

#545 [rac_dhatki] New PR for Rachitrali Dhatki keyboard
  release/rac/rac_dhatki/HISTORY.md
  release/rac/rac_dhatki/LICENSE.md
  release/rac/rac_dhatki/README.md
  release/rac/rac_dhatki/rac_dhatki.keyboard_info
  release/rac/rac_dhatki/rac_dhatki.kpj
  release/rac/rac_dhatki/source/RAC.jpg
  release/rac/rac_dhatki/source/help/rac_dhatki.php
  release/rac/rac_dhatki/source/rac_dhatki.ico
  release/rac/rac_dhatki/source/rac_dhatki.keyman-touch-layout
  release/rac/rac_dhatki/source/rac_dhatki.kmn
  release/rac/rac_dhatki/source/rac_dhatki.kps
  release/rac/rac_dhatki/source/rac_dhatki.kvks
  release/rac/rac_dhatki/source/readme.htm
  release/rac/rac_dhatki/source/welcome/rac_dhatki base.png
  release/rac/rac_dhatki/source/welcome/rac_dhatki ctrl alt.png
  release/rac/rac_dhatki/source/welcome/rac_dhatki shift.png
  release/rac/rac_dhatki/source/welcome/welcome.htm
Labels: keyboard, new

#358 [rac_aer] Initial Version of Aer Keyboard
  release/e/easy_chakma/easy_chakma.kpj
  release/rac/rac_aer/HISTORY.md
  release/rac/rac_aer/LICENSE.md
  release/rac/rac_aer/README.md
  release/rac/rac_aer/rac_aer.keyboard_info
  release/rac/rac_aer/rac_aer.kpj
  release/rac/rac_aer/source/help/rac_aer.php
  release/rac/rac_aer/source/help/rac_aer_layout_for_help.png
  release/rac/rac_aer/source/rac_aer-layout.js
  release/rac/rac_aer/source/rac_aer.ico
  release/rac/rac_aer/source/rac_aer.kmn
  release/rac/rac_aer/source/rac_aer.kps
  release/rac/rac_aer/source/rac_aer.kvks
  release/rac/rac_aer/source/readme.htm
  release/rac/rac_aer/source/welcome/RAC.jpg
  release/rac/rac_aer/source/welcome/rac_aer_layout_for_welcome.png
  release/rac/rac_aer/source/welcome/welcome.htm
Labels: keyboard
