Repository keymanapp/keyboards, pull requests merged in 2018-09, with the labels that each got.

#445 [sil_hebr_grek_trans] Move keyboard from legacy to release
  legacy/h/hebgrktransuni/DEPRECATED.md
  release/sil/sil_hebr_grek_trans/HISTORY.md
  release/sil/sil_hebr_grek_trans/LICENSE.md
  release/sil/sil_hebr_grek_trans/README.md
  release/sil/sil_hebr_grek_trans/sil_hebr_grek_trans.keyboard_info
  release/sil/sil_hebr_grek_trans/sil_hebr_grek_trans.kpj
  release/sil/sil_hebr_grek_trans/source/help/sil_hebr_grek_trans.php
  release/sil/sil_hebr_grek_trans/source/help/sil_hebr_grek_trans_U_.png
  release/sil/sil_hebr_grek_trans/source/help/sil_hebr_grek_trans_U_A.png
  release/sil/sil_hebr_grek_trans/source/help/sil_hebr_grek_trans_U_S.png
  release/sil/sil_hebr_grek_trans/source/readme.htm
  release/sil/sil_hebr_grek_trans/source/sil_hebr_grek_trans.ico
  release/sil/sil_hebr_grek_trans/source/sil_hebr_grek_trans.kmn
  release/sil/sil_hebr_grek_trans/source/sil_hebr_grek_trans.kps
  release/sil/sil_hebr_grek_trans/source/sil_hebr_grek_trans.kvks
  release/sil/sil_hebr_grek_trans/source/welcome/sil_hebr_grek_trans_U_.png
  release/sil/sil_hebr_grek_trans/source/welcome/sil_hebr_grek_trans_U_A.png
  release/sil/sil_hebr_grek_trans/source/welcome/sil_hebr_grek_trans_U_S.png
  release/sil/sil_hebr_grek_trans/source/welcome/welcome.htm
Labels: keyboard, new

#442 [sil_uganda_tanzania] Move keyboard from legacy to release
  legacy/u/utb unicode/DEPRECATED.md
  release/sil/sil_uganda_tanzania/HISTORY.md
  release/sil/sil_uganda_tanzania/LICENSE.md
  release/sil/sil_uganda_tanzania/README.md
  release/sil/sil_uganda_tanzania/sil_uganda_tanzania.keyboard_info
  release/sil/sil_uganda_tanzania/sil_uganda_tanzania.kpj
  release/sil/sil_uganda_tanzania/source/help/sil_uganda_tanzania.php
  release/sil/sil_uganda_tanzania/source/readme.htm
  release/sil/sil_uganda_tanzania/source/sil_uganda_tanzania.ico
  release/sil/sil_uganda_tanzania/source/sil_uganda_tanzania.keyman-touch-layout
  release/sil/sil_uganda_tanzania/source/sil_uganda_tanzania.kmn
  release/sil/sil_uganda_tanzania/source/sil_uganda_tanzania.kps
  release/sil/sil_uganda_tanzania/source/sil_uganda_tanzania.kvks
  release/sil/sil_uganda_tanzania/source/welcome/style.css
  release/sil/sil_uganda_tanzania/source/welcome/welcome.htm
Labels: keyboard, new

#455 [libtralo] Added language support for dnj
  release/l/libtralo/HISTORY.md
  release/l/libtralo/README.md
  release/l/libtralo/libtralo.keyboard_info
  release/l/libtralo/libtralo.kpj
  release/l/libtralo/source/libtralo.kmn
  release/l/libtralo/source/libtralo.kps
  release/l/libtralo/source/libtralo.kvks
Labels: enhancement, keyboard

#456 [sil_uganda_tanzania] Change version number
  release/sil/sil_uganda_tanzania/source/sil_uganda_tanzania.kmn
Labels: enhancement, keyboard

#452 [desktop-fix-1] Add macos and linux as targets
  release/g/galaxie_greek_mnemonic/HISTORY.md
  release/g/galaxie_greek_mnemonic/README.md
  release/g/galaxie_greek_mnemonic/galaxie_greek_mnemonic.kpj
  release/g/galaxie_greek_mnemonic/source/galaxie_greek_mnemonic.kmn
  release/g/galaxie_greek_mnemonic/source/galaxie_greek_mnemonic.kps
  release/g/galaxie_greek_mnemonic/source/help/galaxie_greek_mnemonic.php
  release/g/galaxie_greek_mnemonic/source/welcome/welcome.htm
  release/sil/sil_cameroon_azerty/HISTORY.md
  release/sil/sil_cameroon_azerty/README.md
  release/sil/sil_cameroon_azerty/sil_cameroon_azerty.kpj
  release/sil/sil_cameroon_azerty/source/readme.htm
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kmn
  release/sil/sil_hebrew/HISTORY.md
  release/sil/sil_hebrew/README.md
  release/sil/sil_hebrew/sil_hebrew.kpj
  release/sil/sil_hebrew/source/help/sil_hebrew.php
  release/sil/sil_hebrew/source/readme.htm
  release/sil/sil_hebrew/source/sil_hebrew.ico
  release/sil/sil_hebrew/source/sil_hebrew.kmn
  release/sil/sil_hebrew/source/sil_hebrew.kps
  release/sil/sil_hebrew/source/welcome/welcome.htm
Labels: enhancement, keyboard

#453 [desktop-fix-2] added macos and linux as targets
  release/sil/sil_tai_dam/HISTORY.md
  release/sil/sil_tai_dam/LICENSE.md
  release/sil/sil_tai_dam/README.md
  release/sil/sil_tai_dam/sil_tai_dam.keyboard_info
  release/sil/sil_tai_dam/sil_tai_dam.kpj
  release/sil/sil_tai_dam/source/help/sil_tai_dam.php
  release/sil/sil_tai_dam/source/readme.htm
  release/sil/sil_tai_dam/source/sil_tai_dam.kmn
  release/sil/sil_tai_dam/source/sil_tai_dam.kps
  release/sil/sil_tai_dam/source/welcome/welcome.htm
  release/sil/sil_tai_dam_lao/HISTORY.md
  release/sil/sil_tai_dam_lao/README.md
  release/sil/sil_tai_dam_lao/sil_tai_dam_lao.kpj
  release/sil/sil_tai_dam_lao/source/sil_tai_dam_lao.kmn
  release/sil/sil_tai_dam_lao/source/sil_tai_dam_lao.kps
  release/sil/sil_yupik_cyrillic/HISTORY.md
  release/sil/sil_yupik_cyrillic/README.md
  release/sil/sil_yupik_cyrillic/sil_yupik_cyrillic.kpj
  release/sil/sil_yupik_cyrillic/source/readme.htm
  release/sil/sil_yupik_cyrillic/source/sil_yupik_cyrillic.kmn
  release/sil/sil_yupik_cyrillic/source/sil_yupik_cyrillic.kps
Labels: enhancement, keyboard

#271 [rac_yidgha] Initial Yidgha keyboard
  release/rac/rac_yidgha/HISTORY.md
  release/rac/rac_yidgha/LICENSE.md
  release/rac/rac_yidgha/README.md
  release/rac/rac_yidgha/rac_yidgha.keyboard_info
  release/rac/rac_yidgha/rac_yidgha.kpj
  release/rac/rac_yidgha/source/help/RAC.jpg
  release/rac/rac_yidgha/source/help/rac_yidgha base.png
  release/rac/rac_yidgha/source/help/rac_yidgha shift.png
  release/rac/rac_yidgha/source/help/rac_yidgha.php
  release/rac/rac_yidgha/source/rac_yidgha-layout.js
  release/rac/rac_yidgha/source/rac_yidgha.ico
  release/rac/rac_yidgha/source/rac_yidgha.kmn
  release/rac/rac_yidgha/source/rac_yidgha.kps
  release/rac/rac_yidgha/source/rac_yidgha.kvks
  release/rac/rac_yidgha/source/readme.htm
  release/rac/rac_yidgha/source/welcome/rac_yidgha_layout.png
  release/rac/rac_yidgha/source/welcome/welcome.htm
Labels: keyboard, new

#439 [sil_pan_africa_mnemonic] Moving keyboard from legacy to release
  legacy/a/africadeadkey/DEPRECATED.md
  release/sil/sil_pan_africa_mnemonic/HISTORY.md
  release/sil/sil_pan_africa_mnemonic/LICENSE.md
  release/sil/sil_pan_africa_mnemonic/README.md
  release/sil/sil_pan_africa_mnemonic/sil_pan_africa_mnemonic.keyboard_info
  release/sil/sil_pan_africa_mnemonic/sil_pan_africa_mnemonic.kpj
  release/sil/sil_pan_africa_mnemonic/source/help/sil_pan_africa_mnemonic.php
  release/sil/sil_pan_africa_mnemonic/source/readme.htm
  release/sil/sil_pan_africa_mnemonic/source/sil_pan_africa_mnemonic.ico
  release/sil/sil_pan_africa_mnemonic/source/sil_pan_africa_mnemonic.kmn
  release/sil/sil_pan_africa_mnemonic/source/sil_pan_africa_mnemonic.kps
  release/sil/sil_pan_africa_mnemonic/source/sil_pan_africa_mnemonic.kvks
  release/sil/sil_pan_africa_mnemonic/source/welcome/style.css
  release/sil/sil_pan_africa_mnemonic/source/welcome/welcome.htm
Labels: keyboard, new

#458 [Charis-Mali-font] Add shared font
  release/shared/fonts/sil/charis_sil_mali/CharisSILMali-Bold.ttf
  release/shared/fonts/sil/charis_sil_mali/CharisSILMali-BoldItalic.ttf
  release/shared/fonts/sil/charis_sil_mali/CharisSILMali-Italic.ttf
  release/shared/fonts/sil/charis_sil_mali/CharisSILMali-Regular.ttf
  release/shared/fonts/sil/charis_sil_mali/CharisSILMali_README.txt
  release/shared/fonts/sil/charis_sil_mali/FONTLOG.txt
  release/shared/fonts/sil/charis_sil_mali/OFL-FAQ.txt
  release/shared/fonts/sil/charis_sil_mali/OFL.txt
Labels: infrastructure

#440 [sil_pan_africa_positional] Moved keyboard from legacy to release
  legacy/a/africaus/DEPRECATED.md
  release/sil/sil_pan_africa_positional/HISTORY.md
  release/sil/sil_pan_africa_positional/LICENSE.md
  release/sil/sil_pan_africa_positional/README.md
  release/sil/sil_pan_africa_positional/sil_pan_africa_positional.keyboard_info
  release/sil/sil_pan_africa_positional/sil_pan_africa_positional.kpj
  release/sil/sil_pan_africa_positional/source/help/sil_pan_africa_positional.php
  release/sil/sil_pan_africa_positional/source/readme.htm
  release/sil/sil_pan_africa_positional/source/sil_pan_africa_positional.ico
  release/sil/sil_pan_africa_positional/source/sil_pan_africa_positional.kmn
  release/sil/sil_pan_africa_positional/source/sil_pan_africa_positional.kps
  release/sil/sil_pan_africa_positional/source/sil_pan_africa_positional.kvks
  release/sil/sil_pan_africa_positional/source/welcome/style.css
  release/sil/sil_pan_africa_positional/source/welcome/welcome.htm
Labels: keyboard, new

#464 [sil_pan_africa_mnemonic] Changed documentation of some keystrokes th…
  release/sil/sil_pan_africa_mnemonic/HISTORY.md
  release/sil/sil_pan_africa_mnemonic/README.md
  release/sil/sil_pan_africa_mnemonic/sil_pan_africa_mnemonic.kpj
  release/sil/sil_pan_africa_mnemonic/source/help/sil_pan_africa_mnemonic.php
  release/sil/sil_pan_africa_mnemonic/source/sil_pan_africa_mnemonic.kmn
  release/sil/sil_pan_africa_mnemonic/source/sil_pan_africa_mnemonic.kps
  release/sil/sil_pan_africa_mnemonic/source/welcome/welcome.htm
Labels: enhancement, keyboard

#460 [sil_indic_roman] Move kbd from legacy to release
  legacy/i/indic roman transliteration/DEPRECATED.md
  release/sil/sil_indic_roman/HISTORY.md
  release/sil/sil_indic_roman/LICENSE.md
  release/sil/sil_indic_roman/README.md
  release/sil/sil_indic_roman/sil_indic_roman.keyboard_info
  release/sil/sil_indic_roman/sil_indic_roman.kpj
  release/sil/sil_indic_roman/source/help/sil_indic_roman.php
  release/sil/sil_indic_roman/source/readme.htm
  release/sil/sil_indic_roman/source/sil_indic_roman.ico
  release/sil/sil_indic_roman/source/sil_indic_roman.kmn
  release/sil/sil_indic_roman/source/sil_indic_roman.kps
  release/sil/sil_indic_roman/source/sil_indic_roman.kvks
  release/sil/sil_indic_roman/source/welcome/welcome.htm
Labels: keyboard, new

#461 [sil_mali_qwerty] Changed kps to use shared fonts added language codes
  legacy/m/maliqwerty/DEPRECATED.md
  release/sil/sil_mali_qwerty/HISTORY.md
  release/sil/sil_mali_qwerty/LICENSE.md
  release/sil/sil_mali_qwerty/README.md
  release/sil/sil_mali_qwerty/sil_mali_qwerty.keyboard_info
  release/sil/sil_mali_qwerty/sil_mali_qwerty.kpj
  release/sil/sil_mali_qwerty/source/help/sil_mali_qwerty.php
  release/sil/sil_mali_qwerty/source/readme.htm
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.ico
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.keyman-touch-layout
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.kmn
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.kps
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.kvks
  release/sil/sil_mali_qwerty/source/welcome/style.css
  release/sil/sil_mali_qwerty/source/welcome/welcome.htm
Labels: keyboard, new

#462 [sil_mali_azerty] Move kbd from legacy to release
  legacy/m/maliazerty/DEPRECATED.md
  release/sil/sil_mali_azerty/HISTORY.md
  release/sil/sil_mali_azerty/LICENSE.md
  release/sil/sil_mali_azerty/README.md
  release/sil/sil_mali_azerty/sil_mali_azerty.keyboard_info
  release/sil/sil_mali_azerty/sil_mali_azerty.kpj
  release/sil/sil_mali_azerty/source/help/sil_mali_azerty.php
  release/sil/sil_mali_azerty/source/help/sil_mali_azertyU_.png
  release/sil/sil_mali_azerty/source/help/sil_mali_azertyU_S.png
  release/sil/sil_mali_azerty/source/readme.htm
  release/sil/sil_mali_azerty/source/sil_mali_azerty.ico
  release/sil/sil_mali_azerty/source/sil_mali_azerty.kmn
  release/sil/sil_mali_azerty/source/sil_mali_azerty.kps
  release/sil/sil_mali_azerty/source/sil_mali_azerty.kvks
  release/sil/sil_mali_azerty/source/welcome/style.css
  release/sil/sil_mali_azerty/source/welcome/welcome.htm
Labels: keyboard, new

#465 [sil_indic_roman] fix help file
  release/sil/sil_indic_roman/source/help/sil_indic_roman.php
Labels: enhancement, keyboard

#463 [sil_mali_qwertz] Move kbd from legacy to release
  legacy/m/malideutsch/DEPRECATED.md
  release/sil/sil_mali_qwertz/HISTORY.md
  release/sil/sil_mali_qwertz/LICENSE.md
  release/sil/sil_mali_qwertz/README.md
  release/sil/sil_mali_qwertz/sil_mali_qwertz.keyboard_info
  release/sil/sil_mali_qwertz/sil_mali_qwertz.kpj
  release/sil/sil_mali_qwertz/source/help/sil_mali_qwertz.php
  release/sil/sil_mali_qwertz/source/help/sil_mali_qwertzU_.png
  release/sil/sil_mali_qwertz/source/help/sil_mali_qwertzU_RA.png
  release/sil/sil_mali_qwertz/source/help/sil_mali_qwertzU_S.png
  release/sil/sil_mali_qwertz/source/readme.htm
  release/sil/sil_mali_qwertz/source/sil_mali_qwertz.ico
  release/sil/sil_mali_qwertz/source/sil_mali_qwertz.kmn
  release/sil/sil_mali_qwertz/source/sil_mali_qwertz.kps
  release/sil/sil_mali_qwertz/source/sil_mali_qwertz.kvks
  release/sil/sil_mali_qwertz/source/welcome/sil_mali_qwertzU_.png
  release/sil/sil_mali_qwertz/source/welcome/sil_mali_qwertzU_RA.png
  release/sil/sil_mali_qwertz/source/welcome/sil_mali_qwertzU_S.png
  release/sil/sil_mali_qwertz/source/welcome/style.css
  release/sil/sil_mali_qwertz/source/welcome/welcome.htm
Labels: keyboard, new
