Repository keymanapp/keyboards, pull requests merged in 2018-07, with the labels that each got.

#353 [sil_yupik_cyrillic] Sil yupik cyrillic
  release/sil/sil_yupik_cyrillic/HISTORY.md
  release/sil/sil_yupik_cyrillic/LICENSE.md
  release/sil/sil_yupik_cyrillic/README.md
  release/sil/sil_yupik_cyrillic/docs/Developer notes.txt
  release/sil/sil_yupik_cyrillic/sil_yupik_cyrillic.keyboard_info
  release/sil/sil_yupik_cyrillic/sil_yupik_cyrillic.kpj
  release/sil/sil_yupik_cyrillic/source/help/key-altl.gif
  release/sil/sil_yupik_cyrillic/source/help/key-altr.gif
  release/sil/sil_yupik_cyrillic/source/help/key-backspace.gif
  release/sil/sil_yupik_cyrillic/source/help/key-bkslash.gif
  release/sil/sil_yupik_cyrillic/source/help/key-capslock.gif
  release/sil/sil_yupik_cyrillic/source/help/key-ctrll.gif
  release/sil/sil_yupik_cyrillic/source/help/key-ctrlr.gif
  release/sil/sil_yupik_cyrillic/source/help/key-enter.gif
  release/sil/sil_yupik_cyrillic/source/help/key-plain.gif
  release/sil/sil_yupik_cyrillic/source/help/key-shift102.gif
  release/sil/sil_yupik_cyrillic/source/help/key-shiftl.gif
  release/sil/sil_yupik_cyrillic/source/help/key-shiftr.gif
  release/sil/sil_yupik_cyrillic/source/help/key-space.gif
  release/sil/sil_yupik_cyrillic/source/help/key-tab.gif
  release/sil/sil_yupik_cyrillic/source/help/sil_yupik_cyrillic.php
  release/sil/sil_yupik_cyrillic/source/readm.htm
  release/sil/sil_yupik_cyrillic/source/sil_yupik_cyrillic.ico
  release/sil/sil_yupik_cyrillic/source/sil_yupik_cyrillic.kmn
  release/sil/sil_yupik_cyrillic/source/sil_yupik_cyrillic.kps
  release/sil/sil_yupik_cyrillic/source/sil_yupik_cyrillic.kvks
  release/sil/sil_yupik_cyrillic/source/welcome/key-altl.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-altr.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-backspace.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-bkslash.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-capslock.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-ctrll.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-ctrlr.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-enter.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-plain.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-shift102.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-shiftl.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-shiftr.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-space.gif
  release/sil/sil_yupik_cyrillic/source/welcome/key-tab.gif
  release/sil/sil_yupik_cyrillic/source/welcome/welcome.htm
Labels: keyboard, new

#373 [shan] use shared (newer) Padauk font, change to .kvks
  release/s/shan/HISTORY.md
  release/s/shan/README.md
  release/s/shan/shan.keyboard_info
  release/s/shan/shan.kpj
  release/s/shan/source/Padauk.ttf
  release/s/shan/source/shan.kmn
  release/s/shan/source/shan.kps
  release/s/shan/source/shan.kvk
  release/s/shan/source/shan.kvks
Labels: enhancement, keyboard

#361 [sil_dzongkha] Migration of source
  legacy/d/dzongkha/DEPRECATED.md
  release/sil/sil_dzongkha/HISTORY.md
  release/sil/sil_dzongkha/LICENSE.md
  release/sil/sil_dzongkha/README.md
  release/sil/sil_dzongkha/assets/DDC_Uchen.ttf
  release/sil/sil_dzongkha/sil_dzongkha.keyboard_info
  release/sil/sil_dzongkha/sil_dzongkha.kpj
  release/sil/sil_dzongkha/source/help/sil_dzongkha.php
  release/sil/sil_dzongkha/source/readme.htm
  release/sil/sil_dzongkha/source/sil_dzongkha.ico
  release/sil/sil_dzongkha/source/sil_dzongkha.kmn
  release/sil/sil_dzongkha/source/sil_dzongkha.kps
  release/sil/sil_dzongkha/source/sil_dzongkha.kvks
  release/sil/sil_dzongkha/source/welcome/welcome.htm
  release/template/HISTORY.md
Labels: keyboard, new

#371 Rac help
  release/rac/rac_balti/source/help/Base.png
  release/rac/rac_balti/source/help/CtrlAlt.png
  release/rac/rac_balti/source/help/Shift.png
  release/rac/rac_balti/source/help/rac_balti.php
  release/rac/rac_brahui/source/help/keyboard_layout.png
  release/rac/rac_brahui/source/help/rac_brahui.php
  release/rac/rac_brahui/source/help/touch_layout_default.png
  release/rac/rac_brahui/source/help/touch_layout_shift.png
  release/rac/rac_dameli/source/help/rac_dameli.php
Labels: enhancement, keyboard

#362 [sil_shan] Migration of source
  release/sil/sil_shan/HISTORY.md
  release/sil/sil_shan/LICENSE.md
  release/sil/sil_shan/README.md
  release/sil/sil_shan/sil_shan.keyboard_info
  release/sil/sil_shan/sil_shan.kpj
  release/sil/sil_shan/source/help/sil_shan.php
  release/sil/sil_shan/source/help/sil_shanU_.png
  release/sil/sil_shan/source/help/sil_shanU_RA.png
  release/sil/sil_shan/source/help/sil_shanU_S.png
  release/sil/sil_shan/source/help/sil_shanU_SRA.png
  release/sil/sil_shan/source/readme.htm
  release/sil/sil_shan/source/sil_shan.ico
  release/sil/sil_shan/source/sil_shan.kmn
  release/sil/sil_shan/source/sil_shan.kps
  release/sil/sil_shan/source/sil_shan.kvks
  release/sil/sil_shan/source/welcome/sil_shanU_.png
  release/sil/sil_shan/source/welcome/sil_shanU_RA.png
  release/sil/sil_shan/source/welcome/sil_shanU_S.png
  release/sil/sil_shan/source/welcome/sil_shanU_SRA.png
  release/sil/sil_shan/source/welcome/welcome.htm
Labels: keyboard, new

#363 [sil_kayah_mymr] migrate source to Github
  release/sil/sil_kayah_mymr/HISTORY.md
  release/sil/sil_kayah_mymr/LICENSE.md
  release/sil/sil_kayah_mymr/README.md
  release/sil/sil_kayah_mymr/sil_kayah_mymr.keyboard_info
  release/sil/sil_kayah_mymr/sil_kayah_mymr.kpj
  release/sil/sil_kayah_mymr/source/help/sil_kayah_mymr.php
  release/sil/sil_kayah_mymr/source/help/sil_kayah_mymrU_.png
  release/sil/sil_kayah_mymr/source/help/sil_kayah_mymrU_S.png
  release/sil/sil_kayah_mymr/source/readme.htm
  release/sil/sil_kayah_mymr/source/sil_kayah_mymr.ico
  release/sil/sil_kayah_mymr/source/sil_kayah_mymr.kmn
  release/sil/sil_kayah_mymr/source/sil_kayah_mymr.kps
  release/sil/sil_kayah_mymr/source/sil_kayah_mymr.kvks
  release/sil/sil_kayah_mymr/source/welcome/sil_kayah_mymrU_.png
  release/sil/sil_kayah_mymr/source/welcome/sil_kayah_mymrU_S.png
  release/sil/sil_kayah_mymr/source/welcome/welcome.htm
Labels: keyboard, new

#341 [sil_kvl_kayaw] Initial Creation
  release/sil/sil_kvl_kayaw/HISTORY.md
  release/sil/sil_kvl_kayaw/LICENSE.md
  release/sil/sil_kvl_kayaw/README.md
  release/sil/sil_kvl_kayaw/sil_kvl_kayaw.keyboard_info
  release/sil/sil_kvl_kayaw/sil_kvl_kayaw.kpj
  release/sil/sil_kvl_kayaw/source/help/sil_kvl_kayaw.php
  release/sil/sil_kvl_kayaw/source/sil_kvl_kayaw.keyman-touch-layout
  release/sil/sil_kvl_kayaw/source/sil_kvl_kayaw.kmn
  release/sil/sil_kvl_kayaw/source/sil_kvl_kayaw.kps
  release/sil/sil_kvl_kayaw/source/sil_kvl_kayaw.kvks
  release/sil/sil_kvl_kayaw/source/welcome/kayawU_.png
  release/sil/sil_kvl_kayaw/source/welcome/kayawU_S.png
  release/sil/sil_kvl_kayaw/source/welcome/welcome.htm
Labels: keyboard, new

#375 [ansi_obsolete_new] Obsolete ANSI keyboards
  legacy/b/basiclao/basiclao.keyboard_info
  legacy/c/camazert/camazert.keyboard_info
  legacy/c/cameroon qwerty non-u kbd-fonts/cameroon qwerty non-u kbd-fonts.keyboard_info
  legacy/e/enhlao/enhlao.keyboard_info
  legacy/i/icetot/icetot.keyboard_info
  legacy/i/ipa93_km5/ipa93_km5.keyboard_info
  legacy/i/ipatep/ipatep.keyboard_info
  legacy/k/keymancolombia/keymancolombia.keyboard_info
  legacy/k/keymanguahibo/keymanguahibo.keyboard_info
  legacy/m/malta/malta.keyboard_info
  legacy/m/mohawk_u/mohawk_u.keyboard_info
  legacy/s/sanskrit csx/sanskrit csx.keyboard_info
  legacy/t/tsciianjal/tsciianjal.keyboard_info
  legacy/w/winmacdene/winmacdene.keyboard_info
  legacy/y/yorubaok/yorubaok.keyboard_info
Labels: enhancement, keyboard

#397 [rac-help] Remove body tag to fix cropped images
  release/rac/rac_balti/source/help/rac_balti.php
  release/rac/rac_brahui/source/help/rac_brahui.php
  release/rac/rac_dameli/source/help/rac_dameli.php
  release/rac/rac_khowar/source/help/rac_khowar.php
Labels: enhancement, keyboard

#391 [easy_chakma] Fix the Touch Layout Issue
  release/e/easy_chakma/source/Guideline.pdf
  release/e/easy_chakma/source/easy_chakma.keyman-touch-layout
  release/e/easy_chakma/source/help/easy_chakma.php
Labels: enhancement, keyboard

#387 [bj_cree_east] Updated keyboard for desktop and updated documentation
  release/b/bj_cree_east/HISTORY.md
  release/b/bj_cree_east/README.md
  release/b/bj_cree_east/bj_cree_east.keyboard_info
  release/b/bj_cree_east/bj_cree_east.kpj
  release/b/bj_cree_east/source/bj_cree_east.ico
  release/b/bj_cree_east/source/bj_cree_east.kmn
  release/b/bj_cree_east/source/bj_cree_east.kps
  release/b/bj_cree_east/source/bj_cree_east.kvks
  release/b/bj_cree_east/source/cree3u.bmp
  release/b/bj_cree_east/source/help/bj_cree_east.php
  release/b/bj_cree_east/source/readme.htm
  release/b/bj_cree_east/source/welcome/welcome.htm
Labels: enhancement, keyboard

#386 [bj_oji_cree] Update to keyboard to support Desktop
  release/b/bj_oji_cree/HISTORY.md
  release/b/bj_oji_cree/README.md
  release/b/bj_oji_cree/bj_oji_cree.keyboard_info
  release/b/bj_oji_cree/bj_oji_cree.kpj
  release/b/bj_oji_cree/extra/Oji-Cree syllabic chart1.pdf
  release/b/bj_oji_cree/source/bj_oji_cree.ico
  release/b/bj_oji_cree/source/bj_oji_cree.kmn
  release/b/bj_oji_cree/source/bj_oji_cree.kps
  release/b/bj_oji_cree/source/bj_oji_cree.kvk
  release/b/bj_oji_cree/source/bj_oji_cree.kvks
  release/b/bj_oji_cree/source/help/bj_oji_cree.php
  release/b/bj_oji_cree/source/ojcree3u.bmp
  release/b/bj_oji_cree/source/readme.htm
  release/b/bj_oji_cree/source/welcome/welcome.htm
Labels: enhancement, keyboard

#376 [sil_nigeria_odd_vowels] Initial commit of Nigeria Odd Vowels (SIL) k…
  legacy/n/nigeria unicode odd vowels/DEPRECATED.md
  release/sil/sil_nigeria_odd_vowels/HISTORY.md
  release/sil/sil_nigeria_odd_vowels/LICENSE.md
  release/sil/sil_nigeria_odd_vowels/README.md
  release/sil/sil_nigeria_odd_vowels/sil_nigeria_odd_vowels.keyboard_info
  release/sil/sil_nigeria_odd_vowels/sil_nigeria_odd_vowels.kpj
  release/sil/sil_nigeria_odd_vowels/source/help/sil_nigeria_odd_vowels.php
  release/sil/sil_nigeria_odd_vowels/source/readme.htm
  release/sil/sil_nigeria_odd_vowels/source/sil_nigeria_odd_vowels.ico
  release/sil/sil_nigeria_odd_vowels/source/sil_nigeria_odd_vowels.kmn
  release/sil/sil_nigeria_odd_vowels/source/sil_nigeria_odd_vowels.kps
  release/sil/sil_nigeria_odd_vowels/source/sil_nigeria_odd_vowels.kvks
  release/sil/sil_nigeria_odd_vowels/source/welcome/style.css
  release/sil/sil_nigeria_odd_vowels/source/welcome/welcome.htm
Labels: keyboard, new

#377 [sil_nigeria_underline] Initial commit
  legacy/n/nigeria unicode underline/DEPRECATED.md
  release/sil/sil_nigeria_underline/HISTORY.md
  release/sil/sil_nigeria_underline/LICENSE.md
  release/sil/sil_nigeria_underline/README.md
  release/sil/sil_nigeria_underline/sil_nigeria_underline.keyboard_info
  release/sil/sil_nigeria_underline/sil_nigeria_underline.kpj
  release/sil/sil_nigeria_underline/source/help/sil_nigeria_underline.php
  release/sil/sil_nigeria_underline/source/readme.htm
  release/sil/sil_nigeria_underline/source/sil_nigeria_underline.ico
  release/sil/sil_nigeria_underline/source/sil_nigeria_underline.kmn
  release/sil/sil_nigeria_underline/source/sil_nigeria_underline.kps
  release/sil/sil_nigeria_underline/source/sil_nigeria_underline.kvks
  release/sil/sil_nigeria_underline/source/welcome/style.css
  release/sil/sil_nigeria_underline/source/welcome/welcome.htm
Labels: keyboard, new

#378 [sil_nigeria_dot] Nigeria Dot (SIL) keyboard
  legacy/n/nigeria unicode dots/DEPRECATED.md
  release/sil/sil_nigeria_dot/HISTORY.md
  release/sil/sil_nigeria_dot/LICENSE.md
  release/sil/sil_nigeria_dot/README.md
  release/sil/sil_nigeria_dot/sil_nigeria_dot.keyboard_info
  release/sil/sil_nigeria_dot/sil_nigeria_dot.kpj
  release/sil/sil_nigeria_dot/source/help/sil_nigeria_dot.php
  release/sil/sil_nigeria_dot/source/readme.htm
  release/sil/sil_nigeria_dot/source/sil_nigeria_dot.ico
  release/sil/sil_nigeria_dot/source/sil_nigeria_dot.kmn
  release/sil/sil_nigeria_dot/source/sil_nigeria_dot.kps
  release/sil/sil_nigeria_dot/source/sil_nigeria_dot.kvks
  release/sil/sil_nigeria_dot/source/welcome/style.css
  release/sil/sil_nigeria_dot/source/welcome/welcome.htm
Labels: keyboard, new

#403 [sil_tai_dam_lao] New keyboard
  release/shared/fonts/laoo/saysettha/Saysettha MX.ttf
  release/sil/sil_tai_dam_lao/HISTORY.md
  release/sil/sil_tai_dam_lao/LICENSE.md
  release/sil/sil_tai_dam_lao/README.md
  release/sil/sil_tai_dam_lao/docs/TD-Lao-US-Layout.docx
  release/sil/sil_tai_dam_lao/docs/TD-Lao-US-Layout.pdf
  release/sil/sil_tai_dam_lao/sil_tai_dam_lao.keyboard_info
  release/sil/sil_tai_dam_lao/sil_tai_dam_lao.kpj
  release/sil/sil_tai_dam_lao/source/help/key-altl.gif
  release/sil/sil_tai_dam_lao/source/help/key-altr.gif
  release/sil/sil_tai_dam_lao/source/help/key-backspace.gif
  release/sil/sil_tai_dam_lao/source/help/key-bkslash.gif
  release/sil/sil_tai_dam_lao/source/help/key-capslock.gif
  release/sil/sil_tai_dam_lao/source/help/key-ctrll.gif
  release/sil/sil_tai_dam_lao/source/help/key-ctrlr.gif
  release/sil/sil_tai_dam_lao/source/help/key-enter.gif
  release/sil/sil_tai_dam_lao/source/help/key-plain.gif
  release/sil/sil_tai_dam_lao/source/help/key-shift102.gif
  release/sil/sil_tai_dam_lao/source/help/key-shiftl.gif
  release/sil/sil_tai_dam_lao/source/help/key-shiftr.gif
  release/sil/sil_tai_dam_lao/source/help/key-space.gif
  release/sil/sil_tai_dam_lao/source/help/key-tab.gif
  release/sil/sil_tai_dam_lao/source/help/sil_tai_dam_lao.php
  release/sil/sil_tai_dam_lao/source/readme.htm
  release/sil/sil_tai_dam_lao/source/sil_tai_dam_lao.ico
  release/sil/sil_tai_dam_lao/source/sil_tai_dam_lao.kmn
  release/sil/sil_tai_dam_lao/source/sil_tai_dam_lao.kps
  release/sil/sil_tai_dam_lao/source/sil_tai_dam_lao.kvks
  release/sil/sil_tai_dam_lao/source/welcome/key-altl.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-altr.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-backspace.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-bkslash.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-capslock.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-ctrll.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-ctrlr.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-enter.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-plain.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-shift102.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-shiftl.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-shiftr.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-space.gif
  release/sil/sil_tai_dam_lao/source/welcome/key-tab.gif
  release/sil/sil_tai_dam_lao/source/welcome/welcome.htm
Labels: keyboard, new

#404 [easy_chakma] Update Help Page
  release/e/easy_chakma/source/help/Guideline.pdf
  release/e/easy_chakma/source/help/easy_chakma.php
  release/e/easy_chakma/source/help/images/image001.jpg
  release/e/easy_chakma/source/help/images/image002.png
  release/e/easy_chakma/source/help/images/image003.png
  release/e/easy_chakma/source/help/images/image004.png
  release/e/easy_chakma/source/help/images/image005.png
  release/e/easy_chakma/source/help/images/image006.png
  release/e/easy_chakma/source/help/images/image009.png
  release/e/easy_chakma/source/help/welcome_files/image001.gif
  release/e/easy_chakma/source/help/welcome_files/image002.gif
  release/e/easy_chakma/source/help/welcome_files/image003.gif
  release/e/easy_chakma/source/help/welcome_files/image004.jpg
  release/e/easy_chakma/source/help/welcome_files/image005.jpg
  release/e/easy_chakma/source/help/welcome_files/image006.jpg
  release/e/easy_chakma/source/help/welcome_files/image007.gif
  release/e/easy_chakma/source/help/welcome_files/image008.jpg
  release/e/easy_chakma/source/help/welcome_files/image009.gif
  release/e/easy_chakma/source/help/welcome_files/image010.gif
Labels: enhancement, keyboard

#411 [meltho] Add Meltho fonts for the Syriac/Aramaic keyboards
  release/shared/fonts/meltho/SyrCOMAdiabene.otf
  release/shared/fonts/meltho/SyrCOMAntioch.otf
  release/shared/fonts/meltho/SyrCOMBatnan.otf
  release/shared/fonts/meltho/SyrCOMBatnanBold.otf
  release/shared/fonts/meltho/SyrCOMCtesiphon.otf
  release/shared/fonts/meltho/SyrCOMEdessa.otf
  release/shared/fonts/meltho/SyrCOMJerusalem.otf
  release/shared/fonts/meltho/SyrCOMJerusalemBold.otf
  release/shared/fonts/meltho/SyrCOMJerusalemItalic.otf
  release/shared/fonts/meltho/SyrCOMJerusalemOutline.otf
  release/shared/fonts/meltho/SyrCOMKharput.otf
  release/shared/fonts/meltho/SyrCOMMalankara.otf
  release/shared/fonts/meltho/SyrCOMMardin.otf
  release/shared/fonts/meltho/SyrCOMMardinBold.otf
  release/shared/fonts/meltho/SyrCOMMidyat.otf
  release/shared/fonts/meltho/SyrCOMNisibin.otf
  release/shared/fonts/meltho/SyrCOMNisibinOutline.otf
  release/shared/fonts/meltho/SyrCOMQenNeshrin.otf
  release/shared/fonts/meltho/SyrCOMTalada.otf
  release/shared/fonts/meltho/SyrCOMTurAbdin.otf
  release/shared/fonts/meltho/SyrCOMUrhoy.otf
  release/shared/fonts/meltho/SyrCOMUrhoyBold.otf
  release/shared/fonts/meltho/font-license.txt
  release/shared/fonts/meltho/melthoguide.doc
  release/shared/fonts/meltho/melthoguide.pdf
Labels: infrastructure
