Repository keymanapp/keyboards, pull requests merged in 2018-05, with the labels that each got.

#93 [gff_tigrinya_ethiopia] Tigrinya Ethiopia Keyboard
  release/gff/gff_tigrinya_ethiopia/HISTORY.md
  release/gff/gff_tigrinya_ethiopia/LICENSE.md
  release/gff/gff_tigrinya_ethiopia/README.md
  release/gff/gff_tigrinya_ethiopia/gff_tigrinya_ethiopia.keyboard_info
  release/gff/gff_tigrinya_ethiopia/gff_tigrinya_ethiopia.kpj
  release/gff/gff_tigrinya_ethiopia/source/AbyssinicaSIL-R.ttf
  release/gff/gff_tigrinya_ethiopia/source/FONTLOG.txt
  release/gff/gff_tigrinya_ethiopia/source/FreeSerif.otf
  release/gff/gff_tigrinya_ethiopia/source/OFL-FAQ.txt
  release/gff/gff_tigrinya_ethiopia/source/OFL.txt
  release/gff/gff_tigrinya_ethiopia/source/README.txt
  release/gff/gff_tigrinya_ethiopia/source/TigrinyaEtTyping-English.docx
  release/gff/gff_tigrinya_ethiopia/source/TigrinyaEtTyping-English.pdf
  release/gff/gff_tigrinya_ethiopia/source/documentation/AbyssinicaSILGraphiteFontFeatures.odt
  release/gff/gff_tigrinya_ethiopia/source/documentation/AbyssinicaSILGraphiteFontFeatures.pdf
  release/gff/gff_tigrinya_ethiopia/source/documentation/AbyssinicaSILOpenTypeFontFeatures.pdf
  release/gff/gff_tigrinya_ethiopia/source/documentation/AbyssinicaSILTypeSample.pdf
  release/gff/gff_tigrinya_ethiopia/source/documentation/AbyssinicaSILTypeTunerGuide.pdf
  release/gff/gff_tigrinya_ethiopia/source/documentation/DOCUMENTATION.txt
  release/gff/gff_tigrinya_ethiopia/source/documentation/SILEthiopicPrivateUseAreaBlock.pdf
  release/gff/gff_tigrinya_ethiopia/source/gff_tigrinya.ico
  release/gff/gff_tigrinya_ethiopia/source/gff_tigrinya_ethiopia.kmn
  release/gff/gff_tigrinya_ethiopia/source/gff_tigrinya_ethiopia.kps
  release/gff/gff_tigrinya_ethiopia/source/gff_tigrinya_ethiopia.kvk
  release/gff/gff_tigrinya_ethiopia/source/welcome.htm
Labels: keyboard, new

#249 [thompsonu-wiwa] Add help from welcome.htm content
  legacy/t/thompsonu/source/help/thompsonu.php
  legacy/t/tunisianspokenarabic/source/help/tunisianarabiclayout.pdf
  legacy/t/tunisianspokenarabic/source/help/tunisianspokenarabic.php
  legacy/t/tunisianspokenarabic/tunisianspokenarabic.keyboard_info
  legacy/t/turkmen/source/help/TKMLUNCD.bmp
  legacy/t/turkmen/source/help/TKMOLD.bmp
  legacy/t/turkmen/source/help/key-altl.gif
  legacy/t/turkmen/source/help/key-altr.gif
  legacy/t/turkmen/source/help/key-backspace.gif
  legacy/t/turkmen/source/help/key-bkslash.gif
  legacy/t/turkmen/source/help/key-capslock.gif
  legacy/t/turkmen/source/help/key-ctrll.gif
  legacy/t/turkmen/source/help/key-ctrlr.gif
  legacy/t/turkmen/source/help/key-enter.gif
  legacy/t/turkmen/source/help/key-plain.gif
  legacy/t/turkmen/source/help/key-shift102.gif
  legacy/t/turkmen/source/help/key-shiftl.gif
  legacy/t/turkmen/source/help/key-shiftr.gif
  legacy/t/turkmen/source/help/key-space.gif
  legacy/t/turkmen/source/help/key-tab.gif
  legacy/t/turkmen/source/help/turkmen.php
  legacy/u/urdu ph - package/source/help/key-altl.gif
  legacy/u/urdu ph - package/source/help/key-altr.gif
  legacy/u/urdu ph - package/source/help/key-backspace.gif
  legacy/u/urdu ph - package/source/help/key-bkslash.gif
  legacy/u/urdu ph - package/source/help/key-capslock.gif
  legacy/u/urdu ph - package/source/help/key-ctrll.gif
  legacy/u/urdu ph - package/source/help/key-ctrlr.gif
  legacy/u/urdu ph - package/source/help/key-enter.gif
  legacy/u/urdu ph - package/source/help/key-plain.gif
  legacy/u/urdu ph - package/source/help/key-shift102.gif
  legacy/u/urdu ph - package/source/help/key-shiftl.gif
  legacy/u/urdu ph - package/source/help/key-shiftr.gif
  legacy/u/urdu ph - package/source/help/key-space.gif
  legacy/u/urdu ph - package/source/help/key-tab.gif
  legacy/u/urdu ph - package/source/help/urdu ph - package.php
  legacy/w/waiwai/source/help/waiwai.php
  legacy/w/wiwa/source/help/wiwa.php
Labels: enhancement, keyboard

#229 [sil_eastern_congo] add sources files for this layout
  legacy/e/ecgunicode/DEPRECATED.md
  release/sil/sil_eastern_congo/HISTORY.md
  release/sil/sil_eastern_congo/LICENSE.md
  release/sil/sil_eastern_congo/README.md
  release/sil/sil_eastern_congo/sil_eastern_congo.keyboard_info
  release/sil/sil_eastern_congo/sil_eastern_congo.kpj
  release/sil/sil_eastern_congo/source/help/sil_eastern_congo.php
  release/sil/sil_eastern_congo/source/help/sil_eastern_congoU_.png
  release/sil/sil_eastern_congo/source/help/sil_eastern_congoU_S.png
  release/sil/sil_eastern_congo/source/readme.htm
  release/sil/sil_eastern_congo/source/sil_eastern_congo.ico
  release/sil/sil_eastern_congo/source/sil_eastern_congo.kmn
  release/sil/sil_eastern_congo/source/sil_eastern_congo.kps
  release/sil/sil_eastern_congo/source/sil_eastern_congo.kvks
  release/sil/sil_eastern_congo/source/welcome/sil_eastern_congoU_.png
  release/sil/sil_eastern_congo/source/welcome/sil_eastern_congoU_S.png
  release/sil/sil_eastern_congo/source/welcome/welcome.htm
Labels: keyboard, new

#253 Migrate deprecated language tags in keyboard_info files
  .gitignore
  legacy/b/brazilian_portuguese/brazilian_portuguese.keyboard_info
  legacy/b/bu/bu.keyboard_info
  legacy/c/canadian_french/canadian_french.keyboard_info
  legacy/c/canadian_french_legacy/canadian_french_legacy.keyboard_info
  legacy/c/canadian_ms/canadian_ms.keyboard_info
  legacy/e/european/european.keyboard_info
  legacy/e/european2/european2.keyboard_info
  legacy/i/indic roman transliteration/indic roman transliteration.keyboard_info
  legacy/i/ipa93_km5/ipa93_km5.keyboard_info
  legacy/i/ipatotal/ipatotal.keyboard_info
  legacy/i/ipauni11/ipauni11.keyboard_info
  legacy/i/ipauni111/ipauni111.keyboard_info
  legacy/isis/isis_gurmukhi/isis_gurmukhi.keyboard_info
  legacy/n/naijanfd10/naijanfd10.keyboard_info
  legacy/n/nootka/nootka.keyboard_info
  legacy/n/nuuchahnulth_u/nuuchahnulth_u.keyboard_info
  legacy/p/portuguese_abnt/portuguese_abnt.keyboard_info
  legacy/p/portuguese_abnt2/portuguese_abnt2.keyboard_info
  legacy/y/yolngu20/yolngu20.keyboard_info
  legacy/y/yolngu21/yolngu21.keyboard_info
  release/el/el_naija/el_naija.keyboard_info
  release/el/el_yolngu/el_yolngu.keyboard_info
  release/fv/fv_diitiidatx/fv_diitiidatx.keyboard_info
  release/fv/fv_diitiidatx_kmw/fv_diitiidatx_kmw.keyboard_info
  release/fv/fv_nuucaanul/fv_nuucaanul.keyboard_info
  release/fv/fv_nuucaanul_kmw/fv_nuucaanul_kmw.keyboard_info
  release/n/nw_iranian_latin/nw_iranian_latin.keyboard_info
Labels: enhancement

#256 [yidgha] initial submission of yidgha
  release/y/yidgha/HISTORY.md
  release/y/yidgha/LICENSE.md
  release/y/yidgha/README.md
  release/y/yidgha/source/readme.htm
  release/y/yidgha/source/welcome/shift.png
  release/y/yidgha/source/welcome/standard.png
  release/y/yidgha/source/welcome/welcome.htm
  release/y/yidgha/source/yidgha-layout.js
  release/y/yidgha/source/yidgha.ico
  release/y/yidgha/source/yidgha.kmn
  release/y/yidgha/source/yidgha.kps
  release/y/yidgha/source/yidgha.kvks
  release/y/yidgha/source/yidgha.xcf
  release/y/yidgha/yidgha.keyboard_info
  release/y/yidgha/yidgha.kpj
Labels: keyboard, new

#243 [sil_tchad] migration to github repo
  legacy/t/tchadunicode_with_charis_fonts/DEPRECATED.md
  release/sil/sil_tchad/HISTORY.md
  release/sil/sil_tchad/LICENSE.md
  release/sil/sil_tchad/README.md
  release/sil/sil_tchad/sil_tchad.keyboard_info
  release/sil/sil_tchad/sil_tchad.kpj
  release/sil/sil_tchad/source/help/sil_tchad.php
  release/sil/sil_tchad/source/readme.htm
  release/sil/sil_tchad/source/sil_tchad-layout.js
  release/sil/sil_tchad/source/sil_tchad.ico
  release/sil/sil_tchad/source/sil_tchad.kmn
  release/sil/sil_tchad/source/sil_tchad.kps
  release/sil/sil_tchad/source/sil_tchad.kvks
  release/sil/sil_tchad/source/sil_tchad_logo.png
  release/sil/sil_tchad/source/welcome/welcome-fra.htm
  release/sil/sil_tchad/source/welcome/welcome.htm
Labels: keyboard

#260 [sil_yi] migration of keyboard layout
  legacy/y/yi/DEPRECATED.md
  release/sil/sil_yi/HISTORY.md
  release/sil/sil_yi/LICENSE.md
  release/sil/sil_yi/README.md
  release/sil/sil_yi/sil_yi.keyboard_info
  release/sil/sil_yi/sil_yi.kpj
  release/sil/sil_yi/source/help/sil_yi.php
  release/sil/sil_yi/source/readme.htm
  release/sil/sil_yi/source/sil_yi.bmp
  release/sil/sil_yi/source/sil_yi.kmn
  release/sil/sil_yi/source/sil_yi.kps
  release/sil/sil_yi/source/welcome/welcome.htm
Labels: keyboard

#257 [sil_hebrew] Inital migration of sil_hebrew keyboard
  legacy/e/ezrasil251/DEPRECATED.md
  release/sil/sil_hebrew/HISTORY.md
  release/sil/sil_hebrew/LICENSE.md
  release/sil/sil_hebrew/README.md
  release/sil/sil_hebrew/sil_hebrew.keyboard_info
  release/sil/sil_hebrew/sil_hebrew.kpj
  release/sil/sil_hebrew/source/help/sil_hebrew.php
  release/sil/sil_hebrew/source/help/sil_hebrewU_.png
  release/sil/sil_hebrew/source/help/sil_hebrewU_A.png
  release/sil/sil_hebrew/source/help/sil_hebrewU_S.png
  release/sil/sil_hebrew/source/help/sil_hebrewU_SA.png
  release/sil/sil_hebrew/source/readme.htm
  release/sil/sil_hebrew/source/sil_hebrew.ico
  release/sil/sil_hebrew/source/sil_hebrew.kmn
  release/sil/sil_hebrew/source/sil_hebrew.kps
  release/sil/sil_hebrew/source/sil_hebrew.kvks
  release/sil/sil_hebrew/source/welcome/sil_hebrewU_.png
  release/sil/sil_hebrew/source/welcome/sil_hebrewU_A.png
  release/sil/sil_hebrew/source/welcome/sil_hebrewU_S.png
  release/sil/sil_hebrew/source/welcome/sil_hebrewU_SA.png
  release/sil/sil_hebrew/source/welcome/welcome.htm
Labels: keyboard

#252 [gff_tigrinya_ethiopia] added help file
  release/gff/gff_tigrinya_ethiopia/source/help/gff_tigrinya_ethiopia.php
Labels: enhancement, keyboard

#267 [rac_kalasha] Added example text and id changed to include language name
  release/rac/rac_kalasha/HISTORY.md
  release/rac/rac_kalasha/LICENSE.md
  release/rac/rac_kalasha/README.md
  release/rac/rac_kalasha/rac_kalasha.keyboard_info
  release/rac/rac_kalasha/rac_kalasha.kpj
  release/rac/rac_kalasha/source/FONTLOG.txt
  release/rac/rac_kalasha/source/OFL-FAQ.txt
  release/rac/rac_kalasha/source/OFL.txt
  release/rac/rac_kalasha/source/Scheherazade-Bold.ttf
  release/rac/rac_kalasha/source/Scheherazade-Regular.ttf
  release/rac/rac_kalasha/source/Scheherazade_README.txt
  release/rac/rac_kalasha/source/help/KalashaAltGr.jpg
  release/rac/rac_kalasha/source/help/KalashaBase.jpg
  release/rac/rac_kalasha/source/help/KalashaShift.jpg
  release/rac/rac_kalasha/source/help/keyboard_layout.png
  release/rac/rac_kalasha/source/help/rac_kalasha.php
  release/rac/rac_kalasha/source/rac_kalasha.kmn
  release/rac/rac_kalasha/source/rac_kalasha.kps
  release/rac/rac_kalasha/source/rac_kalasha.kvk
  release/rac/rac_kalasha/source/rac_kalasha.kvks
  release/rac/rac_kalasha/source/readme.htm
  release/rac/rac_kalasha/source/welcome/KalashaAltGr.jpg
  release/rac/rac_kalasha/source/welcome/KalashaBase.jpg
  release/rac/rac_kalasha/source/welcome/KalashaShift.jpg
  release/rac/rac_kalasha/source/welcome/welcome.htm
Labels: enhancement, keyboard

#268 [yidgha] Added help file
  release/y/yidgha/source/help/shift.png
  release/y/yidgha/source/help/standard.png
  release/y/yidgha/source/help/yidgha.php
Labels: enhancement, keyboard

#287 [sil_hebrew] added script subtag to language tag
  release/sil/sil_hebrew/HISTORY.md
  release/sil/sil_hebrew/README.md
  release/sil/sil_hebrew/sil_hebrew.keyboard_info
  release/sil/sil_hebrew/sil_hebrew.kpj
  release/sil/sil_hebrew/source/sil_hebrew.kmn
  release/sil/sil_hebrew/source/sil_hebrew.kps
Labels: enhancement, keyboard

#228 [sil_cameroun_azerty] Initial source files
  legacy/c/cameroon azerty unicode/DEPRECATED.md
  release/sil/sil_cameroon_azerty/HISTORY.md
  release/sil/sil_cameroon_azerty/LICENSE.md
  release/sil/sil_cameroon_azerty/README.md
  release/sil/sil_cameroon_azerty/sil_cameroon_azerty.keyboard_info
  release/sil/sil_cameroon_azerty/sil_cameroon_azerty.kpj
  release/sil/sil_cameroon_azerty/source/help/sil_cameroon_azerty.php
  release/sil/sil_cameroon_azerty/source/help/sil_cameroon_azertyU_.png
  release/sil/sil_cameroon_azerty/source/help/sil_cameroon_azertyU_RA.png
  release/sil/sil_cameroon_azerty/source/help/sil_cameroon_azertyU_S.png
  release/sil/sil_cameroon_azerty/source/readme.htm
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.ico
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kmn
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kps
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kvks
  release/sil/sil_cameroon_azerty/source/welcome/keyinfo.png
  release/sil/sil_cameroon_azerty/source/welcome/keylayout.png
  release/sil/sil_cameroon_azerty/source/welcome/sil_cameroon_azertyU_.png
  release/sil/sil_cameroon_azerty/source/welcome/sil_cameroon_azertyU_RA.png
  release/sil/sil_cameroon_azerty/source/welcome/sil_cameroon_azertyU_S.png
  release/sil/sil_cameroon_azerty/source/welcome/welcome.htm
Labels: keyboard, new

#275 [sil_greek_polytonic] Migration to github
  legacy/g/grkpolycompv103/DEPRECATED.md
  release/sil/sil_greek_polytonic/HISTORY.md
  release/sil/sil_greek_polytonic/LICENSE.md
  release/sil/sil_greek_polytonic/README.md
  release/sil/sil_greek_polytonic/sil_greek_polytonic.keyboard_info
  release/sil/sil_greek_polytonic/sil_greek_polytonic.kpj
  release/sil/sil_greek_polytonic/source/help/sil_greek_polytonic.php
  release/sil/sil_greek_polytonic/source/help/sil_greek_polytonicU_.png
  release/sil/sil_greek_polytonic/source/help/sil_greek_polytonicU_S.png
  release/sil/sil_greek_polytonic/source/readme.htm
  release/sil/sil_greek_polytonic/source/sil_greek_polytonic.ico
  release/sil/sil_greek_polytonic/source/sil_greek_polytonic.kmn
  release/sil/sil_greek_polytonic/source/sil_greek_polytonic.kps
  release/sil/sil_greek_polytonic/source/sil_greek_polytonic.kvks
  release/sil/sil_greek_polytonic/source/welcome/sil_greek_polytonicU_.png
  release/sil/sil_greek_polytonic/source/welcome/sil_greek_polytonicU_S.png
  release/sil/sil_greek_polytonic/source/welcome/welcome.htm
Labels: keyboard, new

#263 [quinault] Added Quinault keyboard
  release/q/quinault/HISTORY.md
  release/q/quinault/LICENSE.md
  release/q/quinault/README.md
  release/q/quinault/quinault.keyboard_info
  release/q/quinault/quinault.kpj
  release/q/quinault/source/help/quinault.php
  release/q/quinault/source/help/quinault_default.png
  release/q/quinault/source/help/quinault_shift.png
  release/q/quinault/source/quinault-layout.js
  release/q/quinault/source/quinault.ico
  release/q/quinault/source/quinault.kmn
  release/q/quinault/source/quinault.kps
  release/q/quinault/source/quinault.kvks
  release/q/quinault/source/readme.htm
  release/q/quinault/source/welcome/quinault_default.png
  release/q/quinault/source/welcome/quinault_shift.png
  release/q/quinault/source/welcome/welcome.htm
Labels: keyboard, new

#279 [jorai] update BCP47 code and language name
  release/j/jorai/HISTORY.md
  release/j/jorai/jorai.keyboard_info
  release/j/jorai/jorai.kpj
  release/j/jorai/source/jorai.kmn
  release/j/jorai/source/jorai.kps
  release/j/jorai/source/jorai.kvks
Labels: enhancement, keyboard

#280 [rac_khowar] Added digits to shift layer and moved punct to ctrl alt …
  release/rac/rac_khowar/HISTORY.md
  release/rac/rac_khowar/LICENSE.md
  release/rac/rac_khowar/README.md
  release/rac/rac_khowar/rac_khowar.keyboard_info
  release/rac/rac_khowar/rac_khowar.kpj
  release/rac/rac_khowar/source/OFL-FAQ.txt
  release/rac/rac_khowar/source/OFL.txt
  release/rac/rac_khowar/source/Scheherazade-Bold.ttf
  release/rac/rac_khowar/source/Scheherazade-FONTLOG.txt
  release/rac/rac_khowar/source/Scheherazade-README.txt
  release/rac/rac_khowar/source/Scheherazade-Regular.ttf
  release/rac/rac_khowar/source/help/rac_khowar.php
  release/rac/rac_khowar/source/help/rac_khowar.png
  release/rac/rac_khowar/source/rac_khowar-layout.js
  release/rac/rac_khowar/source/rac_khowar.kmn
  release/rac/rac_khowar/source/rac_khowar.kps
  release/rac/rac_khowar/source/rac_khowar.kvk
  release/rac/rac_khowar/source/rac_khowar.kvks
  release/rac/rac_khowar/source/welcome/rac_khowar.png
Labels: enhancement, keyboard

#284 [sil_bari] Initial Bari keyboard
  release/sil/sil_bari/HISTORY.md
  release/sil/sil_bari/LICENSE.md
  release/sil/sil_bari/README.md
  release/sil/sil_bari/sil_bari.keyboard_info
  release/sil/sil_bari/sil_bari.kpj
  release/sil/sil_bari/source/help/keyboard_layout.png
  release/sil/sil_bari/source/help/sil_bari.php
  release/sil/sil_bari/source/readme.htm
  release/sil/sil_bari/source/sil_bari-layout.js
  release/sil/sil_bari/source/sil_bari.kmn
  release/sil/sil_bari/source/sil_bari.kps
  release/sil/sil_bari/source/sil_bari.kvks
  release/sil/sil_bari/source/welcome/keyboard_layout.png
  release/sil/sil_bari/source/welcome/welcome.htm
Labels: keyboard, new

#299 [legacy-help] Help files for legacy keyboards (easy ones)
  legacy/a/amazigh_lat.kmn/source/help/amazigh keyboard help.pdf
  legacy/a/amazigh_lat.kmn/source/help/amazigh_lat.kmn.php
  legacy/b/bukawa/source/help/bukawa.php
  legacy/kbd/kbdcz/source/help/kbdcz.php
  legacy/kbd/kbdcz/source/help/keyboard_layout.png
  legacy/l/laounicodebasic_on_thaikbd/source/help/image001.gif
  legacy/l/laounicodebasic_on_thaikbd/source/help/image002.jpg
  legacy/l/laounicodebasic_on_thaikbd/source/help/image006.jpg
  legacy/l/laounicodebasic_on_thaikbd/source/help/laounicodebasic_on_thaikbd.php
  legacy/n/ndailu keyman keyboard/source/help/DaiLue Keyboard Shifted.PNG
  legacy/n/ndailu keyman keyboard/source/help/DaiLue Keyboard.PNG
  legacy/n/ndailu keyman keyboard/source/help/Documentation for the N Dai Lu 2.pdf
  legacy/n/ndailu keyman keyboard/source/help/ndailu keyman keyboard.php
  legacy/p/phoneticarabic/source/help/phoneticarabic.php
  legacy/r/russian-tajik/source/help/russian-tajik.php
  legacy/s/sipon phonetic sinhala/source/help/sipon phonetic sinhala.php
Labels: enhancement

#291 [rohingya_arab] Initial Rohingya Arabic keyboard
  release/r/rohingya_arab/HISTORY.md
  release/r/rohingya_arab/LICENSE.md
  release/r/rohingya_arab/README.md
  release/r/rohingya_arab/rohingya_arab.keyboard_info
  release/r/rohingya_arab/rohingya_arab.kpj
  release/r/rohingya_arab/source/FONTLOG.txt
  release/r/rohingya_arab/source/OFL-FAQ.txt
  release/r/rohingya_arab/source/OFL.txt
  release/r/rohingya_arab/source/Scheherazade-Rohingya-Bold.ttf
  release/r/rohingya_arab/source/Scheherazade-Rohingya-Regular.ttf
  release/r/rohingya_arab/source/Scheherazade_README.txt
  release/r/rohingya_arab/source/help/rohingya_arab.php
  release/r/rohingya_arab/source/help/rohingya_arab.png
  release/r/rohingya_arab/source/readme.htm
  release/r/rohingya_arab/source/rohingya_arab.ico
  release/r/rohingya_arab/source/rohingya_arab.js
  release/r/rohingya_arab/source/rohingya_arab.kmn
  release/r/rohingya_arab/source/rohingya_arab.kps
  release/r/rohingya_arab/source/rohingya_arab.kvks
  release/r/rohingya_arab/source/welcome/rohingya_arab.png
  release/r/rohingya_arab/source/welcome/welcome.htm
Labels: keyboard, new

#309 Ensure that when the build aborts, it has a non-zero error code.
  resources/util.sh
Labels: bug

#303 [kmhmu_2008] migration to github
  legacy/k/kmhmu/DEPRECATED.md
  release/k/kmhmu_2008/HISTORY.md
  release/k/kmhmu_2008/LICENSE.md
  release/k/kmhmu_2008/README.md
  release/k/kmhmu_2008/assets/KmhmuMX_README.txt
  release/k/kmhmu_2008/assets/Kmhmu_MX.TTF
  release/k/kmhmu_2008/assets/OFL-FAQ.txt
  release/k/kmhmu_2008/assets/OFL.txt
  release/k/kmhmu_2008/kmhmu_2008.keyboard_info
  release/k/kmhmu_2008/kmhmu_2008.kpj
  release/k/kmhmu_2008/source/Kmhmu 2008.kvk
  release/k/kmhmu_2008/source/help/kmhmu_2008.php
  release/k/kmhmu_2008/source/help/kmhmu_2008U_.png
  release/k/kmhmu_2008/source/help/kmhmu_2008U_RA.png
  release/k/kmhmu_2008/source/help/kmhmu_2008U_S.png
  release/k/kmhmu_2008/source/kmhmu_2008.ico
  release/k/kmhmu_2008/source/kmhmu_2008.kmn
  release/k/kmhmu_2008/source/kmhmu_2008.kps
  release/k/kmhmu_2008/source/kmhmu_2008.kvks
  release/k/kmhmu_2008/source/readme.htm
  release/k/kmhmu_2008/source/welcome/kmhmu_2008U_.png
  release/k/kmhmu_2008/source/welcome/kmhmu_2008U_RA.png
  release/k/kmhmu_2008/source/welcome/kmhmu_2008U_S.png
  release/k/kmhmu_2008/source/welcome/welcome.htm
Labels: keyboard, new

#305 [lao_2008_rapid] migration to github
  legacy/l/lao 2008/DEPRECATED.md
  legacy/l/lao_2008_basic/DEPRECATED.md
  release/l/lao_2008_rapid/HISTORY.md
  release/l/lao_2008_rapid/LICENSE.md
  release/l/lao_2008_rapid/README.md
  release/l/lao_2008_rapid/assets/OFL-FAQ.txt
  release/l/lao_2008_rapid/assets/OFL.txt
  release/l/lao_2008_rapid/assets/Saysettha_OT_README.txt
  release/l/lao_2008_rapid/assets/saysettha_ot.ttf
  release/l/lao_2008_rapid/lao_2008_rapid.keyboard_info
  release/l/lao_2008_rapid/lao_2008_rapid.kpj
  release/l/lao_2008_rapid/source/help/lao_2008_rapid.php
  release/l/lao_2008_rapid/source/help/lao_2008_rapidU_.png
  release/l/lao_2008_rapid/source/help/lao_2008_rapidU_RA.png
  release/l/lao_2008_rapid/source/help/lao_2008_rapidU_S.png
  release/l/lao_2008_rapid/source/lao_2008_rapid.ico
  release/l/lao_2008_rapid/source/lao_2008_rapid.kmn
  release/l/lao_2008_rapid/source/lao_2008_rapid.kps
  release/l/lao_2008_rapid/source/lao_2008_rapid.kvks
  release/l/lao_2008_rapid/source/readme.html
  release/l/lao_2008_rapid/source/welcome/lao_2008_rapidU_.png
  release/l/lao_2008_rapid/source/welcome/lao_2008_rapidU_RA.png
  release/l/lao_2008_rapid/source/welcome/lao_2008_rapidU_S.png
  release/l/lao_2008_rapid/source/welcome/welcome.htm
Labels: keyboard, new

#290 [el_pasifika] porting to crossplatform version to GitHub
  legacy/p/pasifika20/DEPRECATED.md
  release/el/el_pasifika/HISTORY.md
  release/el/el_pasifika/LICENSE.md
  release/el/el_pasifika/README.md
  release/el/el_pasifika/el_pasifika.keyboard_info
  release/el/el_pasifika/el_pasifika.kpj
  release/el/el_pasifika/source/el_pasifika-layout.js
  release/el/el_pasifika/source/el_pasifika.ico
  release/el/el_pasifika/source/el_pasifika.kmn
  release/el/el_pasifika/source/el_pasifika.kps
  release/el/el_pasifika/source/el_pasifika.kvks
  release/el/el_pasifika/source/help/el_pasifika.php
  release/el/el_pasifika/source/help/el_pasifikaU_.png
  release/el/el_pasifika/source/help/el_pasifikaU_RA.png
  release/el/el_pasifika/source/help/el_pasifikaU_S.png
  release/el/el_pasifika/source/help/el_pasifikaU_SRA.png
  release/el/el_pasifika/source/readme.htm
  release/el/el_pasifika/source/welcome/el_pasifikaU_.png
  release/el/el_pasifika/source/welcome/el_pasifikaU_RA.png
  release/el/el_pasifika/source/welcome/el_pasifikaU_S.png
  release/el/el_pasifika/source/welcome/el_pasifikaU_SRA.png
  release/el/el_pasifika/source/welcome/welcome.htm
Labels: enhancement, keyboard, new

#307 [sil_tai_dam-help] Add help file
  release/sil/sil_tai_dam/source/help/sil_tai_dam.php
  release/sil/sil_tai_dam/source/help/sil_tai_dam_layout.png
Labels: enhancement

#278 [osage_nation] Changed touch key and .kvk to .kvks
  release/o/osage_nation/HISTORY.md
  release/o/osage_nation/README.md
  release/o/osage_nation/osage_nation.keyboard_info
  release/o/osage_nation/osage_nation.kpj
  release/o/osage_nation/source/help/osage_nation.php
  release/o/osage_nation/source/osage_nation-layout.js
  release/o/osage_nation/source/osage_nation.kmn
  release/o/osage_nation/source/osage_nation.kps
  release/o/osage_nation/source/osage_nation.kvk
  release/o/osage_nation/source/osage_nation.kvks
  release/o/osage_nation/source/welcome/welcome.htm
Labels: enhancement, keyboard

#273 [rac_burushaski] Initial commit
  release/rac/rac_burushaski/HISTORY.md
  release/rac/rac_burushaski/LICENSE.md
  release/rac/rac_burushaski/README.md
  release/rac/rac_burushaski/rac_burushaski.keyboard_info
  release/rac/rac_burushaski/rac_burushaski.kpj
  release/rac/rac_burushaski/source/help/keyboard_layout.png
  release/rac/rac_burushaski/source/help/rac_burushaski.php
  release/rac/rac_burushaski/source/rac_burushaski-layout.js
  release/rac/rac_burushaski/source/rac_burushaski.ico
  release/rac/rac_burushaski/source/rac_burushaski.kmn
  release/rac/rac_burushaski/source/rac_burushaski.kps
  release/rac/rac_burushaski/source/rac_burushaski.kvks
  release/rac/rac_burushaski/source/readme.htm
  release/rac/rac_burushaski/source/welcome/keyboard_layout.png
  release/rac/rac_burushaski/source/welcome/welcome.htm
Labels: keyboard, new

#315 Support keyboards-starter repo with build script
  build.sh
  resources/compile.sh
Labels: enhancement

#304 [lao_2008_basic] migration to github
  legacy/l/lao_2008_basic/DEPRECATED.md
  legacy/l/lao_2008_basic/lao_2008_basic.keyboard_info
  legacy/l/lao_2008_basic/source/help/lao_2008_basic.php
  legacy/l/lao_2008_basic/source/lao_2008_basic.js
  release/l/lao_2008_basic/HISTORY.md
  release/l/lao_2008_basic/LICENSE.md
  release/l/lao_2008_basic/README.md
  release/l/lao_2008_basic/assets/OFL-FAQ.txt
  release/l/lao_2008_basic/assets/OFL.txt
  release/l/lao_2008_basic/assets/Saysettha_OT_README.txt
  release/l/lao_2008_basic/assets/saysettha_ot.ttf
  release/l/lao_2008_basic/lao_2008_basic.keyboard_info
  release/l/lao_2008_basic/lao_2008_basic.kpj
  release/l/lao_2008_basic/source/help/lao_2008_basic.php
  release/l/lao_2008_basic/source/help/lao_2008_basicU_.png
  release/l/lao_2008_basic/source/help/lao_2008_basicU_RA.png
  release/l/lao_2008_basic/source/help/lao_2008_basicU_S.png
  release/l/lao_2008_basic/source/lao_2008_basic.ico
  release/l/lao_2008_basic/source/lao_2008_basic.kmn
  release/l/lao_2008_basic/source/lao_2008_basic.kps
  release/l/lao_2008_basic/source/lao_2008_basic.kvks
  release/l/lao_2008_basic/source/readme.htm
  release/l/lao_2008_basic/source/welcome/lao_2008_basicU_.png
  release/l/lao_2008_basic/source/welcome/lao_2008_basicU_RA.png
  release/l/lao_2008_basic/source/welcome/lao_2008_basicU_S.png
  release/l/lao_2008_basic/source/welcome/welcome.htm
Labels: keyboard, new
