Repository keymanapp/keyboards, pull requests merged in 2019-08, with the labels that each got.

#827 [basic_kbdfi1] Finnish-Swedish with Sami Basic: Import from Win10 and include mobile layout
  legacy/f/finnish_sami/DEPRECATED.md
  legacy/kbd/kbdfi1/DEPRECATED.md
  legacy/s/swedish_sami/DEPRECATED.md
  release/basic/basic_kbdfi1/HISTORY.md
  release/basic/basic_kbdfi1/LICENSE.md
  release/basic/basic_kbdfi1/README.md
  release/basic/basic_kbdfi1/basic_kbdfi1.keyboard_info
  release/basic/basic_kbdfi1/basic_kbdfi1.kpj
  release/basic/basic_kbdfi1/source/basic_kbdfi1.ico
  release/basic/basic_kbdfi1/source/basic_kbdfi1.keyman-touch-layout
  release/basic/basic_kbdfi1/source/basic_kbdfi1.kmn
  release/basic/basic_kbdfi1/source/basic_kbdfi1.kps
  release/basic/basic_kbdfi1/source/basic_kbdfi1.kvks
  release/basic/basic_kbdfi1/source/help/basic_kbdfi1.php
  release/basic/basic_kbdfi1/source/readme.htm
  release/basic/basic_kbdfi1/source/welcome/LayoutU_.png
  release/basic/basic_kbdfi1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdfi1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdfi1/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdfi1/source/welcome/welcome.htm
Labels: keyboard, new

#833 [basic_kbdsf] Swiss French Basic import from Win10
  legacy/kbd/kbdsf/DEPRECATED.md
  legacy/s/swiss_french/DEPRECATED.md
  release/basic/basic_kbdsf/HISTORY.md
  release/basic/basic_kbdsf/LICENSE.md
  release/basic/basic_kbdsf/README.md
  release/basic/basic_kbdsf/basic_kbdsf.keyboard_info
  release/basic/basic_kbdsf/basic_kbdsf.kpj
  release/basic/basic_kbdsf/source/basic_kbdsf.ico
  release/basic/basic_kbdsf/source/basic_kbdsf.keyman-touch-layout
  release/basic/basic_kbdsf/source/basic_kbdsf.kmn
  release/basic/basic_kbdsf/source/basic_kbdsf.kps
  release/basic/basic_kbdsf/source/basic_kbdsf.kvks
  release/basic/basic_kbdsf/source/help/basic_kbdsf.php
  release/basic/basic_kbdsf/source/readme.htm
  release/basic/basic_kbdsf/source/welcome/LayoutU_.png
  release/basic/basic_kbdsf/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsf/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsf/source/welcome/welcome.htm
Labels: keyboard, new

#832 [basic_kbdbr] Portuguese (Brazilian) Basic Win10 import
  legacy/b/brazilian_portuguese/DEPRECATED.md
  legacy/kbd/kbdbr/DEPRECATED.md
  legacy/p/portuguese_abnt/DEPRECATED.md
  legacy/p/portuguese_abnt2/DEPRECATED.md
  release/basic/basic_kbdbr/HISTORY.md
  release/basic/basic_kbdbr/LICENSE.md
  release/basic/basic_kbdbr/README.md
  release/basic/basic_kbdbr/basic_kbdbr.keyboard_info
  release/basic/basic_kbdbr/basic_kbdbr.kpj
  release/basic/basic_kbdbr/source/basic_kbdbr.ico
  release/basic/basic_kbdbr/source/basic_kbdbr.keyman-touch-layout
  release/basic/basic_kbdbr/source/basic_kbdbr.kmn
  release/basic/basic_kbdbr/source/basic_kbdbr.kps
  release/basic/basic_kbdbr/source/basic_kbdbr.kvks
  release/basic/basic_kbdbr/source/help/basic_kbdbr.php
  release/basic/basic_kbdbr/source/readme.htm
  release/basic/basic_kbdbr/source/welcome/LayoutU_.png
  release/basic/basic_kbdbr/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdbr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdbr/source/welcome/welcome.htm
Labels: keyboard, new

#838 [basic_kbdinbe2] Bengali - INSCRIPT Basic imported from Win10
  legacy/b/bengali_inscript/DEPRECATED.md
  legacy/kbd/kbdinbe1/DEPRECATED.md
  legacy/kbd/kbdinbe2/DEPRECATED.md
  release/basic/basic_kbdinbe2/HISTORY.md
  release/basic/basic_kbdinbe2/LICENSE.md
  release/basic/basic_kbdinbe2/README.md
  release/basic/basic_kbdinbe2/basic_kbdinbe2.keyboard_info
  release/basic/basic_kbdinbe2/basic_kbdinbe2.kpj
  release/basic/basic_kbdinbe2/source/basic_kbdinbe2.ico
  release/basic/basic_kbdinbe2/source/basic_kbdinbe2.keyman-touch-layout
  release/basic/basic_kbdinbe2/source/basic_kbdinbe2.kmn
  release/basic/basic_kbdinbe2/source/basic_kbdinbe2.kps
  release/basic/basic_kbdinbe2/source/basic_kbdinbe2.kvks
  release/basic/basic_kbdinbe2/source/help/basic_kbdinbe2.php
  release/basic/basic_kbdinbe2/source/readme.htm
  release/basic/basic_kbdinbe2/source/welcome/LayoutU_.png
  release/basic/basic_kbdinbe2/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinbe2/source/welcome/LayoutU_SC.png
  release/basic/basic_kbdinbe2/source/welcome/welcome.htm
Labels: keyboard, new

#837 [basic_kbdinasa] Assamese - INSCRIPT Basic Win10 import with new mobile layout
  legacy/kbd/kbdinasa/DEPRECATED.md
  release/basic/basic_kbdinasa/HISTORY.md
  release/basic/basic_kbdinasa/LICENSE.md
  release/basic/basic_kbdinasa/README.md
  release/basic/basic_kbdinasa/basic_kbdinasa.keyboard_info
  release/basic/basic_kbdinasa/basic_kbdinasa.kpj
  release/basic/basic_kbdinasa/source/basic_kbdinasa.ico
  release/basic/basic_kbdinasa/source/basic_kbdinasa.keyman-touch-layout
  release/basic/basic_kbdinasa/source/basic_kbdinasa.kmn
  release/basic/basic_kbdinasa/source/basic_kbdinasa.kps
  release/basic/basic_kbdinasa/source/basic_kbdinasa.kvks
  release/basic/basic_kbdinasa/source/help/basic_kbdinasa.php
  release/basic/basic_kbdinasa/source/readme.htm
  release/basic/basic_kbdinasa/source/welcome/LayoutU_.png
  release/basic/basic_kbdinasa/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinasa/source/welcome/LayoutU_SC.png
  release/basic/basic_kbdinasa/source/welcome/welcome.htm
Labels: keyboard, new

#839 Ensure s.keyman.com clone is up to date before pushing changes (reduces risk of CI failing)
  resources/s-keyman-com.sh
Labels: bug, infrastructure

#840 [haroi] Haroi Keyboard Adapted from VNI.
  release/h/haroi/HISTORY.md
  release/h/haroi/LICENSE.md
  release/h/haroi/README.md
  release/h/haroi/haroi.keyboard_info
  release/h/haroi/haroi.kpj
  release/h/haroi/source/haroi.ico
  release/h/haroi/source/haroi.keyman-touch-layout
  release/h/haroi/source/haroi.kmn
  release/h/haroi/source/haroi.kps
  release/h/haroi/source/haroi.kvks
  release/h/haroi/source/help/haroi.php
  release/h/haroi/source/readme.htm
  release/h/haroi/source/welcome/desktop_layout.png
  release/h/haroi/source/welcome/touch_layout_default.png
  release/h/haroi/source/welcome/touch_layout_longpress.png
  release/h/haroi/source/welcome/touch_layout_numeric.png
  release/h/haroi/source/welcome/touch_layout_shift.png
  release/h/haroi/source/welcome/welcome.htm
Labels: keyboard, new

#842 [balochi_inpage] Balochi InPage Initial version.
  release/b/balochi_inpage/HISTORY.md
  release/b/balochi_inpage/LICENSE.md
  release/b/balochi_inpage/README.md
  release/b/balochi_inpage/balochi_inpage.keyboard_info
  release/b/balochi_inpage/balochi_inpage.kpj
  release/b/balochi_inpage/extras/zwj.bmp
  release/b/balochi_inpage/extras/zwnj.bmp
  release/b/balochi_inpage/source/balochi_inpage.ico
  release/b/balochi_inpage/source/balochi_inpage.keyman-touch-layout
  release/b/balochi_inpage/source/balochi_inpage.kmn
  release/b/balochi_inpage/source/balochi_inpage.kps
  release/b/balochi_inpage/source/balochi_inpage.kvks
  release/b/balochi_inpage/source/help/balochi_inpage.php
  release/b/balochi_inpage/source/readme.htm
  release/b/balochi_inpage/source/welcome/inpageU_.png
  release/b/balochi_inpage/source/welcome/inpageU_A.png
  release/b/balochi_inpage/source/welcome/inpageU_C.png
  release/b/balochi_inpage/source/welcome/inpageU_S.png
  release/b/balochi_inpage/source/welcome/inpageU_SA.png
  release/b/balochi_inpage/source/welcome/welcome.htm
Labels: keyboard, new

#848 [balochi_scientific] Changed the keyboard_info description.
  release/b/balochi_scientific/balochi_scientific.keyboard_info
Labels: infrastructure, keyboard

#845 [balochi_inpage] Change keyboard_info description
  release/b/balochi_inpage/balochi_inpage.keyboard_info
Labels: enhancement, keyboard

#749 [fv_all] Add fv_all package and custom build
  release/fv/fv_dakelh/fv_dakelh.kpj
  release/fv/fv_sencoten/fv_sencoten.kpj
  release/packages/fv_all/.gitignore
  release/packages/fv_all/HISTORY.md
  release/packages/fv_all/LICENSE.md
  release/packages/fv_all/README.md
  release/packages/fv_all/build.sh
  release/packages/fv_all/fv_all.keyboard_info
  release/packages/fv_all/fv_all.kpj
  release/packages/fv_all/parse_kps.pl
  release/packages/fv_all/source/fv_all.kps.in
  release/packages/fv_all/source/readme.htm
  resources/compile.sh
Labels: keyboard, new

#850 [Infrastructure] Support building just a shortname-group of keyboards
  build.sh
  resources/compile.sh
Labels: enhancement, infrastructure

#849 [basic_kbdphags]
  release/basic/basic_kbdphags/HISTORY.md
  release/basic/basic_kbdphags/LICENSE.md
  release/basic/basic_kbdphags/README.md
  release/basic/basic_kbdphags/basic_kbdphags.keyboard_info
  release/basic/basic_kbdphags/basic_kbdphags.kpj
  release/basic/basic_kbdphags/source/basic_kbdphags.ico
  release/basic/basic_kbdphags/source/basic_kbdphags.keyman-touch-layout
  release/basic/basic_kbdphags/source/basic_kbdphags.kmn
  release/basic/basic_kbdphags/source/basic_kbdphags.kps
  release/basic/basic_kbdphags/source/basic_kbdphags.kvks
  release/basic/basic_kbdphags/source/help/basic_kbdphags.php
  release/basic/basic_kbdphags/source/readme.htm
  release/basic/basic_kbdphags/source/welcome/desktop_layout.png
  release/basic/basic_kbdphags/source/welcome/touch_layout_default.png
  release/basic/basic_kbdphags/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdphags/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdphags/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdphags/source/welcome/welcome.htm
Labels: keyboard, new

#835 [basic_kbdfar] Persian (Standard) Basic Imported from Win10
  release/basic/basic_kbdfar/HISTORY.md
  release/basic/basic_kbdfar/LICENSE.md
  release/basic/basic_kbdfar/README.md
  release/basic/basic_kbdfar/basic_kbdfar.keyboard_info
  release/basic/basic_kbdfar/basic_kbdfar.kpj
  release/basic/basic_kbdfar/source/basic_kbdfar.ico
  release/basic/basic_kbdfar/source/basic_kbdfar.keyman-touch-layout
  release/basic/basic_kbdfar/source/basic_kbdfar.kmn
  release/basic/basic_kbdfar/source/basic_kbdfar.kps
  release/basic/basic_kbdfar/source/basic_kbdfar.kvks
  release/basic/basic_kbdfar/source/help/basic_kbdfar.php
  release/basic/basic_kbdfar/source/readme.htm
  release/basic/basic_kbdfar/source/welcome/desktop_layout.png
  release/basic/basic_kbdfar/source/welcome/touch_layout_default.png
  release/basic/basic_kbdfar/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdfar/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdfar/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdfar/source/welcome/welcome.htm
Labels: keyboard, new

#858 [basic_kbdrum] Russian - Mnemonic Basic import from Win10
  release/basic/basic_kbdrum/HISTORY.md
  release/basic/basic_kbdrum/LICENSE.md
  release/basic/basic_kbdrum/README.md
  release/basic/basic_kbdrum/basic_kbdrum.keyboard_info
  release/basic/basic_kbdrum/basic_kbdrum.kpj
  release/basic/basic_kbdrum/source/basic_kbdrum.ico
  release/basic/basic_kbdrum/source/basic_kbdrum.keyman-touch-layout
  release/basic/basic_kbdrum/source/basic_kbdrum.kmn
  release/basic/basic_kbdrum/source/basic_kbdrum.kps
  release/basic/basic_kbdrum/source/basic_kbdrum.kvks
  release/basic/basic_kbdrum/source/help/basic_kbddrum.php
  release/basic/basic_kbdrum/source/readme.htm
  release/basic/basic_kbdrum/source/welcome/desktop_layout.png
  release/basic/basic_kbdrum/source/welcome/touch_layout_default.png
  release/basic/basic_kbdrum/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdrum/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdrum/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdrum/source/welcome/welcome.htm
Labels: keyboard, new

#860 [basic_kbdrum] Rename help file so it will show up online
  release/basic/basic_kbdrum/source/help/basic_kbdrum.php
Labels: enhancement, keyboard

#859 [basic_kbdnso] Setswana Basic imported from Win10
  release/basic/basic_kbdnso/HISTORY.md
  release/basic/basic_kbdnso/LICENSE.md
  release/basic/basic_kbdnso/README.md
  release/basic/basic_kbdnso/basic_kbdnso.keyboard_info
  release/basic/basic_kbdnso/basic_kbdnso.kpj
  release/basic/basic_kbdnso/source/basic_kbdnso.ico
  release/basic/basic_kbdnso/source/basic_kbdnso.keyman-touch-layout
  release/basic/basic_kbdnso/source/basic_kbdnso.kmn
  release/basic/basic_kbdnso/source/basic_kbdnso.kps
  release/basic/basic_kbdnso/source/basic_kbdnso.kvks
  release/basic/basic_kbdnso/source/help/basic_kbdnso.php
  release/basic/basic_kbdnso/source/readme.htm
  release/basic/basic_kbdnso/source/welcome/desktop_layout.png
  release/basic/basic_kbdnso/source/welcome/touch_layout_default.png
  release/basic/basic_kbdnso/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdnso/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdnso/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdnso/source/welcome/welcome.htm
Labels: keyboard, new

#861 [basic_kbdnsp] Setswana Basic - fix help file
  release/basic/basic_kbdnso/source/help/basic_kbdnso.php
Labels: enhancement, keyboard

#864 [basic_kbdtam99] Tamil 99 Basic keyboard imported from Win10
  release/basic/basic_kbdtam99/HISTORY.md
  release/basic/basic_kbdtam99/LICENSE.md
  release/basic/basic_kbdtam99/README.md
  release/basic/basic_kbdtam99/basic_kbdtam99.keyboard_info
  release/basic/basic_kbdtam99/basic_kbdtam99.kpj
  release/basic/basic_kbdtam99/source/basic_kbdtam99.ico
  release/basic/basic_kbdtam99/source/basic_kbdtam99.keyman-touch-layout
  release/basic/basic_kbdtam99/source/basic_kbdtam99.kmn
  release/basic/basic_kbdtam99/source/basic_kbdtam99.kps
  release/basic/basic_kbdtam99/source/basic_kbdtam99.kvks
  release/basic/basic_kbdtam99/source/help/basic_kbdtam99.php
  release/basic/basic_kbdtam99/source/readme.htm
  release/basic/basic_kbdtam99/source/welcome/desktop_layout.png
  release/basic/basic_kbdtam99/source/welcome/touch_layout_default.png
  release/basic/basic_kbdtam99/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdtam99/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdtam99/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdtam99/source/welcome/welcome.htm
Labels: keyboard, new

#867 [aksarabali_panlex] release version 1.0.4
  release/a/aksarabali_panlex/HISTORY.md
  release/a/aksarabali_panlex/README.md
  release/a/aksarabali_panlex/source/aksarabali_panlex.kmn
  release/a/aksarabali_panlex/source/help/aksarabali_panlex.php
  release/a/aksarabali_panlex/source/welcome/welcome.htm
Labels: enhancement, keyboard
