Repository keymanapp/keyboards, pull requests merged in 2019-04, with the labels that each got.

#662 [Infrastructure] Improve support for regression tests
  .gitignore
  build.sh
  resources/compile.sh
  resources/util.sh
Labels: enhancement, infrastructure

#666 [basic_kbdtaile] Fix mobile layers on keyboard
  release/basic/basic_kbdtaile/HISTORY.md
  release/basic/basic_kbdtaile/LICENSE.md
  release/basic/basic_kbdtaile/README.md
  release/basic/basic_kbdtaile/basic_kbdtaile.kpj
  release/basic/basic_kbdtaile/source/basic_kbdtaile.keyman-touch-layout
  release/basic/basic_kbdtaile/source/basic_kbdtaile.kmn
  release/basic/basic_kbdtaile/source/basic_kbdtaile.kps
  release/basic/basic_kbdtaile/source/readme.htm
  release/basic/basic_kbdtaile/source/welcome/welcome.htm
Labels: enhancement, keyboard

#668 [yiddish_pasekh] Move keyboard from legacy to release
  legacy/y/yidish2k/DEPRECATED.md
  release/y/yiddish_pasekh/HISTORY.md
  release/y/yiddish_pasekh/LICENSE.md
  release/y/yiddish_pasekh/README.md
  release/y/yiddish_pasekh/source/help/yiddish_pasekh.php
  release/y/yiddish_pasekh/source/readme.htm
  release/y/yiddish_pasekh/source/welcome/LayoutU_.png
  release/y/yiddish_pasekh/source/welcome/LayoutU_S.png
  release/y/yiddish_pasekh/source/welcome/welcome.htm
  release/y/yiddish_pasekh/source/yiddish_pasekh.ico
  release/y/yiddish_pasekh/source/yiddish_pasekh.kmn
  release/y/yiddish_pasekh/source/yiddish_pasekh.kps
  release/y/yiddish_pasekh/source/yiddish_pasekh.kvks
  release/y/yiddish_pasekh/yiddish_pasekh.keyboard_info
  release/y/yiddish_pasekh/yiddish_pasekh.kpj
Labels: keyboard, new

#617 [coptic_qwerty] New keyboard submitted on behalf of author
  release/c/coptic_qwerty/HISTORY.md
  release/c/coptic_qwerty/LICENSE.md
  release/c/coptic_qwerty/README.md
  release/c/coptic_qwerty/coptic_qwerty.keyboard_info
  release/c/coptic_qwerty/coptic_qwerty.kpj
  release/c/coptic_qwerty/source/coptic_qwerty.ico
  release/c/coptic_qwerty/source/coptic_qwerty.keyman-touch-layout
  release/c/coptic_qwerty/source/coptic_qwerty.kmn
  release/c/coptic_qwerty/source/coptic_qwerty.kps
  release/c/coptic_qwerty/source/coptic_qwerty.kvks
  release/c/coptic_qwerty/source/help/coptic_qwerty.php
  release/c/coptic_qwerty/source/readme.htm
  release/c/coptic_qwerty/source/welcome/LayoutU_.png
  release/c/coptic_qwerty/source/welcome/LayoutU_RA.png
  release/c/coptic_qwerty/source/welcome/LayoutU_S.png
  release/c/coptic_qwerty/source/welcome/LayoutU_SRA.png
  release/c/coptic_qwerty/source/welcome/coptic-english-keys-2.1.pdf
  release/c/coptic_qwerty/source/welcome/welcome.htm
Labels: keyboard, new

#669 [basic_us] Import Windows 10 kbd to Keyman
  legacy/kbd/kbdus/DEPRECATED.md
  legacy/u/us/DEPRECATED.md
  release/basic/basic_kbdus/HISTORY.md
  release/basic/basic_kbdus/LICENSE.md
  release/basic/basic_kbdus/README.md
  release/basic/basic_kbdus/basic_kbdus.keyboard_info
  release/basic/basic_kbdus/basic_kbdus.kpj
  release/basic/basic_kbdus/source/basic_kbdus.ico
  release/basic/basic_kbdus/source/basic_kbdus.keyman-touch-layout
  release/basic/basic_kbdus/source/basic_kbdus.kmn
  release/basic/basic_kbdus/source/basic_kbdus.kps
  release/basic/basic_kbdus/source/basic_kbdus.kvks
  release/basic/basic_kbdus/source/help/basic_kbdus.php
  release/basic/basic_kbdus/source/readme.htm
  release/basic/basic_kbdus/source/welcome/LayoutU_.png
  release/basic/basic_kbdus/source/welcome/LayoutU_S.png
  release/basic/basic_kbdus/source/welcome/welcome.htm
Labels: keyboard, new

#670 [win-help-fixes] Fix help files where one layer (shift-ralt) is not d…
  release/basic/basic_kbdarmty/source/help/basic_kbdarmty.php
  release/basic/basic_kbdcher/source/help/basic_kbdcher.php
  release/basic/basic_kbdinen/source/help/basic_kbdinen.php
  release/basic/basic_kbdsora/source/help/basic_kbdsora.php
Labels: enhancement, keyboard

#674 [fv_cree_latin] Select followkeyboardversion flag
  release/fv/fv_cree_latin/fv_cree_latin.kpj
  release/fv/fv_cree_latin/source/fv_cree_latin.kps
Labels: enhancement, keyboard

#619 [coptic_greek] New keyboard added on behalf of author
  release/c/coptic_greek/HISTORY.md
  release/c/coptic_greek/LICENSE.md
  release/c/coptic_greek/README.md
  release/c/coptic_greek/coptic_greek.keyboard_info
  release/c/coptic_greek/coptic_greek.kpj
  release/c/coptic_greek/source/coptic_greek.ico
  release/c/coptic_greek/source/coptic_greek.kmn
  release/c/coptic_greek/source/coptic_greek.kps
  release/c/coptic_greek/source/coptic_greek.kvks
  release/c/coptic_greek/source/help/coptic_greek.php
  release/c/coptic_greek/source/readme.htm
  release/c/coptic_greek/source/welcome/LayoutU_.png
  release/c/coptic_greek/source/welcome/LayoutU_RA.png
  release/c/coptic_greek/source/welcome/LayoutU_S.png
  release/c/coptic_greek/source/welcome/LayoutU_SRA.png
  release/c/coptic_greek/source/welcome/coptic-greek-keys-2.1.pdf
  release/c/coptic_greek/source/welcome/welcome.htm
Labels: keyboard, new

#676 [basic_kbdus] update bcp47 tags to suppress script and bump version
  release/basic/basic_kbdus/HISTORY.md
  release/basic/basic_kbdus/README.md
  release/basic/basic_kbdus/basic_kbdus.keyboard_info
  release/basic/basic_kbdus/basic_kbdus.kpj
  release/basic/basic_kbdus/source/basic_kbdus.kmn
  release/basic/basic_kbdus/source/basic_kbdus.kps
  release/basic/basic_kbdus/source/help/basic_kbdus.php
  release/basic/basic_kbdus/source/readme.htm
  release/basic/basic_kbdus/source/welcome/welcome.htm
Labels: enhancement, keyboard

#679 [meta] Increment version numbers on keyboards that were impacted by Chrome compatibility issue #183 to force redeployment
  release/fv/fv_gwichin/HISTORY.md
  release/fv/fv_gwichin/LICENSE.md
  release/fv/fv_gwichin/README.md
  release/fv/fv_gwichin/source/fv_gwichin.kmn
  release/fv/fv_gwichin/source/fv_gwichin.kps
  release/fv/fv_han/HISTORY.md
  release/fv/fv_han/LICENSE.md
  release/fv/fv_han/README.md
  release/fv/fv_han/source/fv_han.kmn
  release/fv/fv_han/source/fv_han.kps
  release/fv/fv_northern_tutchone/HISTORY.md
  release/fv/fv_northern_tutchone/LICENSE.md
  release/fv/fv_northern_tutchone/README.md
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.kmn
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.kps
  release/fv/fv_southern_tutchone/HISTORY.md
  release/fv/fv_southern_tutchone/LICENSE.md
  release/fv/fv_southern_tutchone/README.md
  release/fv/fv_southern_tutchone/source/fv_southern_tutchone.kmn
  release/fv/fv_southern_tutchone/source/fv_southern_tutchone.kps
  release/fv/fv_tagizi_dene/HISTORY.md
  release/fv/fv_tagizi_dene/LICENSE.md
  release/fv/fv_tagizi_dene/README.md
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.kmn
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.kps
  release/h/hieroglyphic/HISTORY.md
  release/h/hieroglyphic/LICENSE.md
  release/h/hieroglyphic/README.md
  release/h/hieroglyphic/source/hieroglyphic.kmn
  release/h/hieroglyphic/source/hieroglyphic.kps
Labels: infrastructure

#681 [suppressed_script] Remove script from BCP47 code for suppressed scripts
  release/basic/basic_kbdnko/HISTORY.md
  release/basic/basic_kbdnko/LICENSE.md
  release/basic/basic_kbdnko/README.md
  release/basic/basic_kbdnko/basic_kbdnko.keyboard_info
  release/basic/basic_kbdnko/basic_kbdnko.kpj
  release/basic/basic_kbdnko/source/basic_kbdnko.kmn
  release/basic/basic_kbdnko/source/basic_kbdnko.kps
  release/basic/basic_kbdnko/source/readme.htm
  release/basic/basic_kbdnko/source/welcome/welcome.htm
  release/rac/rac_pashto/HISTORY.md
  release/rac/rac_pashto/README.md
  release/rac/rac_pashto/rac_pashto.keyboard_info
  release/rac/rac_pashto/rac_pashto.kpj
  release/rac/rac_pashto/source/help/rac_pashto.php
  release/rac/rac_pashto/source/rac_pashto.kmn
  release/rac/rac_pashto/source/rac_pashto.kps
  release/rac/rac_pashto/source/welcome/welcome.htm
  release/sil/sil_uganda_tanzania/HISTORY.md
  release/sil/sil_uganda_tanzania/LICENSE.md
  release/sil/sil_uganda_tanzania/README.md
  release/sil/sil_uganda_tanzania/sil_uganda_tanzania.keyboard_info
  release/sil/sil_uganda_tanzania/sil_uganda_tanzania.kpj
  release/sil/sil_uganda_tanzania/source/readme.htm
  release/sil/sil_uganda_tanzania/source/sil_uganda_tanzania.kmn
  release/sil/sil_uganda_tanzania/source/sil_uganda_tanzania.kps
  release/sil/sil_uganda_tanzania/source/welcome/welcome.htm
Labels: enhancement, keyboard

#684 [bcp_error] fixed bcp codes for rac_gawar_bati and balochi_scientific
  release/b/balochi_scientific/HISTORY.md
  release/b/balochi_scientific/README.md
  release/b/balochi_scientific/source/balochi_scientific.kmn
  release/b/balochi_scientific/source/balochi_scientific.kps
  release/b/balochi_scientific/source/help/balochi_scientific.php
  release/b/balochi_scientific/source/welcome/welcome.htm
  release/rac/rac_gawar_bati/HISTORY.md
  release/rac/rac_gawar_bati/LICENSE.md
  release/rac/rac_gawar_bati/README.md
  release/rac/rac_gawar_bati/rac_gawar_bati.keyboard_info
  release/rac/rac_gawar_bati/rac_gawar_bati.kpj
  release/rac/rac_gawar_bati/source/help/rac_gawar_bati.php
  release/rac/rac_gawar_bati/source/rac_gawar_bati-1.0.js
  release/rac/rac_gawar_bati/source/rac_gawar_bati.keyman-touch-layout
  release/rac/rac_gawar_bati/source/rac_gawar_bati.kmn
  release/rac/rac_gawar_bati/source/rac_gawar_bati.kps
  release/rac/rac_gawar_bati/source/rac_gawar_bati.kvk
  release/rac/rac_gawar_bati/source/rac_gawar_bati.kvks
  release/rac/rac_gawar_bati/source/readme.htm
  release/rac/rac_gawar_bati/source/welcome/welcome.htm
Labels: enhancement, keyboard

#680 [rac_oadke] New keyboard on behalf of author
  release/rac/rac_oadki/HISTORY.md
  release/rac/rac_oadki/LICENSE.md
  release/rac/rac_oadki/README.md
  release/rac/rac_oadki/rac_oadki.keyboard_info
  release/rac/rac_oadki/rac_oadki.kpj
  release/rac/rac_oadki/source/RAC.jpg
  release/rac/rac_oadki/source/help/rac_oadki.php
  release/rac/rac_oadki/source/rac_oadki.ico
  release/rac/rac_oadki/source/rac_oadki.keyman-touch-layout
  release/rac/rac_oadki/source/rac_oadki.kmn
  release/rac/rac_oadki/source/rac_oadki.kps
  release/rac/rac_oadki/source/rac_oadki.kvks
  release/rac/rac_oadki/source/readme.htm
  release/rac/rac_oadki/source/welcome/LayoutU_.png
  release/rac/rac_oadki/source/welcome/LayoutU_CA.png
  release/rac/rac_oadki/source/welcome/LayoutU_S.png
  release/rac/rac_oadki/source/welcome/welcome.htm
Labels: keyboard, new

#683 [basic_kbdlt1] Lithuanian kbd imported from Win10
  legacy/kbd/kbdlt1/DEPRECATED.md
  legacy/l/lithuanian/DEPRECATED.md
  release/basic/basic_kbdlt1/HISTORY.md
  release/basic/basic_kbdlt1/LICENSE.md
  release/basic/basic_kbdlt1/README.md
  release/basic/basic_kbdlt1/basic_kbdlt1.keyboard_info
  release/basic/basic_kbdlt1/basic_kbdlt1.kpj
  release/basic/basic_kbdlt1/source/basic_kbdlt1.ico
  release/basic/basic_kbdlt1/source/basic_kbdlt1.keyman-touch-layout
  release/basic/basic_kbdlt1/source/basic_kbdlt1.kmn
  release/basic/basic_kbdlt1/source/basic_kbdlt1.kps
  release/basic/basic_kbdlt1/source/basic_kbdlt1.kvks
  release/basic/basic_kbdlt1/source/help/basic_kbdlt1.php
  release/basic/basic_kbdlt1/source/readme.htm
  release/basic/basic_kbdlt1/source/welcome/LayoutU_.png
  release/basic/basic_kbdlt1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdlt1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdlt1/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdlt1/source/welcome/welcome.htm
Labels: keyboard, new

#687 [hausa_kano] fix BCP47 code
  release/h/hausa_kano/HISTORY.md
  release/h/hausa_kano/LICENSE.md
  release/h/hausa_kano/README.md
  release/h/hausa_kano/hausa_kano.keyboard_info
  release/h/hausa_kano/hausa_kano.kpj
  release/h/hausa_kano/source/documentation.html
  release/h/hausa_kano/source/hausa_kano.keyman-touch-layout
  release/h/hausa_kano/source/hausa_kano.kmn
  release/h/hausa_kano/source/hausa_kano.kps
  release/h/hausa_kano/source/readme.htm
Labels: enhancement, keyboard

#688 [swanalekha_malayalam] Add missing key combination
  release/s/swanalekha_malayalam/HISTORY.md
  release/s/swanalekha_malayalam/README.md
  release/s/swanalekha_malayalam/source/swanalekha_malayalam.kmn
  release/s/swanalekha_malayalam/source/swanalekha_malayalam.kvks
  release/s/swanalekha_malayalam/swanalekha_malayalam.keyboard_info
  release/s/swanalekha_malayalam/swanalekha_malayalam.kpj
Labels: enhancement, keyboard

#657 [nlci_devanagari_winscript] NLCI Devanagari winscript
  release/m/mozhi_malayalam/source/mozhi_malayalam.kmn
  release/nlci/nlci_devanagari_winscript/HISTORY.md
  release/nlci/nlci_devanagari_winscript/LICENSE.md
  release/nlci/nlci_devanagari_winscript/README.md
  release/nlci/nlci_devanagari_winscript/nlci_devanagari_winscript.keyboard_info
  release/nlci/nlci_devanagari_winscript/nlci_devanagari_winscript.kpj
  release/nlci/nlci_devanagari_winscript/source/help/nlci_devanagari_winscript.php
  release/nlci/nlci_devanagari_winscript/source/nlci_devanagari_winscript.ico
  release/nlci/nlci_devanagari_winscript/source/nlci_devanagari_winscript.keyman-touch-layout
  release/nlci/nlci_devanagari_winscript/source/nlci_devanagari_winscript.kmn
  release/nlci/nlci_devanagari_winscript/source/nlci_devanagari_winscript.kps
  release/nlci/nlci_devanagari_winscript/source/nlci_devanagari_winscript.kvks
  release/nlci/nlci_devanagari_winscript/source/readme.htm
  release/nlci/nlci_devanagari_winscript/source/welcome/welcome.htm
Labels: keyboard, new

#689 [bcp_order] reordered langtags for keyboard_info files to match .kps …
  release/basic/basic_kbdus/basic_kbdus.keyboard_info
  release/l/libtralo/libtralo.keyboard_info
  release/sil/sil_hebr_grek_trans/sil_hebr_grek_trans.keyboard_info
  release/sil/sil_indic_roman/sil_indic_roman.keyboard_info
  release/sil/sil_mali_azerty/sil_mali_azerty.keyboard_info
  release/sil/sil_mali_qwerty/sil_mali_qwerty.keyboard_info
  release/sil/sil_mali_qwertz/sil_mali_qwertz.keyboard_info
Labels: enhancement, keyboard
