Repository keymanapp/keyboards, pull requests merged in 2019-10, with the labels that each got.

#902 [sil_sahu] Initial submission
  release/sil/sil_sahu/HISTORY.md
  release/sil/sil_sahu/LICENSE.md
  release/sil/sil_sahu/README.md
  release/sil/sil_sahu/sil_sahu.keyboard_info
  release/sil/sil_sahu/sil_sahu.kpj
  release/sil/sil_sahu/source/help/sil_sahu.php
  release/sil/sil_sahu/source/readme.htm
  release/sil/sil_sahu/source/sil_sahu.keyman-touch-layout
  release/sil/sil_sahu/source/sil_sahu.kmn
  release/sil/sil_sahu/source/sil_sahu.kps
  release/sil/sil_sahu/source/welcome/welcome.htm
Labels: keyboard, new

#905 3.4 update
  release/i/indigenous_nt/HISTORY.md
  release/i/indigenous_nt/README.md
  release/i/indigenous_nt/indigenous_nt.kpj
  release/i/indigenous_nt/source/help/indigenous_nt.php
  release/i/indigenous_nt/source/indigenous_nt.keyman-touch-layout
  release/i/indigenous_nt/source/indigenous_nt.kmn
  release/i/indigenous_nt/source/indigenous_nt.kps
  release/i/indigenous_nt/source/indigenous_nt.kvks
  release/i/indigenous_nt/source/readme.htm
  release/i/indigenous_nt/source/welcome/welcome.htm
Labels: enhancement, keyboard

#900 [rac_arabic] Rachitralli-Arabic keyboard on behalf of author
  release/rac/rac_arabic/HISTORY.md
  release/rac/rac_arabic/LICENSE.md
  release/rac/rac_arabic/README.md
  release/rac/rac_arabic/rac_arabic.keyboard_info
  release/rac/rac_arabic/rac_arabic.kpj
  release/rac/rac_arabic/source/help/rac_arabic.php
  release/rac/rac_arabic/source/rac_arabic.ico
  release/rac/rac_arabic/source/rac_arabic.keyman-touch-layout
  release/rac/rac_arabic/source/rac_arabic.kmn
  release/rac/rac_arabic/source/rac_arabic.kps
  release/rac/rac_arabic/source/rac_arabic.kvks
  release/rac/rac_arabic/source/readme.htm
  release/rac/rac_arabic/source/welcome/LayoutU_.png
  release/rac/rac_arabic/source/welcome/LayoutU_LC.png
  release/rac/rac_arabic/source/welcome/LayoutU_S.png
  release/rac/rac_arabic/source/welcome/RAC.jpg
  release/rac/rac_arabic/source/welcome/welcome.htm
Labels: keyboard, new

#903 [basic_kbdinpun] Punjabi Basic Win10 kbd import
  legacy/kbd/kbdinpun/DEPRECATED.md
  legacy/p/punjabi/DEPRECATED.md
  release/basic/basic_kbdinpun/HISTORY.md
  release/basic/basic_kbdinpun/LICENSE.md
  release/basic/basic_kbdinpun/README.md
  release/basic/basic_kbdinpun/basic_kbdinpun.keyboard_info
  release/basic/basic_kbdinpun/basic_kbdinpun.kpj
  release/basic/basic_kbdinpun/source/basic_kbdinpun.ico
  release/basic/basic_kbdinpun/source/basic_kbdinpun.keyman-touch-layout
  release/basic/basic_kbdinpun/source/basic_kbdinpun.kmn
  release/basic/basic_kbdinpun/source/basic_kbdinpun.kps
  release/basic/basic_kbdinpun/source/basic_kbdinpun.kvks
  release/basic/basic_kbdinpun/source/help/basic_kbdinpun.php
  release/basic/basic_kbdinpun/source/readme.htm
  release/basic/basic_kbdinpun/source/welcome/LayoutU_.png
  release/basic/basic_kbdinpun/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinpun/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinpun/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdinpun/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinpun/source/welcome/welcome.htm
Labels: keyboard, new

#906 NLCI Devanangari keyboard updated
  release/nlci/nlci_devanagari_winscript/HISTORY.md
  release/nlci/nlci_devanagari_winscript/README.md
  release/nlci/nlci_devanagari_winscript/source/nlci_devanagari_winscript.kmn
Labels: enhancement, keyboard, new

#918 [fonts-andika-doulos] Add shared Andika and Doulos fonts for keyboard…
  release/shared/fonts/sil/andika/Andika-Regular.ttf
  release/shared/fonts/sil/andika/Andika_README.txt
  release/shared/fonts/sil/andika/FONTLOG.txt
  release/shared/fonts/sil/andika/OFL-FAQ.txt
  release/shared/fonts/sil/andika/OFL.txt
  release/shared/fonts/sil/doulos/DoulosSIL-Regular.ttf
  release/shared/fonts/sil/doulos/DoulosSIL_README.txt
  release/shared/fonts/sil/doulos/FONTLOG.txt
  release/shared/fonts/sil/doulos/OFL-FAQ.txt
  release/shared/fonts/sil/doulos/OFL.txt
Labels: enhancement, keyboard

#899 [urdu_phonetic_crulp] Urdu Phonetic (CRULP) keyboard
  release/u/urdu_phonetic_crulp/HISTORY.md
  release/u/urdu_phonetic_crulp/LICENSE.md
  release/u/urdu_phonetic_crulp/README.md
  release/u/urdu_phonetic_crulp/source/help/urdu_phonetic_crulp.php
  release/u/urdu_phonetic_crulp/source/readme.htm
  release/u/urdu_phonetic_crulp/source/urdu_phonetic_crulp.ico
  release/u/urdu_phonetic_crulp/source/urdu_phonetic_crulp.keyman-touch-layout
  release/u/urdu_phonetic_crulp/source/urdu_phonetic_crulp.kmn
  release/u/urdu_phonetic_crulp/source/urdu_phonetic_crulp.kps
  release/u/urdu_phonetic_crulp/source/urdu_phonetic_crulp.kvks
  release/u/urdu_phonetic_crulp/source/welcome/LayoutU_.png
  release/u/urdu_phonetic_crulp/source/welcome/LayoutU_RA.png
  release/u/urdu_phonetic_crulp/source/welcome/LayoutU_S.png
  release/u/urdu_phonetic_crulp/source/welcome/welcome.htm
  release/u/urdu_phonetic_crulp/urdu_phonetic_crulp.keyboard_info
  release/u/urdu_phonetic_crulp/urdu_phonetic_crulp.kpj
Labels: keyboard, new

#928 [inscript-beng-mlym] Deprecate two Inscript keyboards
  legacy/b/bengali_kab/DEPRECATED.md
  legacy/m/malayalam_kab/DEPRECATED.md
  release/basic/basic_kbdinbe2/basic_kbdinbe2.keyboard_info
  release/m/malar_malayalam_inscript/malar_malayalam_inscript.keyboard_info
Labels: infrastructure, keyboard

#930 [inscript-marathi] Deprecate KAB Marathi keyboards
  legacy/m/marathi/DEPRECATED.md
  legacy/m/marathi_kab/DEPRECATED.md
  release/basic/basic_kbdinmar/basic_kbdinmar.keyboard_info
Labels: infrastructure, keyboard

#931 [inscript-farsi] Deprecate Farsi KAB Inscript keyboard
  legacy/f/farsi_kab/DEPRECATED.md
  release/basic/basic_kbdfa/basic_kbdfa.keyboard_info
Labels: infrastructure, keyboard
