Repository keymanapp/keyboards, pull requests merged in 2019-11, with the labels that each got.

#929 [basic_kbdinmal] Malayalam Basic Win10 import
  legacy/kbd/kbdinmal/DEPRECATED.md
  legacy/m/malayalam/DEPRECATED.md
  release/basic/basic_kbdinmal/HISTORY.md
  release/basic/basic_kbdinmal/LICENSE.md
  release/basic/basic_kbdinmal/README.md
  release/basic/basic_kbdinmal/basic_kbdinmal.keyboard_info
  release/basic/basic_kbdinmal/basic_kbdinmal.kpj
  release/basic/basic_kbdinmal/source/basic_kbdinmal.ico
  release/basic/basic_kbdinmal/source/basic_kbdinmal.keyman-touch-layout
  release/basic/basic_kbdinmal/source/basic_kbdinmal.kmn
  release/basic/basic_kbdinmal/source/basic_kbdinmal.kps
  release/basic/basic_kbdinmal/source/basic_kbdinmal.kvks
  release/basic/basic_kbdinmal/source/help/basic_kbdinmal.php
  release/basic/basic_kbdinmal/source/readme.htm
  release/basic/basic_kbdinmal/source/welcome/LayoutU_.png
  release/basic/basic_kbdinmal/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinmal/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinmal/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdinmal/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinmal/source/welcome/welcome.htm
Labels: keyboard, new

#925 [basic_kbdarmw] Import Armenian Western Basic
  legacy/a/armenian_west/DEPRECATED.md
  legacy/kbd/kbdarmw/DEPRECATED.md
  release/basic/basic_kbdarmw/HISTORY.md
  release/basic/basic_kbdarmw/LICENSE.md
  release/basic/basic_kbdarmw/README.md
  release/basic/basic_kbdarmw/basic_kbdarmw.keyboard_info
  release/basic/basic_kbdarmw/basic_kbdarmw.kpj
  release/basic/basic_kbdarmw/source/basic_kbdarmw.ico
  release/basic/basic_kbdarmw/source/basic_kbdarmw.keyman-touch-layout
  release/basic/basic_kbdarmw/source/basic_kbdarmw.kmn
  release/basic/basic_kbdarmw/source/basic_kbdarmw.kps
  release/basic/basic_kbdarmw/source/basic_kbdarmw.kvks
  release/basic/basic_kbdarmw/source/help/basic_kbdarmw.php
  release/basic/basic_kbdarmw/source/readme.htm
  release/basic/basic_kbdarmw/source/welcome/LayoutU_.png
  release/basic/basic_kbdarmw/source/welcome/LayoutU_S.png
  release/basic/basic_kbdarmw/source/welcome/welcome.htm
Labels: keyboard, new

#933 [basic_kbdlao] Lao Basic Win10 import with new mobile layout
  legacy/kbd/kbdlao/DEPRECATED.md
  release/basic/basic_kbdlao/HISTORY.md
  release/basic/basic_kbdlao/LICENSE.md
  release/basic/basic_kbdlao/README.md
  release/basic/basic_kbdlao/basic_kbdlao.keyboard_info
  release/basic/basic_kbdlao/basic_kbdlao.kpj
  release/basic/basic_kbdlao/source/basic_kbdlao.ico
  release/basic/basic_kbdlao/source/basic_kbdlao.keyman-touch-layout
  release/basic/basic_kbdlao/source/basic_kbdlao.kmn
  release/basic/basic_kbdlao/source/basic_kbdlao.kps
  release/basic/basic_kbdlao/source/basic_kbdlao.kvks
  release/basic/basic_kbdlao/source/help/basic_kbdlao.php
  release/basic/basic_kbdlao/source/readme.htm
  release/basic/basic_kbdlao/source/welcome/LayoutU_.png
  release/basic/basic_kbdlao/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdlao/source/welcome/LayoutU_S.png
  release/basic/basic_kbdlao/source/welcome/welcome.htm
Labels: keyboard, new

#924 [basic_kbdarme] Import Armenian Eastern Basic
  legacy/a/armenian_east/DEPRECATED.md
  legacy/kbd/kbdarme/DEPRECATED.md
  release/basic/basic_kbdarme/HISTORY.md
  release/basic/basic_kbdarme/LICENSE.md
  release/basic/basic_kbdarme/README.md
  release/basic/basic_kbdarme/basic_kbdarme.keyboard_info
  release/basic/basic_kbdarme/basic_kbdarme.kpj
  release/basic/basic_kbdarme/source/basic_kbdarme.ico
  release/basic/basic_kbdarme/source/basic_kbdarme.keyman-touch-layout
  release/basic/basic_kbdarme/source/basic_kbdarme.kmn
  release/basic/basic_kbdarme/source/basic_kbdarme.kps
  release/basic/basic_kbdarme/source/basic_kbdarme.kvks
  release/basic/basic_kbdarme/source/help/basic_kbdarme.php
  release/basic/basic_kbdarme/source/readme.htm
  release/basic/basic_kbdarme/source/welcome/LayoutU_.png
  release/basic/basic_kbdarme/source/welcome/LayoutU_S.png
  release/basic/basic_kbdarme/source/welcome/welcome.htm
Labels: keyboard, new

#932 [basic_kbdintam] Tamil Basic keyboard Win10 import
  legacy/kbd/kbdintam/DEPRECATED.md
  legacy/t/tamil/DEPRECATED.md
  legacy/t/tamil_kab/DEPRECATED.md
  release/basic/basic_kbdintam/HISTORY.md
  release/basic/basic_kbdintam/LICENSE.md
  release/basic/basic_kbdintam/README.md
  release/basic/basic_kbdintam/basic_kbdintam.keyboard_info
  release/basic/basic_kbdintam/basic_kbdintam.kpj
  release/basic/basic_kbdintam/source/basic_kbdintam.ico
  release/basic/basic_kbdintam/source/basic_kbdintam.keyman-touch-layout
  release/basic/basic_kbdintam/source/basic_kbdintam.kmn
  release/basic/basic_kbdintam/source/basic_kbdintam.kps
  release/basic/basic_kbdintam/source/basic_kbdintam.kvks
  release/basic/basic_kbdintam/source/help/basic_kbdintam.php
  release/basic/basic_kbdintam/source/readme.htm
  release/basic/basic_kbdintam/source/welcome/LayoutU_.png
  release/basic/basic_kbdintam/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdintam/source/welcome/LayoutU_S.png
  release/basic/basic_kbdintam/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdintam/source/welcome/welcome.htm
Labels: keyboard, new

#923 [ci] Add support for building and uploading a single executable installer
  ci.sh
  resources/util.sh
Labels: enhancement, infrastructure

#935 [basic_kbdazel] Azeri Latin Basic Win10 import
  legacy/a/azeri_latin/DEPRECATED.md
  legacy/kbd/kbdazel/DEPRECATED.md
  release/basic/basic_kbdazel/HISTORY.md
  release/basic/basic_kbdazel/LICENSE.md
  release/basic/basic_kbdazel/README.md
  release/basic/basic_kbdazel/basic_kbdazel.keyboard_info
  release/basic/basic_kbdazel/basic_kbdazel.kpj
  release/basic/basic_kbdazel/source/basic_kbdazel.ico
  release/basic/basic_kbdazel/source/basic_kbdazel.keyman-touch-layout
  release/basic/basic_kbdazel/source/basic_kbdazel.kmn
  release/basic/basic_kbdazel/source/basic_kbdazel.kps
  release/basic/basic_kbdazel/source/basic_kbdazel.kvks
  release/basic/basic_kbdazel/source/help/basic_kbdazel.php
  release/basic/basic_kbdazel/source/readme.htm
  release/basic/basic_kbdazel/source/welcome/LayoutU_.png
  release/basic/basic_kbdazel/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdazel/source/welcome/LayoutU_S.png
  release/basic/basic_kbdazel/source/welcome/welcome.htm
Labels: keyboard, new

#936 [basic_kbdvntc] Vietnamese Basic Win10 import
  legacy/kbd/kbdvntc/DEPRECATED.md
  legacy/v/vietnamese/DEPRECATED.md
  release/basic/basic_kbdvntc/HISTORY.md
  release/basic/basic_kbdvntc/LICENSE.md
  release/basic/basic_kbdvntc/README.md
  release/basic/basic_kbdvntc/basic_kbdvntc.keyboard_info
  release/basic/basic_kbdvntc/basic_kbdvntc.kpj
  release/basic/basic_kbdvntc/source/basic_kbdvntc.ico
  release/basic/basic_kbdvntc/source/basic_kbdvntc.keyman-touch-layout
  release/basic/basic_kbdvntc/source/basic_kbdvntc.kmn
  release/basic/basic_kbdvntc/source/basic_kbdvntc.kps
  release/basic/basic_kbdvntc/source/basic_kbdvntc.kvks
  release/basic/basic_kbdvntc/source/help/basic_kbdvntc.php
  release/basic/basic_kbdvntc/source/readme.htm
  release/basic/basic_kbdvntc/source/welcome/LayoutU_.png
  release/basic/basic_kbdvntc/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdvntc/source/welcome/LayoutU_S.png
  release/basic/basic_kbdvntc/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdvntc/source/welcome/welcome.htm
Labels: keyboard, new

#940 [basic_kbdsyr2] Syriac Phonetic Basic Win10 import
  legacy/kbd/kbdsyr2/DEPRECATED.md
  legacy/s/syriac_phon/DEPRECATED.md
  release/basic/basic_kbdsyr2/HISTORY.md
  release/basic/basic_kbdsyr2/LICENSE.md
  release/basic/basic_kbdsyr2/README.md
  release/basic/basic_kbdsyr2/basic_kbdsyr2.keyboard_info
  release/basic/basic_kbdsyr2/basic_kbdsyr2.kpj
  release/basic/basic_kbdsyr2/source/basic_kbdsyr2.ico
  release/basic/basic_kbdsyr2/source/basic_kbdsyr2.keyman-touch-layout
  release/basic/basic_kbdsyr2/source/basic_kbdsyr2.kmn
  release/basic/basic_kbdsyr2/source/basic_kbdsyr2.kps
  release/basic/basic_kbdsyr2/source/basic_kbdsyr2.kvks
  release/basic/basic_kbdsyr2/source/help/basic_kbdsyr2.php
  release/basic/basic_kbdsyr2/source/readme.htm
  release/basic/basic_kbdsyr2/source/welcome/LayoutU_.png
  release/basic/basic_kbdsyr2/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsyr2/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsyr2/source/welcome/welcome.htm
Labels: keyboard, new

#939 [basic_kbdsyr1] Syriac Basic Win10 import
  legacy/kbd/kbdsyr1/DEPRECATED.md
  legacy/s/syriac/DEPRECATED.md
  release/basic/basic_kbdsyr1/HISTORY.md
  release/basic/basic_kbdsyr1/LICENSE.md
  release/basic/basic_kbdsyr1/README.md
  release/basic/basic_kbdsyr1/basic_kbdsyr1.keyboard_info
  release/basic/basic_kbdsyr1/basic_kbdsyr1.kpj
  release/basic/basic_kbdsyr1/source/basic_kbdsyr1.ico
  release/basic/basic_kbdsyr1/source/basic_kbdsyr1.keyman-touch-layout
  release/basic/basic_kbdsyr1/source/basic_kbdsyr1.kmn
  release/basic/basic_kbdsyr1/source/basic_kbdsyr1.kps
  release/basic/basic_kbdsyr1/source/basic_kbdsyr1.kvks
  release/basic/basic_kbdsyr1/source/help/basic_kbdsyr1.php
  release/basic/basic_kbdsyr1/source/readme.htm
  release/basic/basic_kbdsyr1/source/welcome/LayoutU_.png
  release/basic/basic_kbdsyr1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsyr1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsyr1/source/welcome/welcome.htm
Labels: keyboard, new

#907 NLCI Oriya keyboard
  release/nlci/nlci_oriya_winscript/HISTORY.md
  release/nlci/nlci_oriya_winscript/LICENSE.md
  release/nlci/nlci_oriya_winscript/README.md
  release/nlci/nlci_oriya_winscript/nlci_oriya_winscript.keyboard_info
  release/nlci/nlci_oriya_winscript/nlci_oriya_winscript.kpj
  release/nlci/nlci_oriya_winscript/source/help/nlci_oriya_winscript.php
  release/nlci/nlci_oriya_winscript/source/nlci_oriya_winscript.ico
  release/nlci/nlci_oriya_winscript/source/nlci_oriya_winscript.kmn
  release/nlci/nlci_oriya_winscript/source/nlci_oriya_winscript.kps
  release/nlci/nlci_oriya_winscript/source/nlci_oriya_winscript.kvks
  release/nlci/nlci_oriya_winscript/source/nlci_oriya_winscript_splash.png
  release/nlci/nlci_oriya_winscript/source/readme.htm
  release/nlci/nlci_oriya_winscript/source/welcome/welcome.htm
Labels: keyboard, new

#908 Gujarati Winscript Keyboard [NLCI]
  release/nlci/nlci_gujarati_winscript/HISTORY.md
  release/nlci/nlci_gujarati_winscript/LICENSE.md
  release/nlci/nlci_gujarati_winscript/README.md
  release/nlci/nlci_gujarati_winscript/nlci_gujarati_winscript.keyboard_info
  release/nlci/nlci_gujarati_winscript/nlci_gujarati_winscript.kpj
  release/nlci/nlci_gujarati_winscript/source/help/Gujarati keyboard.PNG
  release/nlci/nlci_gujarati_winscript/source/help/nlci_gujarati_winscript.php
  release/nlci/nlci_gujarati_winscript/source/nlci_gujarati_winscript.ico
  release/nlci/nlci_gujarati_winscript/source/nlci_gujarati_winscript.kmn
  release/nlci/nlci_gujarati_winscript/source/nlci_gujarati_winscript.kps
  release/nlci/nlci_gujarati_winscript/source/nlci_gujarati_winscript.kvks
  release/nlci/nlci_gujarati_winscript/source/readme.htm
  release/nlci/nlci_gujarati_winscript/source/welcome/Gujarati keyboard.PNG
  release/nlci/nlci_gujarati_winscript/source/welcome/welcome.htm
Labels: keyboard, new

#941 [basic_kbdheb] Hebrew Basic Win10 import
  legacy/h/hebrew/DEPRECATED.md
  legacy/kbd/kbdheb/DEPRECATED.md
  release/basic/basic_kbdheb/HISTORY.md
  release/basic/basic_kbdheb/LICENSE.md
  release/basic/basic_kbdheb/README.md
  release/basic/basic_kbdheb/basic_kbdheb.keyboard_info
  release/basic/basic_kbdheb/basic_kbdheb.kpj
  release/basic/basic_kbdheb/source/basic_kbdheb.ico
  release/basic/basic_kbdheb/source/basic_kbdheb.keyman-touch-layout
  release/basic/basic_kbdheb/source/basic_kbdheb.kmn
  release/basic/basic_kbdheb/source/basic_kbdheb.kps
  release/basic/basic_kbdheb/source/basic_kbdheb.kvks
  release/basic/basic_kbdheb/source/help/basic_kbdheb.php
  release/basic/basic_kbdheb/source/readme.htm
  release/basic/basic_kbdheb/source/welcome/LayoutU_.png
  release/basic/basic_kbdheb/source/welcome/LayoutU_LC.png
  release/basic/basic_kbdheb/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdheb/source/welcome/LayoutU_S.png
  release/basic/basic_kbdheb/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdheb/source/welcome/welcome.htm
Labels: keyboard, new

#909 Telugu Winscript Keyboard
  release/nlci/nlci_telugu_winscript/HISTORY.md
  release/nlci/nlci_telugu_winscript/LICENSE.md
  release/nlci/nlci_telugu_winscript/README.md
  release/nlci/nlci_telugu_winscript/nlci_telugu_winscript.keyboard_info
  release/nlci/nlci_telugu_winscript/nlci_telugu_winscript.kpj
  release/nlci/nlci_telugu_winscript/source/help/nlci_telugu_winscript.php
  release/nlci/nlci_telugu_winscript/source/nlci_telugu_winscript.ico
  release/nlci/nlci_telugu_winscript/source/nlci_telugu_winscript.kmn
  release/nlci/nlci_telugu_winscript/source/nlci_telugu_winscript.kps
  release/nlci/nlci_telugu_winscript/source/nlci_telugu_winscript.kvks
  release/nlci/nlci_telugu_winscript/source/readme.htm
  release/nlci/nlci_telugu_winscript/source/welcome/welcome.htm
Labels: keyboard, new

#943 [basic_kbddv] United States-Dvorak Basic Win10 import
  legacy/d/dvorak/DEPRECATED.md
  legacy/kbd/kbddv/DEPRECATED.md
  legacy/u/us_dvorak/DEPRECATED.md
  release/basic/basic_kbddv/HISTORY.md
  release/basic/basic_kbddv/LICENSE.md
  release/basic/basic_kbddv/README.md
  release/basic/basic_kbddv/basic_kbddv.keyboard_info
  release/basic/basic_kbddv/basic_kbddv.kpj
  release/basic/basic_kbddv/source/basic_kbddv.ico
  release/basic/basic_kbddv/source/basic_kbddv.keyman-touch-layout
  release/basic/basic_kbddv/source/basic_kbddv.kmn
  release/basic/basic_kbddv/source/basic_kbddv.kps
  release/basic/basic_kbddv/source/basic_kbddv.kvks
  release/basic/basic_kbddv/source/help/basic_kbddv.php
  release/basic/basic_kbddv/source/readme.htm
  release/basic/basic_kbddv/source/welcome/LayoutU_.png
  release/basic/basic_kbddv/source/welcome/LayoutU_S.png
  release/basic/basic_kbddv/source/welcome/welcome.htm
Labels: keyboard, new

#944 [sil_cipher] Copy screenshots to help folder to display online help f…
  release/sil/sil_cipher_music/source/help/LayoutU_.png
  release/sil/sil_cipher_music/source/help/LayoutU_RC.png
  release/sil/sil_cipher_music/source/help/LayoutU_S.png
  release/sil/sil_cipher_music/source/help/LayoutU_SRC.png
Labels: enhancement, keyboard

#945 [basic_kbdhu1] Hungarian 101-key Basic Win10 import
  legacy/h/hungarian_101/DEPRECATED.md
  legacy/kbd/kbdhu1/DEPRECATED.md
  release/basic/basic_kbdhu1/HISTORY.md
  release/basic/basic_kbdhu1/LICENSE.md
  release/basic/basic_kbdhu1/README.md
  release/basic/basic_kbdhu1/basic_kbdhu1.keyboard_info
  release/basic/basic_kbdhu1/basic_kbdhu1.kpj
  release/basic/basic_kbdhu1/source/basic_kbdhu1.ico
  release/basic/basic_kbdhu1/source/basic_kbdhu1.keyman-touch-layout
  release/basic/basic_kbdhu1/source/basic_kbdhu1.kmn
  release/basic/basic_kbdhu1/source/basic_kbdhu1.kps
  release/basic/basic_kbdhu1/source/basic_kbdhu1.kvks
  release/basic/basic_kbdhu1/source/help/basic_kbdhu1.php
  release/basic/basic_kbdhu1/source/readme.htm
  release/basic/basic_kbdhu1/source/welcome/LayoutU_.png
  release/basic/basic_kbdhu1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdhu1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdhu1/source/welcome/welcome.htm
Labels: keyboard, new

#946 [kab_guj_pun_tel_urd] Deprecate 4 keyboards
  legacy/g/gujarati_kab/DEPRECATED.md
  legacy/p/punjabi_kab/DEPRECATED.md
  legacy/t/telegu_kab/DEPRECATED.md
  legacy/u/urdu_kab/DEPRECATED.md
  release/basic/basic_kbdinguj/basic_kbdinguj.keyboard_info
  release/basic/basic_kbdinpun/basic_kbdinpun.keyboard_info
  release/basic/basic_kbdintel/basic_kbdintel.keyboard_info
  release/basic/basic_kbdurdu/basic_kbdurdu.keyboard_info
Labels: infrastructure, keyboard

#948 [basic_usl] United States-Dvorak for left hand Basic Win10 import
  legacy/kbd/kbdusl/DEPRECATED.md
  legacy/u/us_dvorak_lh/DEPRECATED.md
  release/basic/basic_kbdusl/HISTORY.md
  release/basic/basic_kbdusl/LICENSE.md
  release/basic/basic_kbdusl/README.md
  release/basic/basic_kbdusl/basic_kbdusl.keyboard_info
  release/basic/basic_kbdusl/basic_kbdusl.kpj
  release/basic/basic_kbdusl/source/basic_kbdusl.ico
  release/basic/basic_kbdusl/source/basic_kbdusl.keyman-touch-layout
  release/basic/basic_kbdusl/source/basic_kbdusl.kmn
  release/basic/basic_kbdusl/source/basic_kbdusl.kps
  release/basic/basic_kbdusl/source/basic_kbdusl.kvks
  release/basic/basic_kbdusl/source/help/basic_kbdusl.php
  release/basic/basic_kbdusl/source/readme.htm
  release/basic/basic_kbdusl/source/welcome/LayoutU_.png
  release/basic/basic_kbdusl/source/welcome/LayoutU_S.png
  release/basic/basic_kbdusl/source/welcome/welcome.htm
Labels: keyboard, new

#949 [basic_kbdusr] United States-Dvorak for right hand Basic Win10 import
  legacy/kbd/kbdusr/DEPRECATED.md
  legacy/u/us_dvorak_rh/DEPRECATED.md
  release/basic/basic_kbdusr/HISTORY.md
  release/basic/basic_kbdusr/LICENSE.md
  release/basic/basic_kbdusr/README.md
  release/basic/basic_kbdusr/basic_kbdusr.keyboard_info
  release/basic/basic_kbdusr/basic_kbdusr.kpj
  release/basic/basic_kbdusr/source/basic_kbdusr.ico
  release/basic/basic_kbdusr/source/basic_kbdusr.keyman-touch-layout
  release/basic/basic_kbdusr/source/basic_kbdusr.kmn
  release/basic/basic_kbdusr/source/basic_kbdusr.kps
  release/basic/basic_kbdusr/source/basic_kbdusr.kvks
  release/basic/basic_kbdusr/source/help/basic_kbdusr.php
  release/basic/basic_kbdusr/source/readme.htm
  release/basic/basic_kbdusr/source/welcome/LayoutU_.png
  release/basic/basic_kbdusr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdusr/source/welcome/welcome.htm
Labels: keyboard, new

#904 [basic_kbdinkan] Kannada Basic Win10 import
  legacy/k/kannada/DEPRECATED.md
  legacy/k/kannada_kab/DEPRECATED.md
  legacy/kbd/kbdinkan/DEPRECATED.md
  release/basic/basic_kbdinkan/HISTORY.md
  release/basic/basic_kbdinkan/LICENSE.md
  release/basic/basic_kbdinkan/README.md
  release/basic/basic_kbdinkan/basic_kbdinkan.keyboard_info
  release/basic/basic_kbdinkan/basic_kbdinkan.kpj
  release/basic/basic_kbdinkan/source/basic_kbdinkan.ico
  release/basic/basic_kbdinkan/source/basic_kbdinkan.keyman-touch-layout
  release/basic/basic_kbdinkan/source/basic_kbdinkan.kmn
  release/basic/basic_kbdinkan/source/basic_kbdinkan.kps
  release/basic/basic_kbdinkan/source/basic_kbdinkan.kvks
  release/basic/basic_kbdinkan/source/help/basic_kbdinkan.php
  release/basic/basic_kbdinkan/source/readme.htm
  release/basic/basic_kbdinkan/source/welcome/LayoutU_.png
  release/basic/basic_kbdinkan/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinkan/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinkan/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdinkan/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinkan/source/welcome/welcome.htm
Labels: keyboard, new

#952 [basic_kbdlt] Lithuanian IBM Basic Win10 import
  legacy/kbd/kbdlt/DEPRECATED.md
  legacy/l/lithuanian_ibm/DEPRECATED.md
  release/basic/basic_kbdlt/HISTORY.md
  release/basic/basic_kbdlt/LICENSE.md
  release/basic/basic_kbdlt/README.md
  release/basic/basic_kbdlt/basic_kbdlt.keyboard_info
  release/basic/basic_kbdlt/basic_kbdlt.kpj
  release/basic/basic_kbdlt/source/basic_kbdlt.ico
  release/basic/basic_kbdlt/source/basic_kbdlt.keyman-touch-layout
  release/basic/basic_kbdlt/source/basic_kbdlt.kmn
  release/basic/basic_kbdlt/source/basic_kbdlt.kps
  release/basic/basic_kbdlt/source/basic_kbdlt.kvks
  release/basic/basic_kbdlt/source/help/basic_kbdlt.php
  release/basic/basic_kbdlt/source/readme.htm
  release/basic/basic_kbdlt/source/welcome/LayoutU_.png
  release/basic/basic_kbdlt/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdlt/source/welcome/LayoutU_S.png
  release/basic/basic_kbdlt/source/welcome/welcome.htm
Labels: keyboard, new

#950 [basic_kbdusa] US English Table for IBM Arabic 238_L Basic Win10 import
  legacy/kbd/kbdusa/DEPRECATED.md
  release/basic/basic_kbdusa/HISTORY.md
  release/basic/basic_kbdusa/LICENSE.md
  release/basic/basic_kbdusa/README.md
  release/basic/basic_kbdusa/basic_kbdusa.keyboard_info
  release/basic/basic_kbdusa/basic_kbdusa.kpj
  release/basic/basic_kbdusa/source/basic_kbdusa.ico
  release/basic/basic_kbdusa/source/basic_kbdusa.keyman-touch-layout
  release/basic/basic_kbdusa/source/basic_kbdusa.kmn
  release/basic/basic_kbdusa/source/basic_kbdusa.kps
  release/basic/basic_kbdusa/source/basic_kbdusa.kvks
  release/basic/basic_kbdusa/source/help/basic_kbdusa.php
  release/basic/basic_kbdusa/source/readme.htm
  release/basic/basic_kbdusa/source/welcome/LayoutU_.png
  release/basic/basic_kbdusa/source/welcome/LayoutU_S.png
  release/basic/basic_kbdusa/source/welcome/welcome.htm
Labels: keyboard, new

#951 [basic_kbduk] United Kingdom Basic Win10 import
  legacy/kbd/kbduk/DEPRECATED.md
  legacy/u/uk/DEPRECATED.md
  release/basic/basic_kbduk/HISTORY.md
  release/basic/basic_kbduk/LICENSE.md
  release/basic/basic_kbduk/README.md
  release/basic/basic_kbduk/basic_kbduk.keyboard_info
  release/basic/basic_kbduk/basic_kbduk.kpj
  release/basic/basic_kbduk/source/basic_kbduk.ico
  release/basic/basic_kbduk/source/basic_kbduk.keyman-touch-layout
  release/basic/basic_kbduk/source/basic_kbduk.kmn
  release/basic/basic_kbduk/source/basic_kbduk.kps
  release/basic/basic_kbduk/source/basic_kbduk.kvks
  release/basic/basic_kbduk/source/help/basic_kbduk.php
  release/basic/basic_kbduk/source/readme.htm
  release/basic/basic_kbduk/source/welcome/LayoutU_.png
  release/basic/basic_kbduk/source/welcome/LayoutU_RA.png
  release/basic/basic_kbduk/source/welcome/LayoutU_S.png
  release/basic/basic_kbduk/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbduk/source/welcome/welcome.htm
Labels: keyboard, new

#954 [basic_kbdit142] Italian (142) Basic Win10 import
  legacy/i/italian_142/DEPRECATED.md
  legacy/kbd/kbdit142/DEPRECATED.md
  release/basic/basic_kbdit142/HISTORY.md
  release/basic/basic_kbdit142/LICENSE.md
  release/basic/basic_kbdit142/README.md
  release/basic/basic_kbdit142/basic_kbdit142.keyboard_info
  release/basic/basic_kbdit142/basic_kbdit142.kpj
  release/basic/basic_kbdit142/source/basic_kbdit142.ico
  release/basic/basic_kbdit142/source/basic_kbdit142.keyman-touch-layout
  release/basic/basic_kbdit142/source/basic_kbdit142.kmn
  release/basic/basic_kbdit142/source/basic_kbdit142.kps
  release/basic/basic_kbdit142/source/basic_kbdit142.kvks
  release/basic/basic_kbdit142/source/help/basic_kbdit142.php
  release/basic/basic_kbdit142/source/readme.htm
  release/basic/basic_kbdit142/source/welcome/LayoutU_.png
  release/basic/basic_kbdit142/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdit142/source/welcome/LayoutU_S.png
  release/basic/basic_kbdit142/source/welcome/welcome.htm
Labels: keyboard, new

#956 [basic_kbdmlt48] Maltese 48-Key Basic Win10 import
  legacy/kbd/kbdmlt48/DEPRECATED.md
  legacy/m/maltese_48/DEPRECATED.md
  release/basic/basic_kbdmlt48/HISTORY.md
  release/basic/basic_kbdmlt48/LICENSE.md
  release/basic/basic_kbdmlt48/README.md
  release/basic/basic_kbdmlt48/basic_kbdmlt48.keyboard_info
  release/basic/basic_kbdmlt48/basic_kbdmlt48.kpj
  release/basic/basic_kbdmlt48/source/basic_kbdmlt48.ico
  release/basic/basic_kbdmlt48/source/basic_kbdmlt48.keyman-touch-layout
  release/basic/basic_kbdmlt48/source/basic_kbdmlt48.kmn
  release/basic/basic_kbdmlt48/source/basic_kbdmlt48.kps
  release/basic/basic_kbdmlt48/source/basic_kbdmlt48.kvks
  release/basic/basic_kbdmlt48/source/help/basic_kbdmlt48.php
  release/basic/basic_kbdmlt48/source/readme.htm
  release/basic/basic_kbdmlt48/source/welcome/LayoutU_.png
  release/basic/basic_kbdmlt48/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdmlt48/source/welcome/LayoutU_S.png
  release/basic/basic_kbdmlt48/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdmlt48/source/welcome/welcome.htm
Labels: keyboard, new

#955 [basic_kbdmlt47] Maltese 47-Key Basic Win10 import
  legacy/kbd/kbdmlt47/DEPRECATED.md
  legacy/m/maltese_47/DEPRECATED.md
  release/basic/basic_kbdmlt47/HISTORY.md
  release/basic/basic_kbdmlt47/LICENSE.md
  release/basic/basic_kbdmlt47/README.md
  release/basic/basic_kbdmlt47/basic_kbdmlt47.keyboard_info
  release/basic/basic_kbdmlt47/basic_kbdmlt47.kpj
  release/basic/basic_kbdmlt47/source/basic_kbdmlt47.ico
  release/basic/basic_kbdmlt47/source/basic_kbdmlt47.keyman-touch-layout
  release/basic/basic_kbdmlt47/source/basic_kbdmlt47.kmn
  release/basic/basic_kbdmlt47/source/basic_kbdmlt47.kps
  release/basic/basic_kbdmlt47/source/basic_kbdmlt47.kvks
  release/basic/basic_kbdmlt47/source/help/basic_kbdmlt47.php
  release/basic/basic_kbdmlt47/source/readme.htm
  release/basic/basic_kbdmlt47/source/welcome/LayoutU_.png
  release/basic/basic_kbdmlt47/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdmlt47/source/welcome/LayoutU_S.png
  release/basic/basic_kbdmlt47/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdmlt47/source/welcome/welcome.htm
Labels: keyboard, new

#953 [basic_kbdit] Italian Basic Win10 import
  legacy/i/italian/DEPRECATED.md
  legacy/kbd/kbdit/DEPRECATED.md
  release/basic/basic_kbdit/HISTORY.md
  release/basic/basic_kbdit/LICENSE.md
  release/basic/basic_kbdit/README.md
  release/basic/basic_kbdit/basic_kbdit.keyboard_info
  release/basic/basic_kbdit/basic_kbdit.kpj
  release/basic/basic_kbdit/source/basic_kbdit.ico
  release/basic/basic_kbdit/source/basic_kbdit.keyman-touch-layout
  release/basic/basic_kbdit/source/basic_kbdit.kmn
  release/basic/basic_kbdit/source/basic_kbdit.kps
  release/basic/basic_kbdit/source/basic_kbdit.kvks
  release/basic/basic_kbdit/source/help/basic_kbdit.php
  release/basic/basic_kbdit/source/readme.htm
  release/basic/basic_kbdit/source/welcome/LayoutU_.png
  release/basic/basic_kbdit/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdit/source/welcome/LayoutU_S.png
  release/basic/basic_kbdit/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdit/source/welcome/welcome.htm
Labels: keyboard, new

#958 [deprecate_tir] Deprecate 4 keyboards with author permission
  legacy/t/tir-er-uni/DEPRECATED.md
  legacy/t/tir-et-uni/DEPRECATED.md
  legacy/t/tir_er_uni_ez/DEPRECATED.md
  legacy/t/tir_et_uni_ez/DEPRECATED.md
  release/gff/gff_tigrinya_eritrea/gff_tigrinya_eritrea.keyboard_info
  release/gff/gff_tigrinya_ethiopia/gff_tigrinya_ethiopia.keyboard_info
Labels: infrastructure, keyboard

#820 [nrc_crk_cans] First draft of the Plains Cree syllabics keyboard
  release/nrc/nrc_crk_cans/HISTORY.md
  release/nrc/nrc_crk_cans/LICENSE.md
  release/nrc/nrc_crk_cans/README.md
  release/nrc/nrc_crk_cans/nrc_crk_cans.keyboard_info
  release/nrc/nrc_crk_cans/nrc_crk_cans.kpj
  release/nrc/nrc_crk_cans/source/README.htm
  release/nrc/nrc_crk_cans/source/help/layout-default.jpg
  release/nrc/nrc_crk_cans/source/help/layout-kv.jpg
  release/nrc/nrc_crk_cans/source/help/layout-kwv.jpg
  release/nrc/nrc_crk_cans/source/help/layout-numeric.jpg
  release/nrc/nrc_crk_cans/source/help/layout-punctuation.jpg
  release/nrc/nrc_crk_cans/source/help/layout-wv.jpg
  release/nrc/nrc_crk_cans/source/help/layout-yv.jpg
  release/nrc/nrc_crk_cans/source/help/nrc_crk_cans.php
  release/nrc/nrc_crk_cans/source/help/press-k.jpg
  release/nrc/nrc_crk_cans/source/help/press-w.jpg
  release/nrc/nrc_crk_cans/source/help/press-y.jpg
  release/nrc/nrc_crk_cans/source/nrc_crk_cans.keyman-touch-layout
  release/nrc/nrc_crk_cans/source/nrc_crk_cans.kmn
  release/nrc/nrc_crk_cans/source/nrc_crk_cans.kps
  release/nrc/nrc_crk_cans/source/welcome/layout-default.jpg
  release/nrc/nrc_crk_cans/source/welcome/layout-kv.jpg
  release/nrc/nrc_crk_cans/source/welcome/layout-kwv.jpg
  release/nrc/nrc_crk_cans/source/welcome/layout-numeric.jpg
  release/nrc/nrc_crk_cans/source/welcome/layout-punctuation.jpg
  release/nrc/nrc_crk_cans/source/welcome/layout-wv.jpg
  release/nrc/nrc_crk_cans/source/welcome/layout-yv.jpg
  release/nrc/nrc_crk_cans/source/welcome/press-k.jpg
  release/nrc/nrc_crk_cans/source/welcome/press-w.jpg
  release/nrc/nrc_crk_cans/source/welcome/press-y.jpg
  release/nrc/nrc_crk_cans/source/welcome/welcome.htm
Labels: keyboard, new

#959 fix(ci): dependencies for release packages
  release/packages/galaxie_greek_hebrew_mnemonic/galaxie_greek_hebrew_mnemonic.kpj
  release/packages/galaxie_greek_hebrew_mnemonic/source/galaxie_greek_hebrew_mnemonic.kps
  release/packages/galaxie_greek_hebrew_positional/galaxie_greek_hebrew_positional.kpj
  release/packages/galaxie_greek_hebrew_positional/source/galaxie_greek_hebrew_positional.kps
  release/packages/gff_amh_powerpack_7/gff_amh_powerpack_7.kpj
  release/packages/gff_amh_powerpack_7/source/gff_amh_powerpack_7.kps
  release/packages/syriac_aramaic/source/syriac_aramaic.kps
  release/packages/syriac_aramaic/syriac_aramaic.kpj
Labels: bug, infrastructure

#966 [basic_kbdth1] Thai Pattachote Basic Win10 import
  legacy/kbd/kbdth1/DEPRECATED.md
  legacy/t/thai_pattachote/DEPRECATED.md
  release/basic/basic_kbdth1/HISTORY.md
  release/basic/basic_kbdth1/LICENSE.md
  release/basic/basic_kbdth1/README.md
  release/basic/basic_kbdth1/basic_kbdth1.keyboard_info
  release/basic/basic_kbdth1/basic_kbdth1.kpj
  release/basic/basic_kbdth1/source/basic_kbdth1.ico
  release/basic/basic_kbdth1/source/basic_kbdth1.keyman-touch-layout
  release/basic/basic_kbdth1/source/basic_kbdth1.kmn
  release/basic/basic_kbdth1/source/basic_kbdth1.kps
  release/basic/basic_kbdth1/source/basic_kbdth1.kvks
  release/basic/basic_kbdth1/source/help/basic_kbdth1.php
  release/basic/basic_kbdth1/source/readme.htm
  release/basic/basic_kbdth1/source/welcome/LayoutU_.png
  release/basic/basic_kbdth1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdth1/source/welcome/welcome.htm
Labels: keyboard, new

#967 [basic_kbdth2] Thai Kedmanee (non-ShiftLock) Basic Win10 import
  legacy/kbd/kbdth2/DEPRECATED.md
  legacy/t/thai_kedmanee_nsl/DEPRECATED.md
  release/basic/basic_kbdth2/HISTORY.md
  release/basic/basic_kbdth2/LICENSE.md
  release/basic/basic_kbdth2/README.md
  release/basic/basic_kbdth2/basic_kbdth2.keyboard_info
  release/basic/basic_kbdth2/basic_kbdth2.kpj
  release/basic/basic_kbdth2/source/basic_kbdth2.ico
  release/basic/basic_kbdth2/source/basic_kbdth2.keyman-touch-layout
  release/basic/basic_kbdth2/source/basic_kbdth2.kmn
  release/basic/basic_kbdth2/source/basic_kbdth2.kps
  release/basic/basic_kbdth2/source/basic_kbdth2.kvks
  release/basic/basic_kbdth2/source/help/basic_kbdth2.php
  release/basic/basic_kbdth2/source/readme.htm
  release/basic/basic_kbdth2/source/welcome/LayoutU_.png
  release/basic/basic_kbdth2/source/welcome/LayoutU_S.png
  release/basic/basic_kbdth2/source/welcome/welcome.htm
Labels: keyboard, new

#968 [basic_kbdth3] Thai Pattachote (non-ShiftLock) Basic Win10 import
  legacy/kbd/kbdth3/DEPRECATED.md
  legacy/t/thai_pattachote_nsl/DEPRECATED.md
  release/basic/basic_kbdth3/HISTORY.md
  release/basic/basic_kbdth3/LICENSE.md
  release/basic/basic_kbdth3/README.md
  release/basic/basic_kbdth3/basic_kbdth3.keyboard_info
  release/basic/basic_kbdth3/basic_kbdth3.kpj
  release/basic/basic_kbdth3/source/basic_kbdth3.ico
  release/basic/basic_kbdth3/source/basic_kbdth3.keyman-touch-layout
  release/basic/basic_kbdth3/source/basic_kbdth3.kmn
  release/basic/basic_kbdth3/source/basic_kbdth3.kps
  release/basic/basic_kbdth3/source/basic_kbdth3.kvks
  release/basic/basic_kbdth3/source/help/basic_kbdth3.php
  release/basic/basic_kbdth3/source/readme.htm
  release/basic/basic_kbdth3/source/welcome/LayoutU_.png
  release/basic/basic_kbdth3/source/welcome/LayoutU_S.png
  release/basic/basic_kbdth3/source/welcome/welcome.htm
Labels: keyboard, new

#972 [bangla_munir] Bangla Munir keyboard
  legacy/b/bangla_munir_kab/DEPRECATED.md
  release/b/bangla_munir/HISTORY.md
  release/b/bangla_munir/LICENSE.md
  release/b/bangla_munir/README.md
  release/b/bangla_munir/bangla_munir.keyboard_info
  release/b/bangla_munir/bangla_munir.kpj
  release/b/bangla_munir/source/bangla_munir.ico
  release/b/bangla_munir/source/bangla_munir.keyman-touch-layout
  release/b/bangla_munir/source/bangla_munir.kmn
  release/b/bangla_munir/source/bangla_munir.kps
  release/b/bangla_munir/source/bangla_munir.kvks
  release/b/bangla_munir/source/help/bangla_munir.php
  release/b/bangla_munir/source/readme.htm
  release/b/bangla_munir/source/welcome/LayoutU_.png
  release/b/bangla_munir/source/welcome/LayoutU_RA.png
  release/b/bangla_munir/source/welcome/LayoutU_S.png
  release/b/bangla_munir/source/welcome/welcome.htm
Labels: keyboard, new

#974 [basic_kbdca] Canadian French Basic Win10 import
  legacy/c/canadian_french/DEPRECATED.md
  legacy/c/canadian_french_legacy/DEPRECATED.md
  legacy/kbd/kbdca/DEPRECATED.md
  legacy/kbd/kbdfc/DEPRECATED.md
  release/basic/basic_kbdca/HISTORY.md
  release/basic/basic_kbdca/LICENSE.md
  release/basic/basic_kbdca/README.md
  release/basic/basic_kbdca/basic_kbdca.keyboard_info
  release/basic/basic_kbdca/basic_kbdca.kpj
  release/basic/basic_kbdca/source/basic_kbdca.ico
  release/basic/basic_kbdca/source/basic_kbdca.keyman-touch-layout
  release/basic/basic_kbdca/source/basic_kbdca.kmn
  release/basic/basic_kbdca/source/basic_kbdca.kps
  release/basic/basic_kbdca/source/basic_kbdca.kvks
  release/basic/basic_kbdca/source/help/basic_kbdca.php
  release/basic/basic_kbdca/source/readme.htm
  release/basic/basic_kbdca/source/welcome/LayoutU_.png
  release/basic/basic_kbdca/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdca/source/welcome/LayoutU_S.png
  release/basic/basic_kbdca/source/welcome/welcome.htm
Labels: keyboard, new

#973 [bangla_probhat] Bangla Probhat keyboard
  legacy/b/bangla_probhat_kab/DEPRECATED.md
  release/b/bangla_probhat/HISTORY.md
  release/b/bangla_probhat/LICENSE.md
  release/b/bangla_probhat/README.md
  release/b/bangla_probhat/bangla_probhat.keyboard_info
  release/b/bangla_probhat/bangla_probhat.kpj
  release/b/bangla_probhat/source/bangla_probhat.ico
  release/b/bangla_probhat/source/bangla_probhat.keyman-touch-layout
  release/b/bangla_probhat/source/bangla_probhat.kmn
  release/b/bangla_probhat/source/bangla_probhat.kps
  release/b/bangla_probhat/source/bangla_probhat.kvks
  release/b/bangla_probhat/source/help/bangla_probhat.php
  release/b/bangla_probhat/source/readme.htm
  release/b/bangla_probhat/source/welcome/LayoutU_.png
  release/b/bangla_probhat/source/welcome/LayoutU_RA.png
  release/b/bangla_probhat/source/welcome/LayoutU_S.png
  release/b/bangla_probhat/source/welcome/LayoutU_SRA.png
  release/b/bangla_probhat/source/welcome/welcome.htm
Labels: keyboard, new

#970 [bangla_joy] Bangla Joy keyboard legacy to release
  legacy/b/bangla_joy_kab/DEPRECATED.md
  release/b/bangla_joy/HISTORY.md
  release/b/bangla_joy/LICENSE.md
  release/b/bangla_joy/README.md
  release/b/bangla_joy/bangla_joy.keyboard_info
  release/b/bangla_joy/bangla_joy.kpj
  release/b/bangla_joy/source/bangla_joy.ico
  release/b/bangla_joy/source/bangla_joy.keyman-touch-layout
  release/b/bangla_joy/source/bangla_joy.kmn
  release/b/bangla_joy/source/bangla_joy.kps
  release/b/bangla_joy/source/bangla_joy.kvks
  release/b/bangla_joy/source/help/bangla_joy.php
  release/b/bangla_joy/source/readme.htm
  release/b/bangla_joy/source/welcome/LayoutU_.png
  release/b/bangla_joy/source/welcome/LayoutU_RA.png
  release/b/bangla_joy/source/welcome/LayoutU_S.png
  release/b/bangla_joy/source/welcome/LayoutU_SRA.png
  release/b/bangla_joy/source/welcome/welcome.htm
Labels: keyboard, new

#969 [basic_kbdmonmo] Mongolian (Mongolian Script) Basic Win10 import
  legacy/kbd/kbdmonmo/DEPRECATED.md
  release/basic/basic_kbdmonmo/HISTORY.md
  release/basic/basic_kbdmonmo/LICENSE.md
  release/basic/basic_kbdmonmo/README.md
  release/basic/basic_kbdmonmo/basic_kbdmonmo.keyboard_info
  release/basic/basic_kbdmonmo/basic_kbdmonmo.kpj
  release/basic/basic_kbdmonmo/source/basic_kbdmonmo.ico
  release/basic/basic_kbdmonmo/source/basic_kbdmonmo.keyman-touch-layout
  release/basic/basic_kbdmonmo/source/basic_kbdmonmo.kmn
  release/basic/basic_kbdmonmo/source/basic_kbdmonmo.kps
  release/basic/basic_kbdmonmo/source/basic_kbdmonmo.kvks
  release/basic/basic_kbdmonmo/source/help/basic_kbdmonmo.php
  release/basic/basic_kbdmonmo/source/readme.htm
  release/basic/basic_kbdmonmo/source/welcome/LayoutU_.png
  release/basic/basic_kbdmonmo/source/welcome/LayoutU_S.png
  release/basic/basic_kbdmonmo/source/welcome/welcome.htm
Labels: keyboard, new

#965 [basic_kbdth0] Thai Kedmanee Basic Win10 import
  legacy/kbd/kbdth0/DEPRECATED.md
  legacy/t/thai_kedmanee/DEPRECATED.md
  release/basic/basic_kbdth0/HISTORY.md
  release/basic/basic_kbdth0/LICENSE.md
  release/basic/basic_kbdth0/README.md
  release/basic/basic_kbdth0/basic_kbdth0.keyboard_info
  release/basic/basic_kbdth0/basic_kbdth0.kpj
  release/basic/basic_kbdth0/source/basic_kbdth0.ico
  release/basic/basic_kbdth0/source/basic_kbdth0.keyman-touch-layout
  release/basic/basic_kbdth0/source/basic_kbdth0.kmn
  release/basic/basic_kbdth0/source/basic_kbdth0.kps
  release/basic/basic_kbdth0/source/basic_kbdth0.kvks
  release/basic/basic_kbdth0/source/help/basic_kbdth0.php
  release/basic/basic_kbdth0/source/readme.htm
  release/basic/basic_kbdth0/source/welcome/LayoutU_.png
  release/basic/basic_kbdth0/source/welcome/LayoutU_LC.png
  release/basic/basic_kbdth0/source/welcome/LayoutU_S.png
  release/basic/basic_kbdth0/source/welcome/welcome.htm
Labels: keyboard, new

#978 [basic_kbdhept] Greek Polytonic Basic Win10 import
  legacy/g/greek_polytonic/DEPRECATED.md
  legacy/kbd/kbdhept/DEPRECATED.md
  release/basic/basic_kbdhept/HISTORY.md
  release/basic/basic_kbdhept/LICENSE.md
  release/basic/basic_kbdhept/README.md
  release/basic/basic_kbdhept/basic_kbdhept.keyboard_info
  release/basic/basic_kbdhept/basic_kbdhept.kpj
  release/basic/basic_kbdhept/source/basic_kbdhept.ico
  release/basic/basic_kbdhept/source/basic_kbdhept.keyman-touch-layout
  release/basic/basic_kbdhept/source/basic_kbdhept.kmn
  release/basic/basic_kbdhept/source/basic_kbdhept.kps
  release/basic/basic_kbdhept/source/basic_kbdhept.kvks
  release/basic/basic_kbdhept/source/help/basic_kbdhept.php
  release/basic/basic_kbdhept/source/readme.htm
  release/basic/basic_kbdhept/source/welcome/LayoutU_.png
  release/basic/basic_kbdhept/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdhept/source/welcome/LayoutU_S.png
  release/basic/basic_kbdhept/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdhept/source/welcome/welcome.htm
Labels: keyboard, new

#980 [deprecate_tamil99m] deprecate mobile layout
  legacy/t/tamil99m/DEPRECATED.md
  release/basic/basic_kbdtam99/basic_kbdtam99.keyboard_info
Labels: infrastructure, keyboard

#976 [basic_kbdhe220] Greek (220) Basic Win10 import
  legacy/g/greek_220/DEPRECATED.md
  legacy/kbd/kbdhe220/DEPRECATED.md
  release/basic/basic_kbdhe220/HISTORY.md
  release/basic/basic_kbdhe220/LICENSE.md
  release/basic/basic_kbdhe220/README.md
  release/basic/basic_kbdhe220/basic_kbdhe220.keyboard_info
  release/basic/basic_kbdhe220/basic_kbdhe220.kpj
  release/basic/basic_kbdhe220/source/basic_kbdhe220.ico
  release/basic/basic_kbdhe220/source/basic_kbdhe220.keyman-touch-layout
  release/basic/basic_kbdhe220/source/basic_kbdhe220.kmn
  release/basic/basic_kbdhe220/source/basic_kbdhe220.kps
  release/basic/basic_kbdhe220/source/basic_kbdhe220.kvks
  release/basic/basic_kbdhe220/source/help/basic_kbdhe220.php
  release/basic/basic_kbdhe220/source/readme.htm
  release/basic/basic_kbdhe220/source/welcome/LayoutU_.png
  release/basic/basic_kbdhe220/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdhe220/source/welcome/LayoutU_S.png
  release/basic/basic_kbdhe220/source/welcome/welcome.htm
Labels: keyboard, new

#975 [basic_kbdhe] Greek Basic Win10 import
  legacy/g/greek/DEPRECATED.md
  legacy/kbd/kbdhe/DEPRECATED.md
  release/basic/basic_kbdhe/HISTORY.md
  release/basic/basic_kbdhe/LICENSE.md
  release/basic/basic_kbdhe/README.md
  release/basic/basic_kbdhe/basic_kbdhe.keyboard_info
  release/basic/basic_kbdhe/basic_kbdhe.kpj
  release/basic/basic_kbdhe/source/basic_kbdhe.ico
  release/basic/basic_kbdhe/source/basic_kbdhe.keyman-touch-layout
  release/basic/basic_kbdhe/source/basic_kbdhe.kmn
  release/basic/basic_kbdhe/source/basic_kbdhe.kps
  release/basic/basic_kbdhe/source/basic_kbdhe.kvks
  release/basic/basic_kbdhe/source/help/basic_kbdhe.php
  release/basic/basic_kbdhe/source/readme.htm
  release/basic/basic_kbdhe/source/welcome/LayoutU_.png
  release/basic/basic_kbdhe/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdhe/source/welcome/LayoutU_S.png
  release/basic/basic_kbdhe/source/welcome/welcome.htm
Labels: keyboard, new

#977 [basic_kbdhe319] Greek (319) Basic Win10 import
  legacy/g/greek_319/DEPRECATED.md
  legacy/kbd/kbdhe319/DEPRECATED.md
  release/basic/basic_kbdhe319/HISTORY.md
  release/basic/basic_kbdhe319/LICENSE.md
  release/basic/basic_kbdhe319/README.md
  release/basic/basic_kbdhe319/basic_kbdhe319.keyboard_info
  release/basic/basic_kbdhe319/basic_kbdhe319.kpj
  release/basic/basic_kbdhe319/source/basic_kbdhe319.ico
  release/basic/basic_kbdhe319/source/basic_kbdhe319.keyman-touch-layout
  release/basic/basic_kbdhe319/source/basic_kbdhe319.kmn
  release/basic/basic_kbdhe319/source/basic_kbdhe319.kps
  release/basic/basic_kbdhe319/source/basic_kbdhe319.kvks
  release/basic/basic_kbdhe319/source/help/basic_kbdhe319.php
  release/basic/basic_kbdhe319/source/readme.htm
  release/basic/basic_kbdhe319/source/welcome/LayoutU_.png
  release/basic/basic_kbdhe319/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdhe319/source/welcome/LayoutU_S.png
  release/basic/basic_kbdhe319/source/welcome/welcome.htm
Labels: keyboard, new

#982 [nrc_crk_cans] 1.0.1
  release/nrc/nrc_crk_cans/HISTORY.md
  release/nrc/nrc_crk_cans/README.md
  release/nrc/nrc_crk_cans/nrc_crk_cans.kpj
  release/nrc/nrc_crk_cans/source/help/nrc_crk_cans.php
  release/nrc/nrc_crk_cans/source/nrc_crk_cans.keyman-touch-layout
  release/nrc/nrc_crk_cans/source/nrc_crk_cans.kmn
  release/nrc/nrc_crk_cans/source/nrc_crk_cans.kps
  release/nrc/nrc_crk_cans/source/welcome/welcome.htm
Labels: enhancement, keyboard

#981 [btl_kenya] Kenya (BTL) new to github keyboard
  release/b/btl_kenya/HISTORY.md
  release/b/btl_kenya/LICENSE.md
  release/b/btl_kenya/README.md
  release/b/btl_kenya/btl_kenya.keyboard_info
  release/b/btl_kenya/btl_kenya.kpj
  release/b/btl_kenya/source/btl_kenya.ico
  release/b/btl_kenya/source/btl_kenya.keyman-touch-layout
  release/b/btl_kenya/source/btl_kenya.kmn
  release/b/btl_kenya/source/btl_kenya.kps
  release/b/btl_kenya/source/btl_kenya.kvks
  release/b/btl_kenya/source/help/btl_kenya.php
  release/b/btl_kenya/source/readme.htm
  release/b/btl_kenya/source/welcome/LayoutU_.png
  release/b/btl_kenya/source/welcome/LayoutU_S.png
  release/b/btl_kenya/source/welcome/welcome.htm
Labels: keyboard, new

#983 fix: fail ci early if assets unavailable
  ci.sh
Labels: bug, infrastructure

#942 [rac_marwari] Rachitralli-Marwari keyboard on behalf of author
  release/rac/rac_marwari/HISTORY.md
  release/rac/rac_marwari/LICENSE.md
  release/rac/rac_marwari/README.md
  release/rac/rac_marwari/rac_marwari.keyboard_info
  release/rac/rac_marwari/rac_marwari.kpj
  release/rac/rac_marwari/source/RAC.jpg
  release/rac/rac_marwari/source/help/rac_marwari.php
  release/rac/rac_marwari/source/rac_marwari.ico
  release/rac/rac_marwari/source/rac_marwari.keyman-touch-layout
  release/rac/rac_marwari/source/rac_marwari.kmn
  release/rac/rac_marwari/source/rac_marwari.kps
  release/rac/rac_marwari/source/rac_marwari.kvks
  release/rac/rac_marwari/source/readme.htm
  release/rac/rac_marwari/source/welcome/LayoutU_.png
  release/rac/rac_marwari/source/welcome/LayoutU_S.png
  release/rac/rac_marwari/source/welcome/welcome.htm
Labels: keyboard, new
