Repository keymanapp/keyboards, pull requests merged in 2019-12, with the labels that each got.

#987 [basic_kbdrost] Romanian (Standard) Basic Win10 import
  legacy/kbd/kbdro/DEPRECATED.md
  legacy/kbd/kbdrost/DEPRECATED.md
  legacy/r/romanian/DEPRECATED.md
  release/basic/basic_kbdrost/HISTORY.md
  release/basic/basic_kbdrost/LICENSE.md
  release/basic/basic_kbdrost/README.md
  release/basic/basic_kbdrost/basic_kbdrost.keyboard_info
  release/basic/basic_kbdrost/basic_kbdrost.kpj
  release/basic/basic_kbdrost/source/basic_kbdrost.ico
  release/basic/basic_kbdrost/source/basic_kbdrost.keyman-touch-layout
  release/basic/basic_kbdrost/source/basic_kbdrost.kmn
  release/basic/basic_kbdrost/source/basic_kbdrost.kps
  release/basic/basic_kbdrost/source/basic_kbdrost.kvks
  release/basic/basic_kbdrost/source/help/basic_kbdrost.php
  release/basic/basic_kbdrost/source/readme.htm
  release/basic/basic_kbdrost/source/welcome/LayoutU_.png
  release/basic/basic_kbdrost/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdrost/source/welcome/LayoutU_S.png
  release/basic/basic_kbdrost/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdrost/source/welcome/welcome.htm
Labels: keyboard, new

#989 [basic_kbdpl] Polish (214) Basic Win10 import
  legacy/kbd/kbdpl/DEPRECATED.md
  legacy/p/polish/DEPRECATED.md
  legacy/p/polish_214/DEPRECATED.md
  release/basic/basic_kbdpl/HISTORY.md
  release/basic/basic_kbdpl/LICENSE.md
  release/basic/basic_kbdpl/README.md
  release/basic/basic_kbdpl/basic_kbdpl.keyboard_info
  release/basic/basic_kbdpl/basic_kbdpl.kpj
  release/basic/basic_kbdpl/source/basic_kbdpl.ico
  release/basic/basic_kbdpl/source/basic_kbdpl.keyman-touch-layout
  release/basic/basic_kbdpl/source/basic_kbdpl.kmn
  release/basic/basic_kbdpl/source/basic_kbdpl.kps
  release/basic/basic_kbdpl/source/basic_kbdpl.kvks
  release/basic/basic_kbdpl/source/help/basic_kbdpl.php
  release/basic/basic_kbdpl/source/readme.htm
  release/basic/basic_kbdpl/source/welcome/LayoutU_.png
  release/basic/basic_kbdpl/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdpl/source/welcome/LayoutU_S.png
  release/basic/basic_kbdpl/source/welcome/welcome.htm
Labels: keyboard, new

#990 [basic_kbdfo] Faeroese Basic Win10 import
  legacy/f/faeroese/DEPRECATED.md
  legacy/f/faroese/DEPRECATED.md
  legacy/kbd/kbdfo/DEPRECATED.md
  release/basic/basic_kbdfo/HISTORY.md
  release/basic/basic_kbdfo/LICENSE.md
  release/basic/basic_kbdfo/README.md
  release/basic/basic_kbdfo/basic_kbdfo.keyboard_info
  release/basic/basic_kbdfo/basic_kbdfo.kpj
  release/basic/basic_kbdfo/source/basic_kbdfo.ico
  release/basic/basic_kbdfo/source/basic_kbdfo.keyman-touch-layout
  release/basic/basic_kbdfo/source/basic_kbdfo.kmn
  release/basic/basic_kbdfo/source/basic_kbdfo.kps
  release/basic/basic_kbdfo/source/basic_kbdfo.kvks
  release/basic/basic_kbdfo/source/help/basic_kbdfo.php
  release/basic/basic_kbdfo/source/readme.htm
  release/basic/basic_kbdfo/source/welcome/LayoutU_.png
  release/basic/basic_kbdfo/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdfo/source/welcome/LayoutU_S.png
  release/basic/basic_kbdfo/source/welcome/welcome.htm
Labels: keyboard, new

#992 [basic_kbdcz] Czech Basic Win10 import
  legacy/c/czech/DEPRECATED.md
  legacy/kbd/kbdcz/DEPRECATED.md
  release/basic/basic_kbdcz/HISTORY.md
  release/basic/basic_kbdcz/LICENSE.md
  release/basic/basic_kbdcz/README.md
  release/basic/basic_kbdcz/basic_kbdcz.keyboard_info
  release/basic/basic_kbdcz/basic_kbdcz.kpj
  release/basic/basic_kbdcz/source/basic_kbdcz.ico
  release/basic/basic_kbdcz/source/basic_kbdcz.keyman-touch-layout
  release/basic/basic_kbdcz/source/basic_kbdcz.kmn
  release/basic/basic_kbdcz/source/basic_kbdcz.kps
  release/basic/basic_kbdcz/source/basic_kbdcz.kvks
  release/basic/basic_kbdcz/source/help/basic_kbdcz.php
  release/basic/basic_kbdcz/source/readme.htm
  release/basic/basic_kbdcz/source/welcome/LayoutU_.png
  release/basic/basic_kbdcz/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdcz/source/welcome/LayoutU_S.png
  release/basic/basic_kbdcz/source/welcome/welcome.htm
Labels: keyboard, new

#993 [basic_kbdbene] Belgian (Comma) Basic Win10 import
  legacy/b/belgian_comma/DEPRECATED.md
  legacy/kbd/kbdbene/DEPRECATED.md
  release/basic/basic_kbdbene/HISTORY.md
  release/basic/basic_kbdbene/LICENSE.md
  release/basic/basic_kbdbene/README.md
  release/basic/basic_kbdbene/basic_kbdbene.keyboard_info
  release/basic/basic_kbdbene/basic_kbdbene.kpj
  release/basic/basic_kbdbene/source/basic_kbdbene.ico
  release/basic/basic_kbdbene/source/basic_kbdbene.keyman-touch-layout
  release/basic/basic_kbdbene/source/basic_kbdbene.kmn
  release/basic/basic_kbdbene/source/basic_kbdbene.kps
  release/basic/basic_kbdbene/source/basic_kbdbene.kvks
  release/basic/basic_kbdbene/source/help/basic_kbdbene.php
  release/basic/basic_kbdbene/source/readme.htm
  release/basic/basic_kbdbene/source/welcome/LayoutU_.png
  release/basic/basic_kbdbene/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdbene/source/welcome/LayoutU_S.png
  release/basic/basic_kbdbene/source/welcome/welcome.htm
Labels: keyboard, new

#994 [basic_kbdgr] German Basic Win10 import
  legacy/g/german/DEPRECATED.md
  legacy/kbd/kbdgr/DEPRECATED.md
  release/basic/basic_kbdgr/HISTORY.md
  release/basic/basic_kbdgr/LICENSE.md
  release/basic/basic_kbdgr/README.md
  release/basic/basic_kbdgr/basic_kbdgr.keyboard_info
  release/basic/basic_kbdgr/basic_kbdgr.kpj
  release/basic/basic_kbdgr/source/basic_kbdgr.ico
  release/basic/basic_kbdgr/source/basic_kbdgr.keyman-touch-layout
  release/basic/basic_kbdgr/source/basic_kbdgr.kmn
  release/basic/basic_kbdgr/source/basic_kbdgr.kps
  release/basic/basic_kbdgr/source/basic_kbdgr.kvks
  release/basic/basic_kbdgr/source/help/basic_kbdgr.php
  release/basic/basic_kbdgr/source/readme.htm
  release/basic/basic_kbdgr/source/welcome/LayoutU_.png
  release/basic/basic_kbdgr/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdgr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdgr/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdgr/source/welcome/welcome.htm
Labels: keyboard, new

#986 [basic_kbdfr] French Basic Win10 import
  legacy/f/french/DEPRECATED.md
  legacy/kbd/kbdfr/DEPRECATED.md
  release/basic/basic_kbdfr/HISTORY.md
  release/basic/basic_kbdfr/LICENSE.md
  release/basic/basic_kbdfr/README.md
  release/basic/basic_kbdfr/basic_kbdfr.keyboard_info
  release/basic/basic_kbdfr/basic_kbdfr.kpj
  release/basic/basic_kbdfr/source/basic_kbdfr.ico
  release/basic/basic_kbdfr/source/basic_kbdfr.keyman-touch-layout
  release/basic/basic_kbdfr/source/basic_kbdfr.kmn
  release/basic/basic_kbdfr/source/basic_kbdfr.kps
  release/basic/basic_kbdfr/source/basic_kbdfr.kvks
  release/basic/basic_kbdfr/source/help/basic_kbdfr.php
  release/basic/basic_kbdfr/source/readme.htm
  release/basic/basic_kbdfr/source/welcome/LayoutU_.png
  release/basic/basic_kbdfr/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdfr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdfr/source/welcome/welcome.htm
Labels: keyboard, new

#995 [basic_kbdla] Latin American Basic Win10 import
  legacy/kbd/kbdla/DEPRECATED.md
  legacy/l/latin_american/DEPRECATED.md
  release/basic/basic_kbdla/HISTORY.md
  release/basic/basic_kbdla/LICENSE.md
  release/basic/basic_kbdla/README.md
  release/basic/basic_kbdla/basic_kbdla.keyboard_info
  release/basic/basic_kbdla/basic_kbdla.kpj
  release/basic/basic_kbdla/source/basic_kbdla.ico
  release/basic/basic_kbdla/source/basic_kbdla.keyman-touch-layout
  release/basic/basic_kbdla/source/basic_kbdla.kmn
  release/basic/basic_kbdla/source/basic_kbdla.kps
  release/basic/basic_kbdla/source/basic_kbdla.kvks
  release/basic/basic_kbdla/source/help/basic_kbdla.php
  release/basic/basic_kbdla/source/readme.htm
  release/basic/basic_kbdla/source/welcome/LayoutU_.png
  release/basic/basic_kbdla/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdla/source/welcome/LayoutU_S.png
  release/basic/basic_kbdla/source/welcome/welcome.htm
Labels: keyboard, new

#997 [basic_kbdcz2] Czech Programmers Basic Win10 import
  legacy/c/czech_prog/DEPRECATED.md
  legacy/kbd/kbdcz2/DEPRECATED.md
  release/basic/basic_kbdcz2/HISTORY.md
  release/basic/basic_kbdcz2/LICENSE.md
  release/basic/basic_kbdcz2/README.md
  release/basic/basic_kbdcz2/basic_kbdcz2.keyboard_info
  release/basic/basic_kbdcz2/basic_kbdcz2.kpj
  release/basic/basic_kbdcz2/source/basic_kbdcz2.ico
  release/basic/basic_kbdcz2/source/basic_kbdcz2.keyman-touch-layout
  release/basic/basic_kbdcz2/source/basic_kbdcz2.kmn
  release/basic/basic_kbdcz2/source/basic_kbdcz2.kps
  release/basic/basic_kbdcz2/source/basic_kbdcz2.kvks
  release/basic/basic_kbdcz2/source/help/basic_kbdcz2.php
  release/basic/basic_kbdcz2/source/readme.htm
  release/basic/basic_kbdcz2/source/welcome/LayoutU_.png
  release/basic/basic_kbdcz2/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdcz2/source/welcome/LayoutU_S.png
  release/basic/basic_kbdcz2/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdcz2/source/welcome/welcome.htm
Labels: keyboard, new

#1000 [easy_chakma] Add RibengUni font to keyboard_info
  release/e/easy_chakma/easy_chakma.keyboard_info
Labels: infrastructure, keyboard

#996 [basic_kbdcz1] Czech (Qwerty) Basic Win10 import
  legacy/c/czech_qwerty/DEPRECATED.md
  legacy/kbd/kbdcz1/DEPRECATED.md
  release/basic/basic_kbdcz1/HISTORY.md
  release/basic/basic_kbdcz1/LICENSE.md
  release/basic/basic_kbdcz1/README.md
  release/basic/basic_kbdcz1/basic_kbdcz1.keyboard_info
  release/basic/basic_kbdcz1/basic_kbdcz1.kpj
  release/basic/basic_kbdcz1/source/basic_kbdcz1.ico
  release/basic/basic_kbdcz1/source/basic_kbdcz1.keyman-touch-layout
  release/basic/basic_kbdcz1/source/basic_kbdcz1.kmn
  release/basic/basic_kbdcz1/source/basic_kbdcz1.kps
  release/basic/basic_kbdcz1/source/basic_kbdcz1.kvks
  release/basic/basic_kbdcz1/source/help/basic_kbdcz1.php
  release/basic/basic_kbdcz1/source/readme.htm
  release/basic/basic_kbdcz1/source/welcome/LayoutU_.png
  release/basic/basic_kbdcz1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdcz1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdcz1/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdcz1/source/welcome/welcome.htm
Labels: keyboard, new

#927 fix(fv_dakelh): restore enhanced touch layout from earlier version
  release/fv/fv_dakelh/HISTORY.md
  release/fv/fv_dakelh/LICENSE.md
  release/fv/fv_dakelh/README.md
  release/fv/fv_dakelh/fv_dakelh.kpj
  release/fv/fv_dakelh/source/fv_dakelh.keyman-touch-layout
  release/fv/fv_dakelh/source/fv_dakelh.kmn
  release/fv/fv_dakelh/source/fv_dakelh.kps
  release/fv/fv_dakelh/source/fv_dakelh.kvks
  release/fv/fv_dakelh/source/fv_dakelh_kmw_help.htm
Labels: bug, keyboard
