Repository keymanapp/keyboards, pull requests merged in 2019-05, with the labels that each got.

#690 [list_mismatch_1] Fixing BCP47 codes mostly in keyboard_info
  release/a/arabic_izza/arabic_izza.keyboard_info
  release/bj/bj_cree_east/HISTORY.md
  release/bj/bj_cree_east/LICENSE.md
  release/bj/bj_cree_east/README.md
  release/bj/bj_cree_east/bj_cree_east.keyboard_info
  release/bj/bj_cree_east/bj_cree_east.kpj
  release/bj/bj_cree_east/source/bj_cree_east.kmn
  release/bj/bj_cree_east/source/bj_cree_east.kps
  release/bj/bj_cree_east/source/bj_cree_east.kvks
  release/bj/bj_cree_east/source/help/bj_cree_east.php
  release/bj/bj_cree_east/source/readme.htm
  release/bj/bj_cree_east/source/welcome/welcome.htm
  release/e/easy_chakma/easy_chakma.keyboard_info
  release/el/el_pasifika/el_pasifika.keyboard_info
  release/g/ghana/ghana.keyboard_info
  release/gff/gff_geez/gff_geez.keyboard_info
  release/k/kayan/kayan.keyboard_info
  release/rac/rac_balti/rac_balti.keyboard_info
  release/rac/rac_brahui/rac_brahui.keyboard_info
  release/rac/rac_burushaski/rac_burushaski.keyboard_info
  release/rac/rac_kalasha/rac_kalasha.keyboard_info
  release/rac/rac_palula/rac_palula.keyboard_info
  release/s/shan/shan.keyboard_info
  release/sil/sil_tai_dam/sil_tai_dam.keyboard_info
  release/sil/sil_tchad/sil_tchad.keyboard_info
  release/t/tainua/tainua.keyboard_info
  release/t/tem_kdh/tem_kdh.keyboard_info
  release/t/tohono_oodham/tohono_oodham.keyboard_info
Labels: enhancement, keyboard

#685 [bcp_errors_sil] Update BCP47 codes for SIL kbds
  release/sil/sil_arabic_phonetic/HISTORY.md
  release/sil/sil_arabic_phonetic/README.md
  release/sil/sil_arabic_phonetic/sil_arabic_phonetic.kpj
  release/sil/sil_arabic_phonetic/source/sil_arabic_phonetic.kmn
  release/sil/sil_arabic_phonetic/source/sil_arabic_phonetic.kps
  release/sil/sil_areare/HISTORY.md
  release/sil/sil_areare/LICENSE.md
  release/sil/sil_areare/README.md
  release/sil/sil_areare/sil_areare.keyboard_info
  release/sil/sil_areare/sil_areare.kpj
  release/sil/sil_areare/source/help/sil_areare.php
  release/sil/sil_areare/source/readme.htm
  release/sil/sil_areare/source/sil_areare.keyman-touch-layout
  release/sil/sil_areare/source/sil_areare.kmn
  release/sil/sil_areare/source/sil_areare.kps
  release/sil/sil_areare/source/sil_areare.kvk
  release/sil/sil_areare/source/sil_areare.kvks
  release/sil/sil_areare/source/welcome/welcome.htm
  release/sil/sil_el_ethiopian_latin/HISTORY.md
  release/sil/sil_el_ethiopian_latin/LICENSE.md
  release/sil/sil_el_ethiopian_latin/README.md
  release/sil/sil_el_ethiopian_latin/sil_el_ethiopian_latin.keyboard_info
  release/sil/sil_el_ethiopian_latin/sil_el_ethiopian_latin.kpj
  release/sil/sil_el_ethiopian_latin/source/help/sil_el_ethiopian_latin.php
  release/sil/sil_el_ethiopian_latin/source/readme.htm
  release/sil/sil_el_ethiopian_latin/source/sil_el_ethiopian_latin.kmn
  release/sil/sil_el_ethiopian_latin/source/sil_el_ethiopian_latin.kps
  release/sil/sil_el_ethiopian_latin/source/welcome.htm
  release/sil/sil_ethiopic/HISTORY.md
  release/sil/sil_ethiopic/LICENSE.md
  release/sil/sil_ethiopic/README.md
  release/sil/sil_ethiopic/sil_ethiopic.keyboard_info
  release/sil/sil_ethiopic/sil_ethiopic.kpj
  release/sil/sil_ethiopic/source/help/sil_ethiopic.php
  release/sil/sil_ethiopic/source/sil_ethiopic.kmn
  release/sil/sil_ethiopic/source/sil_ethiopic.kps
  release/sil/sil_ethiopic/source/welcome.htm
  release/sil/sil_ethiopic_power_g/HISTORY.md
  release/sil/sil_ethiopic_power_g/LICENSE.md
  release/sil/sil_ethiopic_power_g/README.md
  release/sil/sil_ethiopic_power_g/sil_ethiopic_power_g.keyboard_info
  release/sil/sil_ethiopic_power_g/sil_ethiopic_power_g.kpj
  release/sil/sil_ethiopic_power_g/source/help/sil_ethiopic_power_g.php
  release/sil/sil_ethiopic_power_g/source/sil_ethiopic_power_g.kmn
  release/sil/sil_ethiopic_power_g/source/sil_ethiopic_power_g.kps
  release/sil/sil_ethiopic_power_g/source/welcome.htm
Labels: enhancement, keyboard

#701 [font_pak] Add font to be used in several keyboards
  release/shared/fonts/arab/PakNastaleeq-Regular.ttf
Labels: enhancement

#702 [urdu_phonetic] Move keyboard from legacy to release with permission …
  legacy/u/urdu ph - package/DEPRECATED.md
  release/u/urdu_phonetic/HISTORY.md
  release/u/urdu_phonetic/LICENSE.md
  release/u/urdu_phonetic/README.md
  release/u/urdu_phonetic/source/help/urdu_phonetic.php
  release/u/urdu_phonetic/source/readme.htm
  release/u/urdu_phonetic/source/urdu_phonetic.ico
  release/u/urdu_phonetic/source/urdu_phonetic.keyman-touch-layout
  release/u/urdu_phonetic/source/urdu_phonetic.kmn
  release/u/urdu_phonetic/source/urdu_phonetic.kps
  release/u/urdu_phonetic/source/urdu_phonetic.kvks
  release/u/urdu_phonetic/source/welcome/LayoutU_.png
  release/u/urdu_phonetic/source/welcome/LayoutU_A.png
  release/u/urdu_phonetic/source/welcome/LayoutU_C.png
  release/u/urdu_phonetic/source/welcome/LayoutU_S.png
  release/u/urdu_phonetic/source/welcome/LayoutU_SA.png
  release/u/urdu_phonetic/source/welcome/LayoutU_SC.png
  release/u/urdu_phonetic/source/welcome/welcome.htm
  release/u/urdu_phonetic/urdu_phonetic.keyboard_info
  release/u/urdu_phonetic/urdu_phonetic.kpj
Labels: keyboard, new

#711 [fv_kps_fixes2] Adding kps files to fv keyboards (fix 2)
  release/fv/fv_ojibwa/HISTORY.md
  release/fv/fv_ojibwa/LICENSE.md
  release/fv/fv_ojibwa/README.md
  release/fv/fv_ojibwa/fv_ojibwa.kpj
  release/fv/fv_ojibwa/source/fv_ojibwa.kmn
  release/fv/fv_ojibwa/source/fv_ojibwa.kps
  release/fv/fv_onayotaaka/HISTORY.md
  release/fv/fv_onayotaaka/LICENSE.md
  release/fv/fv_onayotaaka/README.md
  release/fv/fv_onayotaaka/fv_onayotaaka.kpj
  release/fv/fv_onayotaaka/source/fv_onayotaaka.kmn
  release/fv/fv_onayotaaka/source/fv_onayotaaka.kps
  release/fv/fv_onodagega_onondagega/HISTORY.md
  release/fv/fv_onodagega_onondagega/LICENSE.md
  release/fv/fv_onodagega_onondagega/README.md
  release/fv/fv_onodagega_onondagega/fv_onodagega_onondagega.kpj
  release/fv/fv_onodagega_onondagega/source/fv_onodagega_onondagega.kmn
  release/fv/fv_onodagega_onondagega/source/fv_onodagega_onondagega.kps
  release/fv/fv_onodowaga/HISTORY.md
  release/fv/fv_onodowaga/LICENSE.md
  release/fv/fv_onodowaga/README.md
  release/fv/fv_onodowaga/fv_onodowaga.kpj
  release/fv/fv_onodowaga/source/fv_onodowaga.kmn
  release/fv/fv_onodowaga/source/fv_onodowaga.kps
  release/fv/fv_severn_ojibwa/HISTORY.md
  release/fv/fv_severn_ojibwa/LICENSE.md
  release/fv/fv_severn_ojibwa/README.md
  release/fv/fv_severn_ojibwa/fv_severn_ojibwa.kpj
  release/fv/fv_severn_ojibwa/source/fv_severn_ojibwa.kmn
  release/fv/fv_severn_ojibwa/source/fv_severn_ojibwa.kps
  release/fv/fv_skaru_re/HISTORY.md
  release/fv/fv_skaru_re/LICENSE.md
  release/fv/fv_skaru_re/README.md
  release/fv/fv_skaru_re/fv_skaru_re.kpj
  release/fv/fv_skaru_re/source/fv_skaru_re.kmn
  release/fv/fv_skaru_re/source/fv_skaru_re.kps
  release/fv/fv_skwxwumesh_snichim/HISTORY.md
  release/fv/fv_skwxwumesh_snichim/LICENSE.md
  release/fv/fv_skwxwumesh_snichim/README.md
  release/fv/fv_skwxwumesh_snichim/fv_skwxwumesh_snichim.kpj
  release/fv/fv_skwxwumesh_snichim/source/fv_skwxwumesh_snichim.kmn
  release/fv/fv_skwxwumesh_snichim/source/fv_skwxwumesh_snichim.kps
  release/fv/fv_tlingit/HISTORY.md
  release/fv/fv_tlingit/LICENSE.md
  release/fv/fv_tlingit/README.md
  release/fv/fv_tlingit/fv_tlingit.kpj
  release/fv/fv_tlingit/source/fv_tlingit.kmn
  release/fv/fv_tlingit/source/fv_tlingit.kps
Labels: enhancement, keyboard

#700 [multi_pak_phonetic] Move keyboard to release with permission of author
  legacy/m/multi pak/DEPRECATED.md
  release/m/multi_pak_phonetic/HISTORY.md
  release/m/multi_pak_phonetic/LICENSE.md
  release/m/multi_pak_phonetic/README.md
  release/m/multi_pak_phonetic/multi_pak_phonetic.keyboard_info
  release/m/multi_pak_phonetic/multi_pak_phonetic.kpj
  release/m/multi_pak_phonetic/source/help/multi_pak_phonetic.php
  release/m/multi_pak_phonetic/source/multi_pak_phonetic.ico
  release/m/multi_pak_phonetic/source/multi_pak_phonetic.kmn
  release/m/multi_pak_phonetic/source/multi_pak_phonetic.kps
  release/m/multi_pak_phonetic/source/multi_pak_phonetic.kvks
  release/m/multi_pak_phonetic/source/readme.htm
  release/m/multi_pak_phonetic/source/welcome/LayoutU_.png
  release/m/multi_pak_phonetic/source/welcome/LayoutU_A.png
  release/m/multi_pak_phonetic/source/welcome/LayoutU_C.png
  release/m/multi_pak_phonetic/source/welcome/LayoutU_CA.png
  release/m/multi_pak_phonetic/source/welcome/LayoutU_S.png
  release/m/multi_pak_phonetic/source/welcome/LayoutU_SA.png
  release/m/multi_pak_phonetic/source/welcome/LayoutU_SC.png
  release/m/multi_pak_phonetic/source/welcome/welcome.htm
Labels: keyboard, new

#710 [fv_kps_fixes] half of the fv files that need kps files
  release/fv/fv_australian/HISTORY.md
  release/fv/fv_australian/LICENSE.md
  release/fv/fv_australian/README.md
  release/fv/fv_australian/fv_australian.kpj
  release/fv/fv_australian/source/fv_australian.kmn
  release/fv/fv_australian/source/fv_australian.kps
  release/fv/fv_blackfoot/HISTORY.md
  release/fv/fv_blackfoot/LICENSE.md
  release/fv/fv_blackfoot/README.md
  release/fv/fv_blackfoot/fv_blackfoot.kpj
  release/fv/fv_blackfoot/source/fv_blackfoot.kmn
  release/fv/fv_blackfoot/source/fv_blackfoot.kps
  release/fv/fv_dexwlesucid/HISTORY.md
  release/fv/fv_dexwlesucid/LICENSE.md
  release/fv/fv_dexwlesucid/README.md
  release/fv/fv_dexwlesucid/fv_dexwlesucid.kpj
  release/fv/fv_dexwlesucid/source/fv_dexwlesucid.kmn
  release/fv/fv_dexwlesucid/source/fv_dexwlesucid.kps
  release/fv/fv_goyogohono/HISTORY.md
  release/fv/fv_goyogohono/LICENSE.md
  release/fv/fv_goyogohono/README.md
  release/fv/fv_goyogohono/fv_goyogohono.kpj
  release/fv/fv_goyogohono/source/fv_goyogohono.kmn
  release/fv/fv_goyogohono/source/fv_goyogohono.kps
  release/fv/fv_hailzaqvla/HISTORY.md
  release/fv/fv_hailzaqvla/LICENSE.md
  release/fv/fv_hailzaqvla/README.md
  release/fv/fv_hailzaqvla/fv_hailzaqvla.kpj
  release/fv/fv_hailzaqvla/source/fv_hailzaqvla.kmn
  release/fv/fv_hailzaqvla/source/fv_hailzaqvla.kps
  release/fv/fv_klahoose/HISTORY.md
  release/fv/fv_klahoose/LICENSE.md
  release/fv/fv_klahoose/README.md
  release/fv/fv_klahoose/fv_klahoose.kpj
  release/fv/fv_klahoose/source/fv_klahoose.kmn
  release/fv/fv_klahoose/source/fv_klahoose.kps
  release/fv/fv_naskapi/HISTORY.md
  release/fv/fv_naskapi/LICENSE.md
  release/fv/fv_naskapi/README.md
  release/fv/fv_naskapi/fv_naskapi.kpj
  release/fv/fv_naskapi/source/fv_naskapi.kmn
  release/fv/fv_naskapi/source/fv_naskapi.kps
  release/fv/fv_nexwslayemucen/HISTORY.md
  release/fv/fv_nexwslayemucen/LICENSE.md
  release/fv/fv_nexwslayemucen/README.md
  release/fv/fv_nexwslayemucen/fv_nexwslayemucen.kpj
  release/fv/fv_nexwslayemucen/source/fv_nexwslayemucen.kmn
  release/fv/fv_nexwslayemucen/source/fv_nexwslayemucen.kps
Labels: enhancement, keyboard

#713 [fv_mismatch] fixed bcp47 tags in keyboard_info no ver bump
  release/fv/fv_anishinaabemowin/fv_anishinaabemowin.keyboard_info
  release/fv/fv_cree_latin/fv_cree_latin.keyboard_info
  release/fv/fv_dine_bizaad/fv_dine_bizaad.keyboard_info
  release/fv/fv_hlgaagilda_xaayda_kil/fv_hlgaagilda_xaayda_kil.keyboard_info
  release/fv/fv_maori/fv_maori.keyboard_info
  release/fv/fv_shashishalhem/fv_shashishalhem.keyboard_info
  release/fv/fv_statimcets/fv_statimcets.keyboard_info
  release/fv/fv_xaislakala/fv_xaislakala.keyboard_info
Labels: enhancement, keyboard

#712 [inuktitut_kps_fixes] adding kps to keyboard
  release/i/inuktitut_latin/HISTORY.md
  release/i/inuktitut_latin/README.md
  release/i/inuktitut_latin/inuktitut_latin.keyboard_info
  release/i/inuktitut_latin/inuktitut_latin.kpj
  release/i/inuktitut_latin/source/inuktitut_latin.css
  release/i/inuktitut_latin/source/inuktitut_latin.keyman-touch-layout
  release/i/inuktitut_latin/source/inuktitut_latin.kmn
  release/i/inuktitut_latin/source/inuktitut_latin.kps
  release/i/inuktitut_naqittaut/HISTORY.md
  release/i/inuktitut_naqittaut/README.md
  release/i/inuktitut_naqittaut/inuktitut_naqittaut.keyboard_info
  release/i/inuktitut_naqittaut/inuktitut_naqittaut.kpj
  release/i/inuktitut_naqittaut/source/inuktitut_naqittaut.css
  release/i/inuktitut_naqittaut/source/inuktitut_naqittaut.keyman-touch-layout
  release/i/inuktitut_naqittaut/source/inuktitut_naqittaut.kmn
  release/i/inuktitut_naqittaut/source/inuktitut_naqittaut.kps
  release/i/inuktitut_naqittaut/source/inuktitut_naqittaut.kvks
  release/i/inuktitut_pirurvik/HISTORY.md
  release/i/inuktitut_pirurvik/README.md
  release/i/inuktitut_pirurvik/inuktitut_pirurvik.keyboard_info
  release/i/inuktitut_pirurvik/inuktitut_pirurvik.kpj
  release/i/inuktitut_pirurvik/source/inuktitut_pirurvik.css
  release/i/inuktitut_pirurvik/source/inuktitut_pirurvik.keyman-touch-layout
  release/i/inuktitut_pirurvik/source/inuktitut_pirurvik.kmn
  release/i/inuktitut_pirurvik/source/inuktitut_pirurvik.kps
  release/i/inuktitut_pirurvik/source/inuktitut_pirurvik.kvk
Labels: enhancement, keyboard

#717 [el_kps_fixes] added langtags to keyboard_info or .kps or both
  release/el/el_harari_latin/HISTORY.md
  release/el/el_harari_latin/LICENSE.md
  release/el/el_harari_latin/README.md
  release/el/el_harari_latin/el_harari_latin.keyboard_info
  release/el/el_harari_latin/el_harari_latin.kpj
  release/el/el_harari_latin/source/el_harari_latin.kmn
  release/el/el_harari_latin/source/el_harari_latin.kps
  release/el/el_harari_latin/source/el_harari_latin.kvk
  release/el/el_harari_latin/source/el_harari_latin.kvks
  release/el/el_naija/HISTORY.md
  release/el/el_naija/LICENSE.md
  release/el/el_naija/README.md
  release/el/el_naija/el_naija.keyboard_info
  release/el/el_naija/source/el_naija.kmn
  release/el/el_naija/source/el_naija.kps
  release/el/el_naija/source/el_naija.kvk
  release/el/el_naija/source/el_naija.kvks
  release/el/el_yolngu/HISTORY.md
  release/el/el_yolngu/LICENSE.md
  release/el/el_yolngu/README.md
  release/el/el_yolngu/el_yolngu.keyboard_info
  release/el/el_yolngu/el_yolngu.kpj
  release/el/el_yolngu/source/el_yolngu.kmn
  release/el/el_yolngu/source/el_yolngu.kps
  release/el/el_yolngu/source/el_yolngu.kvk
  release/el/el_yolngu/source/el_yolngu.kvks
Labels: enhancement, keyboard

#709 [sil_khmer] Move keyboard to github from SSO distribution
  release/sil/sil_khmer/HISTORY.md
  release/sil/sil_khmer/LICENSE.md
  release/sil/sil_khmer/README.md
  release/sil/sil_khmer/sil_khmer.keyboard_info
  release/sil/sil_khmer/sil_khmer.kpj
  release/sil/sil_khmer/source/help/sil_khmer.php
  release/sil/sil_khmer/source/readme.htm
  release/sil/sil_khmer/source/sil_khmer.ico
  release/sil/sil_khmer/source/sil_khmer.kmn
  release/sil/sil_khmer/source/sil_khmer.kps
  release/sil/sil_khmer/source/sil_khmer.kvks
  release/sil/sil_khmer/source/welcome/LayoutU_.png
  release/sil/sil_khmer/source/welcome/LayoutU_A.png
  release/sil/sil_khmer/source/welcome/LayoutU_C.png
  release/sil/sil_khmer/source/welcome/LayoutU_CA.png
  release/sil/sil_khmer/source/welcome/LayoutU_S.png
  release/sil/sil_khmer/source/welcome/LayoutU_SC.png
  release/sil/sil_khmer/source/welcome/LayoutU_SCA.png
  release/sil/sil_khmer/source/welcome/welcome.htm
Labels: keyboard, new

#714 [tohono_oodham] Add breve vowels to Tohono O’odham keyboard
  release/t/tohono_oodham/HISTORY.md
  release/t/tohono_oodham/LICENSE.md
  release/t/tohono_oodham/README.md
  release/t/tohono_oodham/source/tohono_oodham.keyman-touch-layout
  release/t/tohono_oodham/source/tohono_oodham.kmn
  release/t/tohono_oodham/source/tohono_oodham.kps
  release/t/tohono_oodham/tohono_oodham.kpj
Labels: enhancement, keyboard

#722 [itrans_devanagari_sanskrit_vedic] Vedic Sanskrit Devanagari Phonetic (ITRANS)
  release/itrans/itrans_devanagari_sanskrit_vedic/HISTORY.md
  release/itrans/itrans_devanagari_sanskrit_vedic/LICENSE.md
  release/itrans/itrans_devanagari_sanskrit_vedic/README.md
  release/itrans/itrans_devanagari_sanskrit_vedic/itrans_devanagari_sanskrit_vedic.keyboard_info
  release/itrans/itrans_devanagari_sanskrit_vedic/itrans_devanagari_sanskrit_vedic.kpj
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedic.php
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_RA.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_S.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.ico
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.kmn
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.kps
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.kvks
  release/itrans/itrans_devanagari_sanskrit_vedic/source/readme.htm
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_RA.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_S.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/welcome.htm
Labels: keyboard, new

#721 [grkpoly2] add grc-Grek to keyboard_info - no change to keyboard itself
  legacy/g/grkpoly2/grkpoly2.keyboard_info
Labels: enhancement, keyboard

#718 [kps_fix3] fixes to BCP47 mismatches
  release/k/khmer_angkor/HISTORY.md
  release/k/khmer_angkor/LICENSE.md
  release/k/khmer_angkor/README.md
  release/k/khmer_angkor/khmer_angkor.kpj
  release/k/khmer_angkor/source/khmer_angkor.keyman-touch-layout
  release/k/khmer_angkor/source/khmer_angkor.kmn
  release/k/khmer_angkor/source/khmer_angkor.kps
  release/l/lao_2008_basic/HISTORY.md
  release/l/lao_2008_basic/LICENSE.md
  release/l/lao_2008_basic/README.md
  release/l/lao_2008_basic/lao_2008_basic.kpj
  release/l/lao_2008_basic/source/lao_2008_basic.kmn
  release/l/lao_2008_basic/source/lao_2008_basic.kps
  release/l/lao_2008_rapid/HISTORY.md
  release/l/lao_2008_rapid/LICENSE.md
  release/l/lao_2008_rapid/README.md
  release/l/lao_2008_rapid/lao_2008_rapid.kpj
  release/l/lao_2008_rapid/source/lao_2008_rapid.kmn
  release/l/lao_2008_rapid/source/lao_2008_rapid.kps
  release/packages/galaxie_greek_hebrew_mnemonic/source/galaxie_greek_hebrew_mnemonic.kps
  release/packages/galaxie_greek_hebrew_mnemonic/source/readme.htm
  release/packages/galaxie_greek_hebrew_positional/HISTORY.md
  release/packages/galaxie_greek_hebrew_positional/LICENSE.md
  release/packages/galaxie_greek_hebrew_positional/README.md
  release/packages/galaxie_greek_hebrew_positional/galaxie_greek_hebrew_positional.kpj
  release/packages/galaxie_greek_hebrew_positional/source/galaxie_greek_hebrew_positional.kps
  release/r/rohingya_arab/HISTORY.md
  release/r/rohingya_arab/LICENSE.md
  release/r/rohingya_arab/README.md
  release/r/rohingya_arab/rohingya_arab.keyboard_info
  release/r/rohingya_arab/rohingya_arab.kpj
  release/r/rohingya_arab/source/rohingya_arab.js
  release/r/rohingya_arab/source/rohingya_arab.kmn
  release/r/rohingya_arab/source/rohingya_arab.kps
  release/sil/sil_nigeria_dot/sil_nigeria_dot.keyboard_info
Labels: enhancement, keyboard

#727 [itrans_gujarati] New keyboard submission
  release/itrans/itrans_gujarati/HISTORY.md
  release/itrans/itrans_gujarati/LICENSE.md
  release/itrans/itrans_gujarati/README.md
  release/itrans/itrans_gujarati/itrans_gujarati.keyboard_info
  release/itrans/itrans_gujarati/itrans_gujarati.kpj
  release/itrans/itrans_gujarati/source/help/itrans_gujarati.php
  release/itrans/itrans_gujarati/source/help/itrans_gujaratiU_.png
  release/itrans/itrans_gujarati/source/help/itrans_gujaratiU_S.png
  release/itrans/itrans_gujarati/source/itrans_gujarati.ico
  release/itrans/itrans_gujarati/source/itrans_gujarati.kmn
  release/itrans/itrans_gujarati/source/itrans_gujarati.kps
  release/itrans/itrans_gujarati/source/itrans_gujarati.kvks
  release/itrans/itrans_gujarati/source/readme.htm
  release/itrans/itrans_gujarati/source/welcome/itrans_gujaratiU_.png
  release/itrans/itrans_gujarati/source/welcome/itrans_gujaratiU_S.png
  release/itrans/itrans_gujarati/source/welcome/welcome.htm
Labels: keyboard, new

#730 [itrans_devanagari_sanskrit_vedic] 1.1.0 Changes based on feedback
  release/itrans/itrans_devanagari_sanskrit_vedic/HISTORY.md
  release/itrans/itrans_devanagari_sanskrit_vedic/README.md
  release/itrans/itrans_devanagari_sanskrit_vedic/itrans_devanagari_sanskrit_vedic.keyboard_info
  release/itrans/itrans_devanagari_sanskrit_vedic/itrans_devanagari_sanskrit_vedic.kpj
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedic.php
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_RC.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_S.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.kmn
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.kps
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.kvks
  release/itrans/itrans_devanagari_sanskrit_vedic/source/readme.htm
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_RC.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_S.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/welcome.htm
Labels: enhancement, keyboard

#731 [itrans_devanagari_hindi] Resubmit new keyboard
  release/itrans/itrans_devanagari_hindi/HISTORY.md
  release/itrans/itrans_devanagari_hindi/LICENSE.md
  release/itrans/itrans_devanagari_hindi/README.md
  release/itrans/itrans_devanagari_hindi/itrans_devanagari_hindi.keyboard_info
  release/itrans/itrans_devanagari_hindi/itrans_devanagari_hindi.kpj
  release/itrans/itrans_devanagari_hindi/source/help/itrans_devanagari_hindi.php
  release/itrans/itrans_devanagari_hindi/source/help/itrans_devanagari_hindiU_.png
  release/itrans/itrans_devanagari_hindi/source/help/itrans_devanagari_hindiU_S.png
  release/itrans/itrans_devanagari_hindi/source/itrans_devanagari_hindi.ico
  release/itrans/itrans_devanagari_hindi/source/itrans_devanagari_hindi.kmn
  release/itrans/itrans_devanagari_hindi/source/itrans_devanagari_hindi.kps
  release/itrans/itrans_devanagari_hindi/source/itrans_devanagari_hindi.kvks
  release/itrans/itrans_devanagari_hindi/source/readme.htm
  release/itrans/itrans_devanagari_hindi/source/welcome/itrans_devanagari_hindiU_.png
  release/itrans/itrans_devanagari_hindi/source/welcome/itrans_devanagari_hindiU_S.png
  release/itrans/itrans_devanagari_hindi/source/welcome/welcome.htm
Labels: keyboard, new

#737 [itrans_devanagari_sanskrit_vedic] Version 1.2.0 Resubmit PR# 732
  release/itrans/itrans_devanagari_sanskrit_vedic/HISTORY.md
  release/itrans/itrans_devanagari_sanskrit_vedic/itrans_devanagari_sanskrit_vedic.keyboard_info
  release/itrans/itrans_devanagari_sanskrit_vedic/itrans_devanagari_sanskrit_vedic.kpj
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_add_20190527.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_barakhadi.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_consonants.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_digits.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_docs_1.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_hindi_mode.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_kS_conjuncts.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_top_row.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_vowel_signs.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/extras/test_vowels.xml
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedic.php
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_RA.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_RC.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_S.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/help/itrans_devanagari_sanskrit_vedicU_S_edited.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.kmn
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.kps
  release/itrans/itrans_devanagari_sanskrit_vedic/source/itrans_devanagari_sanskrit_vedic.kvks
  release/itrans/itrans_devanagari_sanskrit_vedic/source/readme.htm
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_RA.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_RC.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_S.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/itrans_devanagari_sanskrit_vedicU_S_edited.png
  release/itrans/itrans_devanagari_sanskrit_vedic/source/welcome/welcome.htm
Labels: enhancement, keyboard

#720 [rac_aer] fix ctrl-a key on shift layer to be special
  release/rac/rac_aer/HISTORY.md
  release/rac/rac_aer/LICENSE.md
  release/rac/rac_aer/README.md
  release/rac/rac_aer/rac_aer.kpj
  release/rac/rac_aer/source/rac_aer.keyman-touch-layout
  release/rac/rac_aer/source/rac_aer.kmn
  release/rac/rac_aer/source/rac_aer.kps
  release/rac/rac_aer/source/rac_aer.kvks
  release/rac/rac_aer/source/readme.htm
  release/rac/rac_aer/source/welcome/welcome.htm
Labels: enhancement, keyboard

#724 [lahu] Move Lahu from legacy to release and deleted legacy one
  legacy/l/lahu/lahu.keyboard_info
  legacy/l/lahu/source/lahu.kmp
  release/l/lahu/HISTORY.md
  release/l/lahu/LICENSE.md
  release/l/lahu/README.md
  release/l/lahu/lahu.keyboard_info
  release/l/lahu/lahu.kpj
  release/l/lahu/source/LahuyaNet.ttf
  release/l/lahu/source/OFL.txt
  release/l/lahu/source/help/lahu.php
  release/l/lahu/source/lahu.ico
  release/l/lahu/source/lahu.keyman-touch-layout
  release/l/lahu/source/lahu.kmn
  release/l/lahu/source/lahu.kps
  release/l/lahu/source/lahu.kvks
  release/l/lahu/source/readme.htm
  release/l/lahu/source/welcome/LayoutU_.png
  release/l/lahu/source/welcome/LayoutU_A.png
  release/l/lahu/source/welcome/LayoutU_S.png
  release/l/lahu/source/welcome/welcome.htm
Labels: keyboard, new

#728 [sil_limbu_phonetic] Move keyboard from MSKLC to Keyman
  release/sil/sil_limbu_phonetic/HISTORY.md
  release/sil/sil_limbu_phonetic/LICENSE.md
  release/sil/sil_limbu_phonetic/README.md
  release/sil/sil_limbu_phonetic/sil_limbu_phonetic.keyboard_info
  release/sil/sil_limbu_phonetic/sil_limbu_phonetic.kpj
  release/sil/sil_limbu_phonetic/source/help/sil_limbu_phonetic.php
  release/sil/sil_limbu_phonetic/source/readme.htm
  release/sil/sil_limbu_phonetic/source/sil_limbu_phonetic.ico
  release/sil/sil_limbu_phonetic/source/sil_limbu_phonetic.kmn
  release/sil/sil_limbu_phonetic/source/sil_limbu_phonetic.kps
  release/sil/sil_limbu_phonetic/source/sil_limbu_phonetic.kvks
  release/sil/sil_limbu_phonetic/source/welcome/LayoutU_.png
  release/sil/sil_limbu_phonetic/source/welcome/LayoutU_RA.png
  release/sil/sil_limbu_phonetic/source/welcome/LayoutU_S.png
  release/sil/sil_limbu_phonetic/source/welcome/welcome.htm
Labels: keyboard, new

#729 [sil_limbu_typewriter] Move keyboard from MSKLC to Keyman
  release/sil/sil_limbu_typewriter/HISTORY.md
  release/sil/sil_limbu_typewriter/LICENSE.md
  release/sil/sil_limbu_typewriter/README.md
  release/sil/sil_limbu_typewriter/sil_limbu_typewriter.keyboard_info
  release/sil/sil_limbu_typewriter/sil_limbu_typewriter.kpj
  release/sil/sil_limbu_typewriter/source/help/sil_limbu_typewriter.php
  release/sil/sil_limbu_typewriter/source/readme.htm
  release/sil/sil_limbu_typewriter/source/sil_limbu_typewriter.ico
  release/sil/sil_limbu_typewriter/source/sil_limbu_typewriter.kmn
  release/sil/sil_limbu_typewriter/source/sil_limbu_typewriter.kps
  release/sil/sil_limbu_typewriter/source/sil_limbu_typewriter.kvks
  release/sil/sil_limbu_typewriter/source/welcome/LayoutU_.png
  release/sil/sil_limbu_typewriter/source/welcome/LayoutU_RA.png
  release/sil/sil_limbu_typewriter/source/welcome/LayoutU_S.png
  release/sil/sil_limbu_typewriter/source/welcome/welcome.htm
Labels: keyboard, new

#733 [sil_cipher_music] New keyman keyboard converted from Inkey
  release/sil/sil_cipher_music/HISTORY.md
  release/sil/sil_cipher_music/LICENSE.md
  release/sil/sil_cipher_music/README.md
  release/sil/sil_cipher_music/assets/DoulosSILCipher-R.ttf
  release/sil/sil_cipher_music/assets/FONTLOG.txt
  release/sil/sil_cipher_music/assets/OFL-FAQ.txt
  release/sil/sil_cipher_music/assets/OFL.txt
  release/sil/sil_cipher_music/assets/README.txt
  release/sil/sil_cipher_music/sil_cipher_music.keyboard_info
  release/sil/sil_cipher_music/sil_cipher_music.kpj
  release/sil/sil_cipher_music/source/help/sil_cipher_music.php
  release/sil/sil_cipher_music/source/options.htm
  release/sil/sil_cipher_music/source/readme.htm
  release/sil/sil_cipher_music/source/sil_cipher_music.ico
  release/sil/sil_cipher_music/source/sil_cipher_music.keyman-touch-layout
  release/sil/sil_cipher_music/source/sil_cipher_music.kmn
  release/sil/sil_cipher_music/source/sil_cipher_music.kps
  release/sil/sil_cipher_music/source/sil_cipher_music.kvks
  release/sil/sil_cipher_music/source/welcome/LayoutU_.png
  release/sil/sil_cipher_music/source/welcome/LayoutU_RC.png
  release/sil/sil_cipher_music/source/welcome/LayoutU_S.png
  release/sil/sil_cipher_music/source/welcome/LayoutU_SRC.png
  release/sil/sil_cipher_music/source/welcome/welcome.htm
Labels: keyboard, new

#441 [sil_eastern_congo-rev] Added characters to support Isiro languages
  release/sil/sil_eastern_congo/HISTORY.md
  release/sil/sil_eastern_congo/LICENSE.md
  release/sil/sil_eastern_congo/README.md
  release/sil/sil_eastern_congo/sil_eastern_congo.keyboard_info
  release/sil/sil_eastern_congo/sil_eastern_congo.kpj
  release/sil/sil_eastern_congo/source/help/sil_eastern_congo.php
  release/sil/sil_eastern_congo/source/help/sil_eastern_congoU_.png
  release/sil/sil_eastern_congo/source/help/sil_eastern_congoU_S.png
  release/sil/sil_eastern_congo/source/readme.htm
  release/sil/sil_eastern_congo/source/sil_eastern_congo.ico
  release/sil/sil_eastern_congo/source/sil_eastern_congo.kmn
  release/sil/sil_eastern_congo/source/sil_eastern_congo.kps
  release/sil/sil_eastern_congo/source/sil_eastern_congo.kvks
  release/sil/sil_eastern_congo/source/welcome/LayoutU_.png
  release/sil/sil_eastern_congo/source/welcome/LayoutU_S.png
  release/sil/sil_eastern_congo/source/welcome/sil_eastern_congoU_.png
  release/sil/sil_eastern_congo/source/welcome/sil_eastern_congoU_S.png
  release/sil/sil_eastern_congo/source/welcome/welcome.htm
Labels: enhancement, keyboard
