Repository keymanapp/keyboards, pull requests merged in 2019-07, with the labels that each got.

#776 [soqotri_arabic] fix help file to display better no ver bump needed
  release/s/soqotri_arabic/source/help/soqotri_arabic.php
Labels: enhancement, keyboard

#774 [fv_nlekepmxcin] Make canonical ordering U+0323 U+0301
  release/fv/fv_nlekepmxcin/HISTORY.md
  release/fv/fv_nlekepmxcin/LICENSE.md
  release/fv/fv_nlekepmxcin/README.md
  release/fv/fv_nlekepmxcin/fv_nlekepmxcin.kpj
  release/fv/fv_nlekepmxcin/source/fv_nlekepmxcin.kmn
  release/fv/fv_nlekepmxcin/source/fv_nlekepmxcin.kps
  release/fv/fv_nlekepmxcin/source/fv_nlekepmxcin.kvks
  release/fv/fv_nlekepmxcin/source/fv_nlekepmxcin_kmw_help.htm
Labels: enhancement, keyboard

#778 [fv_readme] Removed Todo in readme.md. No need for ver bump
  release/fv/fv_dakota_mb/README.md
  release/fv/fv_diitiidatx/README.md
  release/fv/fv_nexwslayemucen/README.md
  release/fv/fv_nsilxcen/README.md
  release/fv/fv_nuucaanul/README.md
  release/fv/fv_uwikala/README.md
Labels: enhancement, keyboard

#777 [fv_stlatlimxec] adjust canonical ordering for U+0323
  release/fv/fv_stlatlimxec/HISTORY.md
  release/fv/fv_stlatlimxec/LICENSE.md
  release/fv/fv_stlatlimxec/README.md
  release/fv/fv_stlatlimxec/source/fv_stlatlimxec.kmn
  release/fv/fv_stlatlimxec/source/fv_stlatlimxec.kps
  release/fv/fv_stlatlimxec/source/fv_stlatlimxec.kvks
  release/fv/fv_stlatlimxec/source/fv_stlatlimxec_help.htm
Labels: enhancement, keyboard

#779 [fv_northern_tutchone] fix canonical ordering for U+0328
  release/fv/fv_northern_tutchone/HISTORY.md
  release/fv/fv_northern_tutchone/README.md
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.kmn
  release/fv/fv_northern_tutchone/source/fv_northern_tutchone.kvks
Labels: enhancement, keyboard

#780 [fv_southern_tutchone] fix canonical ordering for U+0328
  release/fv/fv_southern_tutchone/HISTORY.md
  release/fv/fv_southern_tutchone/README.md
  release/fv/fv_southern_tutchone/source/fv_southern_tutchone.kmn
  release/fv/fv_southern_tutchone/source/fv_southern_tutchone.kvks
Labels: enhancement, keyboard

#781 [fv_tagizi_dene] fix canonical ordering for U+0328
  release/fv/fv_tagizi_dene/HISTORY.md
  release/fv/fv_tagizi_dene/README.md
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.kmn
  release/fv/fv_tagizi_dene/source/fv_tagizi_dene.kvks
Labels: enhancement, keyboard

#763 [basic_kbdgn] Guarani Basic
  release/basic/basic_kbdgn/HISTORY.md
  release/basic/basic_kbdgn/LICENSE.md
  release/basic/basic_kbdgn/README.md
  release/basic/basic_kbdgn/basic_kbdgn.keyboard_info
  release/basic/basic_kbdgn/basic_kbdgn.kpj
  release/basic/basic_kbdgn/source/basic_kbdgn.ico
  release/basic/basic_kbdgn/source/basic_kbdgn.keyman-touch-layout
  release/basic/basic_kbdgn/source/basic_kbdgn.kmn
  release/basic/basic_kbdgn/source/basic_kbdgn.kps
  release/basic/basic_kbdgn/source/basic_kbdgn.kvks
  release/basic/basic_kbdgn/source/help/basic_kbdgn.php
  release/basic/basic_kbdgn/source/readme.htm
  release/basic/basic_kbdgn/source/welcome/desktop_layout.png
  release/basic/basic_kbdgn/source/welcome/touch_layout_default.png
  release/basic/basic_kbdgn/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdgn/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdgn/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdgn/source/welcome/welcome.htm
Labels: keyboard, new

#783 [basic_kbdhebl3] Hebrew (Standard) Basic keyboard
  release/basic/basic_kbdhebl3/HISTORY.md
  release/basic/basic_kbdhebl3/LICENSE.md
  release/basic/basic_kbdhebl3/README.md
  release/basic/basic_kbdhebl3/basic_kbdhebl3.keyboard_info
  release/basic/basic_kbdhebl3/basic_kbdhebl3.kpj
  release/basic/basic_kbdhebl3/source/basic_kbdhebl3.ico
  release/basic/basic_kbdhebl3/source/basic_kbdhebl3.keyman-touch-layout
  release/basic/basic_kbdhebl3/source/basic_kbdhebl3.kmn
  release/basic/basic_kbdhebl3/source/basic_kbdhebl3.kps
  release/basic/basic_kbdhebl3/source/basic_kbdhebl3.kvks
  release/basic/basic_kbdhebl3/source/help/basic_kbdhebl3.php
  release/basic/basic_kbdhebl3/source/readme.htm
  release/basic/basic_kbdhebl3/source/welcome/desktop_layout.png
  release/basic/basic_kbdhebl3/source/welcome/touch_layout_default.png
  release/basic/basic_kbdhebl3/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdhebl3/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdhebl3/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdhebl3/source/welcome/welcome.htm
Labels: keyboard, new

#756 [itrans_odia] New keyboard submission
  release/itrans/itrans_odia/HISTORY.md
  release/itrans/itrans_odia/LICENSE.md
  release/itrans/itrans_odia/README.md
  release/itrans/itrans_odia/itrans_odia.keyboard_info
  release/itrans/itrans_odia/itrans_odia.kpj
  release/itrans/itrans_odia/source/extras/test_barakhadi_ka.xml
  release/itrans/itrans_odia/source/extras/test_consonants_1.xml
  release/itrans/itrans_odia/source/extras/test_consonants_2.xml
  release/itrans/itrans_odia/source/extras/test_consonants_3.xml
  release/itrans/itrans_odia/source/extras/test_numbers.xml
  release/itrans/itrans_odia/source/extras/test_numbers_shifted.xml
  release/itrans/itrans_odia/source/extras/test_virama.xml
  release/itrans/itrans_odia/source/extras/test_vowels.xml
  release/itrans/itrans_odia/source/extras/test_vowels_2.xml
  release/itrans/itrans_odia/source/help/itrans_odia.php
  release/itrans/itrans_odia/source/help/itrans_odia.png
  release/itrans/itrans_odia/source/itrans_odia.ico
  release/itrans/itrans_odia/source/itrans_odia.kmn
  release/itrans/itrans_odia/source/itrans_odia.kps
  release/itrans/itrans_odia/source/itrans_odia.kvks
  release/itrans/itrans_odia/source/myfiles/builddoc.sh
  release/itrans/itrans_odia/source/myfiles/help.hdr
  release/itrans/itrans_odia/source/myfiles/itrans_odia-help.htm
  release/itrans/itrans_odia/source/myfiles/itrans_odia.png
  release/itrans/itrans_odia/source/myfiles/welcome.hdr
  release/itrans/itrans_odia/source/readme.htm
  release/itrans/itrans_odia/source/welcome/itrans_odia.png
  release/itrans/itrans_odia/source/welcome/welcome.htm
Labels: keyboard, new

#765 Aksara Bali Unicode keyboard
  release/a/aksarabali_panlex/HISTORY.md
  release/a/aksarabali_panlex/LICENSE.md
  release/a/aksarabali_panlex/README.md
  release/a/aksarabali_panlex/aksarabali_panlex.keyboard_info
  release/a/aksarabali_panlex/aksarabali_panlex.kpj
  release/a/aksarabali_panlex/source/aksarabali_panlex.ico
  release/a/aksarabali_panlex/source/aksarabali_panlex.kmn
  release/a/aksarabali_panlex/source/aksarabali_panlex.kps
  release/a/aksarabali_panlex/source/aksarabali_panlex.kvks
  release/a/aksarabali_panlex/source/help/aksarabali_panlex.php
  release/a/aksarabali_panlex/source/help/bali_simbar_panduan.pdf
  release/a/aksarabali_panlex/source/readme.htm
  release/a/aksarabali_panlex/source/welcome/bali_simbar_panduan.pdf
  release/a/aksarabali_panlex/source/welcome/welcome.htm
Labels: keyboard, new

#784 [basic_kbdal] Albanian Basic keyboard import new desktop and merge of old mobile
  legacy/a/albanian/DEPRECATED.md
  legacy/kbd/kbdal/DEPRECATED.md
  release/basic/basic_kbdal/HISTORY.md
  release/basic/basic_kbdal/LICENSE.md
  release/basic/basic_kbdal/README.md
  release/basic/basic_kbdal/basic_kbdal.keyboard_info
  release/basic/basic_kbdal/basic_kbdal.kpj
  release/basic/basic_kbdal/source/basic_kbdal.ico
  release/basic/basic_kbdal/source/basic_kbdal.keyman-touch-layout
  release/basic/basic_kbdal/source/basic_kbdal.kmn
  release/basic/basic_kbdal/source/basic_kbdal.kps
  release/basic/basic_kbdal/source/basic_kbdal.kvks
  release/basic/basic_kbdal/source/help/basic_kbdal.php
  release/basic/basic_kbdal/source/readme.htm
  release/basic/basic_kbdal/source/welcome/LayoutU_.png
  release/basic/basic_kbdal/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdal/source/welcome/LayoutU_S.png
  release/basic/basic_kbdal/source/welcome/welcome.htm
Labels: keyboard, new

#785 [basic_kbduzb] Import/merge Uzbek Cyrillic Basic
  legacy/kbd/kbduzb/DEPRECATED.md
  legacy/u/uzbek_cyrillic/DEPRECATED.md
  release/basic/basic_kbduzb/HISTORY.md
  release/basic/basic_kbduzb/LICENSE.md
  release/basic/basic_kbduzb/README.md
  release/basic/basic_kbduzb/basic_kbduzb.keyboard_info
  release/basic/basic_kbduzb/basic_kbduzb.kpj
  release/basic/basic_kbduzb/source/basic_kbduzb.ico
  release/basic/basic_kbduzb/source/basic_kbduzb.keyman-touch-layout
  release/basic/basic_kbduzb/source/basic_kbduzb.kmn
  release/basic/basic_kbduzb/source/basic_kbduzb.kps
  release/basic/basic_kbduzb/source/basic_kbduzb.kvks
  release/basic/basic_kbduzb/source/help/basic_kbduzb.php
  release/basic/basic_kbduzb/source/readme.htm
  release/basic/basic_kbduzb/source/welcome/LayoutU_.png
  release/basic/basic_kbduzb/source/welcome/LayoutU_S.png
  release/basic/basic_kbduzb/source/welcome/welcome.htm
Labels: keyboard, new

#788 [basic_kbdmon] Import/merge Mongolian Cyrillic
  legacy/kbd/kbdmon/DEPRECATED.md
  legacy/m/mongolian_cyrillic/DEPRECATED.md
  release/basic/basic_kbdmon/HISTORY.md
  release/basic/basic_kbdmon/LICENSE.md
  release/basic/basic_kbdmon/README.md
  release/basic/basic_kbdmon/basic_kbdmon.keyboard_info
  release/basic/basic_kbdmon/basic_kbdmon.kpj
  release/basic/basic_kbdmon/source/basic_kbdmon.ico
  release/basic/basic_kbdmon/source/basic_kbdmon.keyman-touch-layout
  release/basic/basic_kbdmon/source/basic_kbdmon.kmn
  release/basic/basic_kbdmon/source/basic_kbdmon.kps
  release/basic/basic_kbdmon/source/basic_kbdmon.kvks
  release/basic/basic_kbdmon/source/help/basic_kbdmon.php
  release/basic/basic_kbdmon/source/readme.htm
  release/basic/basic_kbdmon/source/welcome/LayoutU_.png
  release/basic/basic_kbdmon/source/welcome/LayoutU_S.png
  release/basic/basic_kbdmon/source/welcome/welcome.htm
Labels: keyboard, new

#790 [basic_kbduzb-dep] Deprecate uzbek keyboard also
  legacy/u/uzbek/DEPRECATED.md
  release/basic/basic_kbduzb/basic_kbduzb.keyboard_info
Labels: infrastructure, keyboard

#792 [basic_kbdturme] Turkmen Basic: Import from Windows and merge in mobile
  legacy/kbd/kbdturme/DEPRECATED.md
  legacy/t/tkmluncd/DEPRECATED.md
  release/basic/basic_kbdturme/HISTORY.md
  release/basic/basic_kbdturme/LICENSE.md
  release/basic/basic_kbdturme/README.md
  release/basic/basic_kbdturme/basic_kbdturme.keyboard_info
  release/basic/basic_kbdturme/basic_kbdturme.kpj
  release/basic/basic_kbdturme/source/basic_kbdturme.ico
  release/basic/basic_kbdturme/source/basic_kbdturme.keyman-touch-layout
  release/basic/basic_kbdturme/source/basic_kbdturme.kmn
  release/basic/basic_kbdturme/source/basic_kbdturme.kps
  release/basic/basic_kbdturme/source/basic_kbdturme.kvks
  release/basic/basic_kbdturme/source/help/basic_kbdturme.php
  release/basic/basic_kbdturme/source/readme.htm
  release/basic/basic_kbdturme/source/welcome/LayoutU_.png
  release/basic/basic_kbdturme/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdturme/source/welcome/LayoutU_S.png
  release/basic/basic_kbdturme/source/welcome/welcome.htm
Labels: keyboard, new

#791 [basic_kbdur] Import from Windows and merge in mobile
  legacy/kbd/kbdur/DEPRECATED.md
  legacy/u/ukrainian/DEPRECATED.md
  release/basic/basic_kbdur/HISTORY.md
  release/basic/basic_kbdur/LICENSE.md
  release/basic/basic_kbdur/README.md
  release/basic/basic_kbdur/basic_kbdur.keyboard_info
  release/basic/basic_kbdur/basic_kbdur.kpj
  release/basic/basic_kbdur/source/basic_kbdur.ico
  release/basic/basic_kbdur/source/basic_kbdur.keyman-touch-layout
  release/basic/basic_kbdur/source/basic_kbdur.kmn
  release/basic/basic_kbdur/source/basic_kbdur.kps
  release/basic/basic_kbdur/source/basic_kbdur.kvks
  release/basic/basic_kbdur/source/help/basic_kbdur.php
  release/basic/basic_kbdur/source/readme.htm
  release/basic/basic_kbdur/source/welcome/LayoutU_.png
  release/basic/basic_kbdur/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdur/source/welcome/LayoutU_S.png
  release/basic/basic_kbdur/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdur/source/welcome/welcome.htm
Labels: keyboard, new

#793 [basic_kbdtajik] Tajik Basic imported from Win10 and tried to make mobile match previous mobile
  legacy/kbd/kbdtajik/DEPRECATED.md
  legacy/t/tajik/DEPRECATED.md
  release/basic/basic_kbdtajik/HISTORY.md
  release/basic/basic_kbdtajik/LICENSE.md
  release/basic/basic_kbdtajik/README.md
  release/basic/basic_kbdtajik/basic_kbdtajik.keyboard_info
  release/basic/basic_kbdtajik/basic_kbdtajik.kpj
  release/basic/basic_kbdtajik/source/basic_kbdtajik.ico
  release/basic/basic_kbdtajik/source/basic_kbdtajik.keyman-touch-layout
  release/basic/basic_kbdtajik/source/basic_kbdtajik.kmn
  release/basic/basic_kbdtajik/source/basic_kbdtajik.kps
  release/basic/basic_kbdtajik/source/basic_kbdtajik.kvks
  release/basic/basic_kbdtajik/source/help/basic_kbdtajik.php
  release/basic/basic_kbdtajik/source/readme.htm
  release/basic/basic_kbdtajik/source/welcome/LayoutU_.png
  release/basic/basic_kbdtajik/source/welcome/LayoutU_S.png
  release/basic/basic_kbdtajik/source/welcome/welcome.htm
Labels: keyboard, new

#795 [basic_kbdycc] Serbian (Cyrillic) Basic import
  legacy/kbd/kbdycc/DEPRECATED.md
  legacy/s/serbian_cyrillic/DEPRECATED.md
  release/basic/basic_kbdycc/HISTORY.md
  release/basic/basic_kbdycc/LICENSE.md
  release/basic/basic_kbdycc/README.md
  release/basic/basic_kbdycc/basic_kbdycc.keyboard_info
  release/basic/basic_kbdycc/basic_kbdycc.kpj
  release/basic/basic_kbdycc/source/basic_kbdycc.ico
  release/basic/basic_kbdycc/source/basic_kbdycc.keyman-touch-layout
  release/basic/basic_kbdycc/source/basic_kbdycc.kmn
  release/basic/basic_kbdycc/source/basic_kbdycc.kps
  release/basic/basic_kbdycc/source/basic_kbdycc.kvks
  release/basic/basic_kbdycc/source/help/basic_kbdycc.php
  release/basic/basic_kbdycc/source/readme.htm
  release/basic/basic_kbdycc/source/welcome/LayoutU_.png
  release/basic/basic_kbdycc/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdycc/source/welcome/LayoutU_S.png
  release/basic/basic_kbdycc/source/welcome/welcome.htm
Labels: keyboard, new

#794 [basic_kbdtt102] Tatar Basic import
  legacy/kbd/kbdtat/DEPRECATED.md
  legacy/t/tatar/DEPRECATED.md
  release/basic/basic_kbdtt102/HISTORY.md
  release/basic/basic_kbdtt102/LICENSE.md
  release/basic/basic_kbdtt102/README.md
  release/basic/basic_kbdtt102/basic_kbdtt102.keyboard_info
  release/basic/basic_kbdtt102/basic_kbdtt102.kpj
  release/basic/basic_kbdtt102/source/basic_kbdtt102.ico
  release/basic/basic_kbdtt102/source/basic_kbdtt102.keyman-touch-layout
  release/basic/basic_kbdtt102/source/basic_kbdtt102.kmn
  release/basic/basic_kbdtt102/source/basic_kbdtt102.kps
  release/basic/basic_kbdtt102/source/basic_kbdtt102.kvks
  release/basic/basic_kbdtt102/source/help/basic_kbdtt102.php
  release/basic/basic_kbdtt102/source/readme.htm
  release/basic/basic_kbdtt102/source/welcome/LayoutU_.png
  release/basic/basic_kbdtt102/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdtt102/source/welcome/LayoutU_S.png
  release/basic/basic_kbdtt102/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdtt102/source/welcome/welcome.htm
Labels: keyboard, new

#796 [basic_kbdkyr] Kyrgyz Cyrillic Basic import
  legacy/k/kyrgyz_cyrillic/DEPRECATED.md
  legacy/kbd/kbdkyr/DEPRECATED.md
  release/basic/basic_kbdkyr/HISTORY.md
  release/basic/basic_kbdkyr/LICENSE.md
  release/basic/basic_kbdkyr/README.md
  release/basic/basic_kbdkyr/basic_kbdkyr.keyboard_info
  release/basic/basic_kbdkyr/basic_kbdkyr.kpj
  release/basic/basic_kbdkyr/source/basic_kbdkyr.ico
  release/basic/basic_kbdkyr/source/basic_kbdkyr.keyman-touch-layout
  release/basic/basic_kbdkyr/source/basic_kbdkyr.kmn
  release/basic/basic_kbdkyr/source/basic_kbdkyr.kps
  release/basic/basic_kbdkyr/source/basic_kbdkyr.kvks
  release/basic/basic_kbdkyr/source/help/basic_kbdkyr.php
  release/basic/basic_kbdkyr/source/readme.htm
  release/basic/basic_kbdkyr/source/welcome/LayoutU_.png
  release/basic/basic_kbdkyr/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdkyr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdkyr/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdkyr/source/welcome/welcome.htm
Labels: keyboard, new

#797 [basic_kbdru1] Russian (Typewriter) Basic import
  legacy/kbd/kbdru1/DEPRECATED.md
  legacy/r/russian_type/DEPRECATED.md
  release/basic/basic_kbdru1/HISTORY.md
  release/basic/basic_kbdru1/LICENSE.md
  release/basic/basic_kbdru1/README.md
  release/basic/basic_kbdru1/basic_kbdru1.keyboard_info
  release/basic/basic_kbdru1/basic_kbdru1.kpj
  release/basic/basic_kbdru1/source/basic_kbdru1.ico
  release/basic/basic_kbdru1/source/basic_kbdru1.keyman-touch-layout
  release/basic/basic_kbdru1/source/basic_kbdru1.kmn
  release/basic/basic_kbdru1/source/basic_kbdru1.kps
  release/basic/basic_kbdru1/source/basic_kbdru1.kvks
  release/basic/basic_kbdru1/source/help/basic_kbdru1.php
  release/basic/basic_kbdru1/source/readme.htm
  release/basic/basic_kbdru1/source/welcome/LayoutU_.png
  release/basic/basic_kbdru1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdru1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdru1/source/welcome/welcome.htm
Labels: keyboard, new

#798 [basic_kbdru] Russian Basic import
  legacy/kbd/kbdru/DEPRECATED.md
  legacy/r/russian/DEPRECATED.md
  release/basic/basic_kbdru/HISTORY.md
  release/basic/basic_kbdru/LICENSE.md
  release/basic/basic_kbdru/README.md
  release/basic/basic_kbdru/basic_kbdru.keyboard_info
  release/basic/basic_kbdru/basic_kbdru.kpj
  release/basic/basic_kbdru/source/basic_kbdru.ico
  release/basic/basic_kbdru/source/basic_kbdru.keyman-touch-layout
  release/basic/basic_kbdru/source/basic_kbdru.kmn
  release/basic/basic_kbdru/source/basic_kbdru.kps
  release/basic/basic_kbdru/source/basic_kbdru.kvks
  release/basic/basic_kbdru/source/help/basic_kbdru.php
  release/basic/basic_kbdru/source/readme.htm
  release/basic/basic_kbdru/source/welcome/LayoutU_.png
  release/basic/basic_kbdru/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdru/source/welcome/LayoutU_S.png
  release/basic/basic_kbdru/source/welcome/welcome.htm
Labels: keyboard, new

#799 [basic_kbdbhc] Bosnian (Cyrillic) Basic import
  legacy/kbd/kbdbhc/DEPRECATED.md
  release/basic/basic_kbdbhc/HISTORY.md
  release/basic/basic_kbdbhc/LICENSE.md
  release/basic/basic_kbdbhc/README.md
  release/basic/basic_kbdbhc/basic_kbdbhc.keyboard_info
  release/basic/basic_kbdbhc/basic_kbdbhc.kpj
  release/basic/basic_kbdbhc/source/basic_kbdbhc.ico
  release/basic/basic_kbdbhc/source/basic_kbdbhc.keyman-touch-layout
  release/basic/basic_kbdbhc/source/basic_kbdbhc.kmn
  release/basic/basic_kbdbhc/source/basic_kbdbhc.kps
  release/basic/basic_kbdbhc/source/basic_kbdbhc.kvks
  release/basic/basic_kbdbhc/source/help/basic_kbdbhc.php
  release/basic/basic_kbdbhc/source/readme.htm
  release/basic/basic_kbdbhc/source/welcome/LayoutU_.png
  release/basic/basic_kbdbhc/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdbhc/source/welcome/LayoutU_S.png
  release/basic/basic_kbdbhc/source/welcome/welcome.htm
Labels: keyboard, new

#800 [basic_kbdkaz] Kazakh (Cyrillic) Basic import
  legacy/k/kazakh/DEPRECATED.md
  legacy/kbd/kbdkaz/DEPRECATED.md
  release/basic/basic_kbdkaz/HISTORY.md
  release/basic/basic_kbdkaz/LICENSE.md
  release/basic/basic_kbdkaz/README.md
  release/basic/basic_kbdkaz/basic_kbdkaz.keyboard_info
  release/basic/basic_kbdkaz/basic_kbdkaz.kpj
  release/basic/basic_kbdkaz/source/basic_kbdkaz.ico
  release/basic/basic_kbdkaz/source/basic_kbdkaz.keyman-touch-layout
  release/basic/basic_kbdkaz/source/basic_kbdkaz.kmn
  release/basic/basic_kbdkaz/source/basic_kbdkaz.kps
  release/basic/basic_kbdkaz/source/basic_kbdkaz.kvks
  release/basic/basic_kbdkaz/source/help/basic_kbdkaz.php
  release/basic/basic_kbdkaz/source/readme.htm
  release/basic/basic_kbdkaz/source/welcome/LayoutU_.png
  release/basic/basic_kbdkaz/source/welcome/LayoutU_S.png
  release/basic/basic_kbdkaz/source/welcome/welcome.htm
Labels: keyboard, new

#801 [basic_kbdaze] Azeri Cyrillic Basic import
  legacy/a/azeri_cyrillic/DEPRECATED.md
  legacy/kbd/kbdaze/DEPRECATED.md
  release/basic/basic_kbdaze/HISTORY.md
  release/basic/basic_kbdaze/LICENSE.md
  release/basic/basic_kbdaze/README.md
  release/basic/basic_kbdaze/basic_kbdaze.keyboard_info
  release/basic/basic_kbdaze/basic_kbdaze.kpj
  release/basic/basic_kbdaze/source/basic_kbdaze.ico
  release/basic/basic_kbdaze/source/basic_kbdaze.keyman-touch-layout
  release/basic/basic_kbdaze/source/basic_kbdaze.kmn
  release/basic/basic_kbdaze/source/basic_kbdaze.kps
  release/basic/basic_kbdaze/source/basic_kbdaze.kvks
  release/basic/basic_kbdaze/source/help/basic_kbdaze.php
  release/basic/basic_kbdaze/source/readme.htm
  release/basic/basic_kbdaze/source/welcome/LayoutU_.png
  release/basic/basic_kbdaze/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdaze/source/welcome/LayoutU_S.png
  release/basic/basic_kbdaze/source/welcome/welcome.htm
Labels: keyboard, new

#786 [basic_kbdibo] Igbo Basic
  release/basic/basic_kbdibo/HISTORY.md
  release/basic/basic_kbdibo/LICENSE.md
  release/basic/basic_kbdibo/README.md
  release/basic/basic_kbdibo/basic_kbdibo.keyboard_info
  release/basic/basic_kbdibo/basic_kbdibo.kpj
  release/basic/basic_kbdibo/source/basic_kbdibo.ico
  release/basic/basic_kbdibo/source/basic_kbdibo.keyman-touch-layout
  release/basic/basic_kbdibo/source/basic_kbdibo.kmn
  release/basic/basic_kbdibo/source/basic_kbdibo.kps
  release/basic/basic_kbdibo/source/basic_kbdibo.kvks
  release/basic/basic_kbdibo/source/help/basic_kbdibo.php
  release/basic/basic_kbdibo/source/readme.htm
  release/basic/basic_kbdibo/source/welcome/desktop_layout.png
  release/basic/basic_kbdibo/source/welcome/touch_layout_default.png
  release/basic/basic_kbdibo/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdibo/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdibo/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdibo/source/welcome/welcome.htm
Labels: keyboard, new

#789 [basic_kbdjav] Javanese Basic
  release/basic/basic_kbdjav/HISTORY.md
  release/basic/basic_kbdjav/LICENSE.md
  release/basic/basic_kbdjav/README.md
  release/basic/basic_kbdjav/basic_kbdjav.keyboard_info
  release/basic/basic_kbdjav/basic_kbdjav.kpj
  release/basic/basic_kbdjav/source/basic_kbdjav.ico
  release/basic/basic_kbdjav/source/basic_kbdjav.keyman-touch-layout
  release/basic/basic_kbdjav/source/basic_kbdjav.kmn
  release/basic/basic_kbdjav/source/basic_kbdjav.kps
  release/basic/basic_kbdjav/source/basic_kbdjav.kvks
  release/basic/basic_kbdjav/source/help/basic_kbdjav.php
  release/basic/basic_kbdjav/source/readme.htm
  release/basic/basic_kbdjav/source/welcome/desktop_layout.png
  release/basic/basic_kbdjav/source/welcome/touch_layout_default.png
  release/basic/basic_kbdjav/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdjav/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdjav/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdjav/source/welcome/welcome.htm
Labels: keyboard, new

#807 [basic_kbdmac] Macedonian (FYROM) Basic kbd from Win10
  legacy/kbd/kbdmac/DEPRECATED.md
  legacy/m/macedonian/DEPRECATED.md
  release/basic/basic_kbdmac/HISTORY.md
  release/basic/basic_kbdmac/LICENSE.md
  release/basic/basic_kbdmac/README.md
  release/basic/basic_kbdmac/basic_kbdmac.keyboard_info
  release/basic/basic_kbdmac/basic_kbdmac.kpj
  release/basic/basic_kbdmac/source/basic_kbdmac.ico
  release/basic/basic_kbdmac/source/basic_kbdmac.keyman-touch-layout
  release/basic/basic_kbdmac/source/basic_kbdmac.kmn
  release/basic/basic_kbdmac/source/basic_kbdmac.kps
  release/basic/basic_kbdmac/source/basic_kbdmac.kvks
  release/basic/basic_kbdmac/source/help/basic_kbdmac.php
  release/basic/basic_kbdmac/source/readme.htm
  release/basic/basic_kbdmac/source/welcome/LayoutU_.png
  release/basic/basic_kbdmac/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdmac/source/welcome/LayoutU_S.png
  release/basic/basic_kbdmac/source/welcome/welcome.htm
Labels: keyboard, new

#809 [basic_kbdur1] Ukrainian Enhanced Basic kbd from Win10
  legacy/kbd/kbdur1/DEPRECATED.md
  release/basic/basic_kbdur1/HISTORY.md
  release/basic/basic_kbdur1/LICENSE.md
  release/basic/basic_kbdur1/README.md
  release/basic/basic_kbdur1/basic_kbdur1.keyboard_info
  release/basic/basic_kbdur1/basic_kbdur1.kpj
  release/basic/basic_kbdur1/source/basic_kbdur1.ico
  release/basic/basic_kbdur1/source/basic_kbdur1.keyman-touch-layout
  release/basic/basic_kbdur1/source/basic_kbdur1.kmn
  release/basic/basic_kbdur1/source/basic_kbdur1.kps
  release/basic/basic_kbdur1/source/basic_kbdur1.kvks
  release/basic/basic_kbdur1/source/help/basic_kbdur1.php
  release/basic/basic_kbdur1/source/readme.htm
  release/basic/basic_kbdur1/source/welcome/LayoutU_.png
  release/basic/basic_kbdur1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdur1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdur1/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdur1/source/welcome/welcome.htm
Labels: keyboard, new

#813 [basic_kbdblr] Belarusian Basic kbd from Win10
  legacy/b/belarusian/DEPRECATED.md
  legacy/kbd/kbdblr/DEPRECATED.md
  release/basic/basic_kbdblr/HISTORY.md
  release/basic/basic_kbdblr/LICENSE.md
  release/basic/basic_kbdblr/README.md
  release/basic/basic_kbdblr/basic_kbdblr.keyboard_info
  release/basic/basic_kbdblr/basic_kbdblr.kpj
  release/basic/basic_kbdblr/source/basic_kbdblr.ico
  release/basic/basic_kbdblr/source/basic_kbdblr.keyman-touch-layout
  release/basic/basic_kbdblr/source/basic_kbdblr.kmn
  release/basic/basic_kbdblr/source/basic_kbdblr.kps
  release/basic/basic_kbdblr/source/basic_kbdblr.kvks
  release/basic/basic_kbdblr/source/help/basic_kbdblr.php
  release/basic/basic_kbdblr/source/readme.htm
  release/basic/basic_kbdblr/source/welcome/LayoutU_.png
  release/basic/basic_kbdblr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdblr/source/welcome/welcome.htm
Labels: keyboard, new

#808 [basic_kbdmacst] Macedonian (FYROM) - Standard Basic kbd from Win10
  legacy/kbd/kbdmacst/DEPRECATED.md
  legacy/m/macedonian_fyro/DEPRECATED.md
  release/basic/basic_kbdmacst/HISTORY.md
  release/basic/basic_kbdmacst/LICENSE.md
  release/basic/basic_kbdmacst/README.md
  release/basic/basic_kbdmacst/basic_kbdmacst.keyboard_info
  release/basic/basic_kbdmacst/basic_kbdmacst.kpj
  release/basic/basic_kbdmacst/source/basic_kbdmacst.ico
  release/basic/basic_kbdmacst/source/basic_kbdmacst.keyman-touch-layout
  release/basic/basic_kbdmacst/source/basic_kbdmacst.kmn
  release/basic/basic_kbdmacst/source/basic_kbdmacst.kps
  release/basic/basic_kbdmacst/source/basic_kbdmacst.kvks
  release/basic/basic_kbdmacst/source/help/basic_kbdmacst.php
  release/basic/basic_kbdmacst/source/readme.htm
  release/basic/basic_kbdmacst/source/welcome/LayoutU_.png
  release/basic/basic_kbdmacst/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdmacst/source/welcome/LayoutU_S.png
  release/basic/basic_kbdmacst/source/welcome/welcome.htm
Labels: keyboard, new

#814 [basic_kbdbulg] Bulgarian Basic kbd from Win10
  legacy/b/bulgarian/DEPRECATED.md
  legacy/kbd/kbdbulg/DEPRECATED.md
  release/basic/basic_kbdbulg/HISTORY.md
  release/basic/basic_kbdbulg/LICENSE.md
  release/basic/basic_kbdbulg/README.md
  release/basic/basic_kbdbulg/basic_kbdbulg.keyboard_info
  release/basic/basic_kbdbulg/basic_kbdbulg.kpj
  release/basic/basic_kbdbulg/source/basic_kbdbulg.ico
  release/basic/basic_kbdbulg/source/basic_kbdbulg.keyman-touch-layout
  release/basic/basic_kbdbulg/source/basic_kbdbulg.kmn
  release/basic/basic_kbdbulg/source/basic_kbdbulg.kps
  release/basic/basic_kbdbulg/source/basic_kbdbulg.kvks
  release/basic/basic_kbdbulg/source/help/basic_kbdbulg.php
  release/basic/basic_kbdbulg/source/readme.htm
  release/basic/basic_kbdbulg/source/welcome/LayoutU_.png
  release/basic/basic_kbdbulg/source/welcome/LayoutU_S.png
  release/basic/basic_kbdbulg/source/welcome/welcome.htm
Labels: keyboard, new

#811 [basic_kbdbgph] Bulgarian Phonetic Basic kbd from Win10
  legacy/kbd/kbdbgph/DEPRECATED.md
  release/basic/basic_kbdbgph/HISTORY.md
  release/basic/basic_kbdbgph/LICENSE.md
  release/basic/basic_kbdbgph/README.md
  release/basic/basic_kbdbgph/basic_kbdbgph.keyboard_info
  release/basic/basic_kbdbgph/basic_kbdbgph.kpj
  release/basic/basic_kbdbgph/source/basic_kbdbgph.ico
  release/basic/basic_kbdbgph/source/basic_kbdbgph.keyman-touch-layout
  release/basic/basic_kbdbgph/source/basic_kbdbgph.kmn
  release/basic/basic_kbdbgph/source/basic_kbdbgph.kps
  release/basic/basic_kbdbgph/source/basic_kbdbgph.kvks
  release/basic/basic_kbdbgph/source/help/basic_kbdbgph.php
  release/basic/basic_kbdbgph/source/readme.htm
  release/basic/basic_kbdbgph/source/welcome/LayoutU_.png
  release/basic/basic_kbdbgph/source/welcome/LayoutU_S.png
  release/basic/basic_kbdbgph/source/welcome/welcome.htm
Labels: keyboard, new

#812 [basic_kbdbash] Bashkir Basic kbd from Win10
  legacy/kbd/kbdbash/DEPRECATED.md
  release/basic/basic_kbdbash/HISTORY.md
  release/basic/basic_kbdbash/LICENSE.md
  release/basic/basic_kbdbash/README.md
  release/basic/basic_kbdbash/basic_kbdbash.keyboard_info
  release/basic/basic_kbdbash/basic_kbdbash.kpj
  release/basic/basic_kbdbash/source/basic_kbdbash.ico
  release/basic/basic_kbdbash/source/basic_kbdbash.keyman-touch-layout
  release/basic/basic_kbdbash/source/basic_kbdbash.kmn
  release/basic/basic_kbdbash/source/basic_kbdbash.kps
  release/basic/basic_kbdbash/source/basic_kbdbash.kvks
  release/basic/basic_kbdbash/source/help/basic_kbdbash.php
  release/basic/basic_kbdbash/source/readme.htm
  release/basic/basic_kbdbash/source/welcome/LayoutU_.png
  release/basic/basic_kbdbash/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdbash/source/welcome/LayoutU_S.png
  release/basic/basic_kbdbash/source/welcome/welcome.htm
Labels: keyboard, new

#810 [basic_kbdbu] Bulgarian Typewriter Basic kbd from Win10
  legacy/kbd/kbdbu/DEPRECATED.md
  release/basic/basic_kbdbu/HISTORY.md
  release/basic/basic_kbdbu/LICENSE.md
  release/basic/basic_kbdbu/README.md
  release/basic/basic_kbdbu/basic_kbdbu.keyboard_info
  release/basic/basic_kbdbu/basic_kbdbu.kpj
  release/basic/basic_kbdbu/source/basic_kbdbu.ico
  release/basic/basic_kbdbu/source/basic_kbdbu.keyman-touch-layout
  release/basic/basic_kbdbu/source/basic_kbdbu.kmn
  release/basic/basic_kbdbu/source/basic_kbdbu.kps
  release/basic/basic_kbdbu/source/basic_kbdbu.kvks
  release/basic/basic_kbdbu/source/help/basic_kbdbu.php
  release/basic/basic_kbdbu/source/readme.htm
  release/basic/basic_kbdbu/source/welcome/LayoutU_.png
  release/basic/basic_kbdbu/source/welcome/LayoutU_S.png
  release/basic/basic_kbdbu/source/welcome/welcome.htm
Labels: keyboard, new

#787 [Itrans_gurmukhi]
  release/itrans/itrans_gurmukhi/HISTORY.md
  release/itrans/itrans_gurmukhi/LICENSE.md
  release/itrans/itrans_gurmukhi/README.md
  release/itrans/itrans_gurmukhi/itrans_gurmukhi.keyboard_info
  release/itrans/itrans_gurmukhi/itrans_gurmukhi.kpj
  release/itrans/itrans_gurmukhi/source/extras/test_barakhadi_ka.xml
  release/itrans/itrans_gurmukhi/source/extras/test_bindi_tippi.xml
  release/itrans/itrans_gurmukhi/source/extras/test_consonants_1.xml
  release/itrans/itrans_gurmukhi/source/extras/test_consonants_2.xml
  release/itrans/itrans_gurmukhi/source/extras/test_independent_vowels.xml
  release/itrans/itrans_gurmukhi/source/extras/test_nukta.xml
  release/itrans/itrans_gurmukhi/source/extras/test_numbers.xml
  release/itrans/itrans_gurmukhi/source/extras/test_vowels.xml
  release/itrans/itrans_gurmukhi/source/extras/test_vowels_2.xml
  release/itrans/itrans_gurmukhi/source/help/itrans_gurmukhi.php
  release/itrans/itrans_gurmukhi/source/help/itrans_gurmukhi.png
  release/itrans/itrans_gurmukhi/source/itrans_gurmukhi.ico
  release/itrans/itrans_gurmukhi/source/itrans_gurmukhi.kmn
  release/itrans/itrans_gurmukhi/source/itrans_gurmukhi.kps
  release/itrans/itrans_gurmukhi/source/itrans_gurmukhi.kvks
  release/itrans/itrans_gurmukhi/source/readme.htm
  release/itrans/itrans_gurmukhi/source/welcome/itrans_gurmukhi.png
  release/itrans/itrans_gurmukhi/source/welcome/welcome.htm
Labels: keyboard, new

#806 [basic_kbdkni] Khmer (NIDA) Basic keyboard
  release/basic/basic_kbdkni/HISTORY.md
  release/basic/basic_kbdkni/LICENSE.md
  release/basic/basic_kbdkni/README.md
  release/basic/basic_kbdkni/basic_kbdkni.keyboard_info
  release/basic/basic_kbdkni/basic_kbdkni.kpj
  release/basic/basic_kbdkni/source/basic_kbdkni.ico
  release/basic/basic_kbdkni/source/basic_kbdkni.keyman-touch-layout
  release/basic/basic_kbdkni/source/basic_kbdkni.kmn
  release/basic/basic_kbdkni/source/basic_kbdkni.kps
  release/basic/basic_kbdkni/source/basic_kbdkni.kvks
  release/basic/basic_kbdkni/source/help/basic_kbdkni.php
  release/basic/basic_kbdkni/source/readme.htm
  release/basic/basic_kbdkni/source/welcome/desktop_layout.png
  release/basic/basic_kbdkni/source/welcome/touch_layout_default.png
  release/basic/basic_kbdkni/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdkni/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdkni/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdkni/source/welcome/welcome.htm
Labels: keyboard, new

#817 [basic_kbdbu] Fixed problem with deprecating itself
  release/basic/basic_kbdbu/basic_kbdbu.keyboard_info
Labels: enhancement, keyboard

#818 [basic_kbdmyan] Myanmar (Phonetic order) Basic imported from Win10
  release/basic/basic_kbdmyan/HISTORY.md
  release/basic/basic_kbdmyan/LICENSE.md
  release/basic/basic_kbdmyan/README.md
  release/basic/basic_kbdmyan/basic_kbdmyan.keyboard_info
  release/basic/basic_kbdmyan/basic_kbdmyan.kpj
  release/basic/basic_kbdmyan/source/basic_kbdmyan.ico
  release/basic/basic_kbdmyan/source/basic_kbdmyan.keyman-touch-layout
  release/basic/basic_kbdmyan/source/basic_kbdmyan.kmn
  release/basic/basic_kbdmyan/source/basic_kbdmyan.kps
  release/basic/basic_kbdmyan/source/basic_kbdmyan.kvks
  release/basic/basic_kbdmyan/source/help/basic_kbdmyan.php
  release/basic/basic_kbdmyan/source/readme.htm
  release/basic/basic_kbdmyan/source/welcome/desktop_layout.png
  release/basic/basic_kbdmyan/source/welcome/touch_layout_default.png
  release/basic/basic_kbdmyan/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdmyan/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdmyan/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdmyan/source/welcome/welcome.htm
Labels: keyboard, new

#816 [basic_kbdlvst] Latvian (Standard) Basic imported from Win10
  release/basic/basic_kbdlvst/HISTORY.md
  release/basic/basic_kbdlvst/LICENSE.md
  release/basic/basic_kbdlvst/README.md
  release/basic/basic_kbdlvst/basic_kbdlvst.keyboard_info
  release/basic/basic_kbdlvst/basic_kbdlvst.kpj
  release/basic/basic_kbdlvst/source/basic_kbdlvst.ico
  release/basic/basic_kbdlvst/source/basic_kbdlvst.keyman-touch-layout
  release/basic/basic_kbdlvst/source/basic_kbdlvst.kmn
  release/basic/basic_kbdlvst/source/basic_kbdlvst.kps
  release/basic/basic_kbdlvst/source/basic_kbdlvst.kvks
  release/basic/basic_kbdlvst/source/help/basic_kbdlvst.php
  release/basic/basic_kbdlvst/source/readme.htm
  release/basic/basic_kbdlvst/source/welcome/desktop_layout.png
  release/basic/basic_kbdlvst/source/welcome/touch_layout_default.png
  release/basic/basic_kbdlvst/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdlvst/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdlvst/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdlvst/source/welcome/welcome.htm
Labels: keyboard, new

#819 [basic_kbdmyan] remove the English alphabet from desktop layout
  release/basic/basic_kbdmyan/HISTORY.md
  release/basic/basic_kbdmyan/README.md
  release/basic/basic_kbdmyan/basic_kbdmyan.kpj
  release/basic/basic_kbdmyan/source/basic_kbdmyan.kmn
  release/basic/basic_kbdmyan/source/basic_kbdmyan.kvks
  release/basic/basic_kbdmyan/source/help/basic_kbdmyan.php
  release/basic/basic_kbdmyan/source/readme.htm
  release/basic/basic_kbdmyan/source/welcome/desktop_layout.png
  release/basic/basic_kbdmyan/source/welcome/welcome.htm
Labels: keyboard

#805 Balochi persian
  release/b/balochi_persian/HISTORY.md
  release/b/balochi_persian/LICENSE.md
  release/b/balochi_persian/README.md
  release/b/balochi_persian/balochi_persian.keyboard_info
  release/b/balochi_persian/balochi_persian.kpj
  release/b/balochi_persian/extras/zwj.bmp
  release/b/balochi_persian/extras/zwnj.bmp
  release/b/balochi_persian/source/balochi_persian.ico
  release/b/balochi_persian/source/balochi_persian.ico.old
  release/b/balochi_persian/source/balochi_persian.keyman-touch-layout
  release/b/balochi_persian/source/balochi_persian.kmn
  release/b/balochi_persian/source/balochi_persian.kps
  release/b/balochi_persian/source/balochi_persian.kvks
  release/b/balochi_persian/source/help/balochi_persian.php
  release/b/balochi_persian/source/readme.htm
  release/b/balochi_persian/source/welcome/keyboard_layoutU.png
  release/b/balochi_persian/source/welcome/keyboard_layoutU_C.png
  release/b/balochi_persian/source/welcome/keyboard_layoutU_S.png
  release/b/balochi_persian/source/welcome/welcome.htm
Labels: keyboard, new

#821 [basic_us_myan] List duplicate keyboards from Windows
  release/basic/basic_kbdmyan/basic_kbdmyan.keyboard_info
  release/basic/basic_kbdus/basic_kbdus.keyboard_info
Labels: infrastructure, keyboard

#824 [basic_kbdogham] Ogham Basic imported from Win10
  release/basic/basic_kbdogham/HISTORY.md
  release/basic/basic_kbdogham/LICENSE.md
  release/basic/basic_kbdogham/README.md
  release/basic/basic_kbdogham/basic_kbdogham.keyboard_info
  release/basic/basic_kbdogham/basic_kbdogham.kpj
  release/basic/basic_kbdogham/source/basic_kbdogham.ico
  release/basic/basic_kbdogham/source/basic_kbdogham.keyman-touch-layout
  release/basic/basic_kbdogham/source/basic_kbdogham.kmn
  release/basic/basic_kbdogham/source/basic_kbdogham.kps
  release/basic/basic_kbdogham/source/basic_kbdogham.kvks
  release/basic/basic_kbdogham/source/help/basic_kbdogham.php
  release/basic/basic_kbdogham/source/readme.htm
  release/basic/basic_kbdogham/source/welcome/desktop_layout.png
  release/basic/basic_kbdogham/source/welcome/touch_layout_default.png
  release/basic/basic_kbdogham/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdogham/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdogham/source/welcome/welcome.htm
Labels: keyboard, new

#823 [basic_kbdyak] Deprecated old kbdyak - no version bump needed
  legacy/kbd/kbdyak/DEPRECATED.md
  release/basic/basic_kbdyak/basic_kbdyak.keyboard_info
Labels: enhancement, keyboard

#822 [basic_kbdbe] Import of Windows kbd with mobile layout
  legacy/b/belgian_french/DEPRECATED.md
  legacy/b/belgian_period/DEPRECATED.md
  legacy/kbd/kbdbe/DEPRECATED.md
  release/basic/basic_kbdbe/HISTORY.md
  release/basic/basic_kbdbe/LICENSE.md
  release/basic/basic_kbdbe/README.md
  release/basic/basic_kbdbe/basic_kbdbe.keyboard_info
  release/basic/basic_kbdbe/basic_kbdbe.kpj
  release/basic/basic_kbdbe/source/basic_kbdbe.ico
  release/basic/basic_kbdbe/source/basic_kbdbe.keyman-touch-layout
  release/basic/basic_kbdbe/source/basic_kbdbe.kmn
  release/basic/basic_kbdbe/source/basic_kbdbe.kps
  release/basic/basic_kbdbe/source/basic_kbdbe.kvks
  release/basic/basic_kbdbe/source/help/basic_kbdbe.php
  release/basic/basic_kbdbe/source/readme.htm
  release/basic/basic_kbdbe/source/welcome/LayoutU_.png
  release/basic/basic_kbdbe/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdbe/source/welcome/LayoutU_S.png
  release/basic/basic_kbdbe/source/welcome/welcome.htm
Labels: keyboard, new

#828 [basic_kbdkyr] Deprecate kyrghyz keyboard
  legacy/k/kyrghyz/DEPRECATED.md
  release/basic/basic_kbdkyr/basic_kbdkyr.keyboard_info
Labels: infrastructure, keyboard

#825 [basic_kbdolch] Ol Chiki Basic imported from Win10
  release/basic/basic_kbdolch/HISTORY.md
  release/basic/basic_kbdolch/LICENSE.md
  release/basic/basic_kbdolch/README.md
  release/basic/basic_kbdolch/basic_kbdolch.keyboard_info
  release/basic/basic_kbdolch/basic_kbdolch.kpj
  release/basic/basic_kbdolch/source/basic_kbdolch.ico
  release/basic/basic_kbdolch/source/basic_kbdolch.keyman-touch-layout
  release/basic/basic_kbdolch/source/basic_kbdolch.kmn
  release/basic/basic_kbdolch/source/basic_kbdolch.kps
  release/basic/basic_kbdolch/source/basic_kbdolch.kvks
  release/basic/basic_kbdolch/source/help/basic_kbdolch.php
  release/basic/basic_kbdolch/source/readme.htm
  release/basic/basic_kbdolch/source/welcome/desktop_layout.png
  release/basic/basic_kbdolch/source/welcome/touch_layout_default.png
  release/basic/basic_kbdolch/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdolch/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdolch/source/welcome/welcome.htm
Labels: keyboard, new

#829 [basic_kbdoldit] Old Italic Basic Imported from Win10
  release/basic/basic_kbdoldit/HISTORY.md
  release/basic/basic_kbdoldit/LICENSE.md
  release/basic/basic_kbdoldit/README.md
  release/basic/basic_kbdoldit/basic_kbdoldit.keyboard_info
  release/basic/basic_kbdoldit/basic_kbdoldit.kpj
  release/basic/basic_kbdoldit/source/basic_kbdoldit.ico
  release/basic/basic_kbdoldit/source/basic_kbdoldit.keyman-touch-layout
  release/basic/basic_kbdoldit/source/basic_kbdoldit.kmn
  release/basic/basic_kbdoldit/source/basic_kbdoldit.kps
  release/basic/basic_kbdoldit/source/basic_kbdoldit.kvks
  release/basic/basic_kbdoldit/source/help/basic_kbdoldit.php
  release/basic/basic_kbdoldit/source/readme.htm
  release/basic/basic_kbdoldit/source/welcome/desktop_layout.png
  release/basic/basic_kbdoldit/source/welcome/touch_layout_default.png
  release/basic/basic_kbdoldit/source/welcome/touch_layout_shift.png
  release/basic/basic_kbdoldit/source/welcome/welcome.htm
Labels: keyboard, new

#830 [basic_kbdosm] Osmanya Basic Imported from Win10
  release/basic/basic_kbdosm/HISTORY.md
  release/basic/basic_kbdosm/LICENSE.md
  release/basic/basic_kbdosm/README.md
  release/basic/basic_kbdosm/basic_kbdosm.keyboard_info
  release/basic/basic_kbdosm/basic_kbdosm.kpj
  release/basic/basic_kbdosm/source/basic_kbdosm.ico
  release/basic/basic_kbdosm/source/basic_kbdosm.keyman-touch-layout
  release/basic/basic_kbdosm/source/basic_kbdosm.kmn
  release/basic/basic_kbdosm/source/basic_kbdosm.kps
  release/basic/basic_kbdosm/source/basic_kbdosm.kvks
  release/basic/basic_kbdosm/source/help/basic_kbdosm.php
  release/basic/basic_kbdosm/source/readme.htm
  release/basic/basic_kbdosm/source/welcome/desktop_layout.png
  release/basic/basic_kbdosm/source/welcome/touch_layout_default.png
  release/basic/basic_kbdosm/source/welcome/touch_layout_longpress.png
  release/basic/basic_kbdosm/source/welcome/touch_layout_numeric.png
  release/basic/basic_kbdosm/source/welcome/welcome.htm
Labels: keyboard, new

#831 [basic_kbdcr] Croatian/Slovenian Basic import from Win10
  legacy/b/bosnian/DEPRECATED.md
  legacy/c/croatian/DEPRECATED.md
  legacy/kbd/kbdcr/DEPRECATED.md
  legacy/s/slovenian/DEPRECATED.md
  release/basic/basic_kbdbe/source/help/basic_kbdbe.php
  release/basic/basic_kbdcr/HISTORY.md
  release/basic/basic_kbdcr/LICENSE.md
  release/basic/basic_kbdcr/README.md
  release/basic/basic_kbdcr/basic_kbdcr.keyboard_info
  release/basic/basic_kbdcr/basic_kbdcr.kpj
  release/basic/basic_kbdcr/source/basic_kbdcr.ico
  release/basic/basic_kbdcr/source/basic_kbdcr.keyman-touch-layout
  release/basic/basic_kbdcr/source/basic_kbdcr.kmn
  release/basic/basic_kbdcr/source/basic_kbdcr.kps
  release/basic/basic_kbdcr/source/basic_kbdcr.kvks
  release/basic/basic_kbdcr/source/help/basic_kbdcr.php
  release/basic/basic_kbdcr/source/readme.htm
  release/basic/basic_kbdcr/source/welcome/LayoutU_.png
  release/basic/basic_kbdcr/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdcr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdcr/source/welcome/welcome.htm
Labels: keyboard, new
