Repository keymanapp/keyboards, pull requests merged in 2019-03, with the labels that each got.

#630 [meta] rollback --ignore-existing -- the settings were already correct
  ci.sh
Labels: bug, infrastructure

#626 [sanskrit_unicode] Created a php file and point to another transliter…
  legacy/s/sanskrit unicode/sanskrit unicode.keyboard_info
  legacy/s/sanskrit unicode/source/help/sanskrit unicode.php
Labels: enhancement, keyboard

#629 [sil_ipa-options] Modified kbd to support options and match current s…
  release/sil/sil_ipa/HISTORY.md
  release/sil/sil_ipa/LICENSE.md
  release/sil/sil_ipa/README.md
  release/sil/sil_ipa/extras/SILIPAKeyboardLayout.pdf
  release/sil/sil_ipa/sil_ipa.kpj
  release/sil/sil_ipa/source/CharisSIL-B.ttf
  release/sil/sil_ipa/source/CharisSIL-BI.ttf
  release/sil/sil_ipa/source/CharisSIL-I.ttf
  release/sil/sil_ipa/source/CharisSIL-R.ttf
  release/sil/sil_ipa/source/FONTLOG.txt
  release/sil/sil_ipa/source/OFL-FAQ.txt
  release/sil/sil_ipa/source/OFL.txt
  release/sil/sil_ipa/source/README.txt
  release/sil/sil_ipa/source/help/sil_ipa.php
  release/sil/sil_ipa/source/options.htm
  release/sil/sil_ipa/source/readme.htm
  release/sil/sil_ipa/source/sil_ipa.keyman-touch-layout
  release/sil/sil_ipa/source/sil_ipa.kmn
  release/sil/sil_ipa/source/sil_ipa.kps
  release/sil/sil_ipa/source/welcome/welcome.htm
Labels: enhancement, keyboard

#627 [rac_dogri] Keyboard submitted on behalf of author
  release/rac/rac_dogri/HISTORY.md
  release/rac/rac_dogri/LICENSE.md
  release/rac/rac_dogri/README.md
  release/rac/rac_dogri/rac_dogri.keyboard_info
  release/rac/rac_dogri/rac_dogri.kpj
  release/rac/rac_dogri/source/RAC.jpg
  release/rac/rac_dogri/source/help/rac_dogri.php
  release/rac/rac_dogri/source/rac_dogri.ico
  release/rac/rac_dogri/source/rac_dogri.keyman-touch-layout
  release/rac/rac_dogri/source/rac_dogri.kmn
  release/rac/rac_dogri/source/rac_dogri.kps
  release/rac/rac_dogri/source/rac_dogri.kvks
  release/rac/rac_dogri/source/readme.htm
  release/rac/rac_dogri/source/welcome/rac_dogri.png
  release/rac/rac_dogri/source/welcome/rac_dogri_ctrl_alt.png
  release/rac/rac_dogri/source/welcome/rac_dogri_shift.png
  release/rac/rac_dogri/source/welcome/welcome.htm
Labels: keyboard, new, work-in-progress

#638 [font-gff-updates] Added Brana font to shared and replaced existing F…
  release/b/balochi_urdu/.gitignore
  release/shared/fonts/geez/Brana-Regular.ttf
  release/shared/fonts/geez/FreeSerif.otf
Labels: enhancement, keyboard

#640 [lazuri-help] Added help file back in and modified to show OSL and ph…
  release/l/lazuri/source/help/lazuri.php
Labels: enhancement, keyboard

#639 [mongolian_cyrillic_qwerty] Mongolian Cyrillic QWERTY v 1.0
  release/m/mongolian_cyrillic_qwerty/HISTORY.md
  release/m/mongolian_cyrillic_qwerty/LICENSE.md
  release/m/mongolian_cyrillic_qwerty/README.md
  release/m/mongolian_cyrillic_qwerty/mongolian_cyrillic_qwerty.keyboard_info
  release/m/mongolian_cyrillic_qwerty/mongolian_cyrillic_qwerty.kpj
  release/m/mongolian_cyrillic_qwerty/source/help/keyboard_layout.png
  release/m/mongolian_cyrillic_qwerty/source/help/mongolian_cyrillic_qwerty.php
  release/m/mongolian_cyrillic_qwerty/source/help/touch_layout_default.png
  release/m/mongolian_cyrillic_qwerty/source/help/touch_layout_shift.png
  release/m/mongolian_cyrillic_qwerty/source/help/touch_layout_symbol.png
  release/m/mongolian_cyrillic_qwerty/source/mongolian_cyrillic_qwerty.ico
  release/m/mongolian_cyrillic_qwerty/source/mongolian_cyrillic_qwerty.keyman-touch-layout
  release/m/mongolian_cyrillic_qwerty/source/mongolian_cyrillic_qwerty.kmn
  release/m/mongolian_cyrillic_qwerty/source/mongolian_cyrillic_qwerty.kps
  release/m/mongolian_cyrillic_qwerty/source/mongolian_cyrillic_qwerty.kvks
  release/m/mongolian_cyrillic_qwerty/source/readme.htm
  release/m/mongolian_cyrillic_qwerty/source/welcome/keyboard_layout.png
  release/m/mongolian_cyrillic_qwerty/source/welcome/touch_layout_default.png
  release/m/mongolian_cyrillic_qwerty/source/welcome/touch_layout_shift.png
  release/m/mongolian_cyrillic_qwerty/source/welcome/touch_layout_symbol.png
  release/m/mongolian_cyrillic_qwerty/source/welcome/welcome.htm
Labels: keyboard

#651 [infrastructure] Always use wine when not on Windows
  build.sh
Labels: bug, infrastructure
