Repository keymanapp/keyboards, pull requests merged in 2019-09, with the labels that each got.

#854 [basic_kbda2] Arabic (102) Basic import and deprecations
  legacy/a/arabic_102/DEPRECATED.md
  legacy/kbd/kbda2/DEPRECATED.md
  release/basic/basic_kbda2/HISTORY.md
  release/basic/basic_kbda2/LICENSE.md
  release/basic/basic_kbda2/README.md
  release/basic/basic_kbda2/basic_kbda2.keyboard_info
  release/basic/basic_kbda2/basic_kbda2.kpj
  release/basic/basic_kbda2/source/basic_kbda2.ico
  release/basic/basic_kbda2/source/basic_kbda2.keyman-touch-layout
  release/basic/basic_kbda2/source/basic_kbda2.kmn
  release/basic/basic_kbda2/source/basic_kbda2.kps
  release/basic/basic_kbda2/source/basic_kbda2.kvks
  release/basic/basic_kbda2/source/help/basic_kbda2.php
  release/basic/basic_kbda2/source/readme.htm
  release/basic/basic_kbda2/source/welcome/LayoutU_.png
  release/basic/basic_kbda2/source/welcome/LayoutU_RA.png
  release/basic/basic_kbda2/source/welcome/LayoutU_S.png
  release/basic/basic_kbda2/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbda2/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbda2/source/welcome/welcome.htm
Labels: keyboard, new

#856 [basic_kbdfa] Persian Basic import and deprecations
  legacy/f/farsi/DEPRECATED.md
  legacy/kbd/kbdfa/DEPRECATED.md
  release/basic/basic_kbdfa/HISTORY.md
  release/basic/basic_kbdfa/LICENSE.md
  release/basic/basic_kbdfa/README.md
  release/basic/basic_kbdfa/basic_kbdfa.keyboard_info
  release/basic/basic_kbdfa/basic_kbdfa.kpj
  release/basic/basic_kbdfa/source/basic_kbdfa.ico
  release/basic/basic_kbdfa/source/basic_kbdfa.keyman-touch-layout
  release/basic/basic_kbdfa/source/basic_kbdfa.kmn
  release/basic/basic_kbdfa/source/basic_kbdfa.kps
  release/basic/basic_kbdfa/source/basic_kbdfa.kvks
  release/basic/basic_kbdfa/source/help/basic_kbdfa.php
  release/basic/basic_kbdfa/source/readme.htm
  release/basic/basic_kbdfa/source/welcome/LayoutU_.png
  release/basic/basic_kbdfa/source/welcome/LayoutU_C.png
  release/basic/basic_kbdfa/source/welcome/LayoutU_S.png
  release/basic/basic_kbdfa/source/welcome/LayoutU_SC.png
  release/basic/basic_kbdfa/source/welcome/welcome.htm
Labels: keyboard, new

#857 [basic_kbdpash] Pashto (Afghanistan) Basic import and deprecations
  legacy/kbd/kbdpash/DEPRECATED.md
  legacy/p/pashtokeyboard/DEPRECATED.md
  release/basic/basic_kbdpash/HISTORY.md
  release/basic/basic_kbdpash/LICENSE.md
  release/basic/basic_kbdpash/README.md
  release/basic/basic_kbdpash/basic_kbdpash.keyboard_info
  release/basic/basic_kbdpash/basic_kbdpash.kpj
  release/basic/basic_kbdpash/source/basic_kbdpash.ico
  release/basic/basic_kbdpash/source/basic_kbdpash.keyman-touch-layout
  release/basic/basic_kbdpash/source/basic_kbdpash.kmn
  release/basic/basic_kbdpash/source/basic_kbdpash.kps
  release/basic/basic_kbdpash/source/basic_kbdpash.kvks
  release/basic/basic_kbdpash/source/help/basic_kbdpash.php
  release/basic/basic_kbdpash/source/readme.htm
  release/basic/basic_kbdpash/source/welcome/LayoutU_.png
  release/basic/basic_kbdpash/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdpash/source/welcome/LayoutU_S.png
  release/basic/basic_kbdpash/source/welcome/welcome.htm
Labels: keyboard, new

#862 [basic_kbddiv1] Divehi Phonetic Basic import and deprecations
  legacy/d/divehi_phon/DEPRECATED.md
  legacy/kbd/kbddiv1/DEPRECATED.md
  release/basic/basic_kbddiv1/HISTORY.md
  release/basic/basic_kbddiv1/LICENSE.md
  release/basic/basic_kbddiv1/README.md
  release/basic/basic_kbddiv1/basic_kbddiv1.keyboard_info
  release/basic/basic_kbddiv1/basic_kbddiv1.kpj
  release/basic/basic_kbddiv1/source/basic_kbddiv1.ico
  release/basic/basic_kbddiv1/source/basic_kbddiv1.keyman-touch-layout
  release/basic/basic_kbddiv1/source/basic_kbddiv1.kmn
  release/basic/basic_kbddiv1/source/basic_kbddiv1.kps
  release/basic/basic_kbddiv1/source/basic_kbddiv1.kvks
  release/basic/basic_kbddiv1/source/help/basic_kbddiv1.php
  release/basic/basic_kbddiv1/source/readme.htm
  release/basic/basic_kbddiv1/source/welcome/LayoutU_.png
  release/basic/basic_kbddiv1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbddiv1/source/welcome/LayoutU_S.png
  release/basic/basic_kbddiv1/source/welcome/welcome.htm
Labels: keyboard, new

#863 [basic_kbddiv2] Divehi Typewriter Basic import and deprecations
  legacy/d/divehi_type/DEPRECATED.md
  legacy/kbd/kbddiv2/DEPRECATED.md
  release/basic/basic_kbddiv2/HISTORY.md
  release/basic/basic_kbddiv2/LICENSE.md
  release/basic/basic_kbddiv2/README.md
  release/basic/basic_kbddiv2/basic_kbddiv2.keyboard_info
  release/basic/basic_kbddiv2/basic_kbddiv2.kpj
  release/basic/basic_kbddiv2/source/basic_kbddiv2.ico
  release/basic/basic_kbddiv2/source/basic_kbddiv2.keyman-touch-layout
  release/basic/basic_kbddiv2/source/basic_kbddiv2.kmn
  release/basic/basic_kbddiv2/source/basic_kbddiv2.kps
  release/basic/basic_kbddiv2/source/basic_kbddiv2.kvks
  release/basic/basic_kbddiv2/source/help/basic_kbddiv2.php
  release/basic/basic_kbddiv2/source/readme.htm
  release/basic/basic_kbddiv2/source/welcome/LayoutU_.png
  release/basic/basic_kbddiv2/source/welcome/LayoutU_RA.png
  release/basic/basic_kbddiv2/source/welcome/LayoutU_S.png
  release/basic/basic_kbddiv2/source/welcome/welcome.htm
Labels: keyboard, new

#852 [basic_kbdughr1] Uyghur Basic import and deprecations
  legacy/kbd/kbdughr/DEPRECATED.md
  release/basic/basic_kbdughr/DEPRECATED.md
  release/basic/basic_kbdughr1/HISTORY.md
  release/basic/basic_kbdughr1/LICENSE.md
  release/basic/basic_kbdughr1/README.md
  release/basic/basic_kbdughr1/basic_kbdughr1.keyboard_info
  release/basic/basic_kbdughr1/basic_kbdughr1.kpj
  release/basic/basic_kbdughr1/source/basic_kbdughr1.ico
  release/basic/basic_kbdughr1/source/basic_kbdughr1.keyman-touch-layout
  release/basic/basic_kbdughr1/source/basic_kbdughr1.kmn
  release/basic/basic_kbdughr1/source/basic_kbdughr1.kps
  release/basic/basic_kbdughr1/source/basic_kbdughr1.kvks
  release/basic/basic_kbdughr1/source/help/basic_kbdughr1.php
  release/basic/basic_kbdughr1/source/readme.htm
  release/basic/basic_kbdughr1/source/welcome/LayoutU_.png
  release/basic/basic_kbdughr1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdughr1/source/welcome/welcome.htm
Labels: keyboard, new

#868 [basic_kbdintel] Import Telegu Basic from Win10 and deprecations
  legacy/kbd/kbdintel/DEPRECATED.md
  legacy/t/telugu/DEPRECATED.md
  release/basic/basic_kbdintel/HISTORY.md
  release/basic/basic_kbdintel/LICENSE.md
  release/basic/basic_kbdintel/README.md
  release/basic/basic_kbdintel/basic_kbdintel.keyboard_info
  release/basic/basic_kbdintel/basic_kbdintel.kpj
  release/basic/basic_kbdintel/source/basic_kbdintel.ico
  release/basic/basic_kbdintel/source/basic_kbdintel.keyman-touch-layout
  release/basic/basic_kbdintel/source/basic_kbdintel.kmn
  release/basic/basic_kbdintel/source/basic_kbdintel.kps
  release/basic/basic_kbdintel/source/basic_kbdintel.kvks
  release/basic/basic_kbdintel/source/help/basic_kbdintel.php
  release/basic/basic_kbdintel/source/readme.htm
  release/basic/basic_kbdintel/source/welcome/LayoutU_.png
  release/basic/basic_kbdintel/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdintel/source/welcome/LayoutU_S.png
  release/basic/basic_kbdintel/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdintel/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdintel/source/welcome/welcome.htm
Labels: keyboard, new

#855 [basic_kbda3] Arabic (102) AZERTY Basic import and deprecations
  legacy/a/arabic_102_azerty/DEPRECATED.md
  legacy/kbd/kbda3/DEPRECATED.md
  release/basic/basic_kbda3/HISTORY.md
  release/basic/basic_kbda3/LICENSE.md
  release/basic/basic_kbda3/README.md
  release/basic/basic_kbda3/basic_kbda3.keyboard_info
  release/basic/basic_kbda3/basic_kbda3.kpj
  release/basic/basic_kbda3/source/basic_kbda3.ico
  release/basic/basic_kbda3/source/basic_kbda3.keyman-touch-layout
  release/basic/basic_kbda3/source/basic_kbda3.kmn
  release/basic/basic_kbda3/source/basic_kbda3.kps
  release/basic/basic_kbda3/source/basic_kbda3.kvks
  release/basic/basic_kbda3/source/help/basic_kbda3.php
  release/basic/basic_kbda3/source/readme.htm
  release/basic/basic_kbda3/source/welcome/LayoutU_.png
  release/basic/basic_kbda3/source/welcome/LayoutU_RA.png
  release/basic/basic_kbda3/source/welcome/LayoutU_S.png
  release/basic/basic_kbda3/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbda3/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbda3/source/welcome/welcome.htm
Labels: keyboard, new

#853 [basic_kbda1] Import Arabic (101) Basic and deprecations
  legacy/a/arabic_101/DEPRECATED.md
  legacy/kbd/kbda1/DEPRECATED.md
  release/basic/basic_kbda1/HISTORY.md
  release/basic/basic_kbda1/LICENSE.md
  release/basic/basic_kbda1/README.md
  release/basic/basic_kbda1/basic_kbda1.keyboard_info
  release/basic/basic_kbda1/basic_kbda1.kpj
  release/basic/basic_kbda1/source/basic_kbda1.ico
  release/basic/basic_kbda1/source/basic_kbda1.keyman-touch-layout
  release/basic/basic_kbda1/source/basic_kbda1.kmn
  release/basic/basic_kbda1/source/basic_kbda1.kps
  release/basic/basic_kbda1/source/basic_kbda1.kvks
  release/basic/basic_kbda1/source/help/basic_kbda1.php
  release/basic/basic_kbda1/source/readme.htm
  release/basic/basic_kbda1/source/welcome/LayoutU_.png
  release/basic/basic_kbda1/source/welcome/LayoutU_S.png
  release/basic/basic_kbda1/source/welcome/LayoutU_SC.png
  release/basic/basic_kbda1/source/welcome/welcome.htm
Labels: keyboard, new

#875 [Enga] Initial release
  release/e/enga/HISTORY.md
  release/e/enga/LICENSE.md
  release/e/enga/README.md
  release/e/enga/enga.keyboard_info
  release/e/enga/enga.kpj
  release/e/enga/source/enga.keyman-touch-layout
  release/e/enga/source/enga.kmn
  release/e/enga/source/enga.kps
  release/e/enga/source/enga.kvks
  release/e/enga/source/help/enga.php
  release/e/enga/source/help/engaU_.png
  release/e/enga/source/help/engaU_RA.png
  release/e/enga/source/help/engaU_S.png
  release/e/enga/source/help/engaU_SRA.png
  release/e/enga/source/readme.htm
  release/e/enga/source/welcome/engaU_.png
  release/e/enga/source/welcome/engaU_RA.png
  release/e/enga/source/welcome/engaU_S.png
  release/e/enga/source/welcome/engaU_SRA.png
  release/e/enga/source/welcome/welcome.htm
Labels: keyboard, new

#843 [basic_kbdinben] Bengali Basic Win10 keyboard and deprecations
  legacy/b/bengali/DEPRECATED.md
  legacy/kbd/kbdinben/DEPRECATED.md
  release/basic/basic_kbdinben/HISTORY.md
  release/basic/basic_kbdinben/LICENSE.md
  release/basic/basic_kbdinben/README.md
  release/basic/basic_kbdinben/basic_kbdinben.keyboard_info
  release/basic/basic_kbdinben/basic_kbdinben.kpj
  release/basic/basic_kbdinben/source/basic_kbdinben.ico
  release/basic/basic_kbdinben/source/basic_kbdinben.keyman-touch-layout
  release/basic/basic_kbdinben/source/basic_kbdinben.kmn
  release/basic/basic_kbdinben/source/basic_kbdinben.kps
  release/basic/basic_kbdinben/source/basic_kbdinben.kvks
  release/basic/basic_kbdinben/source/help/basic_kbdinben.php
  release/basic/basic_kbdinben/source/help/chart.php
  release/basic/basic_kbdinben/source/readme.htm
  release/basic/basic_kbdinben/source/welcome/LayoutU_.png
  release/basic/basic_kbdinben/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinben/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinben/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdinben/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinben/source/welcome/chart.htm
  release/basic/basic_kbdinben/source/welcome/welcome.htm
Labels: keyboard, new

#878 [Krung] Fixup missing symbols from krung.kvks
  release/k/krung/HISTORY.md
  release/k/krung/README.md
  release/k/krung/source/krung.kmn
  release/k/krung/source/krung.kvks
Labels: bug, keyboard

#876 [malar_malayalam_inscript] Initial version of Malar Malayalam Inscript Keyboard
  release/m/malar_malayalam_inscript/HISTORY.md
  release/m/malar_malayalam_inscript/LICENSE.md
  release/m/malar_malayalam_inscript/README.md
  release/m/malar_malayalam_inscript/malar_malayalam_inscript.keyboard_info
  release/m/malar_malayalam_inscript/malar_malayalam_inscript.kpj
  release/m/malar_malayalam_inscript/source/help/malar_malayalam_inscript.php
  release/m/malar_malayalam_inscript/source/help/malar_malayalam_inscript_alt.png
  release/m/malar_malayalam_inscript/source/help/malar_malayalam_inscript_alt_shift.png
  release/m/malar_malayalam_inscript/source/help/malar_malayalam_inscript_default.png
  release/m/malar_malayalam_inscript/source/help/malar_malayalam_inscript_shift.png
  release/m/malar_malayalam_inscript/source/malar_malayalam_inscript.ico
  release/m/malar_malayalam_inscript/source/malar_malayalam_inscript.keyman-touch-layout
  release/m/malar_malayalam_inscript/source/malar_malayalam_inscript.kmn
  release/m/malar_malayalam_inscript/source/malar_malayalam_inscript.kps
  release/m/malar_malayalam_inscript/source/malar_malayalam_inscript.kvks
  release/m/malar_malayalam_inscript/source/malar_malayalam_inscript.png
  release/m/malar_malayalam_inscript/source/readme.htm
  release/m/malar_malayalam_inscript/source/welcome/Manjari-Bold.woff
  release/m/malar_malayalam_inscript/source/welcome/Manjari-Regular.woff
  release/m/malar_malayalam_inscript/source/welcome/Manjari_OFL.txt
  release/m/malar_malayalam_inscript/source/welcome/malar_malayalam_inscript_alt.png
  release/m/malar_malayalam_inscript/source/welcome/malar_malayalam_inscript_alt_shift.png
  release/m/malar_malayalam_inscript/source/welcome/malar_malayalam_inscript_default.png
  release/m/malar_malayalam_inscript/source/welcome/malar_malayalam_inscript_shift.png
  release/m/malar_malayalam_inscript/source/welcome/welcome.htm
Labels: keyboard, new

#877 Indigenous NT Final
  release/i/indigenous_nt/source/help/indigenous_nt_layout.pdf
Labels: enhancement, keyboard

#879 [sil_greek_politonic] change tonos to oxia characters
  release/sil/sil_greek_polytonic/HISTORY.md
  release/sil/sil_greek_polytonic/LICENSE.md
  release/sil/sil_greek_polytonic/README.md
  release/sil/sil_greek_polytonic/sil_greek_polytonic.kpj
  release/sil/sil_greek_polytonic/source/help/sil_greek_polytonicU_.png
  release/sil/sil_greek_polytonic/source/help/sil_greek_polytonicU_S.png
  release/sil/sil_greek_polytonic/source/readme.htm
  release/sil/sil_greek_polytonic/source/sil_greek_polytonic.kmn
  release/sil/sil_greek_polytonic/source/sil_greek_polytonic.kps
  release/sil/sil_greek_polytonic/source/sil_greek_polytonic.kvks
  release/sil/sil_greek_polytonic/source/welcome/sil_greek_polytonicU_.png
  release/sil/sil_greek_polytonic/source/welcome/sil_greek_polytonicU_S.png
Labels: enhancement, keyboard

#880 [pid_piaroa] New keyboard for Piaroa (ISO 639-3: pid)
  release/p/pid_piaroa/HISTORY.md
  release/p/pid_piaroa/LICENSE.md
  release/p/pid_piaroa/README.md
  release/p/pid_piaroa/pid_piaroa.keyboard_info
  release/p/pid_piaroa/pid_piaroa.kpj
  release/p/pid_piaroa/source/help/pid_piaroa.php
  release/p/pid_piaroa/source/pid_piaroa.kmn
  release/p/pid_piaroa/source/pid_piaroa.kps
  release/p/pid_piaroa/source/readme.htm
  release/p/pid_piaroa/source/welcome.htm
Labels: keyboard, new

#882 [basic_kbdgeo] Move Georgian Basic to release
  legacy/g/georgian/DEPRECATED.md
  legacy/kbd/kbdgeo/DEPRECATED.md
  release/basic/basic_kbdgeo/HISTORY.md
  release/basic/basic_kbdgeo/LICENSE.md
  release/basic/basic_kbdgeo/README.md
  release/basic/basic_kbdgeo/basic_kbdgeo.keyboard_info
  release/basic/basic_kbdgeo/basic_kbdgeo.kpj
  release/basic/basic_kbdgeo/source/basic_kbdgeo.ico
  release/basic/basic_kbdgeo/source/basic_kbdgeo.keyman-touch-layout
  release/basic/basic_kbdgeo/source/basic_kbdgeo.kmn
  release/basic/basic_kbdgeo/source/basic_kbdgeo.kps
  release/basic/basic_kbdgeo/source/basic_kbdgeo.kvks
  release/basic/basic_kbdgeo/source/help/basic_kbdgeo.php
  release/basic/basic_kbdgeo/source/readme.htm
  release/basic/basic_kbdgeo/source/welcome/LayoutU_.png
  release/basic/basic_kbdgeo/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdgeo/source/welcome/LayoutU_S.png
  release/basic/basic_kbdgeo/source/welcome/welcome.htm
Labels: keyboard, new

#885 [basic_kbdgeoer] Import Georgian (Ergonomic) Basic keyboard
  legacy/kbd/kbdgeoer/DEPRECATED.md
  release/basic/basic_kbdgeoer/HISTORY.md
  release/basic/basic_kbdgeoer/LICENSE.md
  release/basic/basic_kbdgeoer/README.md
  release/basic/basic_kbdgeoer/basic_kbdgeoer.keyboard_info
  release/basic/basic_kbdgeoer/basic_kbdgeoer.kpj
  release/basic/basic_kbdgeoer/source/basic_kbdgeoer.ico
  release/basic/basic_kbdgeoer/source/basic_kbdgeoer.keyman-touch-layout
  release/basic/basic_kbdgeoer/source/basic_kbdgeoer.kmn
  release/basic/basic_kbdgeoer/source/basic_kbdgeoer.kps
  release/basic/basic_kbdgeoer/source/basic_kbdgeoer.kvks
  release/basic/basic_kbdgeoer/source/help/basic_kbdgeoer.php
  release/basic/basic_kbdgeoer/source/readme.htm
  release/basic/basic_kbdgeoer/source/welcome/LayoutU_.png
  release/basic/basic_kbdgeoer/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdgeoer/source/welcome/LayoutU_S.png
  release/basic/basic_kbdgeoer/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdgeoer/source/welcome/welcome.htm
Labels: keyboard, new

#886 [basic_kbdgeoqw] Georgian (QWERTY) Basic keyboard import
  legacy/kbd/kbdgeoqw/DEPRECATED.md
  release/basic/basic_kbdgeoqw/HISTORY.md
  release/basic/basic_kbdgeoqw/LICENSE.md
  release/basic/basic_kbdgeoqw/README.md
  release/basic/basic_kbdgeoqw/basic_kbdgeoqw.keyboard_info
  release/basic/basic_kbdgeoqw/basic_kbdgeoqw.kpj
  release/basic/basic_kbdgeoqw/source/basic_kbdgeoqw.ico
  release/basic/basic_kbdgeoqw/source/basic_kbdgeoqw.keyman-touch-layout
  release/basic/basic_kbdgeoqw/source/basic_kbdgeoqw.kmn
  release/basic/basic_kbdgeoqw/source/basic_kbdgeoqw.kps
  release/basic/basic_kbdgeoqw/source/basic_kbdgeoqw.kvks
  release/basic/basic_kbdgeoqw/source/help/basic_kbdgeoqw.php
  release/basic/basic_kbdgeoqw/source/readme.htm
  release/basic/basic_kbdgeoqw/source/welcome/LayoutU_.png
  release/basic/basic_kbdgeoqw/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdgeoqw/source/welcome/LayoutU_S.png
  release/basic/basic_kbdgeoqw/source/welcome/welcome.htm
Labels: keyboard, new

#883 [malar_braille] Initial Version of Malar Braille Keyboard.
  release/m/malar_braille/HISTORY.md
  release/m/malar_braille/LICENSE.md
  release/m/malar_braille/README.md
  release/m/malar_braille/malar_braille.keyboard_info
  release/m/malar_braille/malar_braille.kpj
  release/m/malar_braille/source/help/malar_braille.jpg
  release/m/malar_braille/source/help/malar_braille.php
  release/m/malar_braille/source/malar_braille.ico
  release/m/malar_braille/source/malar_braille.keyman-touch-layout
  release/m/malar_braille/source/malar_braille.kmn
  release/m/malar_braille/source/malar_braille.kps
  release/m/malar_braille/source/malar_braille.kvks
  release/m/malar_braille/source/malar_braille.png
  release/m/malar_braille/source/readme.htm
  release/m/malar_braille/source/welcome/malar_braille.jpg
  release/m/malar_braille/source/welcome/welcome.htm
Labels: keyboard, new

#890 [basic_kbdinmar] Marathi Basic import
  legacy/kbd/kbdinmar/DEPRECATED.md
  release/basic/basic_kbdinmar/HISTORY.md
  release/basic/basic_kbdinmar/LICENSE.md
  release/basic/basic_kbdinmar/README.md
  release/basic/basic_kbdinmar/basic_kbdinmar.keyboard_info
  release/basic/basic_kbdinmar/basic_kbdinmar.kpj
  release/basic/basic_kbdinmar/source/basic_kbdinmar.ico
  release/basic/basic_kbdinmar/source/basic_kbdinmar.keyman-touch-layout
  release/basic/basic_kbdinmar/source/basic_kbdinmar.kmn
  release/basic/basic_kbdinmar/source/basic_kbdinmar.kps
  release/basic/basic_kbdinmar/source/basic_kbdinmar.kvks
  release/basic/basic_kbdinmar/source/help/basic_kbdinmar.php
  release/basic/basic_kbdinmar/source/readme.htm
  release/basic/basic_kbdinmar/source/welcome/LayoutU_.png
  release/basic/basic_kbdinmar/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinmar/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinmar/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdinmar/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinmar/source/welcome/welcome.htm
Labels: keyboard, new

#889 [basic_kbdnepr] Nepali Basic import
  legacy/kbd/kbdnepr/DEPRECATED.md
  release/basic/basic_kbdnepr/HISTORY.md
  release/basic/basic_kbdnepr/LICENSE.md
  release/basic/basic_kbdnepr/README.md
  release/basic/basic_kbdnepr/basic_kbdnepr.keyboard_info
  release/basic/basic_kbdnepr/basic_kbdnepr.kpj
  release/basic/basic_kbdnepr/source/basic_kbdnepr.ico
  release/basic/basic_kbdnepr/source/basic_kbdnepr.keyman-touch-layout
  release/basic/basic_kbdnepr/source/basic_kbdnepr.kmn
  release/basic/basic_kbdnepr/source/basic_kbdnepr.kps
  release/basic/basic_kbdnepr/source/basic_kbdnepr.kvks
  release/basic/basic_kbdnepr/source/help/basic_kbdnepr.php
  release/basic/basic_kbdnepr/source/readme.htm
  release/basic/basic_kbdnepr/source/welcome/LayoutU_.png
  release/basic/basic_kbdnepr/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdnepr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdnepr/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdnepr/source/welcome/welcome.htm
Labels: keyboard, new

#888 [basic_kbdinhin] Hindi Traditional Basic import
  legacy/h/hindi_trad/DEPRECATED.md
  legacy/h/hindi_traditional_kab/DEPRECATED.md
  legacy/kbd/kbdinhin/DEPRECATED.md
  release/basic/basic_kbdinhin/HISTORY.md
  release/basic/basic_kbdinhin/LICENSE.md
  release/basic/basic_kbdinhin/README.md
  release/basic/basic_kbdinhin/basic_kbdinhin.keyboard_info
  release/basic/basic_kbdinhin/basic_kbdinhin.kpj
  release/basic/basic_kbdinhin/source/basic_kbdinhin.ico
  release/basic/basic_kbdinhin/source/basic_kbdinhin.keyman-touch-layout
  release/basic/basic_kbdinhin/source/basic_kbdinhin.kmn
  release/basic/basic_kbdinhin/source/basic_kbdinhin.kps
  release/basic/basic_kbdinhin/source/basic_kbdinhin.kvks
  release/basic/basic_kbdinhin/source/help/basic_kbdinhin.php
  release/basic/basic_kbdinhin/source/readme.htm
  release/basic/basic_kbdinhin/source/welcome/LayoutU_.png
  release/basic/basic_kbdinhin/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinhin/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinhin/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdinhin/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinhin/source/welcome/welcome.htm
Labels: keyboard, new

#887 [basic_kbdindev] Devanagari - INSCRIPT Basic import
  legacy/d/dev_inscript/DEPRECATED.md
  legacy/d/devanagari_inscript/DEPRECATED.md
  legacy/kbd/kbdindev/DEPRECATED.md
  release/basic/basic_kbdindev/HISTORY.md
  release/basic/basic_kbdindev/LICENSE.md
  release/basic/basic_kbdindev/README.md
  release/basic/basic_kbdindev/basic_kbdindev.keyboard_info
  release/basic/basic_kbdindev/basic_kbdindev.kpj
  release/basic/basic_kbdindev/source/basic_kbdindev.ico
  release/basic/basic_kbdindev/source/basic_kbdindev.keyman-touch-layout
  release/basic/basic_kbdindev/source/basic_kbdindev.kmn
  release/basic/basic_kbdindev/source/basic_kbdindev.kps
  release/basic/basic_kbdindev/source/basic_kbdindev.kvks
  release/basic/basic_kbdindev/source/help/basic_kbdindev.php
  release/basic/basic_kbdindev/source/readme.htm
  release/basic/basic_kbdindev/source/welcome/LayoutU_.png
  release/basic/basic_kbdindev/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdindev/source/welcome/LayoutU_S.png
  release/basic/basic_kbdindev/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdindev/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdindev/source/welcome/welcome.htm
Labels: keyboard, new

#891 [basic_kbdinori] Oriya Basic import
  legacy/kbd/kbdinori/DEPRECATED.md
  release/basic/basic_kbdinori/HISTORY.md
  release/basic/basic_kbdinori/LICENSE.md
  release/basic/basic_kbdinori/README.md
  release/basic/basic_kbdinori/basic_kbdinori.keyboard_info
  release/basic/basic_kbdinori/basic_kbdinori.kpj
  release/basic/basic_kbdinori/source/basic_kbdinori.ico
  release/basic/basic_kbdinori/source/basic_kbdinori.keyman-touch-layout
  release/basic/basic_kbdinori/source/basic_kbdinori.kmn
  release/basic/basic_kbdinori/source/basic_kbdinori.kps
  release/basic/basic_kbdinori/source/basic_kbdinori.kvks
  release/basic/basic_kbdinori/source/help/basic_kbdinori.php
  release/basic/basic_kbdinori/source/readme.htm
  release/basic/basic_kbdinori/source/welcome/LayoutU_.png
  release/basic/basic_kbdinori/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinori/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinori/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdinori/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinori/source/welcome/welcome.htm
Labels: keyboard, new

#892 [basic_kbdindev] Adjust help file to display shift-rightalt no v bump…
  release/basic/basic_kbdindev/source/help/basic_kbdindev.php
Labels: enhancement, keyboard

#893 [Meta] Reduce CI failures by ensuring help.keyman.com is locally up-to-date before pushing
  resources/help-keyman-com.sh
Labels: infrastructure

#894 [piruvik] Change piruvik keyboards to use MIT license with permission…
  release/i/inuktitut_latin/HISTORY.md
  release/i/inuktitut_latin/LICENSE.md
  release/i/inuktitut_latin/README.md
  release/i/inuktitut_latin/inuktitut_latin.keyboard_info
  release/i/inuktitut_latin/inuktitut_latin.kpj
  release/i/inuktitut_latin/source/inuktitut_latin.kmn
  release/i/inuktitut_latin/source/inuktitut_latin.kps
  release/i/inuktitut_naqittaut/HISTORY.md
  release/i/inuktitut_naqittaut/LICENSE.md
  release/i/inuktitut_naqittaut/README.md
  release/i/inuktitut_naqittaut/inuktitut_naqittaut.keyboard_info
  release/i/inuktitut_naqittaut/inuktitut_naqittaut.kpj
  release/i/inuktitut_naqittaut/source/inuktitut_naqittaut.kmn
  release/i/inuktitut_naqittaut/source/inuktitut_naqittaut.kps
  release/i/inuktitut_naqittaut/source/inuktitut_naqittaut.kvk
  release/i/inuktitut_naqittaut/source/inuktitut_naqittaut.kvks
  release/i/inuktitut_pirurvik/HISTORY.md
  release/i/inuktitut_pirurvik/LICENSE.md
  release/i/inuktitut_pirurvik/README.md
  release/i/inuktitut_pirurvik/inuktitut_pirurvik.keyboard_info
  release/i/inuktitut_pirurvik/inuktitut_pirurvik.kpj
  release/i/inuktitut_pirurvik/source/inuktitut_pirurvik.kmn
  release/i/inuktitut_pirurvik/source/inuktitut_pirurvik.kps
Labels: keyboard, new

#895 [basic_kbdinguj] Gujarati Basic import
  legacy/g/gujarati/DEPRECATED.md
  legacy/kbd/kbdinguj/DEPRECATED.md
  release/basic/basic_kbdinguj/HISTORY.md
  release/basic/basic_kbdinguj/LICENSE.md
  release/basic/basic_kbdinguj/README.md
  release/basic/basic_kbdinguj/basic_kbdinguj.keyboard_info
  release/basic/basic_kbdinguj/basic_kbdinguj.kpj
  release/basic/basic_kbdinguj/source/basic_kbdinguj.ico
  release/basic/basic_kbdinguj/source/basic_kbdinguj.keyman-touch-layout
  release/basic/basic_kbdinguj/source/basic_kbdinguj.kmn
  release/basic/basic_kbdinguj/source/basic_kbdinguj.kps
  release/basic/basic_kbdinguj/source/basic_kbdinguj.kvks
  release/basic/basic_kbdinguj/source/help/basic_kbdinguj.php
  release/basic/basic_kbdinguj/source/readme.htm
  release/basic/basic_kbdinguj/source/welcome/LayoutU_.png
  release/basic/basic_kbdinguj/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinguj/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinguj/source/welcome/LayoutU_SLC.png
  release/basic/basic_kbdinguj/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinguj/source/welcome/welcome.htm
Labels: keyboard, new

#897 [font_awami] Add Awami font for an upcoming keyboard
  release/shared/fonts/sil/awami/AwamiNastaliq-Regular.ttf
  release/shared/fonts/sil/awami/Awami_README.txt
  release/shared/fonts/sil/awami/FONTLOG.txt
  release/shared/fonts/sil/awami/OFL-FAQ.txt
  release/shared/fonts/sil/awami/OFL.txt
Labels: enhancement
