Repository keymanapp/keyboards, pull requests merged in 2019-02, with the labels that each got.

#618 [rac_pashai] Add new keyboard on behalf of author
  release/rac/rac_pashai/HISTORY.md
  release/rac/rac_pashai/LICENSE.md
  release/rac/rac_pashai/README.md
  release/rac/rac_pashai/rac_pashai.keyboard_info
  release/rac/rac_pashai/rac_pashai.kpj
  release/rac/rac_pashai/source/RAC.jpg
  release/rac/rac_pashai/source/help/rac_pashai.php
  release/rac/rac_pashai/source/rac_pashai.ico
  release/rac/rac_pashai/source/rac_pashai.keyman-touch-layout
  release/rac/rac_pashai/source/rac_pashai.kmn
  release/rac/rac_pashai/source/rac_pashai.kps
  release/rac/rac_pashai/source/rac_pashai.kvks
  release/rac/rac_pashai/source/readme.htm
  release/rac/rac_pashai/source/welcome/LayoutU_.png
  release/rac/rac_pashai/source/welcome/LayoutU_RA.png
  release/rac/rac_pashai/source/welcome/LayoutU_S.png
  release/rac/rac_pashai/source/welcome/welcome.htm
Labels: keyboard, new

#621 [rac_ormuri] New keyboard on behalf of author
  release/rac/rac_ormuri/HISTORY.md
  release/rac/rac_ormuri/LICENSE.md
  release/rac/rac_ormuri/README.md
  release/rac/rac_ormuri/rac_ormuri.keyboard_info
  release/rac/rac_ormuri/rac_ormuri.kpj
  release/rac/rac_ormuri/source/RAC.jpg
  release/rac/rac_ormuri/source/help/rac_ormuri.php
  release/rac/rac_ormuri/source/rac_ormuri.ico
  release/rac/rac_ormuri/source/rac_ormuri.keyman-touch-layout
  release/rac/rac_ormuri/source/rac_ormuri.kmn
  release/rac/rac_ormuri/source/rac_ormuri.kps
  release/rac/rac_ormuri/source/rac_ormuri.kvks
  release/rac/rac_ormuri/source/readme.htm
  release/rac/rac_ormuri/source/welcome/LayoutU_.png
  release/rac/rac_ormuri/source/welcome/LayoutU_RA.png
  release/rac/rac_ormuri/source/welcome/LayoutU_S.png
  release/rac/rac_ormuri/source/welcome/welcome.htm
Labels: keyboard, new

#613 [basic_kbdtiprd] New Win10 kbd that deprecates WinVista kbd
  legacy/kbd/kbdtiprc/DEPRECATED.md
  release/basic/basic_kbdtiprd/HISTORY.md
  release/basic/basic_kbdtiprd/LICENSE.md
  release/basic/basic_kbdtiprd/README.md
  release/basic/basic_kbdtiprd/basic_kbdtiprd.keyboard_info
  release/basic/basic_kbdtiprd/basic_kbdtiprd.kpj
  release/basic/basic_kbdtiprd/source/basic_kbdtiprd.ico
  release/basic/basic_kbdtiprd/source/basic_kbdtiprd.keyman-touch-layout
  release/basic/basic_kbdtiprd/source/basic_kbdtiprd.kmn
  release/basic/basic_kbdtiprd/source/basic_kbdtiprd.kps
  release/basic/basic_kbdtiprd/source/basic_kbdtiprd.kvks
  release/basic/basic_kbdtiprd/source/help/basic_kbdtiprd.php
  release/basic/basic_kbdtiprd/source/readme.htm
  release/basic/basic_kbdtiprd/source/welcome/LayoutU_.png
  release/basic/basic_kbdtiprd/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdtiprd/source/welcome/LayoutU_S.png
  release/basic/basic_kbdtiprd/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdtiprd/source/welcome/welcome.htm
Labels: keyboard, new

#624 [font_annapurna] update to new version of the font
  release/shared/fonts/sil/annapurna_sil/AnnapurnaSIL-Bold.ttf
  release/shared/fonts/sil/annapurna_sil/AnnapurnaSIL-Regular.ttf
  release/shared/fonts/sil/annapurna_sil/FONTLOG.txt
  release/shared/fonts/sil/annapurna_sil/OFL.txt
Labels: enhancement

#625 [rac_pashai-help] Fix help osk layout
  release/rac/rac_pashai/source/help/rac_pashai.php
Labels: enhancement, keyboard

#628 [meta] CI: Ignore other files in data/ when uploading so lexical models can be uploaded to same path
  ci.sh
Labels: infrastructure
