Repository keymanapp/keyboards, pull requests merged in 2019-01, with the labels that each got.

#582 [hieroglyphic] Add legacyId to keyboard_info
  release/h/hieroglyphic/hieroglyphic.keyboard_info
Labels: bug, keyboard

#590 [lao_2008_basic] Associate saysettha_ot.ttf font
  release/l/lao_2008_basic/lao_2008_basic.keyboard_info
Labels: keyboard

#586 [rac_uyghur] New keyboard submitted on behalf of author
  release/rac/rac_uyghur/HISTORY.md
  release/rac/rac_uyghur/LICENSE.md
  release/rac/rac_uyghur/README.md
  release/rac/rac_uyghur/rac_uyghur.keyboard_info
  release/rac/rac_uyghur/rac_uyghur.kpj
  release/rac/rac_uyghur/source/RAC.jpg
  release/rac/rac_uyghur/source/help/rac_uyghur.php
  release/rac/rac_uyghur/source/rac_uyghur.ico
  release/rac/rac_uyghur/source/rac_uyghur.keyman-touch-layout
  release/rac/rac_uyghur/source/rac_uyghur.kmn
  release/rac/rac_uyghur/source/rac_uyghur.kps
  release/rac/rac_uyghur/source/rac_uyghur.kvks
  release/rac/rac_uyghur/source/readme.htm
  release/rac/rac_uyghur/source/welcome/LayoutU_.png
  release/rac/rac_uyghur/source/welcome/LayoutU_S.png
  release/rac/rac_uyghur/source/welcome/welcome.htm
Labels: keyboard, new

#589 [rac_pashto] New keyboard submission on behalf of author
  release/rac/rac_pashto/HISTORY.md
  release/rac/rac_pashto/LICENSE.md
  release/rac/rac_pashto/README.md
  release/rac/rac_pashto/rac_pashto.keyboard_info
  release/rac/rac_pashto/rac_pashto.kpj
  release/rac/rac_pashto/source/RAC.jpg
  release/rac/rac_pashto/source/help/rac_pashto.php
  release/rac/rac_pashto/source/rac_pashto.ico
  release/rac/rac_pashto/source/rac_pashto.keyman-touch-layout
  release/rac/rac_pashto/source/rac_pashto.kmn
  release/rac/rac_pashto/source/rac_pashto.kps
  release/rac/rac_pashto/source/rac_pashto.kvks
  release/rac/rac_pashto/source/readme.htm
  release/rac/rac_pashto/source/welcome/LayoutU_.png
  release/rac/rac_pashto/source/welcome/LayoutU_CA.png
  release/rac/rac_pashto/source/welcome/LayoutU_S.png
  release/rac/rac_pashto/source/welcome/welcome.htm
Labels: keyboard, new

#584 [sil_torwali] Modified layout to match MSKLC kbd
  release/sil/sil_torwali/HISTORY.md
  release/sil/sil_torwali/LICENSE.md
  release/sil/sil_torwali/README.md
  release/sil/sil_torwali/sil_torwali.keyboard_info
  release/sil/sil_torwali/sil_torwali.kpj
  release/sil/sil_torwali/source/FONTLOG.txt
  release/sil/sil_torwali/source/OFL-FAQ.txt
  release/sil/sil_torwali/source/OFL.txt
  release/sil/sil_torwali/source/Scheherazade-Bold.ttf
  release/sil/sil_torwali/source/Scheherazade-Regular.ttf
  release/sil/sil_torwali/source/Scheherazade_README.txt
  release/sil/sil_torwali/source/help/sil_torwali.php
  release/sil/sil_torwali/source/readme.htm
  release/sil/sil_torwali/source/sil_torwali.ico
  release/sil/sil_torwali/source/sil_torwali.keyman-touch-layout
  release/sil/sil_torwali/source/sil_torwali.kmn
  release/sil/sil_torwali/source/sil_torwali.kps
  release/sil/sil_torwali/source/sil_torwali.kvk
  release/sil/sil_torwali/source/sil_torwali.kvks
  release/sil/sil_torwali/source/welcome/LayoutU_.png
  release/sil/sil_torwali/source/welcome/LayoutU_S.png
  release/sil/sil_torwali/source/welcome/welcome.htm
Labels: enhancement, keyboard

#593 [rac_uyghur][rac_pashto] fixing up help file and home link
  release/rac/rac_pashto/source/help/rac_pashto.php
  release/rac/rac_uyghur/README.md
  release/rac/rac_uyghur/source/help/rac_uyghur.php
Labels: enhancement, keyboard

#588 [sil_arabic_phonetic] Move existing keyboard from legacy to release
  legacy/p/phoneticarabic/DEPRECATED.md
  release/sil/sil_arabic_phonetic/HISTORY.md
  release/sil/sil_arabic_phonetic/LICENSE.md
  release/sil/sil_arabic_phonetic/README.md
  release/sil/sil_arabic_phonetic/sil_arabic_phonetic.keyboard_info
  release/sil/sil_arabic_phonetic/sil_arabic_phonetic.kpj
  release/sil/sil_arabic_phonetic/source/help/sil_arabic_phonetic.php
  release/sil/sil_arabic_phonetic/source/readme.htm
  release/sil/sil_arabic_phonetic/source/sil_arabic_phonetic.ico
  release/sil/sil_arabic_phonetic/source/sil_arabic_phonetic.keyman-touch-layout
  release/sil/sil_arabic_phonetic/source/sil_arabic_phonetic.kmn
  release/sil/sil_arabic_phonetic/source/sil_arabic_phonetic.kvks
  release/sil/sil_arabic_phonetic/source/sil_phonetic_arabic.kps
  release/sil/sil_arabic_phonetic/source/welcome/LayoutU_.png
  release/sil/sil_arabic_phonetic/source/welcome/LayoutU_S.png
  release/sil/sil_arabic_phonetic/source/welcome/welcome.htm
Labels: enhancement, keyboard

#595 [rac_help_ug_ps2] Change symbol to shift
  release/rac/rac_pashto/source/help/rac_pashto.php
  release/rac/rac_uyghur/source/help/rac_uyghur.php
Labels: enhancement, keyboard

#592 [sil_busa] Move keyboard from legacy to release
  legacy/b/busau/DEPRECATED.md
  release/sil/sil_busa/HISTORY.md
  release/sil/sil_busa/LICENSE.md
  release/sil/sil_busa/README.md
  release/sil/sil_busa/sil_busa.keyboard_info
  release/sil/sil_busa/sil_busa.kpj
  release/sil/sil_busa/source/help/sil_busa.php
  release/sil/sil_busa/source/readme.htm
  release/sil/sil_busa/source/sil_busa.ico
  release/sil/sil_busa/source/sil_busa.kmn
  release/sil/sil_busa/source/sil_busa.kps
  release/sil/sil_busa/source/sil_busa.kvks
  release/sil/sil_busa/source/welcome/LayoutU_.png
  release/sil/sil_busa/source/welcome/LayoutU_A.png
  release/sil/sil_busa/source/welcome/LayoutU_S.png
  release/sil/sil_busa/source/welcome/LayoutU_SA.png
  release/sil/sil_busa/source/welcome/welcome.htm
Labels: keyboard, new

#596 [sil_arabic_phonetic] add shift to mobile layout
  release/sil/sil_arabic_phonetic/source/help/sil_arabic_phonetic.php
Labels: enhancement, keyboard

#585 [rac_gawri] submission of rac_gawri keyboard on behalf of author
  release/rac/rac_gawri/HISTORY.md
  release/rac/rac_gawri/LICENSE.md
  release/rac/rac_gawri/README.md
  release/rac/rac_gawri/rac_gawri.keyboard_info
  release/rac/rac_gawri/rac_gawri.kpj
  release/rac/rac_gawri/source/RAC.jpg
  release/rac/rac_gawri/source/help/rac_gawri.php
  release/rac/rac_gawri/source/rac_gawri.ico
  release/rac/rac_gawri/source/rac_gawri.keyman-touch-layout
  release/rac/rac_gawri/source/rac_gawri.kmn
  release/rac/rac_gawri/source/rac_gawri.kps
  release/rac/rac_gawri/source/rac_gawri.kvks
  release/rac/rac_gawri/source/readme.htm
  release/rac/rac_gawri/source/welcome/rac_gawri base.png
  release/rac/rac_gawri/source/welcome/rac_gawri shift.png
  release/rac/rac_gawri/source/welcome/welcome.htm
Labels: keyboard, new

#597 [sil_cherokee_nation] Move keyboard from legacy to release
  legacy/c/cherokee_nation/DEPRECATED.md
  release/sil/sil_cherokee_nation/HISTORY.md
  release/sil/sil_cherokee_nation/LICENSE.md
  release/sil/sil_cherokee_nation/README.md
  release/sil/sil_cherokee_nation/sil_cherokee_nation.keyboard_info
  release/sil/sil_cherokee_nation/sil_cherokee_nation.kpj
  release/sil/sil_cherokee_nation/source/help/sil_cherokee_nation.php
  release/sil/sil_cherokee_nation/source/readme.htm
  release/sil/sil_cherokee_nation/source/sil_cherokee_nation.ico
  release/sil/sil_cherokee_nation/source/sil_cherokee_nation.keyman-touch-layout
  release/sil/sil_cherokee_nation/source/sil_cherokee_nation.kmn
  release/sil/sil_cherokee_nation/source/sil_cherokee_nation.kps
  release/sil/sil_cherokee_nation/source/sil_cherokee_nation.kvks
  release/sil/sil_cherokee_nation/source/welcome/LayoutU_.png
  release/sil/sil_cherokee_nation/source/welcome/LayoutU_S.png
  release/sil/sil_cherokee_nation/source/welcome/welcome.htm
Labels: keyboard, new

#601 [swanalekha_malayalam][sil_cherokee_nation] add and update help file
  release/s/swanalekha_malayalam/source/help/swanalekha_chart.jpg
  release/s/swanalekha_malayalam/source/help/swanalekha_malayalam.php
  release/sil/sil_cherokee_nation/source/help/sil_cherokee_nation.php
Labels: enhancement, keyboard

#602 [rac_kashmir_shina] Submitting new keyboard on behalf of author
  release/rac/rac_kashmir_shina/HISTORY.md
  release/rac/rac_kashmir_shina/LICENSE.md
  release/rac/rac_kashmir_shina/README.md
  release/rac/rac_kashmir_shina/rac_kashmir_shina.keyboard_info
  release/rac/rac_kashmir_shina/rac_kashmir_shina.kpj
  release/rac/rac_kashmir_shina/source/RAC.jpg
  release/rac/rac_kashmir_shina/source/help/rac_kashmir_shina.php
  release/rac/rac_kashmir_shina/source/rac_kashmir_shina.ico
  release/rac/rac_kashmir_shina/source/rac_kashmir_shina.keyman-touch-layout
  release/rac/rac_kashmir_shina/source/rac_kashmir_shina.kmn
  release/rac/rac_kashmir_shina/source/rac_kashmir_shina.kps
  release/rac/rac_kashmir_shina/source/rac_kashmir_shina.kvks
  release/rac/rac_kashmir_shina/source/readme.htm
  release/rac/rac_kashmir_shina/source/welcome/LayoutU_.png
  release/rac/rac_kashmir_shina/source/welcome/LayoutU_S.png
  release/rac/rac_kashmir_shina/source/welcome/welcome.htm
Labels: keyboard, new

#609 [rac_shina] update language tag and structure to match current filenames
  release/rac/rac_shina/HISTORY.md
  release/rac/rac_shina/LICENSE.md
  release/rac/rac_shina/README.md
  release/rac/rac_shina/rac_shina.keyboard_info
  release/rac/rac_shina/rac_shina.kpj
  release/rac/rac_shina/source/help/rac_shina.php
  release/rac/rac_shina/source/rac_shina.keyman-touch-layout
  release/rac/rac_shina/source/rac_shina.kmn
  release/rac/rac_shina/source/rac_shina.kps
  release/rac/rac_shina/source/readme.htm
  release/rac/rac_shina/source/welcome/RAC.jpg
  release/rac/rac_shina/source/welcome/welcome.htm
Labels: enhancement, keyboard
