Repository keymanapp/keyboards, pull requests merged in 2020-10, with the labels that each got.

#1352 [bod_help] Add help files to legacy keyboards since we cannot update …
  legacy/b/bod/source/help/bod.php
  legacy/b/bod_transliterating/source/help/bod_transliterating.php
Labels: enhancement, keyboard

#1353 [sil_tepehuan] move to release from legacy
  legacy/m/mextep/DEPRECATED.md
  legacy/s/spantepu/DEPRECATED.md
  release/sil/sil_tepehuan/HISTORY.md
  release/sil/sil_tepehuan/LICENSE.md
  release/sil/sil_tepehuan/README.md
  release/sil/sil_tepehuan/sil_tepehuan.keyboard_info
  release/sil/sil_tepehuan/sil_tepehuan.kpj
  release/sil/sil_tepehuan/source/help/sil_tepehuan.php
  release/sil/sil_tepehuan/source/readme.htm
  release/sil/sil_tepehuan/source/sil_tepehuan.ico
  release/sil/sil_tepehuan/source/sil_tepehuan.kmn
  release/sil/sil_tepehuan/source/sil_tepehuan.kps
  release/sil/sil_tepehuan/source/sil_tepehuan.kvks
  release/sil/sil_tepehuan/source/welcome/desktop_layout_default.png
  release/sil/sil_tepehuan/source/welcome/desktop_layout_shift.png
  release/sil/sil_tepehuan/source/welcome/welcome.htm
Labels: keyboard

#1355 [sil_devanagari_phonetic] Add 2 characters and touch layout
  release/sil/sil_devanagari_phonetic/HISTORY.md
  release/sil/sil_devanagari_phonetic/LICENSE.md
  release/sil/sil_devanagari_phonetic/README.md
  release/sil/sil_devanagari_phonetic/sil_devanagari_phonetic.keyboard_info
  release/sil/sil_devanagari_phonetic/sil_devanagari_phonetic.kpj
  release/sil/sil_devanagari_phonetic/source/help/sil_devanagari_phonetic.php
  release/sil/sil_devanagari_phonetic/source/help/sil_devanagari_phoneticU_.png
  release/sil/sil_devanagari_phonetic/source/help/sil_devanagari_phoneticU_RA.png
  release/sil/sil_devanagari_phonetic/source/help/sil_devanagari_phoneticU_S.png
  release/sil/sil_devanagari_phonetic/source/help/sil_devanagari_phoneticU_SRA.png
  release/sil/sil_devanagari_phonetic/source/sil_devanagari_phonetic.keyman-touch-layout
  release/sil/sil_devanagari_phonetic/source/sil_devanagari_phonetic.kmn
  release/sil/sil_devanagari_phonetic/source/sil_devanagari_phonetic.kps
  release/sil/sil_devanagari_phonetic/source/sil_devanagari_phonetic.kvks
  release/sil/sil_devanagari_phonetic/source/welcome/sil_devanagari_phoneticU_.png
  release/sil/sil_devanagari_phonetic/source/welcome/sil_devanagari_phoneticU_RA.png
  release/sil/sil_devanagari_phonetic/source/welcome/sil_devanagari_phoneticU_S.png
  release/sil/sil_devanagari_phonetic/source/welcome/sil_devanagari_phoneticU_SRA.png
Labels: enhancement, keyboard

#1357 [sil_hmd_plrd] Add fonts to Ahmao (SIL) keyboard package
  release/sil/sil_hmd_plrd/HISTORY.md
  release/sil/sil_hmd_plrd/LICENSE.md
  release/sil/sil_hmd_plrd/README.md
  release/sil/sil_hmd_plrd/sil_hmd_plrd.keyboard_info
  release/sil/sil_hmd_plrd/sil_hmd_plrd.kpj
  release/sil/sil_hmd_plrd/source/help/sil_hmd_plrd.php
  release/sil/sil_hmd_plrd/source/readme.htm
  release/sil/sil_hmd_plrd/source/sil_hmd_plrd.kmn
  release/sil/sil_hmd_plrd/source/sil_hmd_plrd.kps
  release/sil/sil_hmd_plrd/source/sil_hmd_plrd.kvks
  release/sil/sil_hmd_plrd/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1359 [sil_ygp_plrd] Add new Bai Yi (SIL) keyboard
  release/sil/sil_ygp_plrd/HISTORY.md
  release/sil/sil_ygp_plrd/LICENSE.md
  release/sil/sil_ygp_plrd/README.md
  release/sil/sil_ygp_plrd/sil_ygp_plrd.keyboard_info
  release/sil/sil_ygp_plrd/sil_ygp_plrd.kpj
  release/sil/sil_ygp_plrd/source/help/sil_ygp_plrd.php
  release/sil/sil_ygp_plrd/source/readme.htm
  release/sil/sil_ygp_plrd/source/sil_ygp_plrd.kmn
  release/sil/sil_ygp_plrd/source/sil_ygp_plrd.kps
  release/sil/sil_ygp_plrd/source/sil_ygp_plrd.kvks
  release/sil/sil_ygp_plrd/source/welcome/LayoutU_.png
  release/sil/sil_ygp_plrd/source/welcome/LayoutU_S.png
  release/sil/sil_ygp_plrd/source/welcome/welcome.htm
Labels: keyboard, new

#1361 [sil_deva_help] Change font call from Annapurna to Annapurna SIL
  release/sil/sil_devanagari_phonetic/source/help/sil_devanagari_phonetic.php
Labels: enhancement, keyboard

#1358 [sil_yna_plrd] Add new Gan Yi (SIL) keyboard
  release/sil/sil_yna_plrd/HISTORY.md
  release/sil/sil_yna_plrd/LICENSE.md
  release/sil/sil_yna_plrd/README.md
  release/sil/sil_yna_plrd/sil_yna_plrd.keyboard_info
  release/sil/sil_yna_plrd/sil_yna_plrd.kpj
  release/sil/sil_yna_plrd/source/16f90.png
  release/sil/sil_yna_plrd/source/16f91.png
  release/sil/sil_yna_plrd/source/help/sil_yna_plrd.php
  release/sil/sil_yna_plrd/source/readme.htm
  release/sil/sil_yna_plrd/source/sil_yna_plrd.kmn
  release/sil/sil_yna_plrd/source/sil_yna_plrd.kps
  release/sil/sil_yna_plrd/source/sil_yna_plrd.kvks
  release/sil/sil_yna_plrd/source/welcome/LayoutU_.png
  release/sil/sil_yna_plrd/source/welcome/LayoutU_S.png
  release/sil/sil_yna_plrd/source/welcome/welcome.htm
Labels: keyboard, new

#1362 [maltese] Move from legacy to release with permission of author
  legacy/m/maltese/maltese.keyboard_info
  legacy/m/maltese/source/help/maltese.php
  legacy/m/maltese/source/maltese.js
  legacy/m/maltese/source/maltese.kmp
  release/m/maltese/HISTORY.md
  release/m/maltese/LICENSE.md
  release/m/maltese/README.md
  release/m/maltese/maltese.keyboard_info
  release/m/maltese/maltese.kpj
  release/m/maltese/source/help/maltese.php
  release/m/maltese/source/maltese.ico
  release/m/maltese/source/maltese.kmn
  release/m/maltese/source/maltese.kps
  release/m/maltese/source/maltese.kvks
  release/m/maltese/source/readme.htm
  release/m/maltese/source/welcome/welcome.htm
Labels: keyboard, new

#1363 [esperuni] Move from legacy to release with permission of author
  legacy/e/esperuni/esperuni.keyboard_info
  legacy/e/esperuni/source/esperuni.kmp
  legacy/e/esperuni/source/readme.txt
  release/e/esperuni/HISTORY.md
  release/e/esperuni/LICENSE.md
  release/e/esperuni/README.md
  release/e/esperuni/esperuni.keyboard_info
  release/e/esperuni/esperuni.kpj
  release/e/esperuni/source/esperuni.ico
  release/e/esperuni/source/esperuni.kmn
  release/e/esperuni/source/esperuni.kps
  release/e/esperuni/source/esperuni.kvks
  release/e/esperuni/source/help/esperuni.php
  release/e/esperuni/source/readme.htm
  release/e/esperuni/source/welcome/welcome.htm
Labels: keyboard, new

#1366 esperanto_fix] Fix spelling of language name
  release/e/esperuni/README.md
Labels: enhancement

#1371 [grkpoly2] Update documentation regarding accessing AltGr
  legacy/g/grkpoly2/source/help/grkpoly2.php
Labels: enhancement

#1370 [clavbur9] Add a new language to keyboard and bump version
  release/c/clavbur9/HISTORY.md
  release/c/clavbur9/README.md
  release/c/clavbur9/clavbur9.keyboard_info
  release/c/clavbur9/clavbur9.kpj
  release/c/clavbur9/source/clavbur9.kmn
  release/c/clavbur9/source/clavbur9.kps
Labels: enhancement, keyboard

#1376 [gurage] Deprecate gff-sgw-powerpack-7
  legacy/gff/gff-sgw-powerpack-7/DEPRECATED.md
  release/gff/gff_gurage_legacy/gff_gurage_legacy.keyboard_info
Labels: enhancement
