Repository keymanapp/keyboards, pull requests merged in 2020-09, with the labels that each got.

#1310 [quinault] Updated mobile layout to be able to access shift layer
  release/q/quinault/HISTORY.md
  release/q/quinault/LICENSE.md
  release/q/quinault/README.md
  release/q/quinault/quinault.keyboard_info
  release/q/quinault/quinault.kpj
  release/q/quinault/source/help/quinault.php
  release/q/quinault/source/quinault.keyman-touch-layout
  release/q/quinault/source/quinault.kmn
  release/q/quinault/source/quinault.kps
  release/q/quinault/source/readme.htm
  release/q/quinault/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1315 Deprecating "ndailu keyman keyboard"
  legacy/n/ndailu keyman keyboard/DEPRECATED.md
  release/n/ntl_onekey/ntl_onekey.keyboard_info
Labels: keyboard

#1314 [bu_phonetic] update the metadata and .kmn
  legacy/b/bu/DEPRECATED.md
  release/b/bu_phonetic/HISTORY.md
  release/b/bu_phonetic/LICENSE.md
  release/b/bu_phonetic/README.md
  release/b/bu_phonetic/bu_phonetic.keyboard_info
  release/b/bu_phonetic/bu_phonetic.kpj
  release/b/bu_phonetic/extra/bukeys.doc
  release/b/bu_phonetic/source/BUKey.bmp
  release/b/bu_phonetic/source/bu_phonetic.ico
  release/b/bu_phonetic/source/bu_phonetic.kmn
  release/b/bu_phonetic/source/bu_phonetic.kps
  release/b/bu_phonetic/source/help/bu_phonetic.php
  release/b/bu_phonetic/source/help/bukeys.pdf
  release/b/bu_phonetic/source/readme.htm
  release/b/bu_phonetic/source/welcome.htm
Labels: keyboard

#1320 [venetia_et_histria] Move to release from legacy
  legacy/v/venetian/DEPRECATED.md
  release/v/venetia_et_histria/HISTORY.md
  release/v/venetia_et_histria/LICENSE.md
  release/v/venetia_et_histria/README.md
  release/v/venetia_et_histria/source/Adaxio.ttf
  release/v/venetia_et_histria/source/OFL-FAQ.txt
  release/v/venetia_et_histria/source/OFL.txt
  release/v/venetia_et_histria/source/help/tast.png
  release/v/venetia_et_histria/source/help/venetia_et_histria.php
  release/v/venetia_et_histria/source/readme.htm
  release/v/venetia_et_histria/source/venetia_et_histria.ico
  release/v/venetia_et_histria/source/venetia_et_histria.keyman-touch-layout
  release/v/venetia_et_histria/source/venetia_et_histria.kmn
  release/v/venetia_et_histria/source/venetia_et_histria.kps
  release/v/venetia_et_histria/source/venetia_et_histria.kvks
  release/v/venetia_et_histria/source/welcome/tast.png
  release/v/venetia_et_histria/source/welcome/welcome.htm
  release/v/venetia_et_histria/venetia_et_histria.keyboard_info
  release/v/venetia_et_histria/venetia_et_histria.kpj
Labels: keyboard

#1319 [sil_hawaiian] move to release from legacy
  legacy/h/hi-keyboard/DEPRECATED.md
  release/sil/sil_hawaiian/HISTORY.md
  release/sil/sil_hawaiian/LICENSE.md
  release/sil/sil_hawaiian/README.md
  release/sil/sil_hawaiian/extra/HIUKAB.ttf
  release/sil/sil_hawaiian/extra/HIUKAR.ttf
  release/sil/sil_hawaiian/extra/HIUKEB.ttf
  release/sil/sil_hawaiian/extra/HIUKER.ttf
  release/sil/sil_hawaiian/extra/HIUMAB.ttf
  release/sil/sil_hawaiian/extra/HIUMAR.ttf
  release/sil/sil_hawaiian/extra/HIUPIB.ttf
  release/sil/sil_hawaiian/extra/HIUPIR.ttf
  release/sil/sil_hawaiian/sil_hawaiian.keyboard_info
  release/sil/sil_hawaiian/sil_hawaiian.kpj
  release/sil/sil_hawaiian/source/help/hawaiian_sil.php
  release/sil/sil_hawaiian/source/readme.htm
  release/sil/sil_hawaiian/source/sil_hawaiian.ico
  release/sil/sil_hawaiian/source/sil_hawaiian.kmn
  release/sil/sil_hawaiian/source/sil_hawaiian.kps
  release/sil/sil_hawaiian/source/sil_hawaiian.kvks
  release/sil/sil_hawaiian/source/welcome/desktop_layout_default.png
  release/sil/sil_hawaiian/source/welcome/desktop_layout_right_alt.png
  release/sil/sil_hawaiian/source/welcome/desktop_layout_shift.png
  release/sil/sil_hawaiian/source/welcome/desktop_layout_shift_right_alt.png
  release/sil/sil_hawaiian/source/welcome/welcome.htm
Labels: keyboard

#1322 [sil_hawaiian_help] Rename help file
  release/sil/sil_hawaiian/source/help/sil_hawaiian.php
Labels: infrastructure, keyboard

#1321 [sil_korean_morse] Migrate to open source
  legacy/k/korean_morse/DEPRECATED.md
  release/sil/sil_korean_morse/HISTORY.md
  release/sil/sil_korean_morse/LICENSE.md
  release/sil/sil_korean_morse/README.md
  release/sil/sil_korean_morse/sil_korean_morse.keyboard_info
  release/sil/sil_korean_morse/sil_korean_morse.kpj
  release/sil/sil_korean_morse/source/help/korean_morse.php
  release/sil/sil_korean_morse/source/help/style.css
  release/sil/sil_korean_morse/source/jamo_combine.dll
  release/sil/sil_korean_morse/source/jamo_combine.x64.dll
  release/sil/sil_korean_morse/source/readme.htm
  release/sil/sil_korean_morse/source/sil_korean_morse.ico
  release/sil/sil_korean_morse/source/sil_korean_morse.kmn
  release/sil/sil_korean_morse/source/sil_korean_morse.kps
  release/sil/sil_korean_morse/source/sil_korean_morse.kvks
  release/sil/sil_korean_morse/source/welcome/style.css
  release/sil/sil_korean_morse/source/welcome/welcome.htm
Labels: keyboard

#1325 [help_morse_nko] Fix help files: copyright and name
  release/n/nko/source/help/nko.php
  release/sil/sil_korean_morse/source/help/sil_korean_morse.php
Labels: infrastructure, keyboard

#1324 [sil_moore] move to release
  legacy/m/moore/DEPRECATED.md
  release/sil/sil_moore/HISTORY.md
  release/sil/sil_moore/LICENSE.md
  release/sil/sil_moore/README.md
  release/sil/sil_moore/sil_moore.keyboard_info
  release/sil/sil_moore/sil_moore.kpj
  release/sil/sil_moore/source/help/sil_moore.php
  release/sil/sil_moore/source/moore_readme.gif
  release/sil/sil_moore/source/readme.htm
  release/sil/sil_moore/source/sil_moore.ico
  release/sil/sil_moore/source/sil_moore.kmn
  release/sil/sil_moore/source/sil_moore.kps
  release/sil/sil_moore/source/sil_moore.kvks
  release/sil/sil_moore/source/welcome/desktop_layout.png
  release/sil/sil_moore/source/welcome/welcome.htm
Labels: keyboard

#1326 [sil_korda_jamo] split korda jamo from korda latin
  legacy/k/korda/DEPRECATED.md
  release/sil/sil_korda_jamo/HISTORY.md
  release/sil/sil_korda_jamo/LICENSE.md
  release/sil/sil_korda_jamo/README.md
  release/sil/sil_korda_jamo/sil_korda_jamo.keyboard_info
  release/sil/sil_korda_jamo/sil_korda_jamo.kpj
  release/sil/sil_korda_jamo/source/help/about_korda.pdf
  release/sil/sil_korda_jamo/source/help/sil_korda_jamo.php
  release/sil/sil_korda_jamo/source/help/style.css
  release/sil/sil_korda_jamo/source/jamo_combine.dll
  release/sil/sil_korda_jamo/source/jamo_combine.x64.dll
  release/sil/sil_korda_jamo/source/readme.htm
  release/sil/sil_korda_jamo/source/sil_korda_jamo.ico
  release/sil/sil_korda_jamo/source/sil_korda_jamo.kmn
  release/sil/sil_korda_jamo/source/sil_korda_jamo.kps
  release/sil/sil_korda_jamo/source/sil_korda_jamo.kvks
  release/sil/sil_korda_jamo/source/welcome/style.css
  release/sil/sil_korda_jamo/source/welcome/welcome.htm
Labels: keyboard

#1327 [sil_korda_latin] split korda latin from korda jamo
  release/sil/sil_korda_latin/HISTORY.md
  release/sil/sil_korda_latin/LICENSE.md
  release/sil/sil_korda_latin/README.md
  release/sil/sil_korda_latin/sil_korda_latin.keyboard_info
  release/sil/sil_korda_latin/sil_korda_latin.kpj
  release/sil/sil_korda_latin/source/help/about_korda.pdf
  release/sil/sil_korda_latin/source/help/sil_korda_latin.php
  release/sil/sil_korda_latin/source/help/style.css
  release/sil/sil_korda_latin/source/jamo_combine.dll
  release/sil/sil_korda_latin/source/jamo_combine.x64.dll
  release/sil/sil_korda_latin/source/readme.htm
  release/sil/sil_korda_latin/source/sil_korda_latin.ico
  release/sil/sil_korda_latin/source/sil_korda_latin.kmn
  release/sil/sil_korda_latin/source/sil_korda_latin.kps
  release/sil/sil_korda_latin/source/sil_korda_latin.kvks
  release/sil/sil_korda_latin/source/welcome/style.css
  release/sil/sil_korda_latin/source/welcome/welcome.htm
Labels: keyboard

#1331 [sil_ipa] Documentation fixes, no behavior changes
  release/sil/sil_ipa/HISTORY.md
  release/sil/sil_ipa/README.md
  release/sil/sil_ipa/source/help/sil_ipa.php
  release/sil/sil_ipa/source/sil_ipa.kmn
  release/sil/sil_ipa/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1329 [qom] Update 1
  release/q/qom/HISTORY.md
  release/q/qom/LICENSE.md
  release/q/qom/README.md
  release/q/qom/qom.keyboard_info
  release/q/qom/qom.kpj
  release/q/qom/source/help/qom.php
  release/q/qom/source/qom.keyman-touch-layout
  release/q/qom/source/qom.kmn
  release/q/qom/source/qom.kps
  release/q/qom/source/qom.kvks
  release/q/qom/source/readme.htm
  release/q/qom/source/welcome.htm
Labels: enhancement, keyboard

#1333 [gandhari] Moved from legacy to release
  legacy/g/gandhari-keyboard-2.7/DEPRECATED.md
  legacy/g/gandhari/gandhari.keyboard_info
  legacy/g/gandhari/source/gandhari.kmp
  legacy/g/gandhari/source/help/gandhari-keyboard_keyman.pdf
  legacy/g/gandhari/source/help/gandhari.php
  release/g/gandhari/HISTORY.md
  release/g/gandhari/LICENSE.md
  release/g/gandhari/README.md
  release/g/gandhari/gandhari.keyboard_info
  release/g/gandhari/gandhari.kpj
  release/g/gandhari/source/gandhari.kmn
  release/g/gandhari/source/gandhari.kps
  release/g/gandhari/source/gandhari.kvks
  release/g/gandhari/source/help/gandhari-keyboard_keyman.pdf
  release/g/gandhari/source/help/gandhari.php
  release/g/gandhari/source/readme.htm
  release/g/gandhari/source/welcome.htm
Labels: keyboard, new

#1340 [wancho] Add Wancho keyboard
  experimental/w/wancho/HISTORY.md
  experimental/w/wancho/LICENSE.md
  experimental/w/wancho/README.md
  experimental/w/wancho/source/NotoSansWancho-Regular.ttf
  experimental/w/wancho/source/readme.htm
  experimental/w/wancho/source/wancho.keyman-touch-layout
  experimental/w/wancho/source/wancho.kmn
  experimental/w/wancho/source/wancho.kps
  experimental/w/wancho/source/wancho.kvks
  experimental/w/wancho/source/welcome.htm
  experimental/w/wancho/wancho.keyboard_info
  experimental/w/wancho/wancho.kpj
Labels: keyboard, new

#1343 [help_wancho] Add online help file for Wancho keyboard
  experimental/w/wancho/source/help/wancho.php
Labels: infrastructure, keyboard

#1344 [help_link2] Fix rest of links for current versions of keyboards
  legacy/gff/gff_tir_er_7/source/help/TigrignaErTyping-English.pdf
  legacy/gff/gff_tir_et_7/source/help/TigrignaEtTyping-English.pdf
  release/basic/basic_kbdinben/source/help/chart.php
  release/g/galaxie_greek_mnemonic/source/help/keyboardchart.htm
  release/g/galaxie_greek_mnemonic/source/help/style.css
  release/g/galaxie_greek_positional/source/help/keyboardchart.htm
  release/g/galaxie_greek_positional/source/help/style.css
  release/t/thamizha_anjal_paangu/source/help/keyboardchart.htm
Labels: bug

#1317 [sgaw_karen] imported from MSKLC developed in 2017
  release/sil/sil_sgaw_karen/HISTORY.md
  release/sil/sil_sgaw_karen/LICENSE.md
  release/sil/sil_sgaw_karen/README.md
  release/sil/sil_sgaw_karen/sil_sgaw_karen.keyboard_info
  release/sil/sil_sgaw_karen/sil_sgaw_karen.kpj
  release/sil/sil_sgaw_karen/source/help/mobile_layout_longpress.png
  release/sil/sil_sgaw_karen/source/help/sil_sgaw_karen.php
  release/sil/sil_sgaw_karen/source/readme.htm
  release/sil/sil_sgaw_karen/source/sil_sgaw_karen.ico
  release/sil/sil_sgaw_karen/source/sil_sgaw_karen.keyman-touch-layout
  release/sil/sil_sgaw_karen/source/sil_sgaw_karen.kmn
  release/sil/sil_sgaw_karen/source/sil_sgaw_karen.kps
  release/sil/sil_sgaw_karen/source/sil_sgaw_karen.kvks
  release/sil/sil_sgaw_karen/source/welcome/desktop_layout_default.png
  release/sil/sil_sgaw_karen/source/welcome/desktop_layout_shift.png
  release/sil/sil_sgaw_karen/source/welcome/mobile_layout_default.png
  release/sil/sil_sgaw_karen/source/welcome/mobile_layout_longpress.png
  release/sil/sil_sgaw_karen/source/welcome/mobile_layout_numeric.png
  release/sil/sil_sgaw_karen/source/welcome/mobile_layout_shift.png
  release/sil/sil_sgaw_karen/source/welcome/welcome.htm
Labels: keyboard, new

#1348 [sil_buang] move to \release
  legacy/b/buang/DEPRECATED.md
  release/sil/sil_buang/HISTORY.md
  release/sil/sil_buang/LICENSE.md
  release/sil/sil_buang/README.md
  release/sil/sil_buang/sil_buang.keyboard_info
  release/sil/sil_buang/sil_buang.kpj
  release/sil/sil_buang/source/help/sil_buang.php
  release/sil/sil_buang/source/readme.htm
  release/sil/sil_buang/source/sil_buang.ico
  release/sil/sil_buang/source/sil_buang.kmn
  release/sil/sil_buang/source/sil_buang.kps
  release/sil/sil_buang/source/welcome.htm
Labels: keyboard

#1349 [anii_2015_fr] move to \release
  legacy/a/anii_2015_fr_pack2/DEPRECATED.md
  release/a/anii/HISTORY.md
  release/a/anii/LICENSE.md
  release/a/anii/README.md
  release/a/anii/anii.keyboard_info
  release/a/anii/anii.kpj
  release/a/anii/source/anii-help.htm
  release/a/anii/source/anii.ico
  release/a/anii/source/anii.keyman-touch-layout
  release/a/anii/source/anii.kmn
  release/a/anii/source/anii.kps
  release/a/anii/source/anii.kvks
  release/a/anii/source/help/anii.php
  release/a/anii/source/help/anii_mobile_numeric_longpress.png
  release/a/anii/source/readme.htm
  release/a/anii/source/welcome/anii_desktop_default.png
  release/a/anii/source/welcome/anii_desktop_shift.png
  release/a/anii/source/welcome/anii_mobile_default.png
  release/a/anii/source/welcome/anii_mobile_numeric.png
  release/a/anii/source/welcome/anii_mobile_numeric_longpress.png
  release/a/anii/source/welcome/anii_mobile_shift.png
  release/a/anii/source/welcome/anii_tablet_default.png
  release/a/anii/source/welcome/anii_tablet_shift.png
  release/a/anii/source/welcome/welcome.htm
Labels: keyboard
