Repository keymanapp/keyboards, pull requests merged in 2020-05, with the labels that each got.

#1194 [vm_tamil_typewriter] Move source to release
  legacy/v/visual_media_tamil_typewriter/DEPRECATED.md
  release/v/vm_tamil_typewriter/HISTORY.md
  release/v/vm_tamil_typewriter/LICENSE.md
  release/v/vm_tamil_typewriter/README.md
  release/v/vm_tamil_typewriter/source/help/sri.png
  release/v/vm_tamil_typewriter/source/help/vm_tamil_typewriter.php
  release/v/vm_tamil_typewriter/source/readme.htm
  release/v/vm_tamil_typewriter/source/vm_tamil_typewriter.ico
  release/v/vm_tamil_typewriter/source/vm_tamil_typewriter.kmn
  release/v/vm_tamil_typewriter/source/vm_tamil_typewriter.kps
  release/v/vm_tamil_typewriter/source/vm_tamil_typewriter.kvks
  release/v/vm_tamil_typewriter/source/welcome/LayoutU_.png
  release/v/vm_tamil_typewriter/source/welcome/LayoutU_S.png
  release/v/vm_tamil_typewriter/source/welcome/sri.png
  release/v/vm_tamil_typewriter/source/welcome/style.css
  release/v/vm_tamil_typewriter/source/welcome/welcome.htm
  release/v/vm_tamil_typewriter/vm_tamil_typewriter.keyboard_info
  release/v/vm_tamil_typewriter/vm_tamil_typewriter.kpj
Labels: keyboard, new

#1196 [basic_kbdus] US Basic keyboard - add a phone layout
  release/basic/basic_kbdus/HISTORY.md
  release/basic/basic_kbdus/LICENSE.md
  release/basic/basic_kbdus/README.md
  release/basic/basic_kbdus/basic_kbdus.kpj
  release/basic/basic_kbdus/source/basic_kbdus.keyman-touch-layout
  release/basic/basic_kbdus/source/basic_kbdus.kmn
  release/basic/basic_kbdus/source/basic_kbdus.kps
  release/basic/basic_kbdus/source/help/basic_kbdus.php
  release/basic/basic_kbdus/source/readme.htm
  release/basic/basic_kbdus/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1193 [vm_tamil_modular] Move source to release
  legacy/v/visual_media_tamil_modular/DEPRECATED.md
  release/v/vm_tamil_modular/HISTORY.md
  release/v/vm_tamil_modular/LICENSE.md
  release/v/vm_tamil_modular/README.md
  release/v/vm_tamil_modular/source/help/sri.png
  release/v/vm_tamil_modular/source/help/vm_tamil_modular.php
  release/v/vm_tamil_modular/source/readme.htm
  release/v/vm_tamil_modular/source/vm_tamil_modular.ico
  release/v/vm_tamil_modular/source/vm_tamil_modular.kmn
  release/v/vm_tamil_modular/source/vm_tamil_modular.kps
  release/v/vm_tamil_modular/source/vm_tamil_modular.kvks
  release/v/vm_tamil_modular/source/welcome/LayoutU_.png
  release/v/vm_tamil_modular/source/welcome/LayoutU_S.png
  release/v/vm_tamil_modular/source/welcome/sri.png
  release/v/vm_tamil_modular/source/welcome/style.css
  release/v/vm_tamil_modular/source/welcome/welcome.htm
  release/v/vm_tamil_modular/vm_tamil_modular.keyboard_info
  release/v/vm_tamil_modular/vm_tamil_modular.kpj
Labels: keyboard, new

#1201 [sil_yoruba8_php] Fix help file for Yoruba8 (SIL) keyboard
  release/sil/sil_yoruba8/source/help/LayoutU_.png
  release/sil/sil_yoruba8/source/help/LayoutU_S.png
  release/sil/sil_yoruba8/source/help/sil_yoruba8.php
Labels: enhancement, keyboard

#1197 [soqotri_arabic] Enhancement to access shift layer of mobile layout
  release/s/soqotri_arabic/HISTORY.md
  release/s/soqotri_arabic/LICENSE.md
  release/s/soqotri_arabic/README.md
  release/s/soqotri_arabic/soqotri_arabic.kpj
  release/s/soqotri_arabic/source/soqotri_arabic.keyman-touch-layout
  release/s/soqotri_arabic/source/soqotri_arabic.kmn
  release/s/soqotri_arabic/source/soqotri_arabic.kps
Labels: enhancement, keyboard

#1189 [sundanese_latin] Initial version 1.0
  release/s/sundanese_latin/HISTORY.md
  release/s/sundanese_latin/LICENSE.md
  release/s/sundanese_latin/README.md
  release/s/sundanese_latin/source/readme.htm
  release/s/sundanese_latin/source/sundanese_latin.ico
  release/s/sundanese_latin/source/sundanese_latin.keyman-touch-layout
  release/s/sundanese_latin/source/sundanese_latin.kmn
  release/s/sundanese_latin/source/sundanese_latin.kps
  release/s/sundanese_latin/source/sundanese_latin.kvks
  release/s/sundanese_latin/sundanese_latin.keyboard_info
  release/s/sundanese_latin/sundanese_latin.kpj
Labels: keyboard, new

#1198 [sil_ipa] Add hotkeys to access options and rename keyboard
  release/sil/sil_ipa/HISTORY.md
  release/sil/sil_ipa/LICENSE.md
  release/sil/sil_ipa/README.md
  release/sil/sil_ipa/extras/SILIPAKeyboardLayout.doc
  release/sil/sil_ipa/extras/SILIPAKeyboardLayout.pdf
  release/sil/sil_ipa/sil_ipa.keyboard_info
  release/sil/sil_ipa/sil_ipa.kpj
  release/sil/sil_ipa/source/help/sil_ipa.php
  release/sil/sil_ipa/source/options.htm
  release/sil/sil_ipa/source/readme.htm
  release/sil/sil_ipa/source/sil_ipa.kmn
  release/sil/sil_ipa/source/sil_ipa.kps
  release/sil/sil_ipa/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1200 [vm_tamil_pckg] Tamil (Visual Media) keyboard package
  legacy/t/tamil - visual media/DEPRECATED.md
  release/packages/vm_tamil/HISTORY.md
  release/packages/vm_tamil/LICENSE.md
  release/packages/vm_tamil/README.md
  release/packages/vm_tamil/source/help/vm_tamil.php
  release/packages/vm_tamil/source/modular/LayoutU_-modular.png
  release/packages/vm_tamil/source/modular/LayoutU_S-modular.png
  release/packages/vm_tamil/source/modular/sri.png
  release/packages/vm_tamil/source/modular/style.css
  release/packages/vm_tamil/source/modular/welcome-modular.htm
  release/packages/vm_tamil/source/readme.htm
  release/packages/vm_tamil/source/typewriter/LayoutU_-typewriter.png
  release/packages/vm_tamil/source/typewriter/LayoutU_S-typewriter.png
  release/packages/vm_tamil/source/typewriter/sri.png
  release/packages/vm_tamil/source/typewriter/style.css
  release/packages/vm_tamil/source/typewriter/welcome-typewriter.htm
  release/packages/vm_tamil/source/vm_tamil.kps
  release/packages/vm_tamil/vm_tamil.kpj
  release/packages/vm_tamil/vm_tamil_modular.keyboard_info
Labels: keyboard, new

#1212 [vm_tamil] Rename keyboard_info file
  release/packages/vm_tamil/vm_tamil.keyboard_info
Labels: bug, keyboard

#1209 [obolo_chwerty_php] Add help file for keyboard
  release/o/obolo_chwerty/source/help/obolo_chwerty.php
Labels: enhancement, keyboard

#1211 [sil_ethiopic_power_g] Adjust help file to display wider column
  release/sil/sil_ethiopic_power_g/source/help/sil_ethiopic_power_g.php
Labels: enhancement, keyboard

#1205 [thamizha_new_typewriter] Keyboard moved from legacy to release
  legacy/e/ekwnewtwuni/DEPRECATED.md
  legacy/t/thamizha typewriter/DEPRECATED.md
  release/t/thamizha_new_typewriter/HISTORY.md
  release/t/thamizha_new_typewriter/LICENSE.md
  release/t/thamizha_new_typewriter/README.md
  release/t/thamizha_new_typewriter/source/help/LayoutU_.png
  release/t/thamizha_new_typewriter/source/help/LayoutU_S.png
  release/t/thamizha_new_typewriter/source/help/keys2.gif
  release/t/thamizha_new_typewriter/source/help/sri.png
  release/t/thamizha_new_typewriter/source/help/thamizha_new_typewriter.php
  release/t/thamizha_new_typewriter/source/readme.htm
  release/t/thamizha_new_typewriter/source/thamizha_new_typewriter.ico
  release/t/thamizha_new_typewriter/source/thamizha_new_typewriter.kmn
  release/t/thamizha_new_typewriter/source/thamizha_new_typewriter.kps
  release/t/thamizha_new_typewriter/source/thamizha_new_typewriter.kvks
  release/t/thamizha_new_typewriter/source/welcome/LayoutU_.png
  release/t/thamizha_new_typewriter/source/welcome/LayoutU_S.png
  release/t/thamizha_new_typewriter/source/welcome/keyrenderer.js
  release/t/thamizha_new_typewriter/source/welcome/keys2.gif
  release/t/thamizha_new_typewriter/source/welcome/sri.png
  release/t/thamizha_new_typewriter/source/welcome/style.css
  release/t/thamizha_new_typewriter/source/welcome/tr.gif
  release/t/thamizha_new_typewriter/source/welcome/welcome.htm
  release/t/thamizha_new_typewriter/thamizha_new_typewriter.keyboard_info
  release/t/thamizha_new_typewriter/thamizha_new_typewriter.kpj
Labels: keyboard, new

#1218 [vm_tamil] Add .kmn files and change location of compiled files
  release/packages/vm_tamil/HISTORY.md
  release/packages/vm_tamil/README.md
  release/packages/vm_tamil/source/vm_tamil.kps
  release/packages/vm_tamil/vm_tamil.kpj
Labels: bug, keyboard

#1204 [thamizha_bamini] Keyboard moved from legacy to release
  legacy/e/ekwbamuni/DEPRECATED.md
  legacy/t/thamizha bamini/DEPRECATED.md
  release/t/thamizha_bamini/HISTORY.md
  release/t/thamizha_bamini/LICENSE.md
  release/t/thamizha_bamini/README.md
  release/t/thamizha_bamini/source/help/keyrenderer.js
  release/t/thamizha_bamini/source/help/keys2.gif
  release/t/thamizha_bamini/source/help/sri.png
  release/t/thamizha_bamini/source/help/style.css
  release/t/thamizha_bamini/source/help/thamizha_bamini.php
  release/t/thamizha_bamini/source/help/tr.gif
  release/t/thamizha_bamini/source/readme.htm
  release/t/thamizha_bamini/source/thamizha_bamini.ico
  release/t/thamizha_bamini/source/thamizha_bamini.kmn
  release/t/thamizha_bamini/source/thamizha_bamini.kps
  release/t/thamizha_bamini/source/thamizha_bamini.kvks
  release/t/thamizha_bamini/source/welcome/LayoutU_.png
  release/t/thamizha_bamini/source/welcome/LayoutU_S.png
  release/t/thamizha_bamini/source/welcome/keyrenderer.js
  release/t/thamizha_bamini/source/welcome/keys2.gif
  release/t/thamizha_bamini/source/welcome/sri.png
  release/t/thamizha_bamini/source/welcome/style.css
  release/t/thamizha_bamini/source/welcome/tr.gif
  release/t/thamizha_bamini/source/welcome/welcome.htm
  release/t/thamizha_bamini/thamizha_bamini.keyboard_info
  release/t/thamizha_bamini/thamizha_bamini.kpj
Labels: keyboard, new

#1206 [thamizha_anjal_paangu] Keyboard moved from legacy to release
  legacy/e/ekwunitamil/DEPRECATED.md
  legacy/t/thamizha anjal/DEPRECATED.md
  release/t/thamizha_anjal_paangu/HISTORY.md
  release/t/thamizha_anjal_paangu/LICENSE.md
  release/t/thamizha_anjal_paangu/README.md
  release/t/thamizha_anjal_paangu/source/help/key-altl.gif
  release/t/thamizha_anjal_paangu/source/help/key-altr.gif
  release/t/thamizha_anjal_paangu/source/help/key-backspace.gif
  release/t/thamizha_anjal_paangu/source/help/key-bkslash.gif
  release/t/thamizha_anjal_paangu/source/help/key-capslock.gif
  release/t/thamizha_anjal_paangu/source/help/key-ctrll.gif
  release/t/thamizha_anjal_paangu/source/help/key-ctrlr.gif
  release/t/thamizha_anjal_paangu/source/help/key-enter.gif
  release/t/thamizha_anjal_paangu/source/help/key-plain.gif
  release/t/thamizha_anjal_paangu/source/help/key-shift102.gif
  release/t/thamizha_anjal_paangu/source/help/key-shiftl.gif
  release/t/thamizha_anjal_paangu/source/help/key-shiftr.gif
  release/t/thamizha_anjal_paangu/source/help/key-space.gif
  release/t/thamizha_anjal_paangu/source/help/key-tab.gif
  release/t/thamizha_anjal_paangu/source/help/keyrenderer.js
  release/t/thamizha_anjal_paangu/source/help/keys2.gif
  release/t/thamizha_anjal_paangu/source/help/sri.png
  release/t/thamizha_anjal_paangu/source/help/style.css
  release/t/thamizha_anjal_paangu/source/help/thamizha_anjal_paangu.php
  release/t/thamizha_anjal_paangu/source/help/tr.gif
  release/t/thamizha_anjal_paangu/source/readme.htm
  release/t/thamizha_anjal_paangu/source/thamizha_anjal_paangu.ico
  release/t/thamizha_anjal_paangu/source/thamizha_anjal_paangu.kmn
  release/t/thamizha_anjal_paangu/source/thamizha_anjal_paangu.kps
  release/t/thamizha_anjal_paangu/source/thamizha_anjal_paangu.kvks
  release/t/thamizha_anjal_paangu/source/welcome/LayoutU_.png
  release/t/thamizha_anjal_paangu/source/welcome/LayoutU_S.png
  release/t/thamizha_anjal_paangu/source/welcome/key-altl.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-altr.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-backspace.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-bkslash.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-capslock.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-ctrll.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-ctrlr.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-enter.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-plain.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-shift102.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-shiftl.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-shiftr.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-space.gif
  release/t/thamizha_anjal_paangu/source/welcome/key-tab.gif
  release/t/thamizha_anjal_paangu/source/welcome/keyrenderer.js
  release/t/thamizha_anjal_paangu/source/welcome/keys2.gif
  release/t/thamizha_anjal_paangu/source/welcome/sri.png
  release/t/thamizha_anjal_paangu/source/welcome/style.css
  release/t/thamizha_anjal_paangu/source/welcome/tr.gif
  release/t/thamizha_anjal_paangu/source/welcome/welcome.htm
  release/t/thamizha_anjal_paangu/thamizha_anjal_paangu.keyboard_info
  release/t/thamizha_anjal_paangu/thamizha_anjal_paangu.kpj
Labels: keyboard, new

#1207 [thamizha_tamil99_ext] Keyboard moved from legacy to release
  legacy/e/ekwtamil99uniext/DEPRECATED.md
  release/t/thamizha_tamil99_ext/HISTORY.md
  release/t/thamizha_tamil99_ext/LICENSE.md
  release/t/thamizha_tamil99_ext/README.md
  release/t/thamizha_tamil99_ext/source/help/LayoutU_.png
  release/t/thamizha_tamil99_ext/source/help/LayoutU_S.png
  release/t/thamizha_tamil99_ext/source/help/key-altl.gif
  release/t/thamizha_tamil99_ext/source/help/key-altr.gif
  release/t/thamizha_tamil99_ext/source/help/key-backspace.gif
  release/t/thamizha_tamil99_ext/source/help/key-bkslash.gif
  release/t/thamizha_tamil99_ext/source/help/key-capslock.gif
  release/t/thamizha_tamil99_ext/source/help/key-ctrll.gif
  release/t/thamizha_tamil99_ext/source/help/key-ctrlr.gif
  release/t/thamizha_tamil99_ext/source/help/key-enter.gif
  release/t/thamizha_tamil99_ext/source/help/key-plain.gif
  release/t/thamizha_tamil99_ext/source/help/key-shift102.gif
  release/t/thamizha_tamil99_ext/source/help/key-shiftl.gif
  release/t/thamizha_tamil99_ext/source/help/key-shiftr.gif
  release/t/thamizha_tamil99_ext/source/help/key-space.gif
  release/t/thamizha_tamil99_ext/source/help/key-tab.gif
  release/t/thamizha_tamil99_ext/source/help/keyrenderer.js
  release/t/thamizha_tamil99_ext/source/help/keys2.gif
  release/t/thamizha_tamil99_ext/source/help/sri.png
  release/t/thamizha_tamil99_ext/source/help/style.css
  release/t/thamizha_tamil99_ext/source/help/thamizha_tamil99_ext.php
  release/t/thamizha_tamil99_ext/source/help/tr.gif
  release/t/thamizha_tamil99_ext/source/readme.htm
  release/t/thamizha_tamil99_ext/source/thamizha_tamil99_ext.ico
  release/t/thamizha_tamil99_ext/source/thamizha_tamil99_ext.kmn
  release/t/thamizha_tamil99_ext/source/thamizha_tamil99_ext.kps
  release/t/thamizha_tamil99_ext/source/thamizha_tamil99_ext.kvks
  release/t/thamizha_tamil99_ext/source/welcome/LayoutU_.png
  release/t/thamizha_tamil99_ext/source/welcome/LayoutU_S.png
  release/t/thamizha_tamil99_ext/source/welcome/key-altl.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-altr.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-backspace.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-bkslash.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-capslock.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-ctrll.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-ctrlr.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-enter.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-plain.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-shift102.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-shiftl.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-shiftr.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-space.gif
  release/t/thamizha_tamil99_ext/source/welcome/key-tab.gif
  release/t/thamizha_tamil99_ext/source/welcome/keyrenderer.js
  release/t/thamizha_tamil99_ext/source/welcome/keys2.gif
  release/t/thamizha_tamil99_ext/source/welcome/sri.png
  release/t/thamizha_tamil99_ext/source/welcome/style.css
  release/t/thamizha_tamil99_ext/source/welcome/tr.gif
  release/t/thamizha_tamil99_ext/source/welcome/welcome.htm
  release/t/thamizha_tamil99_ext/thamizha_tamil99_ext.keyboard_info
  release/t/thamizha_tamil99_ext/thamizha_tamil99_ext.kpj
Labels: keyboard, new

#1224 [thamizha_help] Tidy up help files for Thamizha New Typewriter and Ta…
  release/t/thamizha_new_typewriter/source/help/LayoutU_.png
  release/t/thamizha_new_typewriter/source/help/LayoutU_S.png
  release/t/thamizha_new_typewriter/source/help/thamizha_new_typewriter.php
  release/t/thamizha_tamil99_ext/source/help/LayoutU_.png
  release/t/thamizha_tamil99_ext/source/help/LayoutU_S.png
  release/t/thamizha_tamil99_ext/source/help/thamizha_tamil99_ext.php
Labels: enhancement, keyboard

#1234 [ghana] New version to support characters from ghanakeyboards
  release/g/ghana/HISTORY.md
  release/g/ghana/LICENSE.md
  release/g/ghana/README.md
  release/g/ghana/ghana.keyboard_info
  release/g/ghana/ghana.kpj
  release/g/ghana/source/ghana-layout.js
  release/g/ghana/source/ghana.keyman-touch-layout
  release/g/ghana/source/ghana.kmn
  release/g/ghana/source/ghana.kps
  release/g/ghana/source/ghana.kvks
  release/g/ghana/source/help/ghana.php
  release/g/ghana/source/readme.htm
  release/g/ghana/source/welcome/LayoutU_.png
  release/g/ghana/source/welcome/LayoutU_RA.png
  release/g/ghana/source/welcome/LayoutU_S.png
  release/g/ghana/source/welcome/LayoutU_SRA.png
  release/g/ghana/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1202 [tuareg_tifinagh] initial submission
  release/t/tuareg_tifinagh/HISTORY.md
  release/t/tuareg_tifinagh/LICENSE.md
  release/t/tuareg_tifinagh/README.md
  release/t/tuareg_tifinagh/assets/Akatab-Regular.ttf
  release/t/tuareg_tifinagh/source/help/tuareg_tifinagh.php
  release/t/tuareg_tifinagh/source/help/tuareg_tifinaghU_.png
  release/t/tuareg_tifinagh/source/help/tuareg_tifinaghU_RA.png
  release/t/tuareg_tifinagh/source/help/tuareg_tifinaghU_S.png
  release/t/tuareg_tifinagh/source/readme.htm
  release/t/tuareg_tifinagh/source/tuareg_tifinagh.ico
  release/t/tuareg_tifinagh/source/tuareg_tifinagh.keyman-touch-layout
  release/t/tuareg_tifinagh/source/tuareg_tifinagh.kmn
  release/t/tuareg_tifinagh/source/tuareg_tifinagh.kps
  release/t/tuareg_tifinagh/source/tuareg_tifinagh.kvks
  release/t/tuareg_tifinagh/source/tuareg_tifinaghU_.png
  release/t/tuareg_tifinagh/source/tuareg_tifinaghU_RA.png
  release/t/tuareg_tifinagh/source/tuareg_tifinaghU_S.png
  release/t/tuareg_tifinagh/source/welcome.htm
  release/t/tuareg_tifinagh/tuareg_tifinagh.keyboard_info
  release/t/tuareg_tifinagh/tuareg_tifinagh.kpj
Labels: keyboard, new
