Repository keymanapp/keyboards, pull requests merged in 2020-04, with the labels that each got.

#1140 [fv_plains_cree] update to version 10.0
  release/fv/fv_plains_cree/HISTORY.md
  release/fv/fv_plains_cree/LICENSE.md
  release/fv/fv_plains_cree/README.md
  release/fv/fv_plains_cree/extra/generate-kmn-rules.py
  release/fv/fv_plains_cree/extra/syllabics.tsv
  release/fv/fv_plains_cree/fv_plains_cree.kpj
  release/fv/fv_plains_cree/source/fv_plains_cree.keyman-touch-layout
  release/fv/fv_plains_cree/source/fv_plains_cree.kmn
  release/fv/fv_plains_cree/source/fv_plains_cree.kps
  release/fv/fv_plains_cree/source/help/fv_plains_cree.php
Labels: enhancement, keyboard

#1130 [sil_mali_qwerty] Changes made by author
  release/sil/sil_mali_qwerty/HISTORY.md
  release/sil/sil_mali_qwerty/LICENSE.md
  release/sil/sil_mali_qwerty/README.md
  release/sil/sil_mali_qwerty/assets/TableauTouchesQWertyCouleur.rtf
  release/sil/sil_mali_qwerty/assets/TableauTouchesQWertybw.rtf
  release/sil/sil_mali_qwerty/sil_mali_qwerty.keyboard_info
  release/sil/sil_mali_qwerty/sil_mali_qwerty.kpj
  release/sil/sil_mali_qwerty/source/help/TableauTouchesQWertyCouleur.pdf
  release/sil/sil_mali_qwerty/source/help/mali_all.png
  release/sil/sil_mali_qwerty/source/help/mali_shift.png
  release/sil/sil_mali_qwerty/source/help/sil_mali_qwerty.php
  release/sil/sil_mali_qwerty/source/readme.htm
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.ico
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.keyman-touch-layout
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.kmn
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.kps
  release/sil/sil_mali_qwerty/source/sil_mali_qwerty.kvks
  release/sil/sil_mali_qwerty/source/welcome/TableauTouchesQWertyCouleur.pdf
  release/sil/sil_mali_qwerty/source/welcome/TableauTouchesQWertybw.pdf
  release/sil/sil_mali_qwerty/source/welcome/mali_all.png
  release/sil/sil_mali_qwerty/source/welcome/mali_shift.png
  release/sil/sil_mali_qwerty/source/welcome/style.css
  release/sil/sil_mali_qwerty/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1146 [fv_all] Update FV package to include fv_haisla
  release/packages/fv_all/HISTORY.md
  release/packages/fv_all/LICENSE.md
  release/packages/fv_all/README.md
  release/packages/fv_all/fv_all.kpj
  release/packages/fv_all/source/fv_all.kps.in
  release/packages/fv_all/source/readme.htm
Labels: enhancement

#1147 [indonesia] initial commit
  release/i/indonesia/HISTORY.md
  release/i/indonesia/LICENSE.md
  release/i/indonesia/README.md
  release/i/indonesia/indonesia.keyboard_info
  release/i/indonesia/indonesia.kpj
  release/i/indonesia/source/help/indonesia.php
  release/i/indonesia/source/indonesia.ico
  release/i/indonesia/source/indonesia.keyman-touch-layout
  release/i/indonesia/source/indonesia.kmn
  release/i/indonesia/source/indonesia.kps
  release/i/indonesia/source/indonesia.kvks
  release/i/indonesia/source/indonesia.png
  release/i/indonesia/source/readme.htm
  release/i/indonesia/source/touch.png
Labels: keyboard, new

#1136 [mandaic_phonetic] Mandaic Phonetic new keyboard
  release/m/mandaic_phonetic/HISTORY.md
  release/m/mandaic_phonetic/LICENSE.md
  release/m/mandaic_phonetic/README.md
  release/m/mandaic_phonetic/assets/LICENSE_OFL.txt
  release/m/mandaic_phonetic/assets/NotoSansMandaic-Regular.ttf
  release/m/mandaic_phonetic/mandaic_phonetic.keyboard_info
  release/m/mandaic_phonetic/mandaic_phonetic.kpj
  release/m/mandaic_phonetic/source/help/mandaic_phonetic.php
  release/m/mandaic_phonetic/source/mandaic_phonetic.ico
  release/m/mandaic_phonetic/source/mandaic_phonetic.kmn
  release/m/mandaic_phonetic/source/mandaic_phonetic.kps
  release/m/mandaic_phonetic/source/mandaic_phonetic.kvks
  release/m/mandaic_phonetic/source/readme.htm
  release/m/mandaic_phonetic/source/welcome/LayoutU_.png
  release/m/mandaic_phonetic/source/welcome/LayoutU_S.png
  release/m/mandaic_phonetic/source/welcome/LayoutU_SC.png
  release/m/mandaic_phonetic/source/welcome/welcome.htm
Labels: keyboard, new

#1148 [legacy_help] Add help files for many mostly legacy keyboards PR 1 of 2
  legacy/a/afro/source/help/afro.php
  legacy/a/anii_2015_fr_pack2/source/help/anii_2015_fr_pack2.php
  legacy/a/armenian unicode/source/help/armenian unicode.php
  legacy/d/devu-mikes/source/help/devu-mikes keyboard layout.pdf
  legacy/d/devu-mikes/source/help/devu-mikes.php
  legacy/g/gandhari-keyboard-2.7/source/help/gandhari-keyboard-2.7.php
  legacy/g/gandhari-keyboard-2.7/source/help/gandhari-keyboard_keyman.pdf
  legacy/g/garpsinhala/source/help/garp sinhala manual.pdf
  legacy/g/garpsinhala/source/help/garpsinhala.php
  legacy/l/lushootseed/source/help/lushootseed unicode keyboard help.pdf
  legacy/l/lushootseed/source/help/lushootseed.php
  legacy/m/malta/source/help/malta.php
  legacy/m/moore/source/help/moore.php
  legacy/n/naskeysdesktop/source/help/Naskapi Syllabics Keyboarding for Windows.pdf
  legacy/n/naskeysdesktop/source/help/Naskapi Unicode Keyboard Layout.pdf
  legacy/n/naskeysdesktop/source/help/naskeysdesktop.php
  legacy/o/okanaganu/source/help/okanaganu.php
  legacy/p/pashai 2/source/help/pashai 2.php
  legacy/p/pashai 2/source/help/pashai keyboard readme 1 revised.pdf
  legacy/p/persian11/source/help/persian11.php
  legacy/p/persian11/source/help/persian11.png
  legacy/p/pinyin/source/help/pinyin.php
  legacy/p/pokhto/source/help/Layout1.png
  legacy/p/pokhto/source/help/Layout2.png
  legacy/p/pokhto/source/help/Layout3.png
  legacy/p/pokhto/source/help/Layout4.png
  legacy/p/pokhto/source/help/pokhto.php
  legacy/p/pothana/source/help/manual.pdf
  legacy/p/pothana/source/help/pothana.php
  legacy/r/rawangu7/source/help/rawang unicode keyboard.pdf
  legacy/r/rawangu7/source/help/rawangu7.php
  legacy/t/transazerty/source/help/guide de saisie transazerty.pdf
  legacy/t/transazerty/source/help/transazerty.php
  legacy/u/urdu_unicode/source/help/urdu_unicode.pdf
  legacy/u/urdu_unicode/source/help/urdu_unicode.php
  release/el/el_yolngu/source/help/el_yolngu.php
  release/el/el_yolngu/source/help/keyboard_layout.png
Labels: enhancement, keyboard

#1152 [fv_all] Add JS keyboards to FirstVoices keyboard package
  release/packages/fv_all/HISTORY.md
  release/packages/fv_all/README.md
  release/packages/fv_all/build.sh
  release/packages/fv_all/fv_all.keyboard_info
Labels: enhancement

#1153 [legacy_help2] Tamil help files and tidying up 2 helps from previous PR
  legacy/a/anii_2015_fr_pack2/source/help/Layout.png
  legacy/a/anii_2015_fr_pack2/source/help/anii_2015_fr_pack2.php
  legacy/p/pinyin/source/help/pinyin.php
  legacy/t/tamil - visual media/source/help/keyboardchart-modular.htm
  legacy/t/tamil - visual media/source/help/keyboardchart-typewriter.htm
  legacy/t/tamil - visual media/source/help/modular.png
  legacy/t/tamil - visual media/source/help/sri.png
  legacy/t/tamil - visual media/source/help/style.css
  legacy/t/tamil - visual media/source/help/tamil - visual media.php
  legacy/t/tamil - visual media/source/help/typewriter.png
  legacy/t/thamizha anjal/source/help/Layout.png
  legacy/t/thamizha anjal/source/help/keyboardchart.htm
  legacy/t/thamizha anjal/source/help/sri.png
  legacy/t/thamizha anjal/source/help/style.css
  legacy/t/thamizha anjal/source/help/thamizha anjal.php
  legacy/t/thamizha bamini/source/help/Layout.png
  legacy/t/thamizha bamini/source/help/keyboardchart.htm
  legacy/t/thamizha bamini/source/help/sri.png
  legacy/t/thamizha bamini/source/help/style.css
  legacy/t/thamizha bamini/source/help/thamizha bamini.php
  legacy/t/thamizha typewriter/source/help/Layout.png
  legacy/t/thamizha typewriter/source/help/keyboardchart.htm
  legacy/t/thamizha typewriter/source/help/sri.png
  legacy/t/thamizha typewriter/source/help/style.css
  legacy/t/thamizha typewriter/source/help/thamizha typewriter.php
Labels: enhancement, keyboard

#1109 [basic_kbdhela3] Greek (319) Latin Basic Win10 import
  legacy/g/greek_319_latin/DEPRECATED.md
  legacy/kbd/kbdhela3/DEPRECATED.md
  release/basic/basic_kbdhela3/HISTORY.md
  release/basic/basic_kbdhela3/LICENSE.md
  release/basic/basic_kbdhela3/README.md
  release/basic/basic_kbdhela3/basic_kbdhela3.keyboard_info
  release/basic/basic_kbdhela3/basic_kbdhela3.kpj
  release/basic/basic_kbdhela3/source/basic_kbdhela3.ico
  release/basic/basic_kbdhela3/source/basic_kbdhela3.keyman-touch-layout
  release/basic/basic_kbdhela3/source/basic_kbdhela3.kmn
  release/basic/basic_kbdhela3/source/basic_kbdhela3.kps
  release/basic/basic_kbdhela3/source/basic_kbdhela3.kvks
  release/basic/basic_kbdhela3/source/help/basic_kbdhela3.php
  release/basic/basic_kbdhela3/source/readme.htm
  release/basic/basic_kbdhela3/source/welcome/LayoutU_.png
  release/basic/basic_kbdhela3/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdhela3/source/welcome/LayoutU_S.png
  release/basic/basic_kbdhela3/source/welcome/welcome.htm
Labels: keyboard, new

#1143 [rac_hazaragi] Rachitrali Hazaragi version 1
  release/rac/rac_hazaragi/HISTORY.md
  release/rac/rac_hazaragi/LICENSE.md
  release/rac/rac_hazaragi/README.md
  release/rac/rac_hazaragi/rac_hazaragi.keyboard_info
  release/rac/rac_hazaragi/rac_hazaragi.kpj
  release/rac/rac_hazaragi/source/help/rac_hazaragi.php
  release/rac/rac_hazaragi/source/rac_hazaragi.ico
  release/rac/rac_hazaragi/source/rac_hazaragi.keyman-touch-layout
  release/rac/rac_hazaragi/source/rac_hazaragi.kmn
  release/rac/rac_hazaragi/source/rac_hazaragi.kps
  release/rac/rac_hazaragi/source/rac_hazaragi.kvks
  release/rac/rac_hazaragi/source/readme.htm
  release/rac/rac_hazaragi/source/welcome/RAC.jpg
  release/rac/rac_hazaragi/source/welcome/rac_hazaragi base.png
  release/rac/rac_hazaragi/source/welcome/rac_hazaragi shift.png
  release/rac/rac_hazaragi/source/welcome/welcome.htm
Labels: keyboard, new

#1108 [basic_kbdhela2] Greek (220) Latin Basic Win10 import
  legacy/g/greek_220_latin/DEPRECATED.md
  legacy/kbd/kbdhela2/DEPRECATED.md
  release/basic/basic_kbdhela2/HISTORY.md
  release/basic/basic_kbdhela2/LICENSE.md
  release/basic/basic_kbdhela2/README.md
  release/basic/basic_kbdhela2/basic_kbdhela2.keyboard_info
  release/basic/basic_kbdhela2/basic_kbdhela2.kpj
  release/basic/basic_kbdhela2/source/basic_kbdhela2.ico
  release/basic/basic_kbdhela2/source/basic_kbdhela2.keyman-touch-layout
  release/basic/basic_kbdhela2/source/basic_kbdhela2.kmn
  release/basic/basic_kbdhela2/source/basic_kbdhela2.kps
  release/basic/basic_kbdhela2/source/basic_kbdhela2.kvks
  release/basic/basic_kbdhela2/source/help/basic_kbdhela2.php
  release/basic/basic_kbdhela2/source/readme.htm
  release/basic/basic_kbdhela2/source/welcome/LayoutU_.png
  release/basic/basic_kbdhela2/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdhela2/source/welcome/LayoutU_S.png
  release/basic/basic_kbdhela2/source/welcome/welcome.htm
Labels: keyboard, new

#1154 [khmer_angkor] Add Mondulkiri font to keyboard_info
  release/k/khmer_angkor/khmer_angkor.keyboard_info
Labels: bug, infrastructure

#1110 [basic_kbdno] Norwegian Basic Win10 import
  legacy/kbd/kbdno/DEPRECATED.md
  legacy/n/norwegian/DEPRECATED.md
  release/basic/basic_kbdno/HISTORY.md
  release/basic/basic_kbdno/LICENSE.md
  release/basic/basic_kbdno/README.md
  release/basic/basic_kbdno/basic_kbdno.keyboard_info
  release/basic/basic_kbdno/basic_kbdno.kpj
  release/basic/basic_kbdno/source/basic_kbdno.ico
  release/basic/basic_kbdno/source/basic_kbdno.keyman-touch-layout
  release/basic/basic_kbdno/source/basic_kbdno.kmn
  release/basic/basic_kbdno/source/basic_kbdno.kps
  release/basic/basic_kbdno/source/basic_kbdno.kvks
  release/basic/basic_kbdno/source/help/basic_kbdno.php
  release/basic/basic_kbdno/source/readme.htm
  release/basic/basic_kbdno/source/welcome/LayoutU_.png
  release/basic/basic_kbdno/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdno/source/welcome/LayoutU_S.png
  release/basic/basic_kbdno/source/welcome/welcome.htm
Labels: keyboard, new

#1156 [sanjha_punjabi] Sanjha Punjabi keyboard on behalf of author
  release/s/sanjha_punjabi/HISTORY.md
  release/s/sanjha_punjabi/LICENSE.md
  release/s/sanjha_punjabi/README.md
  release/s/sanjha_punjabi/sanjha_punjabi.keyboard_info
  release/s/sanjha_punjabi/sanjha_punjabi.kpj
  release/s/sanjha_punjabi/source/help/sanjha_punjabi.php
  release/s/sanjha_punjabi/source/readme.htm
  release/s/sanjha_punjabi/source/sanjha_punjabi.ico
  release/s/sanjha_punjabi/source/sanjha_punjabi.keyman-touch-layout
  release/s/sanjha_punjabi/source/sanjha_punjabi.kmn
  release/s/sanjha_punjabi/source/sanjha_punjabi.kps
  release/s/sanjha_punjabi/source/sanjha_punjabi.kvks
  release/s/sanjha_punjabi/source/welcome/LayoutU_.png
  release/s/sanjha_punjabi/source/welcome/LayoutU_S.png
  release/s/sanjha_punjabi/source/welcome/welcome.htm
Labels: keyboard, new

#1111 [basic_kbdno1] Norwegian with Sami Basic Win10 import
  legacy/kbd/kbdno1/DEPRECATED.md
  legacy/n/norwegian_sami/DEPRECATED.md
  release/basic/basic_kbdno1/HISTORY.md
  release/basic/basic_kbdno1/LICENSE.md
  release/basic/basic_kbdno1/README.md
  release/basic/basic_kbdno1/basic_kbdno1.keyboard_info
  release/basic/basic_kbdno1/basic_kbdno1.kpj
  release/basic/basic_kbdno1/source/basic_kbdno1.ico
  release/basic/basic_kbdno1/source/basic_kbdno1.keyman-touch-layout
  release/basic/basic_kbdno1/source/basic_kbdno1.kmn
  release/basic/basic_kbdno1/source/basic_kbdno1.kps
  release/basic/basic_kbdno1/source/basic_kbdno1.kvks
  release/basic/basic_kbdno1/source/help/basic_kbdno1.php
  release/basic/basic_kbdno1/source/readme.htm
  release/basic/basic_kbdno1/source/welcome/LayoutU_.png
  release/basic/basic_kbdno1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdno1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdno1/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdno1/source/welcome/welcome.htm
Labels: keyboard, new

#1112 [basic_kbdsmsfi] Sami Extended Finland-Sweden Basic Win10 import
  legacy/kbd/kbdsmsfi/DEPRECATED.md
  legacy/s/sami_finland_sweden/DEPRECATED.md
  release/basic/basic_kbdsmsfi/HISTORY.md
  release/basic/basic_kbdsmsfi/LICENSE.md
  release/basic/basic_kbdsmsfi/README.md
  release/basic/basic_kbdsmsfi/basic_kbdsmsfi.keyboard_info
  release/basic/basic_kbdsmsfi/basic_kbdsmsfi.kpj
  release/basic/basic_kbdsmsfi/source/basic_kbdsmsfi.ico
  release/basic/basic_kbdsmsfi/source/basic_kbdsmsfi.keyman-touch-layout
  release/basic/basic_kbdsmsfi/source/basic_kbdsmsfi.kmn
  release/basic/basic_kbdsmsfi/source/basic_kbdsmsfi.kps
  release/basic/basic_kbdsmsfi/source/basic_kbdsmsfi.kvks
  release/basic/basic_kbdsmsfi/source/help/basic_kbdsmsfi.php
  release/basic/basic_kbdsmsfi/source/readme.htm
  release/basic/basic_kbdsmsfi/source/welcome/LayoutU_.png
  release/basic/basic_kbdsmsfi/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsmsfi/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsmsfi/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdsmsfi/source/welcome/welcome.htm
Labels: keyboard, new

#1113 [basic_kbdsmsno] Sami Extended Norway Basic Win10 import
  legacy/kbd/kbdsmsno/DEPRECATED.md
  legacy/s/sami_norway/DEPRECATED.md
  release/basic/basic_kbdsmsno/HISTORY.md
  release/basic/basic_kbdsmsno/LICENSE.md
  release/basic/basic_kbdsmsno/README.md
  release/basic/basic_kbdsmsno/basic_kbdsmsno.keyboard_info
  release/basic/basic_kbdsmsno/basic_kbdsmsno.kpj
  release/basic/basic_kbdsmsno/source/basic_kbdsmsno.ico
  release/basic/basic_kbdsmsno/source/basic_kbdsmsno.keyman-touch-layout
  release/basic/basic_kbdsmsno/source/basic_kbdsmsno.kmn
  release/basic/basic_kbdsmsno/source/basic_kbdsmsno.kps
  release/basic/basic_kbdsmsno/source/basic_kbdsmsno.kvks
  release/basic/basic_kbdsmsno/source/help/basic_kbdsmsno.php
  release/basic/basic_kbdsmsno/source/readme.htm
  release/basic/basic_kbdsmsno/source/welcome/LayoutU_.png
  release/basic/basic_kbdsmsno/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsmsno/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsmsno/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdsmsno/source/welcome/welcome.htm
Labels: keyboard, new

#1162 [sil_euro_latin] Updated kbd to include DejaVuSans font in the package
  release/shared/fonts/dejavu/DejaVuSans.ttf
  release/shared/fonts/dejavu/DejaVuSerif.ttf
  release/shared/fonts/dejavu/LICENSE.txt
  release/sil/sil_euro_latin/HISTORY.md
  release/sil/sil_euro_latin/LICENSE.md
  release/sil/sil_euro_latin/README.md
  release/sil/sil_euro_latin/sil_euro_latin.kpj
  release/sil/sil_euro_latin/source/help/sil_euro_latin.php
  release/sil/sil_euro_latin/source/readme.htm
  release/sil/sil_euro_latin/source/sil_euro_latin-layout.keyman-touch-layout
  release/sil/sil_euro_latin/source/sil_euro_latin.keyman-touch-layout
  release/sil/sil_euro_latin/source/sil_euro_latin.kmn
  release/sil/sil_euro_latin/source/sil_euro_latin.kps
  release/sil/sil_euro_latin/source/sil_euro_latin_js.txt
  release/sil/sil_euro_latin/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1114 [basic_kbdinuk2] Inuktitut - Naqittaut Basic Win10 import
  legacy/kbd/kbdinuk2/DEPRECATED.md
  release/basic/basic_kbdinuk2/HISTORY.md
  release/basic/basic_kbdinuk2/LICENSE.md
  release/basic/basic_kbdinuk2/README.md
  release/basic/basic_kbdinuk2/basic_kbdinuk2.keyboard_info
  release/basic/basic_kbdinuk2/basic_kbdinuk2.kpj
  release/basic/basic_kbdinuk2/source/basic_kbdinuk2.ico
  release/basic/basic_kbdinuk2/source/basic_kbdinuk2.kmn
  release/basic/basic_kbdinuk2/source/basic_kbdinuk2.kps
  release/basic/basic_kbdinuk2/source/basic_kbdinuk2.kvks
  release/basic/basic_kbdinuk2/source/help/basic_kbdinuk2.php
  release/basic/basic_kbdinuk2/source/readme.htm
  release/basic/basic_kbdinuk2/source/welcome/LayoutU_.png
  release/basic/basic_kbdinuk2/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdinuk2/source/welcome/LayoutU_S.png
  release/basic/basic_kbdinuk2/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdinuk2/source/welcome/welcome.htm
Labels: keyboard, new

#1115 [basic_kbdsn1] Sinhala Basic Win10 import
  release/basic/basic_kbdsn1/HISTORY.md
  release/basic/basic_kbdsn1/LICENSE.md
  release/basic/basic_kbdsn1/README.md
  release/basic/basic_kbdsn1/basic_kbdsn1.keyboard_info
  release/basic/basic_kbdsn1/basic_kbdsn1.kpj
  release/basic/basic_kbdsn1/source/basic_kbdsn1.ico
  release/basic/basic_kbdsn1/source/basic_kbdsn1.kmn
  release/basic/basic_kbdsn1/source/basic_kbdsn1.kps
  release/basic/basic_kbdsn1/source/basic_kbdsn1.kvks
  release/basic/basic_kbdsn1/source/help/basic_kbdsn1.php
  release/basic/basic_kbdsn1/source/readme.htm
  release/basic/basic_kbdsn1/source/welcome/LayoutU_.png
  release/basic/basic_kbdsn1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsn1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsn1/source/welcome/welcome.htm
  release/k/kbdsn1/DEPRECATED.md
Labels: keyboard, new

#1119 [basic_kbdropr] Romanian (Programmers) Basic Win10 import
  legacy/kbd/kbdropr/DEPRECATED.md
  release/basic/basic_kbdropr/HISTORY.md
  release/basic/basic_kbdropr/LICENSE.md
  release/basic/basic_kbdropr/README.md
  release/basic/basic_kbdropr/basic_kbdropr.keyboard_info
  release/basic/basic_kbdropr/basic_kbdropr.kpj
  release/basic/basic_kbdropr/source/basic_kbdropr.ico
  release/basic/basic_kbdropr/source/basic_kbdropr.keyman-touch-layout
  release/basic/basic_kbdropr/source/basic_kbdropr.kmn
  release/basic/basic_kbdropr/source/basic_kbdropr.kps
  release/basic/basic_kbdropr/source/basic_kbdropr.kvks
  release/basic/basic_kbdropr/source/help/basic_kbdropr.php
  release/basic/basic_kbdropr/source/readme.htm
  release/basic/basic_kbdropr/source/welcome/LayoutU_.png
  release/basic/basic_kbdropr/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdropr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdropr/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdropr/source/welcome/welcome.htm
Labels: keyboard, new

#1116 [basic_kbdiulat] Inuktitut - Latin Basic Win10 import
  legacy/kbd/kbdiulat/DEPRECATED.md
  release/basic/basic_kbdiulat/HISTORY.md
  release/basic/basic_kbdiulat/LICENSE.md
  release/basic/basic_kbdiulat/README.md
  release/basic/basic_kbdiulat/basic_kbdiulat.keyboard_info
  release/basic/basic_kbdiulat/basic_kbdiulat.kpj
  release/basic/basic_kbdiulat/source/basic_kbdiulat.ico
  release/basic/basic_kbdiulat/source/basic_kbdiulat.kmn
  release/basic/basic_kbdiulat/source/basic_kbdiulat.kps
  release/basic/basic_kbdiulat/source/basic_kbdiulat.kvks
  release/basic/basic_kbdiulat/source/help/basic_kbdiulat.php
  release/basic/basic_kbdiulat/source/readme.htm
  release/basic/basic_kbdiulat/source/welcome/LayoutU_.png
  release/basic/basic_kbdiulat/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdiulat/source/welcome/LayoutU_S.png
  release/basic/basic_kbdiulat/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdiulat/source/welcome/welcome.htm
Labels: keyboard, new

#1120 [basic_kbdsorex] Sorbian Extended Basic Win10 import
  legacy/kbd/kbdsorex/DEPRECATED.md
  release/basic/basic_kbdsorex/HISTORY.md
  release/basic/basic_kbdsorex/LICENSE.md
  release/basic/basic_kbdsorex/README.md
  release/basic/basic_kbdsorex/basic_kbdsorex.keyboard_info
  release/basic/basic_kbdsorex/basic_kbdsorex.kpj
  release/basic/basic_kbdsorex/source/basic_kbdsorex.ico
  release/basic/basic_kbdsorex/source/basic_kbdsorex.keyman-touch-layout
  release/basic/basic_kbdsorex/source/basic_kbdsorex.kmn
  release/basic/basic_kbdsorex/source/basic_kbdsorex.kps
  release/basic/basic_kbdsorex/source/basic_kbdsorex.kvks
  release/basic/basic_kbdsorex/source/help/basic_kbdsorex.php
  release/basic/basic_kbdsorex/source/readme.htm
  release/basic/basic_kbdsorex/source/welcome/LayoutU_.png
  release/basic/basic_kbdsorex/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsorex/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsorex/source/welcome/welcome.htm
Labels: keyboard, new

#1118 [basic_kbdlt2] Lithuanian Standard Basic Win10 import
  legacy/kbd/kbdlt2/DEPRECATED.md
  release/basic/basic_kbdlt2/HISTORY.md
  release/basic/basic_kbdlt2/LICENSE.md
  release/basic/basic_kbdlt2/README.md
  release/basic/basic_kbdlt2/basic_kbdlt2.keyboard_info
  release/basic/basic_kbdlt2/basic_kbdlt2.kpj
  release/basic/basic_kbdlt2/source/basic_kbdlt2.ico
  release/basic/basic_kbdlt2/source/basic_kbdlt2.kmn
  release/basic/basic_kbdlt2/source/basic_kbdlt2.kps
  release/basic/basic_kbdlt2/source/basic_kbdlt2.kvks
  release/basic/basic_kbdlt2/source/help/basic_kbdlt2.php
  release/basic/basic_kbdlt2/source/readme.htm
  release/basic/basic_kbdlt2/source/welcome/LayoutU_.png
  release/basic/basic_kbdlt2/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdlt2/source/welcome/LayoutU_S.png
  release/basic/basic_kbdlt2/source/welcome/welcome.htm
Labels: keyboard, new

#1122 [basic_kbdsw09] Sinhala - Wij 9 Basic Win10 import
  legacy/kbd/kbdsw09/DEPRECATED.md
  release/basic/basic_kbdsw09/HISTORY.md
  release/basic/basic_kbdsw09/LICENSE.md
  release/basic/basic_kbdsw09/README.md
  release/basic/basic_kbdsw09/basic_kbdsw09.keyboard_info
  release/basic/basic_kbdsw09/basic_kbdsw09.kpj
  release/basic/basic_kbdsw09/source/basic_kbdsw09.ico
  release/basic/basic_kbdsw09/source/basic_kbdsw09.kmn
  release/basic/basic_kbdsw09/source/basic_kbdsw09.kps
  release/basic/basic_kbdsw09/source/basic_kbdsw09.kvks
  release/basic/basic_kbdsw09/source/help/basic_kbdsw09.php
  release/basic/basic_kbdsw09/source/readme.htm
  release/basic/basic_kbdsw09/source/welcome/LayoutU_.png
  release/basic/basic_kbdsw09/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsw09/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsw09/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdsw09/source/welcome/welcome.htm
Labels: keyboard, new

#1121 [basic_kbdsors1] Sorbian Standard Basic Win10 import
  legacy/kbd/kbdsorst/DEPRECATED.md
  release/basic/basic_kbdsors1/HISTORY.md
  release/basic/basic_kbdsors1/LICENSE.md
  release/basic/basic_kbdsors1/README.md
  release/basic/basic_kbdsors1/basic_kbdsors1.keyboard_info
  release/basic/basic_kbdsors1/basic_kbdsors1.kpj
  release/basic/basic_kbdsors1/source/basic_kbdsors1.ico
  release/basic/basic_kbdsors1/source/basic_kbdsors1.kmn
  release/basic/basic_kbdsors1/source/basic_kbdsors1.kps
  release/basic/basic_kbdsors1/source/basic_kbdsors1.kvks
  release/basic/basic_kbdsors1/source/help/basic_kbdsors1.php
  release/basic/basic_kbdsors1/source/readme.htm
  release/basic/basic_kbdsors1/source/welcome/LayoutU_.png
  release/basic/basic_kbdsors1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsors1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsors1/source/welcome/welcome.htm
Labels: keyboard, new

#1117 [basic_kbdkhmr] Khmer Basic Win10 import
  legacy/kbd/kbdkhmr/DEPRECATED.md
  release/basic/basic_kbdkhmr/HISTORY.md
  release/basic/basic_kbdkhmr/LICENSE.md
  release/basic/basic_kbdkhmr/README.md
  release/basic/basic_kbdkhmr/basic_kbdkhmr.keyboard_info
  release/basic/basic_kbdkhmr/basic_kbdkhmr.kpj
  release/basic/basic_kbdkhmr/source/basic_kbdkhmr.ico
  release/basic/basic_kbdkhmr/source/basic_kbdkhmr.kmn
  release/basic/basic_kbdkhmr/source/basic_kbdkhmr.kps
  release/basic/basic_kbdkhmr/source/basic_kbdkhmr.kvks
  release/basic/basic_kbdkhmr/source/help/basic_kbdkhmr.php
  release/basic/basic_kbdkhmr/source/readme.htm
  release/basic/basic_kbdkhmr/source/welcome/LayoutU_.png
  release/basic/basic_kbdkhmr/source/welcome/LayoutU_LC.png
  release/basic/basic_kbdkhmr/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdkhmr/source/welcome/LayoutU_S.png
  release/basic/basic_kbdkhmr/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdkhmr/source/welcome/welcome.htm
Labels: keyboard, new

#1164 [bod] Add js files to a package
  legacy/b/bod/HISTORY.md
  legacy/b/bod/LICENSE.md
  legacy/b/bod/README.md
  legacy/b/bod/assets/DDC_Uchen.ttf
  legacy/b/bod/assets/OFL.txt
  legacy/b/bod/bod.keyboard_info
  legacy/b/bod/bod.kpj
  legacy/b/bod/source/bod.kps
  legacy/b/bod_transliterating/HISTORY.md
  legacy/b/bod_transliterating/LICENSE.md
  legacy/b/bod_transliterating/README.md
  legacy/b/bod_transliterating/assets/DDC_Uchen.ttf
  legacy/b/bod_transliterating/assets/OFL.txt
  legacy/b/bod_transliterating/bod_transliterating.keyboard_info
  legacy/b/bod_transliterating/bod_transliterating.kpj
  legacy/b/bod_transliterating/source/bod_transliterating.kps
Labels: enhancement, keyboard

#1165 [cjk] Add .js files to a package for Chinese, Japanese, Korean RR
  legacy/c/chinese/HISTORY.md
  legacy/c/chinese/LICENSE.md
  legacy/c/chinese/README.md
  legacy/c/chinese/chinese.keyboard_info
  legacy/c/chinese/chinese.kpj
  legacy/c/chinese/source/chinese.kps
  legacy/c/chinese/source/help/chinese.php
  legacy/c/chinese/source/readme.htm
  legacy/j/japanese/HISTORY.md
  legacy/j/japanese/LICENSE.md
  legacy/j/japanese/README.md
  legacy/j/japanese/japanese.kpj
  legacy/j/japanese/source/japanese.kps
  legacy/j/japanese/source/readme.htm
  legacy/k/korean_rr/HISTORY.md
  legacy/k/korean_rr/LICENSE.md
  legacy/k/korean_rr/README.md
  legacy/k/korean_rr/korean_rr.kpj
  legacy/k/korean_rr/source/help/korean_rr.php
  legacy/k/korean_rr/source/korean_rr.kps
  legacy/k/korean_rr/source/readme.htm
Labels: infrastructure, keyboard

#1166 [numanggang] on behalf of author
  release/n/numanggang/HISTORY.md
  release/n/numanggang/LICENSE.md
  release/n/numanggang/README.md
  release/n/numanggang/numanggang.keyboard_info
  release/n/numanggang/numanggang.kpj
  release/n/numanggang/source/help/numananggang.php
  release/n/numanggang/source/numanggang.ico
  release/n/numanggang/source/numanggang.keyman-touch-layout
  release/n/numanggang/source/numanggang.kmn
  release/n/numanggang/source/numanggang.kps
  release/n/numanggang/source/numanggang.kvks
  release/n/numanggang/source/readme.htm
  release/n/numanggang/source/welcome/numanggang.png
  release/n/numanggang/source/welcome/welcome.htm
Labels: keyboard, new

#1124 [basic_kbdcherp] Cherokee Nation Phonetic Basic Win10 import
  release/basic/basic_kbdcherp/HISTORY.md
  release/basic/basic_kbdcherp/LICENSE.md
  release/basic/basic_kbdcherp/README.md
  release/basic/basic_kbdcherp/basic_kbdcherp.keyboard_info
  release/basic/basic_kbdcherp/basic_kbdcherp.kpj
  release/basic/basic_kbdcherp/source/basic_kbdcherp.ico
  release/basic/basic_kbdcherp/source/basic_kbdcherp.kmn
  release/basic/basic_kbdcherp/source/basic_kbdcherp.kps
  release/basic/basic_kbdcherp/source/basic_kbdcherp.kvks
  release/basic/basic_kbdcherp/source/help/basic_kbdcherp.php
  release/basic/basic_kbdcherp/source/readme.htm
  release/basic/basic_kbdcherp/source/welcome/LayoutU_.png
  release/basic/basic_kbdcherp/source/welcome/LayoutU_S.png
  release/basic/basic_kbdcherp/source/welcome/welcome.htm
Labels: keyboard, new

#1161 [sil_yoruba_bar] Yoruba with Bar keyboard
  legacy/y/yorubabar/DEPRECATED.md
  release/sil/sil_yoruba_bar/HISTORY.md
  release/sil/sil_yoruba_bar/LICENSE.md
  release/sil/sil_yoruba_bar/README.md
  release/sil/sil_yoruba_bar/sil_yoruba_bar.keyboard_info
  release/sil/sil_yoruba_bar/sil_yoruba_bar.kpj
  release/sil/sil_yoruba_bar/source/help/sil_yoruba_bar.php
  release/sil/sil_yoruba_bar/source/readme.htm
  release/sil/sil_yoruba_bar/source/sil_yoruba_bar.ico
  release/sil/sil_yoruba_bar/source/sil_yoruba_bar.keyman-touch-layout
  release/sil/sil_yoruba_bar/source/sil_yoruba_bar.kmn
  release/sil/sil_yoruba_bar/source/sil_yoruba_bar.kps
  release/sil/sil_yoruba_bar/source/sil_yoruba_bar.kvks
  release/sil/sil_yoruba_bar/source/welcome/LayoutU_.png
  release/sil/sil_yoruba_bar/source/welcome/LayoutU_RA.png
  release/sil/sil_yoruba_bar/source/welcome/LayoutU_S.png
  release/sil/sil_yoruba_bar/source/welcome/LayoutU_SRA.png
  release/sil/sil_yoruba_bar/source/welcome/welcome.htm
Labels: keyboard, new

#1160 [sil_yoruba_dot] Yoruba with Dot keyboard
  legacy/y/yorubadot/DEPRECATED.md
  release/sil/sil_yoruba_bar/README.md
  release/sil/sil_yoruba_dot/HISTORY.md
  release/sil/sil_yoruba_dot/LICENSE.md
  release/sil/sil_yoruba_dot/README.md
  release/sil/sil_yoruba_dot/sil_yoruba_dot.keyboard_info
  release/sil/sil_yoruba_dot/sil_yoruba_dot.kpj
  release/sil/sil_yoruba_dot/source/help/sil_yoruba_dot.php
  release/sil/sil_yoruba_dot/source/readme.htm
  release/sil/sil_yoruba_dot/source/sil_yoruba_dot.ico
  release/sil/sil_yoruba_dot/source/sil_yoruba_dot.keyman-touch-layout
  release/sil/sil_yoruba_dot/source/sil_yoruba_dot.kmn
  release/sil/sil_yoruba_dot/source/sil_yoruba_dot.kps
  release/sil/sil_yoruba_dot/source/sil_yoruba_dot.kvks
  release/sil/sil_yoruba_dot/source/welcome/LayoutU_.png
  release/sil/sil_yoruba_dot/source/welcome/LayoutU_RA.png
  release/sil/sil_yoruba_dot/source/welcome/LayoutU_S.png
  release/sil/sil_yoruba_dot/source/welcome/LayoutU_SRA.png
  release/sil/sil_yoruba_dot/source/welcome/welcome.htm
Labels: keyboard, new

#1172 [burmese02] Deprecate keyboard per author
  legacy/b/burmese02/DEPRECATED.md
  release/sil/sil_myanmar_my3/sil_myanmar_my3.keyboard_info
Labels: infrastructure

#1171 [dene] Move Dene keyboard from legacy to release
  legacy/d/deneunicode/DEPRECATED.md
  release/d/dene/HISTORY.md
  release/d/dene/LICENSE.md
  release/d/dene/README.md
  release/d/dene/dene.keyboard_info
  release/d/dene/dene.kpj
  release/d/dene/source/dene.ico
  release/d/dene/source/dene.kmn
  release/d/dene/source/dene.kps
  release/d/dene/source/dene.kvks
  release/d/dene/source/help/dene.php
  release/d/dene/source/readme.htm
  release/d/dene/source/welcome/LayoutU_.png
  release/d/dene/source/welcome/LayoutU_C.png
  release/d/dene/source/welcome/LayoutU_S.png
  release/d/dene/source/welcome/welcome.htm
Labels: keyboard, new

#1173 [turkmen_cyrl] Turkmen Cyrillic keyboard
  legacy/t/tkmcaus3/DEPRECATED.md
  legacy/t/turkmen/DEPRECATED.md
  release/t/turkmen_cyrl/HISTORY.md
  release/t/turkmen_cyrl/LICENSE.md
  release/t/turkmen_cyrl/README.md
  release/t/turkmen_cyrl/source/help/turkmen_cyrl.php
  release/t/turkmen_cyrl/source/readme.htm
  release/t/turkmen_cyrl/source/turkmen_cyrl.ico
  release/t/turkmen_cyrl/source/turkmen_cyrl.keyman-touch-layout
  release/t/turkmen_cyrl/source/turkmen_cyrl.kmn
  release/t/turkmen_cyrl/source/turkmen_cyrl.kps
  release/t/turkmen_cyrl/source/turkmen_cyrl.kvks
  release/t/turkmen_cyrl/source/welcome/LayoutU_.png
  release/t/turkmen_cyrl/source/welcome/LayoutU_S.png
  release/t/turkmen_cyrl/source/welcome/welcome.htm
  release/t/turkmen_cyrl/turkmen_cyrl.keyboard_info
  release/t/turkmen_cyrl/turkmen_cyrl.kpj
Labels: keyboard, new

#1170 [bod] Add package (.kmp) to Bod keyboards
  legacy/b/bod/README.md
  legacy/b/bod/source/bod.kmp
  legacy/b/bod_transliterating/README.md
  legacy/b/bod_transliterating/source/bod_transliterating.kmp
Labels: infrastructure

#1179 [bod] Take 3 - Adding packageFilename to keyboard_info
  legacy/b/bod/bod.keyboard_info
  legacy/b/bod_transliterating/bod_transliterating.keyboard_info
Labels: infrastructure

#1163 [rawang] Rawang keyboard moved to release
  legacy/r/rawangu/DEPRECATED.md
  legacy/r/rawangu7/DEPRECATED.md
  release/r/rawang/HISTORY.md
  release/r/rawang/LICENSE.md
  release/r/rawang/README.md
  release/r/rawang/rawang.keyboard_info
  release/r/rawang/rawang.kpj
  release/r/rawang/source/help/rawang.php
  release/r/rawang/source/rawang.ico
  release/r/rawang/source/rawang.kmn
  release/r/rawang/source/rawang.kps
  release/r/rawang/source/rawang.kvks
  release/r/rawang/source/readme.htm
  release/r/rawang/source/welcome/LayoutU_.png
  release/r/rawang/source/welcome/LayoutU_RA.png
  release/r/rawang/source/welcome/LayoutU_S.png
  release/r/rawang/source/welcome/welcome.htm
Labels: keyboard, new

#1177 [hindi_modular] Hindi Modular keyboard
  legacy/h/hindi_modular_kab/DEPRECATED.md
  release/h/hindi_modular/HISTORY.md
  release/h/hindi_modular/LICENSE.md
  release/h/hindi_modular/README.md
  release/h/hindi_modular/hindi_modular.keyboard_info
  release/h/hindi_modular/hindi_modular.kpj
  release/h/hindi_modular/source/help/LayoutU_.png
  release/h/hindi_modular/source/help/LayoutU_RA.png
  release/h/hindi_modular/source/help/LayoutU_S.png
  release/h/hindi_modular/source/help/LayoutU_SRA.png
  release/h/hindi_modular/source/help/hindi_modular.php
  release/h/hindi_modular/source/hindi_modular.ico
  release/h/hindi_modular/source/hindi_modular.keyman-touch-layout
  release/h/hindi_modular/source/hindi_modular.kmn
  release/h/hindi_modular/source/hindi_modular.kps
  release/h/hindi_modular/source/hindi_modular.kvks
  release/h/hindi_modular/source/readme.htm
  release/h/hindi_modular/source/welcome/LayoutU_.png
  release/h/hindi_modular/source/welcome/LayoutU_RA.png
  release/h/hindi_modular/source/welcome/LayoutU_S.png
  release/h/hindi_modular/source/welcome/LayoutU_SRA.png
  release/h/hindi_modular/source/welcome/welcome.htm
Labels: keyboard, new

#1186 [turkmen_cyrl] Modifications requested by author to better match the …
  release/t/turkmen_cyrl/HISTORY.md
  release/t/turkmen_cyrl/README.md
  release/t/turkmen_cyrl/source/help/turkmen_cyrl.php
  release/t/turkmen_cyrl/source/turkmen_cyrl.keyman-touch-layout
  release/t/turkmen_cyrl/source/turkmen_cyrl.kmn
  release/t/turkmen_cyrl/source/turkmen_cyrl.kvks
  release/t/turkmen_cyrl/source/welcome/LayoutU_.png
  release/t/turkmen_cyrl/source/welcome/LayoutU_S.png
  release/t/turkmen_cyrl/source/welcome/welcome.htm
  release/t/turkmen_cyrl/turkmen_cyrl.kpj
Labels: enhancement, keyboard

#1190 [fv-all] Version bump to trigger build of fv_all.kmp
  release/packages/fv_all/HISTORY.md
  release/packages/fv_all/README.md
  release/packages/fv_all/source/fv_all.kps.in
Labels: infrastructure

#1187 [sil_yoruba8] Move Yoruba8 keyboard to release
  legacy/y/yoruba8/DEPRECATED.md
  release/sil/sil_yoruba8/HISTORY.md
  release/sil/sil_yoruba8/LICENSE.md
  release/sil/sil_yoruba8/README.md
  release/sil/sil_yoruba8/sil_yoruba8.keyboard_info
  release/sil/sil_yoruba8/sil_yoruba8.kpj
  release/sil/sil_yoruba8/source/help/sil_yoruba8.php
  release/sil/sil_yoruba8/source/readme.htm
  release/sil/sil_yoruba8/source/sil_yoruba8.ico
  release/sil/sil_yoruba8/source/sil_yoruba8.kmn
  release/sil/sil_yoruba8/source/sil_yoruba8.kps
  release/sil/sil_yoruba8/source/sil_yoruba8.kvks
  release/sil/sil_yoruba8/source/welcome/LayoutU_.png
  release/sil/sil_yoruba8/source/welcome/LayoutU_S.png
  release/sil/sil_yoruba8/source/welcome/style.css
  release/sil/sil_yoruba8/source/welcome/welcome.htm
Labels: keyboard, new

#1191 [fv_dep] Deprecate xaadkil keyboard
  legacy/x/xaadkil/DEPRECATED.md
  release/fv/fv_hlgaagilda_xaayda_kil/fv_hlgaagilda_xaayda_kil.keyboard_info
Labels: infrastructure, keyboard
