Repository keymanapp/keyboards, pull requests merged in 2020-12, with the labels that each got.

#1394 [sil_cameroon_azerty][sil_cameroon_qwerty] Major CSS Updates: Q-6.0.5, A-6.0.3
  release/sil/sil_cameroon_azerty/HISTORY.md
  release/sil/sil_cameroon_azerty/README.md
  release/sil/sil_cameroon_azerty/sil_cameroon_azerty.keyboard_info
  release/sil/sil_cameroon_azerty/sil_cameroon_azerty.kpj
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.css
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.keyman-touch-layout
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kmn
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kps
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kvks
  release/sil/sil_cameroon_qwerty/HISTORY.md
  release/sil/sil_cameroon_qwerty/README.md
  release/sil/sil_cameroon_qwerty/sil_cameroon_qwerty.keyboard_info
  release/sil/sil_cameroon_qwerty/sil_cameroon_qwerty.kpj
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.css
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.keyman-touch-layout
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.kmn
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.kps
Labels: enhancement, keyboard

#1405 [1398_1b] Addressing a few keyboards with issue 1398
  legacy/d/dene_a/dene_a.keyboard_info
  legacy/d/dene_a/source/dene_a.kmp
  legacy/d/dene_c/dene_c.keyboard_info
  legacy/d/dene_c/source/dene_c.kmp
  legacy/g/grkpoly2/grkpoly2.keyboard_info
  legacy/g/grkpoly2/source/grkpoly2.kmp
  legacy/l/lushootseed/lushootseed.keyboard_info
  legacy/l/lushootseed/source/lushootseed.kmp
  legacy/o/orviet10/orviet10.keyboard_info
  legacy/o/orviet10/source/orviet10.kmp
  legacy/o/orvietviqr10/orvietviqr10.keyboard_info
  legacy/o/orvietviqr10/source/orvietviqr10.kmp
  legacy/p/phoneticmalayalam/phoneticmalayalam.keyboard_info
  legacy/p/phoneticmalayalam/source/phoneticmalayalam.kmp
Labels: infrastructure

#1406 [1398_isis_1a] Addressing a few keyboards with issue 1398
  legacy/isis/isis_kannada/isis_kannada.keyboard_info
  legacy/isis/isis_kannada/source/isis_kannada.kmp
  legacy/isis/isis_malayalam/isis_malayalam.keyboard_info
  legacy/isis/isis_malayalam/source/isis_malayalam.kmp
  legacy/isis/isis_oriya/isis_oriya.keyboard_info
  legacy/isis/isis_oriya/source/isis_oriya.kmp
  legacy/isis/isis_tamil/isis_tamil.keyboard_info
  legacy/isis/isis_tamil/source/isis_tamil.kmp
  legacy/isis/isis_telugu/isis_telugu.keyboard_info
  legacy/isis/isis_telugu/source/isis_telugu.kmp
Labels: infrastructure

#1408 [deprecated_js] Removed mobile from keyboard_info on deprecated keybo…
  legacy/d/dene_a/extras/README.txt
  legacy/d/dene_a/extras/dene_a.kps
  legacy/d/dene_c/extras/README.txt
  legacy/d/dene_c/extras/dene_c.kps
  legacy/d/dlia25bas/dlia25bas.keyboard_info
  legacy/d/dzongkha/dzongkha.keyboard_info
  legacy/g/georgian/georgian.keyboard_info
  legacy/g/grkpoly2/extras/README.txt
  legacy/g/grkpoly2/extras/grkpoly2.kps
  legacy/k/khmer10/khmer10.keyboard_info
  legacy/kbd/kbdurdu/kbdurdu.keyboard_info
  legacy/l/lushootseed/extras/README.txt
  legacy/l/lushootseed/extras/lushootseed.kps
  legacy/n/nuer13/nuer13.keyboard_info
  legacy/o/orviet10/extras/README.txt
  legacy/o/orviet10/extras/orviet10.kps
  legacy/o/orvietviqr10/extras/README.txt
  legacy/o/orvietviqr10/extras/orvietviqr10.kps
  legacy/p/phoneticmalayalam/extras/README.txt
  legacy/p/phoneticmalayalam/extras/phoneticmalayalam.kps
  legacy/v/venetian/venetian.keyboard_info
  legacy/y/yidish2k/yidish2k.keyboard_info
Labels: infrastructure

#1393 [bj_naskapi_classic] split off of naskeysdesktop
  release/bj/bj_naskapi_classic/HISTORY.md
  release/bj/bj_naskapi_classic/LICENSE.md
  release/bj/bj_naskapi_classic/README.md
  release/bj/bj_naskapi_classic/bj_naskapi_classic.keyboard_info
  release/bj/bj_naskapi_classic/bj_naskapi_classic.kpj
  release/bj/bj_naskapi_classic/source/bj_naskapi_classic.ico
  release/bj/bj_naskapi_classic/source/bj_naskapi_classic.kmn
  release/bj/bj_naskapi_classic/source/bj_naskapi_classic.kps
  release/bj/bj_naskapi_classic/source/bj_naskapi_classic.kvks
  release/bj/bj_naskapi_classic/source/help/bj_naskapi_classic.php
  release/bj/bj_naskapi_classic/source/readme.htm
  release/bj/bj_naskapi_classic/source/welcome/desktop_layout.png
  release/bj/bj_naskapi_classic/source/welcome/welcome.htm
  release/shared/fonts/cree/README.txt
Labels: keyboard

#1409 [bj_cree_west_latn] SRO (west)
  release/bj/bj_cree_west_latn/HISTORY.md
  release/bj/bj_cree_west_latn/LICENSE.md
  release/bj/bj_cree_west_latn/README.md
  release/bj/bj_cree_west_latn/bj_cree_west_latn.keyboard_info
  release/bj/bj_cree_west_latn/bj_cree_west_latn.kpj
  release/bj/bj_cree_west_latn/source/bj_cree_west_latn.keyman-touch-layout
  release/bj/bj_cree_west_latn/source/bj_cree_west_latn.kmn
  release/bj/bj_cree_west_latn/source/bj_cree_west_latn.kps
  release/bj/bj_cree_west_latn/source/bj_cree_west_latn.kvks
  release/bj/bj_cree_west_latn/source/help/bj_cree_west_latn.php
  release/bj/bj_cree_west_latn/source/readme.htm
  release/bj/bj_cree_west_latn/source/welcome/default_layout.png
  release/bj/bj_cree_west_latn/source/welcome/keyboard_layout.png
  release/bj/bj_cree_west_latn/source/welcome/longpress.png
  release/bj/bj_cree_west_latn/source/welcome/numeric_layout.png
  release/bj/bj_cree_west_latn/source/welcome/shift_layout.png
  release/bj/bj_cree_west_latn/source/welcome/welcome.htm
Labels: keyboard

#1410 [bj_cree_east_latn] Hâts (east) keyboard
  release/bj/bj_cree_east_latn/HISTORY.md
  release/bj/bj_cree_east_latn/LICENSE.md
  release/bj/bj_cree_east_latn/README.md
  release/bj/bj_cree_east_latn/bj_cree_east_latn.keyboard_info
  release/bj/bj_cree_east_latn/bj_cree_east_latn.kpj
  release/bj/bj_cree_east_latn/source/bj_cree_east_latn.ico
  release/bj/bj_cree_east_latn/source/bj_cree_east_latn.keyman-touch-layout
  release/bj/bj_cree_east_latn/source/bj_cree_east_latn.kmn
  release/bj/bj_cree_east_latn/source/bj_cree_east_latn.kps
  release/bj/bj_cree_east_latn/source/bj_cree_east_latn.kvks
  release/bj/bj_cree_east_latn/source/help/bj_cree_east_latn.php
  release/bj/bj_cree_east_latn/source/readme.htm
  release/bj/bj_cree_east_latn/source/welcome/default_layout.png
  release/bj/bj_cree_east_latn/source/welcome/keyboard_layout.png
  release/bj/bj_cree_east_latn/source/welcome/longpress.png
  release/bj/bj_cree_east_latn/source/welcome/numeric_layout.png
  release/bj/bj_cree_east_latn/source/welcome/shift_layout.png
  release/bj/bj_cree_east_latn/source/welcome/welcome.htm
Labels: keyboard

#1407 [bj_cree_east_james_bay] CreeBoard
  legacy/c/creekeysdesktop3/DEPRECATED.md
  release/bj/bj_cree_east_james_bay/HISTORY.md
  release/bj/bj_cree_east_james_bay/LICENSE.md
  release/bj/bj_cree_east_james_bay/README.md
  release/bj/bj_cree_east_james_bay/bj_cree_east_james_bay.keyboard_info
  release/bj/bj_cree_east_james_bay/bj_cree_east_james_bay.kpj
  release/bj/bj_cree_east_james_bay/source/bj_cree_east_james_bay.kmn
  release/bj/bj_cree_east_james_bay/source/bj_cree_east_james_bay.kps
  release/bj/bj_cree_east_james_bay/source/bj_cree_east_james_bay.kvks
  release/bj/bj_cree_east_james_bay/source/help/bj_cree_east_james_bay.php
  release/bj/bj_cree_east_james_bay/source/readme.htm
  release/bj/bj_cree_east_james_bay/source/weclome/keyboard_layout.png
  release/bj/bj_cree_east_james_bay/source/weclome/welcome.htm
Labels: keyboard

#1401 GFF Amharic v2.0
  release/gff/gff_amharic/HISTORY.md
  release/gff/gff_amharic/README.md
  release/gff/gff_amharic/gff_amharic.kpj
  release/gff/gff_amharic/source/gff_amharic.keyman-touch-layout
  release/gff/gff_amharic/source/gff_amharic.kmn
  release/gff/gff_amharic/source/gff_amharic.kps
  release/gff/gff_amharic/source/help/gff_amharic.php
Labels: keyboard, new

#1414 [bj_help] Syntax for mobile layout fixed
  release/bj/bj_cree_east_latn/source/help/bj_cree_east_latn.php
  release/bj/bj_cree_west_latn/source/help/bj_cree_west_latn.php
Labels: enhancement

#1415 [1398_desktop] Change support from mobile to just desktop
  legacy/a/armenian/armenian.keyboard_info
  legacy/isis/isis_bangla/isis_bangla.keyboard_info
  legacy/isis/isis_devanagari/isis_devanagari.keyboard_info
  legacy/isis/isis_gujarati/isis_gujarati.keyboard_info
  legacy/isis/isis_gurmukhi/isis_gurmukhi.keyboard_info
  legacy/m/mbsindhi/mbsindhi.keyboard_info
Labels: infrastructure

#1417 [bj_naskapi_classic] Remove .js from package and bump version
  release/bj/bj_naskapi_classic/HISTORY.md
  release/bj/bj_naskapi_classic/README.md
  release/bj/bj_naskapi_classic/bj_naskapi_classic.kpj
  release/bj/bj_naskapi_classic/source/bj_naskapi_classic.kmn
  release/bj/bj_naskapi_classic/source/bj_naskapi_classic.kps
Labels: infrastructure

#1416 [bj_innu_phonemic] Add new keyboard on behalf of author
  release/bj/bj_innu_phonemic/HISTORY.md
  release/bj/bj_innu_phonemic/LICENSE.md
  release/bj/bj_innu_phonemic/README.md
  release/bj/bj_innu_phonemic/bj_innu_phonemic.keyboard_info
  release/bj/bj_innu_phonemic/bj_innu_phonemic.kpj
  release/bj/bj_innu_phonemic/source/bj_innu_phonemic.ico
  release/bj/bj_innu_phonemic/source/bj_innu_phonemic.keyman-touch-layout
  release/bj/bj_innu_phonemic/source/bj_innu_phonemic.kmn
  release/bj/bj_innu_phonemic/source/bj_innu_phonemic.kps
  release/bj/bj_innu_phonemic/source/bj_innu_phonemic.kvks
  release/bj/bj_innu_phonemic/source/help/bj_innu_phonemic.php
  release/bj/bj_innu_phonemic/source/readme.htm
  release/bj/bj_innu_phonemic/source/welcome/LayoutU_.png
  release/bj/bj_innu_phonemic/source/welcome/LayoutU_RA.png
  release/bj/bj_innu_phonemic/source/welcome/LayoutU_S.png
  release/bj/bj_innu_phonemic/source/welcome/LayoutU_SRA.png
  release/bj/bj_innu_phonemic/source/welcome/welcome.htm
Labels: keyboard, new

#1413 [bj_innu] Innu keyboard submitted on behalf of author
  release/bj/bj_innu/HISTORY.md
  release/bj/bj_innu/LICENSE.md
  release/bj/bj_innu/README.md
  release/bj/bj_innu/bj_innu.keyboard_info
  release/bj/bj_innu/bj_innu.kpj
  release/bj/bj_innu/source/bj_innu.ico
  release/bj/bj_innu/source/bj_innu.keyman-touch-layout
  release/bj/bj_innu/source/bj_innu.kmn
  release/bj/bj_innu/source/bj_innu.kps
  release/bj/bj_innu/source/bj_innu.kvks
  release/bj/bj_innu/source/help/bj_innu.php
  release/bj/bj_innu/source/readme.htm
  release/bj/bj_innu/source/welcome.htm
Labels: keyboard, new

#1411 [bj_cree_woods] Western Cree (TH-Woods) keyboard
  release/a/aksarabali_panlex/aksarabali_panlex.kpj
  release/bj/bj_cree_woods/HISTORY.md
  release/bj/bj_cree_woods/LICENSE.md
  release/bj/bj_cree_woods/README.md
  release/bj/bj_cree_woods/bj_cree_woods.keyboard_info
  release/bj/bj_cree_woods/bj_cree_woods.kpj
  release/bj/bj_cree_woods/source/bj_cree_woods.kmn
  release/bj/bj_cree_woods/source/bj_cree_woods.kps
  release/bj/bj_cree_woods/source/bj_cree_woods.kvks
  release/bj/bj_cree_woods/source/help/bj_cree_woods.php
  release/bj/bj_cree_woods/source/readme.htm
  release/bj/bj_cree_woods/source/welcome/keyboard_layout.png
  release/bj/bj_cree_woods/source/welcome/welcome.htm
Labels: keyboard

#1420 [bj_innu_phonemic] Fix help header
  release/bj/bj_innu_phonemic/source/help/bj_innu_phonemic.php
Labels: infrastructure
