Repository keymanapp/keyboards, pull requests merged in 2020-01, with the labels that each got.

#1011 [basic_kbdycl] Serbian Latin Basic Win10 import
  legacy/kbd/kbdycl/DEPRECATED.md
  legacy/s/serbian_latin/DEPRECATED.md
  release/basic/basic_kbdycl/HISTORY.md
  release/basic/basic_kbdycl/LICENSE.md
  release/basic/basic_kbdycl/README.md
  release/basic/basic_kbdycl/basic_kbdycl.keyboard_info
  release/basic/basic_kbdycl/basic_kbdycl.kpj
  release/basic/basic_kbdycl/source/basic_kbdycl.ico
  release/basic/basic_kbdycl/source/basic_kbdycl.keyman-touch-layout
  release/basic/basic_kbdycl/source/basic_kbdycl.kmn
  release/basic/basic_kbdycl/source/basic_kbdycl.kps
  release/basic/basic_kbdycl/source/basic_kbdycl.kvks
  release/basic/basic_kbdycl/source/help/basic_kbdycl.php
  release/basic/basic_kbdycl/source/readme.htm
  release/basic/basic_kbdycl/source/welcome/LayoutU_.png
  release/basic/basic_kbdycl/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdycl/source/welcome/LayoutU_S.png
  release/basic/basic_kbdycl/source/welcome/welcome.htm
Labels: keyboard, new

#1012 [haroi] Add additional rules to handle either NFC or NFD vowels
  release/h/haroi/HISTORY.md
  release/h/haroi/README.md
  release/h/haroi/haroi.keyboard_info
  release/h/haroi/haroi.kpj
  release/h/haroi/source/haroi.kmn
  release/h/haroi/source/haroi.kps
  release/h/haroi/source/help/haroi.php
  release/h/haroi/source/readme.htm
  release/h/haroi/source/welcome/welcome.htm
Labels: enhancement

#1010 [basic_kbdda] Danish Basic Win10 import
  legacy/d/danish/DEPRECATED.md
  legacy/kbd/kbdda/DEPRECATED.md
  release/basic/basic_kbdda/HISTORY.md
  release/basic/basic_kbdda/LICENSE.md
  release/basic/basic_kbdda/README.md
  release/basic/basic_kbdda/basic_kbdda.keyboard_info
  release/basic/basic_kbdda/basic_kbdda.kpj
  release/basic/basic_kbdda/source/basic_kbdda.ico
  release/basic/basic_kbdda/source/basic_kbdda.keyman-touch-layout
  release/basic/basic_kbdda/source/basic_kbdda.kmn
  release/basic/basic_kbdda/source/basic_kbdda.kps
  release/basic/basic_kbdda/source/basic_kbdda.kvks
  release/basic/basic_kbdda/source/help/basic_kbdda.php
  release/basic/basic_kbdda/source/readme.htm
  release/basic/basic_kbdda/source/welcome/LayoutU_.png
  release/basic/basic_kbdda/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdda/source/welcome/LayoutU_S.png
  release/basic/basic_kbdda/source/welcome/welcome.htm
Labels: keyboard, new

#1013 [gff-gez-powerpack-7] This keyboard was not actually deprecated
  legacy/gff/gff-gez-powerpack-7/DEPRECATED.md
Labels: infrastructure

#1014 [basic_kbdsp] Win10 import of Spanish Basic
  legacy/kbd/kbdsp/DEPRECATED.md
  legacy/s/spanish/DEPRECATED.md
  release/basic/basic_kbdsp/HISTORY.md
  release/basic/basic_kbdsp/LICENSE.md
  release/basic/basic_kbdsp/README.md
  release/basic/basic_kbdsp/basic_kbdsp.keyboard_info
  release/basic/basic_kbdsp/basic_kbdsp.kpj
  release/basic/basic_kbdsp/source/basic_kbdsp.ico
  release/basic/basic_kbdsp/source/basic_kbdsp.keyman-touch-layout
  release/basic/basic_kbdsp/source/basic_kbdsp.kmn
  release/basic/basic_kbdsp/source/basic_kbdsp.kps
  release/basic/basic_kbdsp/source/basic_kbdsp.kvks
  release/basic/basic_kbdsp/source/help/basic_kbdsp.php
  release/basic/basic_kbdsp/source/readme.htm
  release/basic/basic_kbdsp/source/welcome/LayoutU_.png
  release/basic/basic_kbdsp/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsp/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsp/source/welcome/welcome.htm
Labels: keyboard, new

#960 [farsiman] New Keyboard
  release/f/farsiman/HISTORY.md
  release/f/farsiman/LICENSE.md
  release/f/farsiman/README.md
  release/f/farsiman/farsiman.keyboard_info
  release/f/farsiman/farsiman.kpj
  release/f/farsiman/source/farsiman.css
  release/f/farsiman/source/farsiman.ico
  release/f/farsiman/source/farsiman.jpg
  release/f/farsiman/source/farsiman.keyman-touch-layout
  release/f/farsiman/source/farsiman.kmn
  release/f/farsiman/source/farsiman.kps
  release/f/farsiman/source/farsiman.kvks
  release/f/farsiman/source/help/farsiman.php
  release/f/farsiman/source/readme.htm
  release/f/farsiman/source/welcome/desktop_layout.png
  release/f/farsiman/source/welcome/touch_default.png
  release/f/farsiman/source/welcome/touch_longpress.png
  release/f/farsiman/source/welcome/touch_numeric.png
  release/f/farsiman/source/welcome/touch_shift.png
  release/f/farsiman/source/welcome/welcome.htm
Labels: keyboard

#1015 [basic_kbdne] Dutch Basic Win10 import
  legacy/d/dutch/DEPRECATED.md
  legacy/kbd/kbdne/DEPRECATED.md
  release/basic/basic_kbdne/HISTORY.md
  release/basic/basic_kbdne/LICENSE.md
  release/basic/basic_kbdne/README.md
  release/basic/basic_kbdne/basic_kbdne.keyboard_info
  release/basic/basic_kbdne/basic_kbdne.kpj
  release/basic/basic_kbdne/source/basic_kbdne.ico
  release/basic/basic_kbdne/source/basic_kbdne.keyman-touch-layout
  release/basic/basic_kbdne/source/basic_kbdne.kmn
  release/basic/basic_kbdne/source/basic_kbdne.kps
  release/basic/basic_kbdne/source/basic_kbdne.kvks
  release/basic/basic_kbdne/source/help/basic_kbdne.php
  release/basic/basic_kbdne/source/readme.htm
  release/basic/basic_kbdne/source/welcome/LayoutU_.png
  release/basic/basic_kbdne/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdne/source/welcome/LayoutU_S.png
  release/basic/basic_kbdne/source/welcome/welcome.htm
Labels: keyboard, new

#1016 [basic_kbdgkl] Greek Latin Basic Win10 import
  legacy/g/greek_latin/DEPRECATED.md
  legacy/kbd/kbdgkl/DEPRECATED.md
  release/basic/basic_kbdgkl/HISTORY.md
  release/basic/basic_kbdgkl/LICENSE.md
  release/basic/basic_kbdgkl/README.md
  release/basic/basic_kbdgkl/basic_kbdgkl.keyboard_info
  release/basic/basic_kbdgkl/basic_kbdgkl.kpj
  release/basic/basic_kbdgkl/source/basic_kbdgkl.ico
  release/basic/basic_kbdgkl/source/basic_kbdgkl.keyman-touch-layout
  release/basic/basic_kbdgkl/source/basic_kbdgkl.kmn
  release/basic/basic_kbdgkl/source/basic_kbdgkl.kps
  release/basic/basic_kbdgkl/source/basic_kbdgkl.kvks
  release/basic/basic_kbdgkl/source/help/basic_kbdgkl.php
  release/basic/basic_kbdgkl/source/readme.htm
  release/basic/basic_kbdgkl/source/welcome/LayoutU_.png
  release/basic/basic_kbdgkl/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdgkl/source/welcome/LayoutU_S.png
  release/basic/basic_kbdgkl/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdgkl/source/welcome/welcome.htm
Labels: keyboard, new

#1017 [basic_kbdes] Spanish Variation Basic Win10 import
  legacy/kbd/kbdes/DEPRECATED.md
  legacy/s/spanish_var/DEPRECATED.md
  release/basic/basic_kbdes/HISTORY.md
  release/basic/basic_kbdes/LICENSE.md
  release/basic/basic_kbdes/README.md
  release/basic/basic_kbdes/basic_kbdes.keyboard_info
  release/basic/basic_kbdes/basic_kbdes.kpj
  release/basic/basic_kbdes/source/basic_kbdes.ico
  release/basic/basic_kbdes/source/basic_kbdes.keyman-touch-layout
  release/basic/basic_kbdes/source/basic_kbdes.kmn
  release/basic/basic_kbdes/source/basic_kbdes.kps
  release/basic/basic_kbdes/source/basic_kbdes.kvks
  release/basic/basic_kbdes/source/help/basic_kbdes.php
  release/basic/basic_kbdes/source/readme.htm
  release/basic/basic_kbdes/source/welcome/LayoutU_.png
  release/basic/basic_kbdes/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdes/source/welcome/LayoutU_S.png
  release/basic/basic_kbdes/source/welcome/welcome.htm
Labels: keyboard, new

#1020 [basic_kbdes_php] fix title of help file
  release/basic/basic_kbdes/source/help/basic_kbdes.php
Labels: enhancement, keyboard

#1025 [basic_kbdgae] Gaelic Basic Win10 import
  legacy/g/gaelic/DEPRECATED.md
  legacy/kbd/kbdgae/DEPRECATED.md
  release/basic/basic_kbdgae/HISTORY.md
  release/basic/basic_kbdgae/LICENSE.md
  release/basic/basic_kbdgae/README.md
  release/basic/basic_kbdgae/basic_kbdgae.keyboard_info
  release/basic/basic_kbdgae/basic_kbdgae.kpj
  release/basic/basic_kbdgae/source/basic_kbdgae.ico
  release/basic/basic_kbdgae/source/basic_kbdgae.keyman-touch-layout
  release/basic/basic_kbdgae/source/basic_kbdgae.kmn
  release/basic/basic_kbdgae/source/basic_kbdgae.kps
  release/basic/basic_kbdgae/source/basic_kbdgae.kvks
  release/basic/basic_kbdgae/source/help/basic_kbdgae.php
  release/basic/basic_kbdgae/source/readme.htm
  release/basic/basic_kbdgae/source/welcome/LayoutU_.png
  release/basic/basic_kbdgae/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdgae/source/welcome/LayoutU_S.png
  release/basic/basic_kbdgae/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdgae/source/welcome/welcome.htm
Labels: keyboard, new

#1021 [gff_gurage_php] Help files for GFF Gurage and Shavian IGC
  release/e/english_shavian_igc/source/help/english_shavian_igc.php
  release/e/english_shavian_igc/source/help/shavian_alphabet_reading_key.png
  release/gff/gff_gurage/source/help/gff_gurage.php
Labels: enhancement, keyboard

#1024 [gff_gurage_amh_pkg] Update to use local build folder and added
  release/packages/gff_gurage_and_amharic/HISTORY.md
  release/packages/gff_gurage_and_amharic/LICENSE.md
  release/packages/gff_gurage_and_amharic/README.md
  release/packages/gff_gurage_and_amharic/gff_gurage_and_amharic.keyboard_info
  release/packages/gff_gurage_and_amharic/gff_gurage_and_amharic.kpj
  release/packages/gff_gurage_and_amharic/source/gff_amharic_welcome.htm
  release/packages/gff_gurage_and_amharic/source/gff_gurage_and_amharic.kps
  release/packages/gff_gurage_and_amharic/source/gff_gurage_welcome.htm
  release/packages/gff_gurage_and_amharic/source/help/gff_gurage_and_amharic.php
  release/packages/gff_gurage_and_amharic/source/readme.htm
  release/packages/gff_gurage_and_amharic/source/welcome.htm
Labels: enhancement, keyboard

#1029 [burushaski_girminas_php] Add help file
  release/b/burushaski_girminas/source/help/burushaski_girminas.php
Labels: enhancement, keyboard

#1030 [basic_kbdfi] Finnish Basic Win10 import
  legacy/f/finnish/DEPRECATED.md
  legacy/kbd/kbdfi/DEPRECATED.md
  release/basic/basic_kbdfi/HISTORY.md
  release/basic/basic_kbdfi/LICENSE.md
  release/basic/basic_kbdfi/README.md
  release/basic/basic_kbdfi/basic_kbdfi.keyboard_info
  release/basic/basic_kbdfi/basic_kbdfi.kpj
  release/basic/basic_kbdfi/source/basic_kbdfi.ico
  release/basic/basic_kbdfi/source/basic_kbdfi.keyman-touch-layout
  release/basic/basic_kbdfi/source/basic_kbdfi.kmn
  release/basic/basic_kbdfi/source/basic_kbdfi.kps
  release/basic/basic_kbdfi/source/basic_kbdfi.kvks
  release/basic/basic_kbdfi/source/help/basic_kbdfi.php
  release/basic/basic_kbdfi/source/readme.htm
  release/basic/basic_kbdfi/source/welcome/LayoutU_.png
  release/basic/basic_kbdfi/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdfi/source/welcome/LayoutU_S.png
  release/basic/basic_kbdfi/source/welcome/welcome.htm
Labels: keyboard, new

#1031 [basic_kbdpo] Portuguese Basic Win10 import
  legacy/kbd/kbdpo/DEPRECATED.md
  legacy/p/portuguese/DEPRECATED.md
  release/basic/basic_kbdpo/HISTORY.md
  release/basic/basic_kbdpo/LICENSE.md
  release/basic/basic_kbdpo/README.md
  release/basic/basic_kbdpo/basic_kbdpo.keyboard_info
  release/basic/basic_kbdpo/basic_kbdpo.kpj
  release/basic/basic_kbdpo/source/basic_kbdpo.ico
  release/basic/basic_kbdpo/source/basic_kbdpo.keyman-touch-layout
  release/basic/basic_kbdpo/source/basic_kbdpo.kmn
  release/basic/basic_kbdpo/source/basic_kbdpo.kps
  release/basic/basic_kbdpo/source/basic_kbdpo.kvks
  release/basic/basic_kbdpo/source/help/basic_kbdpo.php
  release/basic/basic_kbdpo/source/readme.htm
  release/basic/basic_kbdpo/source/welcome/LayoutU_.png
  release/basic/basic_kbdpo/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdpo/source/welcome/LayoutU_S.png
  release/basic/basic_kbdpo/source/welcome/welcome.htm
Labels: keyboard, new

#574 [sil_cameroon_qwerty] Updating Styles and OSK
  release/sil/sil_cameroon_azerty/HISTORY.md
  release/sil/sil_cameroon_azerty/LICENSE.md
  release/sil/sil_cameroon_azerty/README.md
  release/sil/sil_cameroon_azerty/sil_cameroon_azerty.kpj
  release/sil/sil_cameroon_azerty/source/help/globe.png
  release/sil/sil_cameroon_azerty/source/help/helpIcon.png
  release/sil/sil_cameroon_azerty/source/help/icon.png
  release/sil/sil_cameroon_azerty/source/help/keys.png
  release/sil/sil_cameroon_azerty/source/help/longpress-azerty.png
  release/sil/sil_cameroon_azerty/source/help/modkeys-en-a.png
  release/sil/sil_cameroon_azerty/source/help/modkeys-fr-a.png
  release/sil/sil_cameroon_azerty/source/help/modkeys-fr.png
  release/sil/sil_cameroon_azerty/source/help/modkeys.png
  release/sil/sil_cameroon_azerty/source/help/sil_cameroon_azerty.php
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kmn
  release/sil/sil_cameroon_azerty/source/sil_cameroon_azerty.kps
  release/sil/sil_cameroon_azerty/source/welcome/globe.png
  release/sil/sil_cameroon_azerty/source/welcome/helpIcon.png
  release/sil/sil_cameroon_azerty/source/welcome/icon.png
  release/sil/sil_cameroon_azerty/source/welcome/keys.png
  release/sil/sil_cameroon_azerty/source/welcome/longpress-azerty.png
  release/sil/sil_cameroon_azerty/source/welcome/modkeys-en-a.png
  release/sil/sil_cameroon_azerty/source/welcome/modkeys-fr-a.png
  release/sil/sil_cameroon_azerty/source/welcome/modkeys-fr.png
  release/sil/sil_cameroon_azerty/source/welcome/modkeys.png
  release/sil/sil_cameroon_azerty/source/welcome/welcome.htm
  release/sil/sil_cameroon_qwerty/HISTORY.md
  release/sil/sil_cameroon_qwerty/LICENSE.md
  release/sil/sil_cameroon_qwerty/README.md
  release/sil/sil_cameroon_qwerty/sil_cameroon_qwerty.keyboard_info
  release/sil/sil_cameroon_qwerty/sil_cameroon_qwerty.kpj
  release/sil/sil_cameroon_qwerty/source/help/globe.png
  release/sil/sil_cameroon_qwerty/source/help/helpIcon.png
  release/sil/sil_cameroon_qwerty/source/help/icon.png
  release/sil/sil_cameroon_qwerty/source/help/keys.png
  release/sil/sil_cameroon_qwerty/source/help/longpress-qwerty.png
  release/sil/sil_cameroon_qwerty/source/help/modkeys-en-q.png
  release/sil/sil_cameroon_qwerty/source/help/modkeys-fr-q.png
  release/sil/sil_cameroon_qwerty/source/help/modkeys-fr.png
  release/sil/sil_cameroon_qwerty/source/help/modkeys.png
  release/sil/sil_cameroon_qwerty/source/help/sil_cameroon_qwerty.php
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.css
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.keyman-touch-layout
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.kmn
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.kps
  release/sil/sil_cameroon_qwerty/source/sil_cameroon_qwerty.kvks
  release/sil/sil_cameroon_qwerty/source/welcome/globe.png
  release/sil/sil_cameroon_qwerty/source/welcome/helpIcon.png
  release/sil/sil_cameroon_qwerty/source/welcome/icon.png
  release/sil/sil_cameroon_qwerty/source/welcome/keys.png
  release/sil/sil_cameroon_qwerty/source/welcome/longpress-qwerty.png
  release/sil/sil_cameroon_qwerty/source/welcome/modkeys-en-q.png
  release/sil/sil_cameroon_qwerty/source/welcome/modkeys-fr-q.png
  release/sil/sil_cameroon_qwerty/source/welcome/modkeys-fr.png
  release/sil/sil_cameroon_qwerty/source/welcome/modkeys.png
  release/sil/sil_cameroon_qwerty/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1040 [basic_kbdgr1] German (IBM) Basic Win10 import
  legacy/g/german_ibm/DEPRECATED.md
  legacy/kbd/kbdgr1/DEPRECATED.md
  release/basic/basic_kbdgr1/HISTORY.md
  release/basic/basic_kbdgr1/LICENSE.md
  release/basic/basic_kbdgr1/README.md
  release/basic/basic_kbdgr1/basic_kbdgr1.keyboard_info
  release/basic/basic_kbdgr1/basic_kbdgr1.kpj
  release/basic/basic_kbdgr1/source/basic_kbdgr1.ico
  release/basic/basic_kbdgr1/source/basic_kbdgr1.keyman-touch-layout
  release/basic/basic_kbdgr1/source/basic_kbdgr1.kmn
  release/basic/basic_kbdgr1/source/basic_kbdgr1.kps
  release/basic/basic_kbdgr1/source/basic_kbdgr1.kvks
  release/basic/basic_kbdgr1/source/help/basic_kbdgr1.php
  release/basic/basic_kbdgr1/source/readme.htm
  release/basic/basic_kbdgr1/source/welcome/LayoutU_.png
  release/basic/basic_kbdgr1/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdgr1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdgr1/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdgr1/source/welcome/welcome.htm
Labels: keyboard, new

#1050 [burushaski_girminas] Update help file
  release/b/burushaski_girminas/source/help/burushaski_girminas.php
  release/b/burushaski_girminas/source/help/welcome_html_2feda655.jpg
Labels: enhancement, keyboard

#1032 [basic_kbdtuf] Turkish F Basic Win10 import
  legacy/kbd/kbdtuf/DEPRECATED.md
  legacy/t/turkish_f/DEPRECATED.md
  release/basic/basic_kbdtuf/HISTORY.md
  release/basic/basic_kbdtuf/LICENSE.md
  release/basic/basic_kbdtuf/README.md
  release/basic/basic_kbdtuf/basic_kbdtuf.keyboard_info
  release/basic/basic_kbdtuf/basic_kbdtuf.kpj
  release/basic/basic_kbdtuf/source/basic_kbdtuf.ico
  release/basic/basic_kbdtuf/source/basic_kbdtuf.keyman-touch-layout
  release/basic/basic_kbdtuf/source/basic_kbdtuf.kmn
  release/basic/basic_kbdtuf/source/basic_kbdtuf.kps
  release/basic/basic_kbdtuf/source/basic_kbdtuf.kvks
  release/basic/basic_kbdtuf/source/help/basic_kbdtuf.php
  release/basic/basic_kbdtuf/source/readme.htm
  release/basic/basic_kbdtuf/source/welcome/LayoutU_.png
  release/basic/basic_kbdtuf/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdtuf/source/welcome/LayoutU_S.png
  release/basic/basic_kbdtuf/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdtuf/source/welcome/welcome.htm
Labels: keyboard, new

#1049 [balochi_latin] Initial version
  release/b/balochi_latin/HISTORY.md
  release/b/balochi_latin/LICENSE.md
  release/b/balochi_latin/README.md
  release/b/balochi_latin/balochi_latin.keyboard_info
  release/b/balochi_latin/balochi_latin.kpj
  release/b/balochi_latin/source/balochi_latin.ico
  release/b/balochi_latin/source/balochi_latin.keyman-touch-layout
  release/b/balochi_latin/source/balochi_latin.kmn
  release/b/balochi_latin/source/balochi_latin.kps
  release/b/balochi_latin/source/balochi_latin.kvks
  release/b/balochi_latin/source/help/balochi_latin.php
  release/b/balochi_latin/source/latinU_.png
  release/b/balochi_latin/source/latinU_S.png
  release/b/balochi_latin/source/readme.htm
  release/b/balochi_latin/source/welcome.htm
Labels: keyboard, new

#1037 [basic_kbdgrlnd] Greenlandic Basic Win10 import
  legacy/g/greenlandic/DEPRECATED.md
  legacy/kbd/kbdgrlnd/DEPRECATED.md
  release/basic/basic_kbdgrlnd/HISTORY.md
  release/basic/basic_kbdgrlnd/LICENSE.md
  release/basic/basic_kbdgrlnd/README.md
  release/basic/basic_kbdgrlnd/basic_kbdgrlnd.keyboard_info
  release/basic/basic_kbdgrlnd/basic_kbdgrlnd.kpj
  release/basic/basic_kbdgrlnd/source/basic_kbdgrlnd.ico
  release/basic/basic_kbdgrlnd/source/basic_kbdgrlnd.keyman-touch-layout
  release/basic/basic_kbdgrlnd/source/basic_kbdgrlnd.kmn
  release/basic/basic_kbdgrlnd/source/basic_kbdgrlnd.kps
  release/basic/basic_kbdgrlnd/source/basic_kbdgrlnd.kvks
  release/basic/basic_kbdgrlnd/source/help/basic_kbdgrlnd.php
  release/basic/basic_kbdgrlnd/source/readme.htm
  release/basic/basic_kbdgrlnd/source/welcome/LayoutU_.png
  release/basic/basic_kbdgrlnd/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdgrlnd/source/welcome/LayoutU_S.png
  release/basic/basic_kbdgrlnd/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdgrlnd/source/welcome/welcome.htm
Labels: keyboard, new

#1046 [basic_kbdsw] Swedish Basic Win10 import
  legacy/kbd/kbdsw/DEPRECATED.md
  legacy/s/swedish/DEPRECATED.md
  release/basic/basic_kbdsw/HISTORY.md
  release/basic/basic_kbdsw/LICENSE.md
  release/basic/basic_kbdsw/README.md
  release/basic/basic_kbdsw/basic_kbdsw.keyboard_info
  release/basic/basic_kbdsw/basic_kbdsw.kpj
  release/basic/basic_kbdsw/source/basic_kbdsw.ico
  release/basic/basic_kbdsw/source/basic_kbdsw.keyman-touch-layout
  release/basic/basic_kbdsw/source/basic_kbdsw.kmn
  release/basic/basic_kbdsw/source/basic_kbdsw.kps
  release/basic/basic_kbdsw/source/basic_kbdsw.kvks
  release/basic/basic_kbdsw/source/help/basic_kbdsw.php
  release/basic/basic_kbdsw/source/readme.htm
  release/basic/basic_kbdsw/source/welcome/LayoutU_.png
  release/basic/basic_kbdsw/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdsw/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsw/source/welcome/welcome.htm
Labels: keyboard, new

#1039 [basic_kbdest] Estonian Basic Win10 import
  legacy/e/estonian/DEPRECATED.md
  legacy/kbd/kbdest/DEPRECATED.md
  release/basic/basic_kbdest/HISTORY.md
  release/basic/basic_kbdest/LICENSE.md
  release/basic/basic_kbdest/README.md
  release/basic/basic_kbdest/basic_kbdest.keyboard_info
  release/basic/basic_kbdest/basic_kbdest.kpj
  release/basic/basic_kbdest/source/basic_kbdest.ico
  release/basic/basic_kbdest/source/basic_kbdest.keyman-touch-layout
  release/basic/basic_kbdest/source/basic_kbdest.kmn
  release/basic/basic_kbdest/source/basic_kbdest.kps
  release/basic/basic_kbdest/source/basic_kbdest.kvks
  release/basic/basic_kbdest/source/help/basic_kbdest.php
  release/basic/basic_kbdest/source/readme.htm
  release/basic/basic_kbdest/source/welcome/LayoutU_.png
  release/basic/basic_kbdest/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdest/source/welcome/LayoutU_S.png
  release/basic/basic_kbdest/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdest/source/welcome/welcome.htm
Labels: keyboard, new

#1033 [basic_kbdtuq] Turkish Q Basic Win10 import
  legacy/kbd/kbdtuq/DEPRECATED.md
  legacy/t/turkish_q/DEPRECATED.md
  release/basic/basic_kbdtuq/HISTORY.md
  release/basic/basic_kbdtuq/LICENSE.md
  release/basic/basic_kbdtuq/README.md
  release/basic/basic_kbdtuq/basic_kbdtuq.keyboard_info
  release/basic/basic_kbdtuq/basic_kbdtuq.kpj
  release/basic/basic_kbdtuq/source/basic_kbdtuq.ico
  release/basic/basic_kbdtuq/source/basic_kbdtuq.keyman-touch-layout
  release/basic/basic_kbdtuq/source/basic_kbdtuq.kmn
  release/basic/basic_kbdtuq/source/basic_kbdtuq.kps
  release/basic/basic_kbdtuq/source/basic_kbdtuq.kvks
  release/basic/basic_kbdtuq/source/help/basic_kbdtuq.php
  release/basic/basic_kbdtuq/source/readme.htm
  release/basic/basic_kbdtuq/source/welcome/LayoutU_.png
  release/basic/basic_kbdtuq/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdtuq/source/welcome/LayoutU_S.png
  release/basic/basic_kbdtuq/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdtuq/source/welcome/welcome.htm
Labels: keyboard, new

#1034 [basic_kbdmaori] Maori Basic Win10 import
  legacy/kbd/kbdmaori/DEPRECATED.md
  legacy/m/maori/DEPRECATED.md
  release/basic/basic_kbdmaori/HISTORY.md
  release/basic/basic_kbdmaori/LICENSE.md
  release/basic/basic_kbdmaori/README.md
  release/basic/basic_kbdmaori/basic_kbdmaori.keyboard_info
  release/basic/basic_kbdmaori/basic_kbdmaori.kpj
  release/basic/basic_kbdmaori/source/basic_kbdmaori.ico
  release/basic/basic_kbdmaori/source/basic_kbdmaori.keyman-touch-layout
  release/basic/basic_kbdmaori/source/basic_kbdmaori.kmn
  release/basic/basic_kbdmaori/source/basic_kbdmaori.kps
  release/basic/basic_kbdmaori/source/basic_kbdmaori.kvks
  release/basic/basic_kbdmaori/source/help/basic_kbdmaori.php
  release/basic/basic_kbdmaori/source/readme.htm
  release/basic/basic_kbdmaori/source/welcome/LayoutU_.png
  release/basic/basic_kbdmaori/source/welcome/LayoutU_S.png
  release/basic/basic_kbdmaori/source/welcome/welcome.htm
Labels: keyboard, new

#1047 [basic_kbdusx] United States Int Basic Win10 import
  legacy/kbd/kbdusx/DEPRECATED.md
  legacy/u/us_int/DEPRECATED.md
  release/basic/basic_kbdusx/HISTORY.md
  release/basic/basic_kbdusx/LICENSE.md
  release/basic/basic_kbdusx/README.md
  release/basic/basic_kbdusx/basic_kbdusx.keyboard_info
  release/basic/basic_kbdusx/basic_kbdusx.kpj
  release/basic/basic_kbdusx/source/basic_kbdusx.ico
  release/basic/basic_kbdusx/source/basic_kbdusx.keyman-touch-layout
  release/basic/basic_kbdusx/source/basic_kbdusx.kmn
  release/basic/basic_kbdusx/source/basic_kbdusx.kps
  release/basic/basic_kbdusx/source/basic_kbdusx.kvks
  release/basic/basic_kbdusx/source/help/basic_kbdusx.php
  release/basic/basic_kbdusx/source/readme.htm
  release/basic/basic_kbdusx/source/welcome/LayoutU_.png
  release/basic/basic_kbdusx/source/welcome/LayoutU_RA.png
  release/basic/basic_kbdusx/source/welcome/LayoutU_S.png
  release/basic/basic_kbdusx/source/welcome/LayoutU_SRA.png
  release/basic/basic_kbdusx/source/welcome/welcome.htm
Labels: keyboard, new
