Repository keymanapp/keyboards, pull requests merged in 2021-06, with the labels that each got.

#1555 [aksarabali_panlex] Update help file to call a Balinese font
  release/a/aksarabali_panlex/README.md
  release/a/aksarabali_panlex/source/help/aksarabali_panlex.php
Labels: enhancement, keyboard

#1549 [nrc_makah] initial upload
  release/nrc/nrc_makah/HISTORY.md
  release/nrc/nrc_makah/LICENSE.md
  release/nrc/nrc_makah/README.md
  release/nrc/nrc_makah/nrc_makah.keyboard_info
  release/nrc/nrc_makah/nrc_makah.kpj
  release/nrc/nrc_makah/source/help/makah.php
  release/nrc/nrc_makah/source/nrc_makah.keyman-touch-layout
  release/nrc/nrc_makah/source/nrc_makah.kmn
  release/nrc/nrc_makah/source/nrc_makah.kps
  release/nrc/nrc_makah/source/nrc_makah.kvks
  release/nrc/nrc_makah/source/readme.htm
  release/nrc/nrc_makah/source/welcome/default.png
  release/nrc/nrc_makah/source/welcome/desktop.png
  release/nrc/nrc_makah/source/welcome/key-f-2x.png
  release/nrc/nrc_makah/source/welcome/key-r-2x.png
  release/nrc/nrc_makah/source/welcome/key-v-2x.png
  release/nrc/nrc_makah/source/welcome/long-press-c.gif
  release/nrc/nrc_makah/source/welcome/numeric.png
  release/nrc/nrc_makah/source/welcome/shift.png
  release/nrc/nrc_makah/source/welcome/welcome.htm
Labels: keyboard, new

#1557 [dega_keyboard] Dega keyboard
  release/d/dega/HISTORY.md
  release/d/dega/LICENSE.md
  release/d/dega/README.md
  release/d/dega/dega.keyboard_info
  release/d/dega/dega.kpj
  release/d/dega/source/dega.ico
  release/d/dega/source/dega.keyman-touch-layout
  release/d/dega/source/dega.kmn
  release/d/dega/source/dega.kps
  release/d/dega/source/dega.kvks
  release/d/dega/source/help/dega.php
  release/d/dega/source/help/touch_longpress.png
  release/d/dega/source/readme.htm
  release/d/dega/source/welcome/desktop_layoutU_.png
  release/d/dega/source/welcome/desktop_layoutU_S.png
  release/d/dega/source/welcome/phone_default.png
  release/d/dega/source/welcome/phone_numeric.png
  release/d/dega/source/welcome/phone_shift.png
  release/d/dega/source/welcome/tablet_default.png
  release/d/dega/source/welcome/tablet_shift.png
  release/d/dega/source/welcome/touch_longpress.png
  release/d/dega/source/welcome/welcome.htm
Labels: keyboard, new

#1562 [krung] update welcome page
  release/k/krung/HISTORY.md
  release/k/krung/README.md
  release/k/krung/krung.kpj
  release/k/krung/source/help/krung.php
  release/k/krung/source/krung.keyman-touch-layout
  release/k/krung/source/krung.kmn
  release/k/krung/source/krung.kps
  release/k/krung/source/krung.kvks
  release/k/krung/source/readme.htm
  release/k/krung/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1563 [ahom_star] Ahom star keyboard
  release/a/ahom_star/HISTORY.md
  release/a/ahom_star/LICENSE.md
  release/a/ahom_star/README.md
  release/a/ahom_star/ahom_star.keyboard_info
  release/a/ahom_star/ahom_star.kpj
  release/a/ahom_star/source/ahom star.kps
  release/a/ahom_star/source/ahom_star.ico
  release/a/ahom_star/source/ahom_star.keyman-touch-layout
  release/a/ahom_star/source/ahom_star.kmn
  release/a/ahom_star/source/ahom_star.kps
  release/a/ahom_star/source/ahom_star.kvks
  release/a/ahom_star/source/help/ahom_star.php
  release/a/ahom_star/source/help/phone_longpress.PNG
  release/a/ahom_star/source/noto-serif-ahom-regular-2.otf
  release/a/ahom_star/source/readme.htm
  release/a/ahom_star/source/welcome/desktop_layout_default.png
  release/a/ahom_star/source/welcome/desktop_layout_shift.png
  release/a/ahom_star/source/welcome/phone_default.png
  release/a/ahom_star/source/welcome/phone_longpress.png
  release/a/ahom_star/source/welcome/phone_numeric.png
  release/a/ahom_star/source/welcome/phone_shift.png
  release/a/ahom_star/source/welcome/welcome.htm
Labels: keyboard, new

#1567 [basic_kbdsn1] Add tablet layout
  release/basic/basic_kbdsn1/HISTORY.md
  release/basic/basic_kbdsn1/LICENSE.md
  release/basic/basic_kbdsn1/README.md
  release/basic/basic_kbdsn1/basic_kbdsn1.kpj
  release/basic/basic_kbdsn1/source/basic_kbdsn1.keyman-touch-layout
  release/basic/basic_kbdsn1/source/basic_kbdsn1.kmn
  release/basic/basic_kbdsn1/source/basic_kbdsn1.kps
  release/basic/basic_kbdsn1/source/basic_kbdsn1.kvks
  release/basic/basic_kbdsn1/source/readme.htm
  release/basic/basic_kbdsn1/source/welcome/LayoutU_.png
  release/basic/basic_kbdsn1/source/welcome/LayoutU_S.png
  release/basic/basic_kbdsn1/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1477 [sil_brao] trial version of Brao Lave keyboard
  release/sil/sil_brao/HISTORY.md
  release/sil/sil_brao/LICENSE.md
  release/sil/sil_brao/README.md
  release/sil/sil_brao/sil_brao.keyboard_info
  release/sil/sil_brao/sil_brao.kpj
  release/sil/sil_brao/source/help/sil_brao.php
  release/sil/sil_brao/source/readme.htm
  release/sil/sil_brao/source/sil_brao.css
  release/sil/sil_brao/source/sil_brao.ico
  release/sil/sil_brao/source/sil_brao.keyman-touch-layout
  release/sil/sil_brao/source/sil_brao.kmn
  release/sil/sil_brao/source/sil_brao.kps
  release/sil/sil_brao/source/sil_brao.kvks
  release/sil/sil_brao/source/welcome/desktop_layoutU_.png
  release/sil/sil_brao/source/welcome/desktop_layoutU_S.png
  release/sil/sil_brao/source/welcome/touch_default.png
  release/sil/sil_brao/source/welcome/touch_shift.png
  release/sil/sil_brao/source/welcome/touch_symbol.png
  release/sil/sil_brao/source/welcome/touch_tablet_default.png
  release/sil/sil_brao/source/welcome/touch_tablet_shift.png
  release/sil/sil_brao/source/welcome/welcome.htm
Labels: keyboard, new

#1572 [font-padauk] Update to new version
  release/shared/fonts/sil/padauk/FONTLOG.txt
  release/shared/fonts/sil/padauk/OFL-FAQ.txt
  release/shared/fonts/sil/padauk/OFL.txt
  release/shared/fonts/sil/padauk/Padauk-Bold.ttf
  release/shared/fonts/sil/padauk/Padauk-Regular.ttf
  release/shared/fonts/sil/padauk/PadaukBook-Bold.ttf
  release/shared/fonts/sil/padauk/PadaukBook-Regular.ttf
  release/shared/fonts/sil/padauk/Padauk_README.txt
Labels: enhancement

#1574 [nrc_makah] version 1.1
  release/nrc/nrc_makah/HISTORY.md
  release/nrc/nrc_makah/README.md
  release/nrc/nrc_makah/nrc_makah.keyboard_info
  release/nrc/nrc_makah/nrc_makah.kpj
  release/nrc/nrc_makah/source/help/nrc_makah.php
  release/nrc/nrc_makah/source/nrc_makah.keyman-touch-layout
  release/nrc/nrc_makah/source/nrc_makah.kmn
  release/nrc/nrc_makah/source/nrc_makah.kps
  release/nrc/nrc_makah/source/readme.htm
  release/nrc/nrc_makah/source/welcome/welcome.htm
Labels: keyboard

#1577 [old_hungarian] Update mobile layout
  release/o/old_hungarian/HISTORY.md
  release/o/old_hungarian/README.md
  release/o/old_hungarian/source/old_hungarian.keyman-touch-layout
  release/o/old_hungarian/source/old_hungarian.kmn
Labels: enhancement
