Repository keymanapp/keyboards, pull requests merged in 2021-01, with the labels that each got.

#1419 [plrd] Added font info to keyboard_info file
  release/sil/sil_hmd_plrd/sil_hmd_plrd.keyboard_info
  release/sil/sil_lpo_plrd/sil_lpo_plrd.keyboard_info
  release/sil/sil_ygp_plrd/sil_ygp_plrd.keyboard_info
  release/sil/sil_ygp_plrd/source/help/sil_ygp_plrd.php
  release/sil/sil_yna_plrd/sil_yna_plrd.keyboard_info
  release/sil/sil_ywq_plrd/sil_ywq_plrd.keyboard_info
  release/sil/sil_ywq_plrd/source/help/sil_ywq_plrd.php
Labels: infrastructure

#1421 [o_tissi] Submit O tissi keyboard on behalf of author
  release/o/o_tissi/HISTORY.md
  release/o/o_tissi/LICENSE.md
  release/o/o_tissi/README.md
  release/o/o_tissi/o_tissi.keyboard_info
  release/o/o_tissi/o_tissi.kpj
  release/o/o_tissi/source/help/o_tissi.php
  release/o/o_tissi/source/o_tissi.ico
  release/o/o_tissi/source/o_tissi.keyman-touch-layout
  release/o/o_tissi/source/o_tissi.kmn
  release/o/o_tissi/source/o_tissi.kps
  release/o/o_tissi/source/o_tissi.kvks
  release/o/o_tissi/source/readme.htm
  release/o/o_tissi/source/welcome/LayoutU_.png
  release/o/o_tissi/source/welcome/LayoutU_RA.png
  release/o/o_tissi/source/welcome/LayoutU_S.png
  release/o/o_tissi/source/welcome/LayoutU_SRA.png
  release/o/o_tissi/source/welcome/welcome.htm
Labels: keyboard, new

#1429 [sil_shan] Improve documentation
  release/sil/sil_shan/HISTORY.md
  release/sil/sil_shan/LICENSE.md
  release/sil/sil_shan/sil_shan.kpj
  release/sil/sil_shan/source/help/sil_shan.php
  release/sil/sil_shan/source/help/sil_shanU_.png
  release/sil/sil_shan/source/help/sil_shanU_RA.png
  release/sil/sil_shan/source/help/sil_shanU_S.png
  release/sil/sil_shan/source/help/sil_shanU_SRA.png
  release/sil/sil_shan/source/sil_shan.kmn
  release/sil/sil_shan/source/sil_shan.kps
  release/sil/sil_shan/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1432 [sil_bari] Added Charis SIL to package for better display on mobile
  release/sil/sil_bari/HISTORY.md
  release/sil/sil_bari/LICENSE.md
  release/sil/sil_bari/README.md
  release/sil/sil_bari/sil_bari.keyboard_info
  release/sil/sil_bari/sil_bari.kpj
  release/sil/sil_bari/source/help/keyboard_layout.png
  release/sil/sil_bari/source/help/sil_bari.php
  release/sil/sil_bari/source/readme.htm
  release/sil/sil_bari/source/sil_bari.keyman-touch-layout
  release/sil/sil_bari/source/sil_bari.kmn
  release/sil/sil_bari/source/sil_bari.kps
  release/sil/sil_bari/source/sil_bari.kvks
Labels: enhancement, keyboard

#1430 [sil_euro_latin] Update keyboard for zap and Mingrelian and add source…
  release/sil/sil_euro_latin/HISTORY.md
  release/sil/sil_euro_latin/LICENSE.md
  release/sil/sil_euro_latin/README.md
  release/sil/sil_euro_latin/assets/EuroLatinChart.xlsx
  release/sil/sil_euro_latin/sil_euro_latin.keyboard_info
  release/sil/sil_euro_latin/sil_euro_latin.kpj
  release/sil/sil_euro_latin/source/help/digraphs.png
  release/sil/sil_euro_latin/source/help/lowercase.png
  release/sil/sil_euro_latin/source/help/uppercase.png
  release/sil/sil_euro_latin/source/readme.htm
  release/sil/sil_euro_latin/source/sil_euro_latin.html
  release/sil/sil_euro_latin/source/sil_euro_latin.keyman-touch-layout
  release/sil/sil_euro_latin/source/sil_euro_latin.kmn
  release/sil/sil_euro_latin/source/sil_euro_latin.kps
  release/sil/sil_euro_latin/source/usage.htm
  release/sil/sil_euro_latin/source/welcome/digraphs.png
  release/sil/sil_euro_latin/source/welcome/lowercase.png
  release/sil/sil_euro_latin/source/welcome/uppercase.png
  release/sil/sil_euro_latin/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1431 [bj_cree_woods] add output for RL
  release/bj/bj_cree_woods/HISTORY.md
  release/bj/bj_cree_woods/LICENSE.md
  release/bj/bj_cree_woods/README.md
  release/bj/bj_cree_woods/bj_cree_woods.kpj
  release/bj/bj_cree_woods/source/bj_cree_woods.kmn
  release/bj/bj_cree_woods/source/bj_cree_woods.kps
  release/bj/bj_cree_woods/source/bj_cree_woods.kvks
  release/bj/bj_cree_woods/source/help/bj_cree_woods.php
  release/bj/bj_cree_woods/source/readme.htm
  release/bj/bj_cree_woods/source/welcome/keyboard_layout.png
  release/bj/bj_cree_woods/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1412 [bj_mista_wasaha_cree] Swampy Cree (Tataskweyak) keyboard
  release/bj/bj_mista_wasaha_cree/HISTORY.md
  release/bj/bj_mista_wasaha_cree/LICENSE.md
  release/bj/bj_mista_wasaha_cree/README.md
  release/bj/bj_mista_wasaha_cree/bj_mista_wasaha_cree.keyboard_info
  release/bj/bj_mista_wasaha_cree/bj_mista_wasaha_cree.kpj
  release/bj/bj_mista_wasaha_cree/source/bj_mista_wasaha_cree.kmn
  release/bj/bj_mista_wasaha_cree/source/bj_mista_wasaha_cree.kps
  release/bj/bj_mista_wasaha_cree/source/bj_mista_wasaha_cree.kvks
  release/bj/bj_mista_wasaha_cree/source/help/bj_mista_wasaha_cree.php
  release/bj/bj_mista_wasaha_cree/source/readme.htm
  release/bj/bj_mista_wasaha_cree/source/welcome/keyboard_layout.png
  release/bj/bj_mista_wasaha_cree/source/welcome/welcome.htm
Labels: keyboard

#1435 [engram] submission on behalf of author
  release/e/engram/HISTORY.md
  release/e/engram/LICENSE.md
  release/e/engram/README.md
  release/e/engram/engram.keyboard_info
  release/e/engram/engram.kpj
  release/e/engram/source/engram-base-layer.png
  release/e/engram/source/engram-ctrl-layer.png
  release/e/engram/source/engram-shift-layer.png
  release/e/engram/source/engram.kmn
  release/e/engram/source/engram.kps
  release/e/engram/source/engram.kvks
  release/e/engram/source/readme.htm
  release/e/engram/source/welcome.htm
Labels: keyboard, new

#1436 [engram-php] Add help file and Todo statement to fix up htm files
  release/e/engram/README.md
  release/e/engram/source/help/engram.php
Labels: infrastructure, keyboard

#1437 [layout] Rename layout.js files to keyman-touch-layout
  release/el/el_pasifika/source/el_pasifika.keyman-touch-layout
  release/el/el_pasifika/source/el_pasifika.kmn
  release/g/galaxie_greek_positional/source/galaxie_greek_positional.keyman-touch-layout
  release/g/galaxie_greek_positional/source/galaxie_greek_positional.kmn
  release/i/inuktitut_pirurvik/source/inuktitut_pirurvik-layout.js
  release/k/kmhmu_2008/source/Kmhmu 2008.kvk
  release/rac/rac_balti/source/rac_balti.keyman-touch-layout
  release/rac/rac_balti/source/rac_balti.kmn
  release/rac/rac_brahui/source/rac_brahui.keyman-touch-layout
  release/rac/rac_brahui/source/rac_brahui.kmn
  release/rac/rac_brahui/source/rac_brahui.kvk
  release/rac/rac_brahui/source/rac_brahui.kvks
  release/rac/rac_khowar/source/rac_khowar.keyman-touch-layout
  release/rac/rac_khowar/source/rac_khowar.kmn
  release/rac/rac_palula/source/rac_palula.keyman-touch-layout
  release/rac/rac_palula/source/rac_palula.kmn
  release/t/tem_kdh/source/tem_kdh.keyman-touch-layout
  release/t/tem_kdh/source/tem_kdh.kmn
  release/t/tem_kdh/source/tem_kdh.kvk
  release/t/tem_kdh/source/tem_kdh.kvks
Labels: infrastructure

#1443 [sil_sgaw_karen] minor updates on help
  release/sil/sil_sgaw_karen/HISTORY.md
  release/sil/sil_sgaw_karen/LICENSE.md
  release/sil/sil_sgaw_karen/README.md
  release/sil/sil_sgaw_karen/sil_sgaw_karen.kpj
  release/sil/sil_sgaw_karen/source/help/sil_sgaw_karen.php
  release/sil/sil_sgaw_karen/source/readme.htm
  release/sil/sil_sgaw_karen/source/sil_sgaw_karen.kmn
  release/sil/sil_sgaw_karen/source/sil_sgaw_karen.kps
  release/sil/sil_sgaw_karen/source/welcome/welcome.htm
Labels: enhancement, keyboard

#1439 fix: use correct modification date
  build.sh
  resources/merge.sh
Labels: enhancement, infrastructure

#1446 [sil_bru] New keyboard based on an MSKLC keyboard
  release/sil/sil_bru/HISTORY.md
  release/sil/sil_bru/LICENSE.md
  release/sil/sil_bru/README.md
  release/sil/sil_bru/sil_bru.keyboard_info
  release/sil/sil_bru/sil_bru.kpj
  release/sil/sil_bru/source/help/sil_bru.php
  release/sil/sil_bru/source/readme.htm
  release/sil/sil_bru/source/sil_bru.ico
  release/sil/sil_bru/source/sil_bru.keyman-touch-layout
  release/sil/sil_bru/source/sil_bru.kmn
  release/sil/sil_bru/source/sil_bru.kps
  release/sil/sil_bru/source/sil_bru.kvks
  release/sil/sil_bru/source/welcome/LayoutU_.png
  release/sil/sil_bru/source/welcome/LayoutU_RA.png
  release/sil/sil_bru/source/welcome/LayoutU_S.png
  release/sil/sil_bru/source/welcome/LayoutU_SRA.png
  release/sil/sil_bru/source/welcome/welcome.htm
Labels: keyboard, new

#1449 [indonesian-suku] New keyboard submission on behalf of author
  release/i/indonesian_suku/HISTORY.md
  release/i/indonesian_suku/LICENSE.md
  release/i/indonesian_suku/README.md
  release/i/indonesian_suku/indonesian_suku.keyboard_info
  release/i/indonesian_suku/indonesian_suku.kpj
  release/i/indonesian_suku/source/help/indonesian_suku.php
  release/i/indonesian_suku/source/indonesian_suku.ico
  release/i/indonesian_suku/source/indonesian_suku.keyman-touch-layout
  release/i/indonesian_suku/source/indonesian_suku.kmn
  release/i/indonesian_suku/source/indonesian_suku.kps
  release/i/indonesian_suku/source/indonesian_suku.kvks
  release/i/indonesian_suku/source/readme.htm
  release/i/indonesian_suku/source/welcome/01.jpg
  release/i/indonesian_suku/source/welcome/02.jpg
  release/i/indonesian_suku/source/welcome/03.jpg
  release/i/indonesian_suku/source/welcome/04.jpg
  release/i/indonesian_suku/source/welcome/05.jpg
  release/i/indonesian_suku/source/welcome/06.jpg
  release/i/indonesian_suku/source/welcome/LayoutU_.png
  release/i/indonesian_suku/source/welcome/LayoutU_S.png
  release/i/indonesian_suku/source/welcome/indosuku.png
  release/i/indonesian_suku/source/welcome/welcome.htm
Labels: keyboard, new

#1442 [shahmukhi_phonetic] New keyboard for Punjabi with rlam
  release/s/shahmukhi_phonetic/HISTORY.md
  release/s/shahmukhi_phonetic/LICENSE.md
  release/s/shahmukhi_phonetic/README.md
  release/s/shahmukhi_phonetic/shahmukhi_phonetic.keyboard_info
  release/s/shahmukhi_phonetic/shahmukhi_phonetic.kpj
  release/s/shahmukhi_phonetic/source/help/shahmukhi_phonetic.php
  release/s/shahmukhi_phonetic/source/readme.htm
  release/s/shahmukhi_phonetic/source/shahmukhi_phonetic.ico
  release/s/shahmukhi_phonetic/source/shahmukhi_phonetic.keyman-touch-layout
  release/s/shahmukhi_phonetic/source/shahmukhi_phonetic.kmn
  release/s/shahmukhi_phonetic/source/shahmukhi_phonetic.kps
  release/s/shahmukhi_phonetic/source/shahmukhi_phonetic.kvks
  release/s/shahmukhi_phonetic/source/welcome/LayoutU_.png
  release/s/shahmukhi_phonetic/source/welcome/LayoutU_RA.png
  release/s/shahmukhi_phonetic/source/welcome/LayoutU_S.png
  release/s/shahmukhi_phonetic/source/welcome/welcome.htm
Labels: keyboard, new
