Repository keymanapp/keyboards, pull requests merged in 2022-01, with the labels that each got.

#1712 [nlci_devanagari_winscript] Resubmit PR #1053
  release/nlci/nlci_devanagari_winscript/HISTORY.md
  release/nlci/nlci_devanagari_winscript/LICENSE.md
  release/nlci/nlci_devanagari_winscript/README.md
  release/nlci/nlci_devanagari_winscript/nlci_devanagari_winscript.kpj
  release/nlci/nlci_devanagari_winscript/source/help/nlci_devanagari_winscript.php
  release/nlci/nlci_devanagari_winscript/source/nlci_devanagari_winscript.kmn
  release/nlci/nlci_devanagari_winscript/source/nlci_devanagari_winscript.kps
  release/nlci/nlci_devanagari_winscript/source/nlci_devanagari_winscript.kvks
  release/nlci/nlci_devanagari_winscript/source/readme.htm
  release/nlci/nlci_devanagari_winscript/source/welcome/welcome.htm
Labels: enhancement

#1713 [nlci_ipa] Resubmitting keyboard to replace PR#836
  release/nlci/nlci_ipa/HISTORY.md
  release/nlci/nlci_ipa/LICENSE.md
  release/nlci/nlci_ipa/README.md
  release/nlci/nlci_ipa/nlci_ipa.keyboard_info
  release/nlci/nlci_ipa/nlci_ipa.kpj
  release/nlci/nlci_ipa/source/help/nlci_ipa.php
  release/nlci/nlci_ipa/source/nlci_ipa.ico
  release/nlci/nlci_ipa/source/nlci_ipa.kmn
  release/nlci/nlci_ipa/source/nlci_ipa.kps
  release/nlci/nlci_ipa/source/nlci_ipa.kvks
  release/nlci/nlci_ipa/source/readme.htm
  release/nlci/nlci_ipa/source/welcome/welcome.htm
Labels: keyboard, new

#1715 [hieroglyphic] Add tablet layout to keyboard
  release/h/hieroglyphic/HISTORY.md
  release/h/hieroglyphic/LICENSE.md
  release/h/hieroglyphic/README.md
  release/h/hieroglyphic/hieroglyphic.kpj
  release/h/hieroglyphic/source/hieroglyphic.keyman-touch-layout
  release/h/hieroglyphic/source/hieroglyphic.kmn
  release/h/hieroglyphic/source/hieroglyphic.kps
  release/h/hieroglyphic/source/hieroglyphic.kvks
Labels: enhancement, keyboard

#1716 [ukwuani] Ukwuani keyboard
  release/u/ukwuani/HISTORY.md
  release/u/ukwuani/LICENSE.md
  release/u/ukwuani/README.md
  release/u/ukwuani/source/readme.htm
  release/u/ukwuani/source/ukwuani.ico
  release/u/ukwuani/source/ukwuani.keyman-touch-layout
  release/u/ukwuani/source/ukwuani.kmn
  release/u/ukwuani/source/ukwuani.kps
  release/u/ukwuani/source/ukwuani.kvks
  release/u/ukwuani/source/welcome/LayoutU_.png
  release/u/ukwuani/source/welcome/LayoutU_RA.png
  release/u/ukwuani/source/welcome/LayoutU_S.png
  release/u/ukwuani/source/welcome/LayoutU_SRA.png
  release/u/ukwuani/source/welcome/Longpress.png
  release/u/ukwuani/source/welcome/Numeral.png
  release/u/ukwuani/source/welcome/TLayoutU_.png
  release/u/ukwuani/source/welcome/TLayoutU_S.png
  release/u/ukwuani/source/welcome/welcome.htm
  release/u/ukwuani/ukwuani.keyboard_info
  release/u/ukwuani/ukwuani.kpj
Labels: keyboard, new

#1719 [srr_ajami_qwerty] Keyboard for upcoming workshop in February
  release/s/srr_ajami_qwerty/HISTORY.md
  release/s/srr_ajami_qwerty/LICENSE.md
  release/s/srr_ajami_qwerty/README.md
  release/s/srr_ajami_qwerty/source/extras/lrm.bmp
  release/s/srr_ajami_qwerty/source/extras/rlm.bmp
  release/s/srr_ajami_qwerty/source/extras/zwj.bmp
  release/s/srr_ajami_qwerty/source/extras/zwnj.bmp
  release/s/srr_ajami_qwerty/source/help/srr_ajami_qwerty.php
  release/s/srr_ajami_qwerty/source/readme.htm
  release/s/srr_ajami_qwerty/source/srr_ajami_qwerty.ico
  release/s/srr_ajami_qwerty/source/srr_ajami_qwerty.keyboard-layout
  release/s/srr_ajami_qwerty/source/srr_ajami_qwerty.kmn
  release/s/srr_ajami_qwerty/source/srr_ajami_qwerty.kps
  release/s/srr_ajami_qwerty/source/srr_ajami_qwerty.kvks
  release/s/srr_ajami_qwerty/source/welcome/LayoutU_.png
  release/s/srr_ajami_qwerty/source/welcome/LayoutU_RA.png
  release/s/srr_ajami_qwerty/source/welcome/LayoutU_S.png
  release/s/srr_ajami_qwerty/source/welcome/LayoutU_SRA.png
  release/s/srr_ajami_qwerty/source/welcome/welcome.htm
  release/s/srr_ajami_qwerty/srr_ajami_qwerty.keyboard_info
  release/s/srr_ajami_qwerty/srr_ajami_qwerty.kpj
Labels: keyboard, new

#1721 [hausa_ajami_qwerty] New keyboard
  release/h/hausa_ajami_qwerty/HISTORY.md
  release/h/hausa_ajami_qwerty/LICENSE.md
  release/h/hausa_ajami_qwerty/README.md
  release/h/hausa_ajami_qwerty/hausa_ajami_qwerty.keyboard_info
  release/h/hausa_ajami_qwerty/hausa_ajami_qwerty.kpj
  release/h/hausa_ajami_qwerty/source/extras/lrm.bmp
  release/h/hausa_ajami_qwerty/source/extras/rlm.bmp
  release/h/hausa_ajami_qwerty/source/extras/zwj.bmp
  release/h/hausa_ajami_qwerty/source/extras/zwnj.bmp
  release/h/hausa_ajami_qwerty/source/hausa_ajami_qwerty.ico
  release/h/hausa_ajami_qwerty/source/hausa_ajami_qwerty.keyman-touch-layout
  release/h/hausa_ajami_qwerty/source/hausa_ajami_qwerty.kmn
  release/h/hausa_ajami_qwerty/source/hausa_ajami_qwerty.kps
  release/h/hausa_ajami_qwerty/source/hausa_ajami_qwerty.kvks
  release/h/hausa_ajami_qwerty/source/help/hausa_ajami_qwerty.php
  release/h/hausa_ajami_qwerty/source/readme.htm
  release/h/hausa_ajami_qwerty/source/welcome/LayoutU_.png
  release/h/hausa_ajami_qwerty/source/welcome/LayoutU_RA.png
  release/h/hausa_ajami_qwerty/source/welcome/LayoutU_S.png
  release/h/hausa_ajami_qwerty/source/welcome/LayoutU_SRA.png
  release/h/hausa_ajami_qwerty/source/welcome/welcome.htm
Labels: keyboard, new

#1722 [masaram_gondi] Replacement PR on behalf of author
  release/m/masaram_gondi/HISTORY.md
  release/m/masaram_gondi/LICENSE.md
  release/m/masaram_gondi/README.md
  release/m/masaram_gondi/assets/NotoSansMasaramGondi-Regular.ttf
  release/m/masaram_gondi/masaram_gondi.keyboard_info
  release/m/masaram_gondi/masaram_gondi.kpj
  release/m/masaram_gondi/source/help/gondi_keyboard_with_shift.jpg
  release/m/masaram_gondi/source/help/gondi_keyboard_without_shift.jpg
  release/m/masaram_gondi/source/help/masaram_gondi.php
  release/m/masaram_gondi/source/masaram_gondi.ico
  release/m/masaram_gondi/source/masaram_gondi.keyman-touch-layout
  release/m/masaram_gondi/source/masaram_gondi.kmn
  release/m/masaram_gondi/source/masaram_gondi.kps
  release/m/masaram_gondi/source/masaram_gondi.kvks
  release/m/masaram_gondi/source/readme.htm
  release/m/masaram_gondi/source/welcome/gondi_keyboard_with_shift.jpg
  release/m/masaram_gondi/source/welcome/gondi_keyboard_without_shift.jpg
  release/m/masaram_gondi/source/welcome/welcome.htm
Labels: keyboard, new

#1723 [sil_euro_latin] Update help file to mention longpress keys
  release/sil/sil_euro_latin/source/help/sil_euro_latin.php
Labels: enhancement
